{% if template contains "index" or template contains "collection" or template contains "product" %}
	
{% else %}
	<style>.flickityt4s:not(.flickityt4s-enabled){flex-wrap:nowrap;overflow:hidden;width:auto}.flickityt4s-enabled{display:block;position:relative;-webkit-tap-highlight-color:transparent}.flickityt4s-enabled:focus{outline:0;box-shadow:none}.flickityt4s-viewport{overflow:hidden;position:relative;width:100%;height:100%}.flickityt4s-slider{position:absolute;width:100%;height:100%;will-change:transform}.flickityt4s-enabled.is-draggable{-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickityt4s-enabled.is-draggable .flickityt4s-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}1 .flickityt4s-enabled.is-draggable .flickityt4s-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickityt4s-button,.flickityt4s-page-dots{display:none}.flickityt4s-enabled.is-fade .flickityt4s-slider>*{pointer-events:none;z-index:0;opacity:0;transition:opacity .3s ease-in-out,visibility .3s ease-in-out}.flickityt4s-enabled.is-fade .flickityt4s-slider>.is-selected{pointer-events:auto;z-index:1;opacity:1}.t4s-enabled .flickityt4s-viewport{transition:height .3s}.flickityt4s-button{position:absolute;border:none}.flickityt4s-button:hover{cursor:pointer}.flickityt4s-button:active{opacity:.6}.flickityt4s-button:disabled{opacity:.3!important;cursor:auto}.flickityt4s_prev_disable.flickityt4s_next_disable .flickityt4s-button:disabled,.flickityt4s_prev_disable.flickityt4s_next_disable .flickityt4s-page-dots{display:none!important}.flickityt4s-button-icon{fill:currentColor}.flickityt4s-prev-next-button{top:var(--prev-next-top,50%);width:40px;height:40px;min-width:40px;min-height:40px;padding:0;transform:translateY(-50%)}.flickityt4s-prev-next-button.previous{left:15px}.flickityt4s-prev-next-button.next{right:15px}.flickityt4s-rtl .flickityt4s-prev-next-button.previous{left:auto;right:15px}.flickityt4s-rtl .flickityt4s-prev-next-button.next{right:auto;left:15px}.flickityt4s-prev-next-button .flickityt4s-button-icon{width:auto;height:18px;stroke:currentColor;fill:currentcolor}.flickityt4s-page-dots{position:relative;width:100%;bottom:0;z-index:2;padding:0;margin:15px 0 0;list-style:none;text-align:center;line-height:1}.flickityt4s-rtl .flickityt4s-page-dots{direction:rtl}.flickityt4s:after{content:'flickityt4s';display:none}@media (min-width:768px){.carousel-disable-md:after{content:''}.carousel-disable-md.flickityt4s:not(.flickityt4s-enabled){flex-wrap:wrap }}@media (min-width:1025px){.carousel-disable-lg:after{content:''}.carousel-disable-lg.flickityt4s:not(.flickityt4s-enabled){flex-wrap:wrap}.t4s-carousel__nav-scroller:not(.is__position-bottom){position:absolute;top:0;left:0;right:0;bottom:0;overflow-x:visible;overflow-y:scroll;overscroll-behavior-y: contain;}.t4s-carousel__nav{flex-wrap:wrap }}.flickityt4s-enabled,.flickityt4s-slider>.t4s-col-item{margin-top:0!important}.t4s-carousel__nav-scroller{width:100%;overflow-x:scroll;white-space:nowrap -webkit-overflow-scrolling: touch;-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;scrollbar-width:none;scroll-behavior:smooth;-ms-overflow-style:-ms-autohiding-scrollbar}.t4s-carousel__nav-scroller img{opacity:0;transition:.3s ease-in-out}.t4s-carousel__nav-scroller img.lazyloadt4sed{opacity:1}.t4s-carousel__nav{flex-wrap:nowrap}.t4s-carousel__nav-scroller::-webkit-scrollbar{height:0;width:0}@media (min-width: 1025px){.is--tab-layout__wide .t4s-container{max-width:1600px}.is--tab-layout__content_full .t4s-container{max-width:100%;padding-left:30px;padding-right:30px}}.is--tab-design__tab.is--tab-design-mb__tab .t4s-tabs-ul{display:block}.is--tab-design__tab.is--tab-design-mb__tab .t4s-tab-wrapper [data-t4s-tab-item]{display:none}.t4s-product-tabs-wrapper.is--tab-position__external.is--tab-layout__full,.t4s-product-tabs-wrapper.is--tab-position__external .t4s-container{background-color:var(--bg-tabs-mb)}@media (min-width: 768px){.t4s-product-tabs-wrapper.is--tab-position__external .t4s-type-tabs{padding:50px 0 30px}.t4s-product-tabs-wrapper.is--tab-position__external.is--tab-design__accordion .t4s-type-tabs{padding:30px 0}.t4s-product-tabs-wrapper.is--tab-position__external.is--tab-layout__full,.t4s-product-tabs-wrapper.is--tab-position__external .t4s-container{--bg-tabs-mb: var(--bg-tabs) !important}}.t4s-pr_attrs,.t4s-pr_attrs p{margin-bottom:0}.t4s-tabs-pr-ul{text-align:center;--list-mb: 15px}.t4s-tabs-pr-ul a{font-size:14px;font-weight:600;margin:10px;line-height:1.2;color:var(--text-color);border-bottom:2px solid transparent;display:inline-block}.t4s-tabs-pr-ul a.t4s-active{border-color:var(--secondary-color)}.t4s-tabs-pr-ul a.t4s-active,.t4s-tabs-pr-ul a:hover{color:var(--secondary-color)}.is--tab-design__accordion .t4s-tab-wrapper>.t4s-tab__title[data-t4s-tab-item]{display:flex}.is--tab-design__accordion .t4s-tab-wrapper:not(:last-of-type){margin-bottom:10px}.is--tab-design__accordion .t4s-tab-content{padding:20px;border:1px solid rgba(var(--text-color-rgb),.08);border-top:0}.is--tab-design__accordion .t4s-tab-wrapper:first-child .t4s-tab-content:not([style]){display:none}.t4s-tab__title{align-items:center;justify-content:space-between;background-color:rgba(var(--text-color-rgb),.08)}.t4s-tab__title .t4s-tab__text{padding:10px}.t4s-tab__title .t4s-tab__icon{width:44px;height:44px;background-color:var(--secondary-color);color:var(--t4s-light-color);position:relative;display:block;flex:0 0 auto;margin-left:5px}.t4s-tab__icon:after,.t4s-tab__icon:before{position:absolute;content:"";top:50%;left:50%;transform:translate(-50%,-50%) rotate(-90deg);background-color:currentColor;transition:transform .35s ease-in-out,opacity .35s ease-in-out;width:15px;height:2px;opacity:1}.t4s-tab__icon:after{height:15px;width:2px}.t4s-active>.t4s-tab__title>.t4s-tab__icon:before,.t4s-active>.t4s-tab__title>.t4s-tab__icon:after{transform:translate(-50%,-50%) rotate(90deg)}.t4s-active>.t4s-tab__title>.t4s-tab__icon:before{opacity:0}@media (min-width: 768px){.t4s-product-tabs-wrapper.is--tab-position__external{margin:60px 0}.t4s-tabs-pr-ul{--list-mb: 5px}.t4s-tabs-pr-ul a{min-height:40px;display:inline-flex;align-items:center;border-radius:var(--btn-radius);border:1px solid transparent;padding:0 25px;margin:0}.is--tab-design__tab .t4s-tab-wrapper .t4s-tab-content{padding:25px 0}.t4s-tab__title .t4s-tab__text{padding:10px 20px}}@media (max-width: 1024px){.is--tab-design-mb__accordion .t4s-tab-wrapper>.t4s-tab__title[data-t4s-tab-item]{display:flex}.is--tab-design-mb__accordion .t4s-tab-wrapper:not(:last-of-type){margin-bottom:10px}.is--tab-design-mb__accordion .t4s-tab-content{padding:20px;border:1px solid rgba(var(--text-color-rgb),.08);border-top:0}}@media (max-width: 767px){.t4s-product-tabs-wrapper.is--tab-position__external .t4s-type-tabs{padding:30px 0}.t4s-product-tabs-wrapper.is--tab-position__external{margin:30px 0}}</style>
{% endif %}
{%- comment -%}
    Renders a list of product's price (regular, sale, unit)
    Accompanies product listings (collection page, search result) and not updated dynamically
    Accepts:
    - product    : {Object} product Liquid object
    - se_stts    : section settings
    - seBlocks   : Array blocks section
    - idTabDes   : ID tab des
    - idTabReview: ID tab review
    - isProductDefault: {Boolean}
    Usage:  tab_des, tab_buy, tab_add, tab_rivui, tab_html, tab_liquid
    {%- render 'product_tabs',product: product, tabs_layout:tabs_layout, seBlocks: seBlocks, idTabDes: idTabDes, idTabReview: idTabReview, isProductDefault: isProductDefault -%}
{%- endcomment -%}

<link data-href="{{ 'pre_flickityt4s.min.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />
<link data-href="{{ 'product-tabs.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />

{%- style -%} 
.t4s-product-tabs-wrapper-{{ section.id }} {
  --bg-tabs: {{ se_stts.bg }};
  --bg-tabs-mb: {{ se_stts.bg_mb }};
}
{%- endstyle -%}

{%- liquid
assign pid              = product.id
assign typeBlocks       = seBlocks | map: 'type'
assign tabBlocks        = typeBlocks | where: 'tab_'
assign tabs_design      = se_stts.tabs_design
assign tabs_design_mb   = se_stts.tabs_design_mb
assign enable_first_tab = se_stts.enable_first_tab

assign listTyCurent = ''
assign listTyCurent1 = '' 
assign listTyCurent2 = '' -%}
 
{%- for i in (1..1) -%}
{%- if tabBlocks.size == 0 %}{% break %}{% endif -%}

<div class="t4s-product-tabs-wrapper t4s-product-tabs-wrapper-{{ section.id }} is--tab-design__{{ tabs_design }} is--tab-design-mb__{{ tabs_design_mb }} is--tab-layout__{{ se_stts.tabs_layout_fix }} is--tab-position__{{ se_stts.tabs_position }}">
  <div class="t4s-container">

    {%- if request.design_mode -%}
    <div class="t4s-dev-tab-adm">{%- for type in tabBlocks -%}
      {%- liquid 
      assign arrTyCurent  = listTyCurent1 | split: ',' | compact | where: type
      assign arrblock     = seBlocks | where: "type", type
      assign block        = arrblock[arrTyCurent.size]
      assign listTyCurent1 = listTyCurent1 | append: ',' | append: type -%}
      <div {{ block.shopify_attributes }}>{{ block.id }}</div>
    {%- endfor %}</div>
    <style>
    .t4s-product-tabs-wrapper-{{ section.id }} {
        position: relative;
    }
    .t4s-dev-tab-adm {
        position: absolute;opacity: 0;pointer-events: none;top: -10px;
    }
    </style>
    {%- endif -%}
    
    <div class="t4s-tabs t4s-type-tabs t4s-accordion-mb-{% if tabs_design_mb == 'accordion' %}true{% else %}false{% endif %}" data-t4s-tabs data-t4s-accordion-pr>
        
        {%- if tabs_design == 'tab' %}{% assign forloop_first = true -%}
        <ul class="t4s-tabs-ul t4s-tabs-pr-ul t4s-flicky-slider t4s-slider-btn-style-simple t4s-slider-btn-none t4s-slider-btn-small t4s-slider-btn-vi-always flickityt4s" data-t4s-tab-ul data-flickityt4s-js='{"isSimple": true,"freeScroll": true, "setPrevNextButtons":true, "arrowIcon":"1", "imagesLoaded": 0,"adaptiveHeight": 0, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign":"center", "wrapAround": false,"prevNextButtons": true,"percentPosition": 0,"pageDots": false, "pauseAutoPlayOnHover" : true }'>
          {%- for type in tabBlocks -%}

            {%- liquid 
            assign arrTyCurent  = listTyCurent | split: ',' | compact | where: type
            assign arrblock     = seBlocks | where: "type", type
            assign block        = arrblock[arrTyCurent.size]
            assign listTyCurent = listTyCurent | append: ',' | append: type
            assign bk_stts = block.settings 
            assign bk_id   = block.id 
            assign tab_id  = 't4s_tab_' | append: bk_id
            
            case block.type
              when 'tab_des'
                assign tab_id = idTabDes
              when 'tab_rivui'
                assign tab_id = idTabReview 
              when 'tab_add'
                if isProductDefault 
                  continue
                endif
              when 'tab_buy'
                if nav_up_size == 0
                  continue
                endif
              when 'tab_html'
                assign bk_title =  bk_stts.title | default: bk_stts.page.title 
                if bk_title == blank or bk_stts.page.content == blank and bk_stts.content == blank
                  continue
                endif
              when 'tab_liquid'
                if bk_stts.title == blank or bk_stts.custom_liquid == blank
                  continue
                endif
              else
                if bk_stts.title == blank or bk_stts.text == blank
                  continue
                endif
            endcase
           -%}

          <li class="t4s-d-inline-flex"><a id="b_{{ bk_id }}"{% if forloop_first %} class="t4s-active"{% endif %} href="#{{ tab_id }}" rel="nofollow" data-t4s-tab-item data-no-instant>{{ bk_stts.title | escape }}</a></li>
          
          {%- assign forloop_first = false -%}
          {%- endfor -%}
        </ul>
        {%- endif -%}
        
        {%- liquid 
        if enable_first_tab 
          assign forloop_first = true
          assign class_first_tab = ' t4s-active'
        else
          assign forloop_first = false
        endif
        assign isEmty = true
       -%}

        {%- for type in tabBlocks -%}

          {%- liquid 
          assign arrTyCurent   = listTyCurent2 | split: ',' | compact | where: type
          assign arrblock      = seBlocks | where: "type", type
          assign block         = arrblock[arrTyCurent.size]
          assign listTyCurent2 = listTyCurent2 | append: ',' | append: type
          assign bk_stts = block.settings 
          assign bk_id   = block.id
          assign tab_id  = 't4s_tab_' | append: bk_id
          unless forloop_first
            assign class_first_tab = ''
          endunless -%}

          {%- case block.type -%}
            {%- when 'tab_des' %}
              <div class="t4s-tab-wrapper{{ class_first_tab }}" data-t4s-tab-wrapper>
                <a id="t44_{{ bk_id }}" href="#{{ idTabDes }}" rel="nofollow" class="t4s-tab__title t4s-fwm t4s-ch" data-t4s-tab-item data-no-instant><span class="t4s-tab__text">{{ bk_stts.title | escape }}</span><span class="t4s-tab__icon"></span></a>
                <div id="{{ idTabDes }}" class="t4s-rte t4s-tab-content{{ class_first_tab }}" data-t4s-tab-content>{{- product.description -}}</div>
             </div>
             {%- assign forloop_first = false %}{% assign isEmty = false -%}

            {%- when 'tab_rivui' %}
              <div class="t4s-tab-wrapper{{ class_first_tab }}" data-t4s-tab-wrapper>
                <a id="t44_{{ bk_id }}" href="#{{ idTabReview }}" rel="nofollow" class="t4s-tab__title t4s-fwm t4s-ch" data-t4s-tab-item data-no-instant><span class="t4s-tab__text">{{ bk_stts.title | escape }}</span><span class="t4s-tab__icon"></span></a>
                <div id="{{ idTabReview }}" class="t4s-tab-content{{ class_first_tab }}" data-t4s-tab-content>
                    {%- case settings.app_review -%}                        
                        {%- when '1' -%}
                           <div id="shopify-product-reviews" data-id="{{ pid }}">{{ product.metafields.spr.reviews }}</div>
                        {%- when '2' -%}
                           <div class="lt-block-reviews"><ryviu-widget handle="{{ product.handle }}" title_product="{{ product.title }}" total_meta="{{ product.metafields.ryviu.r_count }}" image_product="{{ product.featured_image.src | image_url: width: 800 }}"></ryviu-widget></div>
                        {%- when '3' -%}
                           <div id="shopify-ali-review" product-id="{{ pid }}">{{ shop.metafields.review_collector.review_code }}</div>
                        {%- when '4' -%}
                          <div id="looxReviews" data-product-id="{{ pid }}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>
                        {%- when '5' -%}
                          {%- capture the_snippet_reviews %}{% render 'socialshopwave-widget-recommends' with 1 %}{% endcapture -%}
                          {%- unless the_snippet_reviews contains 'Liquid error' %}{{ the_snippet_reviews }}{% endunless -%}
                        {%- when '7' -%}{%- render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product -%}
                        {%- when '8' -%}
                            {%- render "reviews-importer", product : product -%}
                            <div class="scm-container custom" style="display: none;"><div id="scm-reviews-importer" class="scm-reviews-importer"><iframe id="scm-reviews-importer-iframe" width="100%"></iframe></div></div>
                        {%- else -%}
                          <div class="star-rating review_widget_other">{{ bk_setts.review_liquid }}</div>
                    {%- endcase -%}
                </div>
             </div>
             {%- assign forloop_first = false %}{% assign isEmty = false -%}
            
            {%- when 'tab_add' %}{% if isProductDefault %}{% continue %}{% endif -%}
              <div class="t4s-tab-wrapper{{ class_first_tab }}" data-t4s-tab-wrapper>
                <a id="t44_{{ bk_id }}" href="#{{ tab_id }}" rel="nofollow" class="t4s-tab__title t4s-fwm t4s-ch" data-t4s-tab-item data-no-instant><span class="t4s-tab__text">{{ bk_stts.title | escape }}</span><span class="t4s-tab__icon"></span></a>
                <div id="{{ tab_id }}" class="t4s-tab-content{{ class_first_tab }}" data-t4s-tab-content>
                  <table class="t4s-pr_attrs">
                    <tbody>
                      {%- for product_option in product.options_with_values -%}
                      <tr class="t4s-attr_pa_{{ product_option.name | handle }}">
                        <th class="t4s-attr__label">{{ product_option.name }}</th>
                        <td class="t4s-attr__value">
                          <p>{% for value in product_option.values %}{{ value }}{% unless forloop.last == true %}, {% endunless %}{% endfor %}</p>
                        </td>
                      </tr>
                      {%- endfor -%}
                    </tbody>
                  </table>
                </div>
             </div>
             {%- assign forloop_first = false %}{% assign isEmty = false -%}
            
            {%- when 'tab_buy' %}{% if nav_up_size == 0 %}{% continue %}{% endif -%}
              <div class="t4s-tab-wrapper{{ class_first_tab }}" data-t4s-tab-wrapper>
                <a id="t44_{{ bk_id }}" href="#{{ tab_id }}" rel="nofollow" class="t4s-tab__title t4s-fwm t4s-ch" data-t4s-tab-item data-no-instant><span class="t4s-tab__text">{{ bk_stts.title | escape }}</span><span class="t4s-tab__icon"></span></a>
                <div id="{{ tab_id }}" class="t4s-tab-content{{ class_first_tab }}" data-t4s-tab-content>{%- render 't4s-pr-FBT', product: product, nav_up_size: nav_up_size, class: 'is--tab-product' -%}</div>
             </div>
             {%- assign forloop_first = false %}{% assign isEmty = false -%}

            {%- when 'tab_html' %}{% assign bk_title =  bk_stts.title | default: bk_stts.page.title %}{%- if bk_title == blank or bk_stts.page.content == blank and bk_stts.content == blank %}{% continue %}{% endif -%}
              <div class="t4s-tab-wrapper{{ class_first_tab }}" data-t4s-tab-wrapper>
                <a id="t44_{{ bk_id }}" href="#{{ tab_id }}" rel="nofollow" class="t4s-tab__title t4s-fwm t4s-ch" data-t4s-tab-item data-no-instant><span class="t4s-tab__text">{{ bk_title | escape }}</span><span class="t4s-tab__icon"></span></a>
                <div id="{{ tab_id }}" class="t4s-rte t4s-tab-content{{ class_first_tab }}" data-t4s-tab-content>
                  {{ bk_stts.content }}
                  {{ bk_stts.page.content }}
                </div>
             </div>
             {%- assign forloop_first = false %}{% assign isEmty = false -%}

            {%- when 'tab_liquid' %}{% if bk_stts.title == blank or bk_stts.custom_liquid == blank %}{% continue %}{% endif -%}
              <div class="t4s-tab-wrapper{{ class_first_tab }}" data-t4s-tab-wrapper>
                <a id="t44_{{ bk_id }}" href="#{{ tab_id }}" rel="nofollow" class="t4s-tab__title t4s-fwm t4s-ch" data-t4s-tab-item data-no-instant><span class="t4s-tab__text">{{ bk_stts.title | escape }}</span><span class="t4s-tab__icon"></span></a>
                <div id="{{ tab_id }}" class="t4s-tab-content{{ class_first_tab }}" data-t4s-tab-content>{{ bk_stts.custom_liquid }}</div>
             </div>
             {%- assign forloop_first = false %}{% assign isEmty = false -%}

            {%- else %}{% if bk_stts.title == blank or bk_stts.text == blank %}{% continue %}{% endif -%}

          {%- endcase -%}

       {%- endfor -%}

      </div>
  </div>
</div>

{%- if isEmty %}<style>.t4s-product-tabs-wrapper-{{ section.id }} {display: none !important;}</style>{% endif -%}

{%- endfor -%}