{% if template contains "index" or template contains "collection" or template contains "product" %}
	
{% else %}
	<style>.t4s-section-inner{margin-top:var(--mg-top);margin-inline-end:var(--mg-right);margin-bottom:var(--mg-bottom);margin-inline-start:var(--mg-left);padding-top:var(--pd-top);padding-inline-end:var(--pd-right);padding-bottom:var(--pd-bottom);padding-inline-start:var(--pd-left)}.t4s-section-inner:not(.t4s-se-container),.t4s-container>.t4s-container-inner{background:var(--bg-gradient);background-color:var(--bg-color)}.t4s-container-inner.t4s-has-imgbg,.t4s-section-inner.t4s-has-imgbg{background-repeat:no-repeat;background-position:center;background-size:cover}.t4s-container-fluid{width:calc(100% - var(--mg-left,0) - var(--mg-right,0));width:-webkit-calc(100% - var(--mg-left,0) - var(--mg-right,0))}.t4s-section-inner.t4s-se-container{padding-top:0;padding-inline-end:0;padding-bottom:0;padding-inline-start:0}.t4s-section-inner.t4s-se-container .t4s-container-inner{padding-top:var(--pd-top);padding-inline-end:var(--pd-right);padding-bottom:var(--pd-bottom);padding-inline-start:var(--pd-left)}.t4s-custom-line{width:var(--width);border-width:var(--height);border-style:var(--line-style);border-color:var(--line-cl);border-top:none;border-right:none;border-left:none;display:inline-block;vertical-align:top}@media (max-width:1024px){.t4s-container-fluid{width:calc(100% - var(--mgtb-left,0) - var(--mgtb-right,0));width:-webkit-calc(100% - var(--mgtb-left,0) - var(--mgtb-right,0))}.t4s-section-inner.t4s-se-container .t4s-container-inner,.t4s-section-inner{margin-top:var(--mgtb-top);margin-inline-end:var(--mgtb-right);margin-bottom:var(--mgtb-bottom);margin-inline-start:var(--mgtb-left);padding-top:var(--pdtb-top);padding-inline-end:var(--pdtb-right);padding-bottom:var(--pdtb-bottom);padding-inline-start:var(--pdtb-left)}}@media (max-width:767px){.t4s-container-fluid{width:calc(100% - var(--mgmb-left,0) - var(--mgmb-right,0));width:-webkit-calc(100% - var(--mgmb-left,0) - var(--mgmb-right,0))}.t4s-section-inner.t4s-se-container .t4s-container-inner,.t4s-section-inner{margin-top:var(--mgmb-top);margin-inline-end:var(--mgmb-right);margin-bottom:var(--mgmb-bottom);margin-inline-start:var(--mgmb-left);padding-top:var(--pdmb-top);padding-inline-end:var(--pdmb-right);padding-bottom:var(--pdmb-bottom);padding-inline-start:var(--pdmb-left)}}.t4s-post-item .t4s-post-thumb{overflow:hidden;margin-bottom:15px}.t4s-post-item .t4s-post-info{margin-bottom:10px}.t4s-flicky-slider+.t4s-blog-footer.t4s-has-btn-load-more,.t4s-blog-footer.t4s-has-btn-none{display:none}.t4s-blog-footer{margin-top:40px}.t4s-post-item .t4s-post-info .t4s-tags>a{text-transform:capitalize}.t4s-post-item .t4s-post-title{font-size:16px;font-weight:500;color:var(--secondary-color);margin-bottom:5px}.t4s-post-item .t4s-post-title a{color:inherit}.t4s-post-item .t4s-post-title:hover a,.t4s-post-item .t4s-post-title a:hover{color:var(--accent-color)}.t4s-post-item .t4s-post-metas{color:var(--text-color);font-size:14px}.t4s-post-item .t4s-post-metas .post-author{margin-right:5px}.t4s-post-item .t4s-post-metas>span>span{color:var(--secondary-color)}.t4s-post-item .t4s-post-author__text,.t4s-post-item .t4s-post-time__text{color:var(--text-color)!important}.t4s-post-item .t4s-post-content{font-size:14px;color:var(--text-color);line-height:24px;margin-bottom:15px}.t4s-post-item.t4s-post-des-3 .t4s-post-inner{position:relative}.t4s-post-item.t4s-post-des-3 .t4s-post-info{border:1px solid var(--border-color);background-color:var(--t4s-light-color);padding:15px 22px;transition:.5s;position:absolute;z-index:3;top:0;bottom:0;left:0;right:0;opacity:0;visibility:hidden;display:flex;align-items:center;margin:0}.t4s-post-item.t4s-post-des-3:hover .t4s-post-info{opacity:1;visibility:visible}.t4s-post-item.t4s-post-des-3 .t4s-post-content{margin-bottom:0}.t4s-post-item.t4s-post-des-3 .t4s-post-readmore{letter-spacing:2.72px;font-weight:500;font-size:14px;line-height:26px;margin-top:5px}.t4s-post-item.t4s-post-des-4 .t4s-post-inner{display:flex;align-items:center}.t4s-post-item.t4s-post-des-4 .t4s-post-inner>*{width:50%;margin:0}.t4s-post-item.t4s-post-des-4 .t4s-post-info{padding:20px}.t4s-post-item.t4s-post-des-4 .t4s-post-metas{font-weight:500;font-size:13px;line-height:19px;letter-spacing:-.05em;text-transform:uppercase;margin-bottom:10px}.t4s-post-item.t4s-post-des-4 .t4s-post-metas>span:not(:last-child):after{display:inline-block;vertical-align:middle;width:5px;height:5px;border-radius:100%;background-color:#c4c4c4;margin:0 10px;content:""}.t4s-post-item.t4s-post-des-4 .t4s-post-title{font-size:20px;line-height:24px;font-weight:500;margin-bottom:15px}.t4s-post-item.t4s-post-des-4 .t4s-post-content{line-height:21px}.t4s-post-item .t4s-post-readmore{font-size:14px;text-transform:uppercase;color:#000;line-height:21px;font-weight:400}.t4s-post-item .t4s-post-readmore svg{width:20px;display:inline-block;vertical-align:top}.t4s-post-item .t4s-post-readmore:hover{color:var(--accent-color)}.t4s-post-item.t4s-post-des-5 .t4s-post-inner,.t4s-post-item.t4s-post-des-6 .t4s-post-inner{display:block}.t4s-post-item.t4s-post-des-5 .t4s-post-inner>*,.t4s-post-item.t4s-post-des-6 .t4s-post-inner>*{width:100%;margin:0}.t4s-post-item.t4s-post-des-5 .t4s-post-info,.t4s-post-item.t4s-post-des-6 .t4s-post-info{padding:15px 0 0}.t4s-post-item.t4s-post-des-6 .t4s-categories{display:block;margin-bottom:10px;font-size:0}.t4s-post-item.t4s-post-des-7 .t4s-post-info{position:absolute;left:30px;right:30px;bottom:30px;background:rgba(0,0,0,.9);padding:20px;color:var(--text-color);z-index:10}.t4s-post-item.t4s-post-des-7 .t4s-post-commment{color:var(--text-color)}.t4s-post-item.t4s-post-des-7 .t4s-post-info .t4s-tags>a,.t4s-post-item.t4s-post-des-7 .t4s-post-title,.t4s-post-item.t4s-post-des-7 .t4s-post-metas>span>span{color:var(--t4s-light-color)}.t4s-post-item.t4s-post-des-7 .t4s-post-metas{font-size:12px}.t4s-main-blog .t4s-post-item.t4s-post-des-7 .t4s-post-thumb{margin-bottom:0}.t4s-post-item.t4s-post-des-7 .t4s-post-content{background:#f6f6f8;padding:25px}.t4s-post-item.t4s-post-des-7 .t4s-post-title{font-size:14px;letter-spacing:2px;margin-bottom:5px;margin-top:10px;text-transform:uppercase}.t4s-post-item.t4s-post-des-7 .t4s-post-tags span{margin-right:3px;color:var(--text-color)!important}.t4s-post-item.t4s-post-des-7 .t4s-post-tags a{color:var(--t4s-light-color)}.t4s-post-item.t4s-post-des-7 .t4s-post-readmore{line-height:40px;border:2px solid var(--secondary-color);padding:0 30px;font-weight:600;border-radius:var(--btn-radius);text-transform:capitalize;display:inline-flex;align-items:center}.t4s-post-item.t4s-post-des-7 .t4s-post-readmore svg{margin-left:5px}.t4s-post-item.t4s-post-des-7 .t4s-post-readmore:hover{background-color:var(--secondary-color);color:var(--t4s-light-color)}.t4s-blog-post .t4s-blog-button{font-size:14px;line-height:20px;font-weight:600;margin-bottom:var(--tophead_mb)}.t4s-blog-post .t4s-blog-button .t4s-blog-button-heading{border-bottom:1px solid var(--link-color)}.t4s-post-thumb{position:relative}.t4s-post-thumb .t4s-categories{position:absolute;z-index:3;top:14px;left:14px;font-size:0}.t4s-post-thumb .t4s-categories a{min-width:90px;padding:0 5px;line-height:30px;display:inline-block;vertical-align:top;color:var(--t4s-light-color);text-transform:uppercase;font-size:13px;font-weight:500;text-align:center;background-color:#4768dc;margin-right:5px;margin-bottom:5px}@media (max-width:991px){.t4s-post-item.t4s-post-des-4 .t4s-post-metas>span:not(:last-child):after{margin:0 5px}}@media (max-width:639px){.t4s-post-item.t4s-post-des-4 .t4s-post-inner{display:block}.t4s-post-item.t4s-post-des-4 .t4s-post-inner>*{width:100%;margin:0;padding:0}.t4s-post-item.t4s-post-des-4 .t4s-post-info{padding:15px 0 0}}.t4s-flicky-slider.t4s-slider-btn-small{--btn-width-slider:40px;--btn-height-slider:40px;--icon-height-slider:16px}.t4s-flicky-slider{--btn-width-slider:50px;--btn-height-slider:50px;--icon-height-slider:20px}.t4s-flicky-slider.t4s-slider-btn-large{--btn-width-slider:60px;--btn-height-slider:60px;--icon-height-slider:24px}.t4s-flicky-slider .flickityt4s-button{width:var(--btn-width-slider);height:var(--btn-height-slider);text-align:center;padding:0;display:inline-flex;align-items:center;justify-content:center;transition:all .5s ease;color:#000;margin:auto 0;min-width:1px;min-height:1px;-webkit-animation:1s t4s-ani-fadeIn;animation:1s t4s-ani-fadeIn;z-index:3}.flickityt4s-enabled .flickityt4s-prev-next-button[disabled],.flickityt4s-enabled:hover .flickityt4s-prev-next-button[disabled]{opacity:.3}.t4s-flicky-slider:not(:hover) .flickityt4s-button.previous{transform:translate(15px) translateY(-50%)}.t4s-flicky-slider:not(:hover) .flickityt4s-button.next{transform:translate(-15px) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-vi-always .flickityt4s-button{transform:translate(0) translateY(-50%)}.flickityt4s-prev-next-button .flickityt4s-button-icon{height:var(--icon-height-slider)!important}.t4s-flicky-slider.t4s-slider-btn-vi-hover .flickityt4s-button{opacity:0;visibility:hidden}.t4s-flicky-slider.t4s-slider-btn-vi-hover:hover .flickityt4s-button,.t4s-flicky-slider.t4s-slider-btn-vi-always .flickityt4s-button{opacity:1;visibility:visible}.t4s-flicky-slider.t4s-slider-btn-round .flickityt4s-button{border-radius:50%}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button{transform-origin:50% 15px}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.previous{transform:rotate(45deg) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.next .flickityt4s-button-icon{transform:rotate(45deg)}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.next{transform:rotate(-45deg) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.previous .flickityt4s-button-icon{transform:rotate(-45deg)}.t4s-flicky-slider.t4s-slider-btn-rotate:not(:hover) .flickityt4s-button.previous{transform:rotate(45deg) translate(15px) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-rotate:not(:hover) .flickityt4s-button.next{transform:rotate(-45deg) translate(-15px) translateY(-50%)}.t4s-flicky-slider .flickityt4s-button{color:var(--slider-btn-color);background-color:var(--slider-btn-background);border-color:var(--slider-btn-border)}.t4s-flicky-slider .flickityt4s-button:hover{color:var(--slider-btn-color-hover);background-color:var(--slider-btn-background-hover);border-color:var(--slider-btn-border-hover)}.t4s-flicky-slider.t4s-slider-btn-cl-light.t4s-slider-btn-style-default .flickityt4s-button{box-shadow:0 2px 10px #36363626}.t4s-flicky-slider.t4s-slider-btn-cl-default{--slider-btn-color:var(--t4s-light-color);--slider-btn-background:var(--t4s-dark-color);--slider-btn-border:var(--t4s-dark-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-background-hover:var(--t4s-dark-color);--slider-btn-border-hover:var(--t4s-dark-color)}.t4s-flicky-slider.t4s-slider-btn-cl-default .flickityt4s-button:hover{opacity:.8!important}.t4s-flicky-slider.t4s-slider-btn-cl-dark{--slider-btn-color:var(--t4s-light-color);--slider-btn-background:var(--t4s-dark-color);--slider-btn-border:var(--t4s-dark-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-background-hover:var(--accent-color);--slider-btn-border-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-cl-light{--slider-btn-color:var(--t4s-dark-color);--slider-btn-background:var(--t4s-light-color);--slider-btn-border:var(--t4s-light-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-background-hover:var(--accent-color);--slider-btn-border-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-cl-primary{--slider-btn-color:var(--t4s-light-color);--slider-btn-background:var(--accent-color);--slider-btn-border:var(--accent-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-background-hover:var(--accent-color-hover);--slider-btn-border-hover:var(--accent-color-hover)}.t4s-flicky-slider.t4s-slider-btn-cl-custom1,.t4s-flicky-slider.t4s-slider-btn-cl-custom2{--slider-btn-color:var(--btn-color);--slider-btn-background:var(--btn-background);--slider-btn-border:var(--btn-background);--slider-btn-color-hover:var(--btn-color-hover);--slider-btn-background-hover:var(--btn-background-hover);--slider-btn-border-hover:var(--btn-background-hover)}.t4s-flicky-slider.t4s-slider-btn-style-outline{--slider-btn-color:var(--t4s-dark-color);--slider-btn-border:var(--t4s-dark-color);--slider-btn-background-hover:var(--t4s-dark-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-border-hover:var(--t4s-dark-color)}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-light{--slider-btn-color:var(--t4s-light-color);--slider-btn-border:var(--t4s-light-color);--slider-btn-background-hover:var(--accent-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-border-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-dark{--slider-btn-color:var(--t4s-dark-color);--slider-btn-border:var(--t4s-dark-color);--slider-btn-background-hover:var(--accent-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-border-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-primary{--slider-btn-color:var(--accent-color);--slider-btn-border:var(--accent-color);--slider-btn-background-hover:var(--accent-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-border-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-custom1,.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-custom2{--slider-btn-color:var(--btn-color);--slider-btn-border:var(--btn-color);--slider-btn-background-hover:var(--btn-background-hover);--slider-btn-color-hover:var(--btn-color-hover);--slider-btn-border-hover:var(--btn-background-hover)}.t4s-flicky-slider.t4s-slider-btn-style-simple{--slider-btn-color:var(--t4s-dark-color);--slider-btn-color-hover:var(--t4s-dark-color)}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-light{--slider-btn-color:var(--t4s-light-color);--slider-btn-color-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-dark{--slider-btn-color:var(--t4s-dark-color);--slider-btn-color-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-primary{--slider-btn-color:var(--accent-color);--slider-btn-color-hover:var(--accent-color-hover)}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-custom1,.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-custom2{--slider-btn-color:var(--btn-color);--slider-btn-color-hover:var(--btn-color-hover)}.t4s-flicky-slider.t4s-slider-btn-style-outline{--slider-btn-background:transparent}.t4s-flicky-slider.t4s-slider-btn-style-outline .flickityt4s-button{border-style:solid;border-width:2px}.t4s-flicky-slider.t4s-slider-btn-style-simple{--slider-btn-background:transparent;--slider-btn-border:transparent;--slider-btn-background-hover:transparent;--slider-btn-border-hover:transparent}.t4s-slider-btn-pos-ontop.t4s-flicky-slider .flickityt4s-button{position:absolute;z-index:2;white-space:nowrap;--abc:calc(var(--heading-height)/2);--xyz:calc(var(--btn-height-slider)/2);top:auto;bottom:calc(100% + var(--tophead_mb));opacity:1;visibility:visible;margin:0}.t4s-slider-btn-pos-ontop.t4s-flicky-slider .flickityt4s-button.next{right:calc(var(--flickity-btn-pos)/2);transform:none}.t4s-slider-btn-pos-ontop.t4s-flicky-slider.t4s-slider-btn-style-simple .flickityt4s-button.next{right:calc(var(--flickity-btn-pos)/2 - 7px)}.t4s-slider-btn-pos-ontop.t4s-flicky-slider .flickityt4s-button.previous{right:calc(var(--btn-height-slider) + 20px + var(--flickity-btn-pos)/2);left:auto;transform:none}.t4s-slider-btn-pos-ontop.t4s-flicky-slider.t4s-slider-btn-style-simple .flickityt4s-button.previous{right:calc(var(--btn-height-slider) + 20px + var(--flickity-btn-pos)/2 - 7px)}.t4s-slider-btn-pos-ontop.t4s-flicky-slider:not(:hover) .flickityt4s-button.previous,.t4s-slider-btn-pos-ontop.t4s-flicky-slider:not(:hover) .flickityt4s-button.next{transform:none}.t4s-flicky-slider .flickityt4s-page-dots{display:block;-webkit-animation:1s t4s-ani-fadeIn;animation:1s t4s-ani-fadeIn}.flickityt4s-page-dots .dot.is-selected:first-child:last-child{display:none}.t4s-flicky-slider.t4s-dots-round-true .flickityt4s-page-dots .dot{border-radius:50%}.t4s-dots-style-elessi.t4s-dots-round-true .flickityt4s-page-dots .dot{border-radius:5px}.t4s-flicky-slider.t4s-dots-style-outline .flickityt4s-page-dots .dot:not(.is-selected){--slider-dot-background:transparent!important}.t4s-flicky-slider.t4s-dots-style-outline .flickityt4s-page-dots .dot{border-style:solid;border-width:2px}.t4s-flicky-slider{--slider-dot-width:11px;--slider-dot-height:11px;--slider-dot-background:#000;--slider-dot-border:#000}.t4s-flicky-slider.t4s-dots-style-default.t4s-dots-cl-default .dot.is-selected{--slider-dot-background:rgba(0,0,0,.9)}.t4s-flicky-slider.t4s-dots-style-outline{--slider-dot-width:13px;--slider-dot-height:13px;--slider-dot-background:#fff;--slider-dot-border:#fff}.t4s-flicky-slider.t4s-dots-style-outline.t4s-dots-cl-default .dot.is-selected{--slider-dot-background:#000;--slider-dot-border:#000}.t4s-flicky-slider.t4s-dots-style-outline.t4s-dots-cl-default .dot:not(.is-selected){--slider-dot-background:#fff!important;--slider-dot-border:rgba(0,0,0,.2);opacity:1}.t4s-flicky-slider.t4s-dots-style-elessi{--slider-dot-width:13px;--slider-dot-height:13px;--slider-dot-background:#fff;--slider-dot-border:#000;--slider-dot-background-active:#000}.t4s-flicky-slider.t4s-dots-style-elessi{--slider-dot-width:8px;--slider-dot-height:8px}.t4s-flicky-slider.t4s-dots-style-elessi .dot.is-selected{--slider-dot-width:30px}.t4s-flicky-slider.t4s-dots-style-elessi.t4s-dots-cl-default .dot.is-selected{--slider-dot-background:#000;--slider-dot-border:#000}.t4s-flicky-slider.t4s-dots-style-elessi.t4s-dots-cl-default .dot:not(.is-selected){--slider-dot-background:#fff!important;--slider-dot-border:#fff;opacity:1}.t4s-flicky-slider.t4s-dots-style-br-outline{--slider-dot-width:8px;--slider-dot-height:8px;--slider-dot-background:var(--t4s-light-color);--slider-dot-border:var(--t4s-dark-color);--slider-dot-background-active:var(--t4s-dark-color)}.t4s-flicky-slider.t4s-dots-style-br-outline,.t4s-flicky-slider.t4s-dots-style-br-outline2{--slider-dot-background:var(--t4s-light-color);--slider-dot-border:var(--t4s-dark-color);--slider-dot-background-active:var(--t4s-dark-color)}.t4s-flicky-slider.t4s-dots-style-br-outline .dot,.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot{position:relative;transition:all .3s linear;--slider-dot-width:17px;--slider-dot-height:17px;border-radius:50%;box-shadow:0 0 0 2px #fff0;-webkit-transition:box-shadow .3s ease;transition:box-shadow .3s ease;background-color:transparent!important}.t4s-flicky-slider.t4s-dots-style-br-outline .dot{--slider-dot-width:22px;--slider-dot-height:22px}.t4s-flicky-slider.t4s-dots-style-br-outline .dot.is-selected,.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot.is-selected{box-shadow:0 0 0 2px var(--slider-dot-background)}.t4s-flicky-slider.t4s-dots-style-br-outline .dot:before,.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot:before{content:"";border-radius:100%;background-color:var(--slider-dot-background);position:absolute;top:0;left:0;width:100%;height:100%;border:0}.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot.is-selected:before{background-color:transparent}.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot:before,.t4s-flicky-slider.t4s-dots-style-br-outline .dot.is-selected:before{transform:scale(.3);-webkit-transform:scale(.3)}.t4s-flicky-slider.t4s-dots-style-br-outline .dot:before{transform:scale(.4);-webkit-transform:scale(.4)}.t4s-flicky-slider.t4s-dots-cl-dark{--slider-dot-background:var(--t4s-dark-color);--slider-dot-border:var(--t4s-dark-color)}.t4s-flicky-slider.t4s-dots-cl-light{--slider-dot-background:var(--t4s-light-color);--slider-dot-border:var(--t4s-light-color)}.t4s-flicky-slider.t4s-dots-cl-primary{--slider-dot-background:var(--accent-color);--slider-dot-border:var(--accent-color)}.t4s-flicky-slider.t4s-dots-cl-custom1,.t4s-flicky-slider.t4s-dots-cl-custom2{--slider-dot-background:var(--dots-background);--slider-dot-border:var(--dots-background)}.t4s-flicky-slider .flickityt4s-page-dots .dot{display:inline-flex;justify-content:center;align-items:center;width:var(--slider-dot-width);height:var(--slider-dot-height);background-color:var(--slider-dot-background);border-color:var(--slider-dot-border);margin:0 calc(var(--space-dots)/2);cursor:pointer;opacity:.5;transition:all .3s}.t4s-flicky-slider .flickityt4s-page-dots .dot:hover,.t4s-flicky-slider .flickityt4s-page-dots .dot.is-selected{opacity:1}.t4s-flicky-slider .flickityt4s-prev-next-button.previous{left:calc(var(--flickity-btn-pos)/2)}.t4s-flicky-slider .flickityt4s-prev-next-button.next{right:calc(var(--flickity-btn-pos)/2)}.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots{display:table;width:100%;max-width:calc(100% - var(--ts-gutter-x));margin-left:auto;margin-right:auto;margin-top:45px}.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot{display:table-cell;vertical-align:middle;width:auto;height:3px;background-color:#ededed;opacity:1}.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot:hover,.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot.is-selected{background-color:var(--slider-dot-background)}.t4s-flicky-slider.t4s-dots-round-true.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot{border-radius:1px}.t4s-dots-style-number .flickityt4s-page-dots{opacity:0;visibility:hidden}.t4s-dots-style-number.flickityt4s-enabled .flickityt4s-page-dots{opacity:1;visibility:visible}.t4s-dots-style-number .flickityt4s-page-dots:not(.t4s-dots-list){display:none}.t4s-dots-style-number.t4s-dots-cl-dark{--dots-cl:var(--t4s-light-color);--bg-dots-cl:var(--t4s-dark-color)}.t4s-dots-style-number.t4s-dots-cl-light{--dots-cl:var(--t4s-dark-color);--bg-dots-cl:var(--t4s-light-color)}.t4s-dots-style-number.t4s-dots-cl-primary{--dots-cl:var(--t4s-light-color);--bg-dots-cl:var(--accent-color)}.t4s-dots-style-number .t4s-dots-list{padding:5px 15px;display:inline-flex;align-items:center;justify-content:center;line-height:20px;font-size:14px;margin:0;color:var(--dots-cl);background-color:var(--bg-dots-cl);left:50%;right:auto;transform:translate(-50%);width:auto}.t4s-dots-style-number.t4s-dots-round-true .t4s-dots-list{border-radius:15px}.t4s-flicky-slider .flickityt4s-page-dots{padding-inline-start:calc(var(--ts-gutter-x)/2);padding-inline-end:calc(var(--ts-gutter-x)/2);margin-inline-start:calc(-1 * (var(--space-dots)/2));margin-inline-end:calc(-1 * (var(--space-dots)/2));margin-top:var(--dots-bottom-pos)}.t4s-flicky-slider.t4s-dots-bottom_left .flickityt4s-page-dots{text-align:left}.t4s-flicky-slider.t4s-dots-bottom_right .flickityt4s-page-dots{text-align:right}@media (max-width:767px){.t4s-flicky-slider.t4s-slider-btn-small{--btn-width-slider:30px;--btn-height-slider:30px;--icon-height-slider:10px}.t4s-flicky-slider{--btn-width-slider:40px;--btn-height-slider:40px;--icon-height-slider:14px}.t4s-flicky-slider.t4s-slider-btn-large{--btn-width-slider:50px;--btn-height-slider:50px;--icon-height-slider:18px}.flickityt4s-page-dots{margin:5px 0 0}.t4s-flicky-slider.t4s-slider-btn-hidden-mobile-true .flickityt4s-button,.t4s-flicky-slider.t4s-dots-hidden-mobile-true .flickityt4s-page-dots{display:none}.t4s-flicky-slider:not(:hover) .flickityt4s-button.previous,.t4s-flicky-slider:not(:hover) .flickityt4s-button.next{transform:translate(0) translateY(-50%)}.flickityt4s-prev-next-button.previous{left:10px}.flickityt4s-prev-next-button.next{right:10px}.t4s-flicky-slider .flickityt4s-prev-next-button.previous{left:calc(var(--flickity-btn-pos-mb)/2)}.t4s-flicky-slider .flickityt4s-prev-next-button.next{right:calc(var(--flickity-btn-pos-mb)/2)}}.flickityt4s:not(.flickityt4s-enabled){flex-wrap:nowrap;overflow:hidden;width:auto}.flickityt4s-enabled{display:block;position:relative;-webkit-tap-highlight-color:transparent}.flickityt4s-enabled:focus{outline:0;box-shadow:none}.flickityt4s-viewport{overflow:hidden;position:relative;width:100%;height:100%}.flickityt4s-slider{position:absolute;width:100%;height:100%;will-change:transform}.flickityt4s-enabled.is-draggable{-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickityt4s-enabled.is-draggable .flickityt4s-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}1 .flickityt4s-enabled.is-draggable .flickityt4s-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickityt4s-button,.flickityt4s-page-dots{display:none}.flickityt4s-enabled.is-fade .flickityt4s-slider>*{pointer-events:none;z-index:0;opacity:0;transition:opacity .3s ease-in-out,visibility .3s ease-in-out}.flickityt4s-enabled.is-fade .flickityt4s-slider>.is-selected{pointer-events:auto;z-index:1;opacity:1}.t4s-enabled .flickityt4s-viewport{transition:height .3s}.flickityt4s-button{position:absolute;border:none}.flickityt4s-button:hover{cursor:pointer}.flickityt4s-button:active{opacity:.6}.flickityt4s-button:disabled{opacity:.3!important;cursor:auto}.flickityt4s_prev_disable.flickityt4s_next_disable .flickityt4s-button:disabled,.flickityt4s_prev_disable.flickityt4s_next_disable .flickityt4s-page-dots{display:none!important}.flickityt4s-button-icon{fill:currentColor}.flickityt4s-prev-next-button{top:var(--prev-next-top,50%);width:40px;height:40px;min-width:40px;min-height:40px;padding:0;transform:translateY(-50%)}.flickityt4s-prev-next-button.previous{left:15px}.flickityt4s-prev-next-button.next{right:15px}.flickityt4s-rtl .flickityt4s-prev-next-button.previous{left:auto;right:15px}.flickityt4s-rtl .flickityt4s-prev-next-button.next{right:auto;left:15px}.flickityt4s-prev-next-button .flickityt4s-button-icon{width:auto;height:18px;stroke:currentColor;fill:currentcolor}.flickityt4s-page-dots{position:relative;width:100%;bottom:0;z-index:2;padding:0;margin:15px 0 0;list-style:none;text-align:center;line-height:1}.flickityt4s-rtl .flickityt4s-page-dots{direction:rtl}.flickityt4s:after{content:'flickityt4s';display:none}@media (min-width:768px){.carousel-disable-md:after{content:''}.carousel-disable-md.flickityt4s:not(.flickityt4s-enabled){flex-wrap:wrap}}@media (min-width:1025px){.carousel-disable-lg:after{content:''}.carousel-disable-lg.flickityt4s:not(.flickityt4s-enabled){flex-wrap:wrap}.t4s-carousel__nav-scroller:not(.is__position-bottom){position:absolute;top:0;left:0;right:0;bottom:0;overflow-x:visible;overflow-y:scroll;overscroll-behavior-y:contain}.t4s-carousel__nav{flex-wrap:wrap}}.flickityt4s-enabled,.flickityt4s-slider>.t4s-col-item{margin-top:0!important}.t4s-carousel__nav-scroller{width:100%;overflow-x:scroll;white-space:nowrap -webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;scrollbar-width:none;scroll-behavior:smooth;-ms-overflow-style:-ms-autohiding-scrollbar}.t4s-carousel__nav-scroller img{opacity:0;transition:.3s ease-in-out}.t4s-carousel__nav-scroller img.lazyloadt4sed{opacity:1}.t4s-carousel__nav{flex-wrap:nowrap}.t4s-carousel__nav-scroller::-webkit-scrollbar{height:0;width:0}.t4s-eff{position:relative;z-index:3;display:block;vertical-align:top;overflow:hidden}.t4s-eff:before,.t4s-eff:after{content:"";z-index:1;pointer-events:none}.t4s-eff-border-run:before,.t4s-eff-border-run:after{position:absolute;content:"";opacity:0;width:0;height:0;transition:all .8s ease}.t4s-eff-border-run:before{border-top:1px solid #fff;border-left:1px solid #fff;top:15px;left:15px}.t4s-eff-border-run:after{border-right:1px solid #fff;border-bottom:1px solid #fff;right:15px;bottom:15px}.t4s-eff-pervasive-circle:before{position:absolute;border-radius:50%;width:0;height:0;top:50%;left:50%;background-color:#ffffff4d;content:"";z-index:2}.t4s-eff-plus-zoom-overlay:before,.t4s-eff-plus-zoom-overlay:after{content:"";position:absolute;width:100%;height:100%;margin:auto;transition:all .5s ease;z-index:2;background-color:#ffffff26;pointer-events:none}.t4s-eff-plus-zoom-overlay:before,.t4s-eff-plus-zoom-overlay:after{top:0;bottom:0;left:0;right:0;opacity:0;visibility:hidden}.t4s-eff-dark-overlay:before{position:absolute;content:"";top:0;bottom:0;left:0;right:0;background-color:#000;opacity:0;transition:opacity .2s ease;z-index:2;pointer-events:none}.t4s-eff-light-overlay:before{position:absolute;content:"";top:0;bottom:0;left:0;right:0;background-color:#fff;opacity:0;transition:opacity .2s ease;z-index:2;pointer-events:none}.t4s-eff-img-zoom .t4s-obj-eff{transition:all 1s}.t4s-eff-img-rotate .t4s-obj-eff{transition:.6s ease-in-out}.t4s-eff-img-translateToTop .t4s-obj-eff,.t4s-eff-img-translateToRight .t4s-obj-eff,.t4s-eff-img-translateToLeft .t4s-obj-eff,.t4s-eff-img-translateToBottom .t4s-obj-eff{transition:.6s ease-in-out;transform:scale(1.15)}.t4s-eff-img-translateToTop .t4s-obj-eff{transform-origin:top}.t4s-eff-img-translateToRight .t4s-obj-eff{transform-origin:right}.t4s-eff-img-translateToLeft .t4s-obj-eff{transform-origin:left}.t4s-eff-img-translateToBottom .t4s-obj-eff{transform-origin:bottom}.t4s-eff-img-filter .t4s-obj-eff{opacity:.5;filter:grayscale(100%);transition:filter .3s,opacity .3s,-webkit-filter .3s}.t4s-eff-img-filter-unset .t4s-obj-eff{transition:filter .3s,opacity .3s,-webkit-filter .3s}.flicker .t4s-obj-eff{animation:1s infinite flicker}.t4s-btn:before{content:"";position:absolute;z-index:-1;border-radius:inherit;opacity:0;visibility:hidden}.t4s-btn:not(.t4s-btn-effect-default):not(.t4s-btn-effect-overlay-run):before{transition:.3s ease-in-out}.t4s-btn:before{background-color:var(--btn-background);border-color:var(--btn-background)}.t4s-btn-effect-default:before{top:0;left:0;right:0;bottom:0;background-color:var(--btn-background);border-color:var(--btn-background)}.t4s-btn-effect-rectangle-out:before{top:50%;left:50%;width:0;height:0;border-radius:50%}.t4s-btn-effect-sweep-to-left:before,.t4s-btn-effect-sweep-to-right:before,.t4s-btn-effect-sweep-to-top:before,.t4s-btn-effect-sweep-to-bottom:before{top:0;left:0;right:0;bottom:0;z-index:-1;opacity:1;visibility:visible;transform:scaleX(0);transform-origin:0 0;transition-duration:.5s;transition-property:transform;transition-timing-function:ease-out}.t4s-btn-effect-sweep-to-bottom:before,.t4s-btn-effect-sweep-to-top:before{transform:scaleX(1) scaleY(0)}.t4s-btn-effect-sweep-to-left:before,.t4s-btn-effect-sweep-to-top:before{transform-origin:100% 100%}.t4s-btn-effect-shutter-out-horizontal{transform:perspective(1px) translateZ(0)}.t4s-btn-effect-shutter-out-horizontal:before{top:0;bottom:0;left:0;right:0;transform:scaleX(0);transform-origin:50%;transition-property:transform;opacity:1;visibility:visible}.t4s-btn-effect-outline{overflow:unset!important;transition:all .4s ease-in-out}.t4s-btn-effect-outline:before{content:"";position:absolute;left:8px;top:8px;width:100%;height:100%;background-color:transparent;border-bottom:2px solid var(--btn-border);border-right:2px solid var(--btn-border);border-radius:inherit;transition:all .3s ease-in-out;opacity:1;visibility:visible}.t4s-btn-effect-shadow{transition:all .4s ease-in-out;box-shadow:8px 8px 10px gray}@keyframes ani_shine{to{left:-200%}}.t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-light,.t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-dark,.t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-primary,.t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-custom1,.t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-custom2{--btn-color-hover:var(--btn-color);--btn-background-hover:var(--btn-background)}.t4s-btn-style-default.t4s-btn-effect-overlay-run:after{content:"";position:absolute;pointer-events:none;top:0;left:150%;width:200%;height:100%;transform:skew(-20deg);background-image:linear-gradient(90deg,transparent,hsla(0,0%,100%,.25),transparent)}.t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-light:after{background-color:#0006}.t4s-bl-item:not(.t4s-animation-none){opacity:0}.t4s_animated .t4s-bl-item,.is-selected .t4s-bl-item{animation:var(--animation);animation-duration:var(--time-animation);animation-delay:var(--delay-animation);animation-fill-mode:forwards}@media (-moz-touch-enabled:0),(hover:hover){.t4s-eff-border-run:hover:before,.t4s-eff-border-run:hover:after{opacity:1;width:calc(100% - 30px);height:calc(100% - 30px)}.t4s-eff-pervasive-circle:hover:before{top:0;left:0;right:0;bottom:0;width:100%;height:100%;opacity:0;transition:.6s}.t4s-eff-plus-zoom-overlay:not(:hover):before{width:0;opacity:1;visibility:visible}.t4s-eff-plus-zoom-overlay:not(:hover):after{height:0;opacity:1;visibility:visible}.t4s-eff-dark-overlay:hover:before{opacity:.3}.t4s-eff-light-overlay:hover:before{opacity:.3}.t4s-eff-img-zoom:hover .t4s-obj-eff{transform:scale(1.1)}.t4s-eff-img-rotate:hover .t4s-obj-eff{transform:rotate(15deg) scale(1.4)}.t4s-eff-img-translateToTop:hover .t4s-obj-eff{transform:scale(1.15) translateY(-25px)}.t4s-eff-img-translateToRight:hover .t4s-obj-eff{transform:scale(1.15) translate(25px)}.t4s-eff-img-translateToLeft:hover .t4s-obj-eff{transform:scale(1.15) translate(-25px)}.t4s-eff-img-translateToBottom:hover .t4s-obj-eff{transform:scale(1.15) translateY(25px)}.t4s-eff-img-filter:hover .t4s-obj-eff{opacity:1;filter:grayscale(0)}.t4s-eff-img-filter-unset:hover .t4s-obj-eff{opacity:.5;filter:grayscale(100%)}.t4s-eff-img-bounceIn:hover .t4s-obj-eff{animation:bounceIn forwards;animation-duration:1s;animation-delay:0}.t4s-btn:hover:before{background-color:var(--btn-background-hover);border-color:var(--btn-background-hover);opacity:1;visibility:visible}.t4s-btn-effect-default:hover{opacity:.8!important}.t4s-btn-effect-default:hover:before{opacity:1;visibility:visible;background-color:var(--btn-background-hover);border-color:var(--btn-background-hover)}.t4s-btn-effect-fade:hover:before{top:0;left:0;right:0;bottom:0;opacity:1;visibility:visible}.t4s-btn-effect-rectangle-out:hover:before{top:0;left:0;right:0;bottom:0;width:100%;height:100%;border-radius:0;opacity:1;visibility:visible}.t4s-btn-effect-sweep-to-left:hover:before,.t4s-btn-effect-sweep-to-right:hover:before,.t4s-btn-effect-sweep-to-top:hover:before,.t4s-btn-effect-sweep-to-bottom:hover:before{transform:scale(1)}.t4s-btn-effect-shutter-out-horizontal:hover:before{transform:scaleX(1)}.t4s-btn-effect-outline:not(:hover):before{background-color:transparent}.t4s-btn-effect-outline:hover:before{left:0;transform:translate(0) translateY(-8px);border-color:var(--btn-background-hover);z-index:-1;opacity:0;transition:.2s ease}.t4s-btn-effect-outline:hover{background-color:var(--btn-background-hover);transform:translate(4px) translateY(5px)}.t4s-btn-effect-shadow:hover{background-color:var(--btn-background-hover);transform:translate(4px) translateY(5px);box-shadow:none}.t4s-btn-style-default.t4s-btn-effect-overlay-run:hover{background-color:var(--btn-background-hover);color:var(--btn-color-hover)}.t4s-btn-style-default.t4s-btn-effect-overlay-run:hover:after{animation:.75s cubic-bezier(.01,.56,1,1) ani_shine}.t4s-btn-style-outline.t4s-btn-effect-overlay-run:hover:before{top:0;left:0;right:0;bottom:0;width:100%;height:100%;border-radius:0;opacity:1;visibility:visible}}.t4s-lm-bar--txt{font-size:15px}.t4s-lm-bar--progress{display:block;margin:15px auto 20px;width:250px;height:4px;background-color:var(--border-color);border-radius:5px}.t4s-text-start .t4s-lm-bar--progress{margin-left:0}.t4s-text-end .t4s-lm-bar--progress{margin-right:0}.t4s-lm-bar--progress .t4s-lm-bar--current{width:0;will-change:width;-webkit-transition:width .3s cubic-bezier(.19,1,.22,1);transition:width .3s cubic-bezier(.19,1,.22,1)}.t4s-lm-bar.t4s-btn-color-light .t4s-lm-bar--progress{box-shadow:0 0 2px var(--border-color)}.t4s-lm-bar.t4s-btn-color-light .t4s-lm-bar--current{background:linear-gradient(to right,var(--t4s-light-color),var(--accent-color))}.t4s-lm-bar.t4s-btn-color-dark .t4s-lm-bar--current{background:linear-gradient(to right,var(--t4s-dark-color),var(--accent-color))}.t4s-lm-bar.t4s-btn-color-primary .t4s-lm-bar--current{background:transparent;background:linear-gradient(to right,var(--accent-color),var(--accent-color-hover))}.t4s-lm-bar.t4s-btn-color-custom1 .t4s-lm-bar--current,.t4s-lm-bar.t4s-btn-color-custom2 .t4s-lm-bar--current{background-color:var(--btn-background);background:linear-gradient(to right,var(--btn-background),var(--btn-background-hover))}.t4s-product a.is--loading:before{width:18px;height:18px;border:1px solid;border-color:currentColor;border-top-color:transparent;border-radius:100%;opacity:1;-webkit-animation:.45s linear infinite spin;animation:.45s linear infinite spin;position:absolute;z-index:2;top:0;bottom:0;right:0;left:0;margin:auto;content:""}.t4s-product .t4s-product-btns a.is--loading,.t4s-product .t4s-product-btns2 a.is--loading{pointer-events:none}.t4s-product .t4s-product-btns a.is--loading>span,.t4s-product .t4s-product-btns2 a.is--loading>span{opacity:0;visibility:hidden}.t4s-product a.t4s-pr-wishlist.is--loading,.css_for_wis_app_true .t4s-product .t4s-pr-wishlist.is--loading{--border-cl:var(--wishlist-cl)}.t4s-product .t4s-pr-compare.is--loading{--border-cl:var(--compare-cl)}.t4s-product .t4s-pr-quickview.is--loading{--border-cl:var(--quickview-cl)}.t4s-product .t4s-pr-addtocart.is--loading{--border-cl:var(--atc-cl)}.t4s-pagination-wrapper .t4s-loadmore-btn>span{display:flex;align-items:center}.t4s-pagination-wrapper .t4s-loadmore-btn.is--loading{pointer-events:none;transition:.5s ease 0s}.t4s-pagination-wrapper .t4s-loadmore-btn.is--loading>span,.t4s-pagination-wrapper .t4s-loadmore-btn.is--loading .t4s-btn-icon{opacity:0;visibility:hidden}.t4s-pagination-wrapper .t4s-loadmore-btn .t4s-btn-icon{width:16px;height:28px;fill:currentColor}.t4s-pagination-wrapper .t4s-loadmore-btn .t4s-loadmore-icon{opacity:0;visibility:hidden;position:absolute;z-index:1;top:0;bottom:0;left:0;right:0;margin:auto;transition:.5s ease 0s;max-width:78px}.t4s-pagination-wrapper .t4s-loadmore-btn.is--loading .t4s-loadmore-icon{opacity:1;visibility:visible}body .content--loading{pointer-events:none;position:relative}body .content--loading>*{opacity:.5}body .content--loading:before{position:absolute;content:"";width:100px;height:100px;border:3px solid;border-color:var(--accent-color);border-top-color:#fff;border-radius:100%;opacity:1;-webkit-animation:.45s linear infinite spin;animation:.45s linear infinite spin;z-index:20;top:20%;right:0;left:0;margin:auto}.t4s-prs-footer.t4s-has-btn-none,.t4s-flicky-slider+.t4s-prs-footer.t4s-has-btn-load-more{display:none}</style>
{% endif %}
<!-- sections/blog-post.liquid -->
<link data-href="{{ 'section.css' | asset_url }}" rel="stylesheet" >
<link data-href="{{ 'blog.css' | asset_url }}" rel="stylesheet" >
<link data-href="{{ 'slider-settings.css' | asset_url }}" rel="stylesheet" >
<link data-href="{{ 'pre_flickityt4s.min.css' | asset_url }}" rel="stylesheet" >
<link data-href="{{ 'custom-effect.css' | asset_url }}" rel="stylesheet" >
<link data-href="{{ 'loading.css' | asset_url }}" rel="stylesheet" >
{%- liquid
  assign sid = section.id
  assign se_stts = section.settings
  assign se_blocks = section.blocks
  assign stt_layout = se_stts.layout
  assign stt_image_bg = se_stts.image_bg
  if stt_layout == 't4s-se-container' 
    assign html_layout = '<div class="t4s-container">__</div></div>' | split: '__'
  elsif stt_layout == 't4s-container-wrap'
    assign html_layout = '<div class="t4s-container">__</div>' | split: '__'
  else
    assign html_layout = '__' | split: '__'
  endif
  assign layout_des = se_stts.layout_des
  
  assign blog = blogs[se_stts.blog]
  if se_stts.btn_owl == "outline"
    assign arrow_icon = 1
  else
    assign arrow_icon = 2
  endif
  assign blog_url = blog.url
  assign limit = se_stts.limit
  assign post_des = se_stts.post_des
  assign by_txt = 'blogs.article.by' | t
  assign on_txt = 'blogs.article.on' | t
  assign readmore_txt = 'blogs.article.read_more' | t
  assign date = se_stts.date
  assign b_effect = se_stts.b_effect
  assign img_effect = se_stts.img_effect
  assign show_cate = se_stts.show_cate
  assign show_tags = se_stts.show_tags
  assign show_cnt = se_stts.show_cnt
  assign show_au = se_stts.show_au
  assign show_cm = se_stts.show_cm
  assign show_dt = se_stts.show_dt
  assign show_rm = se_stts.show_rm
  assign show_irm = se_stts.show_irm

  assign col_dk = se_stts.col_dk
  assign col_tb = se_stts.col_tb
  assign col_mb = se_stts.col_mb
  if post_des == '4'
    if col_dk != '1'
       assign col_dk = '2'
    endif
    if col_tb != '1'
       assign col_tb = '2'
    endif
  endif
  
  assign use_pagination = se_stts.use_pagination 
  assign isLoadmore = false
  if layout_des != "3"
    if use_pagination == "load-more"
      assign isLoadmore = true
      assign typeAjax = 'LmDefault'
    else
      assign typeAjax = 'AjaxDefault'
    endif
  else
     if use_pagination == "load-more"
      assign isLoadmore = true
      assign typeAjax = 'LmIsotope'
    else
      assign typeAjax = 'AjaxIsotope'
    endif
  endif
  
  assign enable_bar_lm = se_stts.enable_bar_lm 
  assign results_count = blog.articles_count

  assign t4s_se_class = 't4s_nt_se_' | append: sid
  if se_stts.use_cus_css and se_stts.code_cus_css != blank
    render 'se_cus_css', code_cus_css: se_stts.code_cus_css, t4s_se_class: t4s_se_class
  endif 
 -%} 
{%- paginate blog.articles by limit -%}
<div  data-not-main data-ntajax-options='{"id":"{{ sid }}","type":"{{ typeAjax }}","isProduct":false}' class="t4s-section-inner {{ t4s_se_class }} t4s_nt_se_{{ sid }} t4s_se_{{ sid }} {{ stt_layout }}{% if stt_image_bg != blank and stt_layout != 't4s-se-container' %} t4s-has-imgbg lazyloadt4s{% endif %}" {% if stt_image_bg != blank and stt_layout != 't4s-se-container' %} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2"{% endif %} {% render 'section_style', se_stts: se_stts -%} >
    {{- html_layout[0] -}}
    {%- if stt_layout == 't4s-se-container' -%}<div class="t4s-container-inner{% if stt_image_bg != blank %} t4s-has-imgbg lazyloadt4s{% endif %}" {% if stt_image_bg != blank %} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2"{% endif %}>{% endif -%}
    <div class="t4s-top-head{% if se_stts.design_heading == "20" %} t4s-d-flex t4s-justify-content-between t4s-align-items-end t4s-flex-wrap{%endif %}">
      {%- render 'section_tophead', se_stts: se_stts -%}
      {%- if se_stts.design_heading == "20" -%}
        {% if blog_url != blank %}
        <div class="t4s-blog-button" style="--tophead_mb:{{ se_stts.tophead_mb }}px">
          <a href="{{ blog_url }}" class="t4s-blog-button-heading">{{ se_stts.bt_lb }}</a>
        </div>		
        {% endif %}	
      {%- endif -%}
    </div>
    {% if layout_des == "1" %}
      {{ 't4s-button-style.css' | asset_url | stylesheet_tag }}
      <link href="{{ 't4s-custom-effect.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">
      <div data-contentlm-replace class="blog_grid has_post_des_{{ post_des }} t4s_{{ se_stts.image_ratio }} t4s_position_{{ se_stts.image_position }} t4s_{{ se_stts.image_size }} {{ se_stts.content_align }} t4s-row t4s-row-cols-lg-{{ col_dk }} t4s-row-cols-md-{{ col_tb }} t4s-row-cols-{{ col_mb }} t4s-gx-md-{{ se_stts.space_h_item }} t4s-gy-md-{{ se_stts.space_v_item }} t4s-gx-{{ se_stts.space_h_item_mb }} t4s-gy-{{ se_stts.space_v_item_mb }}">
    {% elsif layout_des == "2" %}
      <div class="t4s-flicky-slider blog_slider has_post_des_{{ post_des }} t4s_{{ se_stts.image_ratio }} t4s_position_{{ se_stts.image_position }} t4s_{{ se_stts.image_size }} {{ se_stts.content_align }} {% if se_stts.nav_btn %}  t4s-slider-btn-style-{{ se_stts.btn_owl }} t4s-slider-btn-{{ se_stts.btn_shape }} t4s-slider-btn-{{ se_stts.btn_size }} t4s-slider-btn-cl-{{ se_stts.btn_cl }} t4s-slider-btn-vi-{{ se_stts.btn_vi }} t4s-slider-btn-hidden-mobile-{{ se_stts.btn_hidden_mobile }} {% endif %} 
      {% if se_stts.nav_dot == true %}  t4s-dots-style-{{ se_stts.dot_owl }} t4s-dots-cl-{{ se_stts.dots_cl }} t4s-dots-round-{{ se_stts.dots_round }} t4s-dots-hidden-mobile-{{ se_stts.dots_hidden_mobile }}{% endif %} t4s-row t4s-row-cols-lg-{{ col_dk }} t4s-row-cols-md-{{ col_tb }} t4s-row-cols-{{ col_mb }}  flickityt4s" data-flickityt4s-js='{"setPrevNextButtons":true,"arrowIcon":"{{ arrow_icon }}","imagesLoaded": 0,"adaptiveHeight": 0, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": {{ se_stts.loop }},"prevNextButtons": {{ se_stts.nav_btn }},"percentPosition": 1,"pageDots": {{ se_stts.nav_dot }}, "autoPlay" : {{ se_stts.au_time | times: 1000 }}, "pauseAutoPlayOnHover" : {{ se_stts.au_hover }} }' style="--space-dots: {{ se_stts.dots_space }}px;--flickity-btn-pos: {{ se_stts.space_h_item }}px;--flickity-btn-pos-mb: {{ se_stts.space_h_item_mb }}px;">
    {% else %}
      {{ 'button-style.css' | asset_url | stylesheet_tag }}
      <link href="{{ 'custom-effect.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">
      <div data-contentlm-replace class="isotopet4s blog_masonry has_post_des_{{ post_des }} t4s_{{ se_stts.image_ratio }} t4s_position_{{ se_stts.image_position }} t4s_{{ se_stts.image_size }} {{ se_stts.content_align }} t4s-row t4s-row-cols-lg-{{ col_dk }} t4s-row-cols-md-{{ col_tb }} t4s-row-cols-{{ col_mb }} t4s-gx-md-{{ se_stts.space_h_item }} t4s-gy-md-{{ se_stts.space_v_item }} t4s-gx-{{ se_stts.space_h_item_mb }} t4s-gy-{{ se_stts.space_v_item_mb }}" data-isotopet4s-js='{ "itemSelector": ".t4s-post-item", "layoutMode": "masonry" }'>
    {% endif %}
      {%- if blog != blank -%} 
        {%- case post_des -%} 
          {%-  when '1' -%}
            {%- render 'post_loop_1' for blog.articles as post,
               , blog: blog, blog_url: blog_url, by_txt: by_txt, on_txt: on_txt, b_effect: b_effect, img_effect: img_effect, show_dt: show_dt, show_au: show_au, show_cm: show_cm, show_cate: show_cate, show_tags: show_tags, show_cnt: show_cnt, show_rm: show_rm, show_irm: show_irm, date: date, readmore_txt: readmore_txt -%}
          {%-  when '2' -%}
            {%- render 'post_loop_2' for blog.articles as post,
               , blog: blog, blog_url: blog_url, by_txt: by_txt, on_txt: on_txt, b_effect: b_effect, img_effect: img_effect, show_dt: show_dt, show_au: show_au, show_cm: show_cm, show_cate: show_cate, show_tags: show_tags, show_cnt: show_cnt, show_rm: show_rm, show_irm: show_irm, date: date, readmore_txt: readmore_txt -%}
          {%-  when '3' -%}
            {%- render 'post_loop_3' for blog.articles as post,
               , blog: blog, blog_url: blog_url, by_txt: by_txt, on_txt: on_txt, b_effect: b_effect, img_effect: img_effect, show_dt: show_dt, show_au: show_au, show_cm: show_cm, show_cate: show_cate, show_tags: show_tags, show_cnt: show_cnt, show_rm: show_rm, show_irm: show_irm, date: date, readmore_txt: readmore_txt -%}
          {%-  when '4' -%}
            {%- render 'post_loop_4' for blog.articles as post,
               , blog: blog, blog_url: blog_url, by_txt: by_txt, on_txt: on_txt, b_effect: b_effect, img_effect: img_effect, show_dt: show_dt, show_au: show_au, show_cm: show_cm, show_cate: show_cate, show_tags: show_tags, show_cnt: show_cnt, show_rm: show_rm, show_irm: show_irm, date: date, readmore_txt: readmore_txt -%}
          {%-  when '5' -%}
            {%- render 'post_loop_5' for blog.articles as post,
               , blog: blog, blog_url: blog_url, by_txt: by_txt, on_txt: on_txt, b_effect: b_effect, img_effect: img_effect, show_dt: show_dt, show_au: show_au, show_cm: show_cm, show_cate: show_cate, show_tags: show_tags, show_cnt: show_cnt, show_rm: show_rm, show_irm: show_irm, date: date, readmore_txt: readmore_txt -%}
          {%-  when '6' -%}
            {%- render 'post_loop_6' for blog.articles as post,
               , blog: blog, blog_url: blog_url, by_txt: by_txt, on_txt: on_txt, b_effect: b_effect, img_effect: img_effect, show_dt: show_dt, show_au: show_au, show_cm: show_cm, show_cate: show_cate, show_tags: show_tags, show_cnt: show_cnt, show_rm: show_rm, show_irm: show_irm, date: date, readmore_txt: readmore_txt -%}
        {%- endcase -%}
      {%- else -%}
        {%- for i in (1..8) limit: limit -%}
          <article class="t4s-col-item post t4s-post-item t4s-post-des-{{ post_des }}">
            <div class="t4s-post-inner">
              <a class="t4s-post-thumb t4s-eff t4s-eff-{{ b_effect }} t4s-eff-img-{{ img_effect }} t4s-d-block" href="/admin/blogs" data-cacl-slide >
                {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                <div class="t4s_ratio" style="--aspect-ratioapt: {{ image.aspect_ratio | default: 2 }}">
                  {{ 'lifestyle-' | append: current | placeholder_svg_tag: 't4s-placeholder-svg t4s-obj-eff' }}  
                </div>
              </a>
              <div class="t4s-post-info">
                <div class="t4s-post-info-inner">
                 <h4 class="t4s-post-title"><a class="" href="/admin/blogs">{{ 'onboarding.blog_title' | t }}</a></h4>
                 <div class="t4s-post-metas">
                    {% if show_au %}
                      <span class="t4s-post-author"><span class="t4s-post-author__text t4s-dib">{{ by_txt }}</span>
                        <span class="t4s-author-name">{{ 'onboarding.blog_author' | t }}</span>
                      </span>
                    {% endif %}
                    {% if show_dt %}
                      <span class="t4s-post-time"> <span class="t4s-post-time__text t4s-dib">{{ on_txt }}</span>  <span> <time class="entry-date published updated">April 29, 2022</time></span></span>
                    {% endif %}
                    {% if show_cm %}
                      <span class="t4s-post-comment"> {{ 'blogs.comments.with_count' | t: count: 19 }}</span>
                    {% endif %}
                 </div>
              </div>
              {% if show_cnt %}
                <div class="t4s-post-content t4s-rte">{{ 'onboarding.blog_excerpt' | t }}</div>
              {% endif %}
              {% if show_rm %}
                {%- if show_rm %}<a href="/admin/blogs" class="t4s-post-readmore">{{ 'blogs.article.read_more' | t }}</a>{% endif -%}
              {% endif %}
               </div>
            </div>
          </article>
        {%- endfor -%}
      {%- endif -%}
    </div>
    {%- if paginate.pages > 1 -%}
      <div class="t4s-blog-footer t4s-has-btn-{{ use_pagination }} {{ se_stts.btn_pos }}">
        {%- if isLoadmore -%} 
            {%- if paginate.next.is_link -%}
              <div data-wrap-lm class="t4s-pagination-wrapper t4s-w-100">
               {%- if enable_bar_lm -%}
                  <div data-wrap-lm-bar class="t4s-lm-bar t4s-btn-color-{{ se_stts.btns_cl }}">
                    {%- assign current_pr_size = blog.articles.size | plus: paginate.current_offset -%}
                    <span class="t4s-lm-bar--txt">{{ 'blogs.pagination.bar_with_count_html' | t: current_count: current_pr_size, total_count: results_count }}</span>
                    <div class="t4s-lm-bar--progress t4s-pr t4s-oh"><span class="t4s-lm-bar--current t4s-pa t4s-l-0 t4s-r-0 t4s-t-0 t4s-b-0" style="width: {{ current_pr_size | times: 100.0 | divided_by: results_count }}%"></span></div>
                  </div>
               {%- endif -%}
                <a data-load-more href="{{ paginate.next.url }}" class="t4s-pr t4s-loadmore-btn t4s-btn-loading__svg t4s-btn t4s-btn-base t4s-btn-style-{{ se_stts.button_style }} t4s-btn-size-{{ se_stts.btns_size }} t4s-btn-icon-{{ se_stts.btn_icon }} t4s-btn-color-{{ se_stts.btns_cl }} {% if se_stts.button_style == 'default' or se_stts.button_style == 'outline' %}t4s-btn-effect-{{ se_stts.button_effect }}{% endif %}">
                  <span class="t4s-btn-atc_text">{{ 'blogs.pagination.load_more' | t }}</span> 
                  {% if se_stts.btn_icon %}
                    <svg class="t4s-btn-icon" viewBox="0 0 32 32"><path d="M 15 4 L 15 24.0625 L 8.21875 17.28125 L 6.78125 18.71875 L 15.28125 27.21875 L 16 27.90625 L 16.71875 27.21875 L 25.21875 18.71875 L 23.78125 17.28125 L 17 24.0625 L 17 4 Z"/></svg>
                  {% endif %}
                  <div class="t4s-loading__spinner t4s-dn">
                    <svg  width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="t4s-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="t4s-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                  </div> 
                </a>
              </div>
            {%- endif -%}
        {%- else -%}
          <a class="t4s-btn t4s-btn-base t4s-viewall-btn t4s-btn-base t4s-btn-style-{{ se_stts.button_style }} t4s-btn-size-{{ se_stts.btns_size }} t4s-btn-icon-{{ se_stts.btn_icon }} t4s-btn-color-{{ se_stts.btns_cl }} {% if se_stts.button_style == 'default' or se_stts.button_style == 'outline' %}t4s-btn-effect-{{ se_stts.button_effect }} {% endif %}" href="{{ blog_url }}">{{ 'blogs.pagination.view_all' | t }}{%- if se_stts.btn_icon -%} <svg class="t4s-btn-icon" viewBox="0 0 14 10"><use xlink:href="#t4s-icon-btn"></use></svg>{%- endif -%}</a>
         {%- endif -%} 
      </div>
    {%- endif -%} 
    {{- html_layout[1] -}}
  </div>
{%- endpaginate -%}

{%- schema -%}
  {
    "name": "Blog post",
    "tag": "section",
    "class": "t4s-section t4s_bk_flickity t4s-section-all t4s_tp_cdt t4s-blog-post t4s_tp_istope",
    "settings": [
      {
          "type": "header",
          "content": "1. Heading options"
      },
      {
          "type": "select",
          "id": "design_heading",
          "label": "+ Design heading",
          "default": "1",
          "options": [
              {
                  "value": "1",
                  "label": "Design 01"
              },
              {
                  "value": "2",
                  "label": "Design 02"
              },
              {
                  "value": "3",
                  "label": "Design 03"
              },
              {
                  "value": "4",
                  "label": "Design 04"
              },
              {
                  "value": "5",
                  "label": "Design 05"
              },
              {
                  "value": "6",
                  "label": "Design 06 (width line-awesome)"
              },
              {
                  "value": "7",
                  "label": "Design 07"
              },
              {
                  "value": "8",
                  "label": "Design 08"
              },
              {
                  "value": "9",
                  "label": "Design 09"
              },
              {
                  "value": "10",
                  "label": "Design 10"
              },
              {
                  "value": "11",
                  "label": "Design 11"
              },
              {
                  "value": "12",
                  "label": "Design 12"
              },
              {
                  "value": "13",
                  "label": "Design 13"
              },
              {
                  "value": "14",
                  "label": "Design 14"
              },
              {
                  "value": "20",
                  "label": "Design button heading"
              }
          ]
      },
      {
          "type": "select",
          "id": "heading_align",
          "label": "+ Heading align",
          "default": "t4s-text-center",
          "options": [
              {
                  "value": "t4s-text-start",
                  "label": "Left"
              },
              {
                  "value": "t4s-text-center",
                  "label": "Center"
              },
              {
                  "value": "t4s-text-end",
                  "label": "Right"
              }
          ]
      },
      {
          "type": "text",
          "id": "top_heading",
          "label": "+ Heading",
          "default": "Blog post"
      },
      {
          "type": "text",
          "id": "bt_lb",
          "label": "+ Button label",
          "info":"Only used for design 15",
          "default": "Button label"
      },
      {
        "type": "text",
        "id": "icon_heading",
        "label": "Enter a icon name on heading",
        "info": "Only used for design 6 [LineAwesome](https://kalles.the4.co/font-lineawesome/)",
        "default": "las la-gem"
      },
      {
          "type": "textarea",
          "id": "top_subheading",
          "label": "+ Subheading"
      }, 
      {
        "type": "number",
        "id": "tophead_mb",
        "label": "+ Space bottom (px)",
        "info": "The vertical spacing between heading and content",
        "default": 30
      },
      {
        "type": "header",
        "content": "2. General options"
      },
      {
          "id": "blog",
          "type": "blog",
          "label": "Blog post"
      },
      {
        "type": "select",
        "id": "post_des",
        "options": [
          {
            "value": "1",
            "label": "Design 1"
          },
          {
            "value": "2",
            "label": "Design 2"
          },
          {
            "value": "3",
            "label": "Design 3"
          },
          {
            "value": "4",
            "label": "Design 4 (Always show <= 2 items per row)"
          },
          {
            "value": "5",
            "label": "Design 5"
          },
          {
            "value": "6",
            "label": "Design 6"
          }
        ],
        "label": "Post item design",
        "default": "1"
      },
      {
        "type": "checkbox",
        "id": "show_cate",
        "label": "Show categories",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "Show tags",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_cnt",
        "label": "Show short content",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_au",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_dt",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_cm",
        "label": "Show comment",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_rm",
        "label": "Show readmore",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_irm",
        "label": "Show icon readmore",
        "default": false
      },
      {
        "type": "select",
        "id": "date",
        "options": [
          {
            "value": "abbreviated_date",
            "label": "Apr 19, 1994"
          },
          {
            "value": "basic",
            "label": "4/19/1994"
          },
          {
            "value": "date",
            "label": "April 19, 1994"
          },
          {
            "value": "%b %d",
            "label": "Apr 19"
          }
        ],
        "label": "Date format",
        "info":"different format options display for various languages.",
        "default": "date"
      },
      {
        "type": "select",
        "id": "content_align",
        "label": "Content align",
        "default": "t4s-text-start",
        "options": [
          {
            "value": "t4s-text-start",
            "label": "Default"
          },
          {
            "value": "t4s-text-center",
            "label": "Center"
          }
        ]
      },
      {
        "type": "range",
        "id": "limit",
        "min": 1,
        "max": 50,
        "step": 1,
        "label": "Maximum posts to show",
        "default": 8 
      },
      {
        "type": "select",
        "id": "img_effect",
        "label": "Image hover effect",
            "info": "Waring: Hovering effect will resize your images",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "zoom",
            "label": "Zoom in"
          },
          {
            "value": "rotate",
            "label": "Rotate"
          },
          {
            "value": "translateToTop",
            "label": "Move to top "
          },
          {
            "value": "translateToRight",
            "label": "Move to right"
          },
          {
            "value": "translateToBottom",
            "label": "Move to bottom"
          },
          {
            "value": "translateToLeft",
            "label": "Move to left"
          }
        ]
      },
      {
        "type": "select",
        "id": "b_effect",
        "label": "Blog effect when hover",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "border-run",
            "label": "Border run"
          },
          {
            "value": "pervasive-circle",
            "label": "Pervasive circle"
          },
          {
            "value": "plus-zoom-overlay",
            "label": "Plus zoom overlay"
          },
          {
            "value": "dark-overlay",
            "label": "Dark overlay"
          },
          {
            "value": "light-overlay",
            "label": "Light overlay"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image ratio",
        "default": "ratioadapt",
        "info": "Aspect ratio custom will settings in general panel",
        "options": [
          {
            "group": "Natural",
            "value": "ratioadapt",
            "label": "Adapt to image"
          },
          {
            "group": "Landscape",
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "group": "Landscape",
            "value": "ratio16_9",
            "label": "16:9"
          },
          {
            "group": "Landscape",
            "value": "ratio8_5",
            "label": "8:5"
          },
          {
            "group": "Landscape",
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "group": "Landscape",
            "value": "ratio4_3",
            "label": "4:3"
          },
          {
            "group": "Landscape",
            "value": "rationt",
            "label": "Ratio ASOS"
          },
          {
            "group": "Squared",
            "value": "ratio1_1",
            "label": "1:1"
          },
          {
            "group": "Portrait",
            "value": "ratio2_3",
            "label": "2:3"
          },
          {
            "group": "Portrait",
            "value": "ratio1_2",
            "label": "1:2"
          },
          {
            "group": "Custom",
            "value": "ratiocus1",
            "label": "Ratio custom 1"
          },
          {
            "group": "Custom",
            "value": "ratiocus2",
            "label": "Ratio custom 2"
          },
          {
            "group": "Custom",
            "value": "ratio_us3",
            "label": "Ratio custom 3"
          },
          {
            "group": "Custom",
            "value": "ratiocus4",
            "label": "Ratio custom 4"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "default": "cover",
        "info": "This settings apply only if the image ratio is not set to 'Adapt to image'.",
        "options": [
          {
            "value": "cover",
            "label": "Full"
          },
          {
            "value": "contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position",
        "info": "The first value is the horizontal position and the second value is the vertical. This settings apply only if the image ratio is not set to 'Adapt to image'.",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "1",
            "label": "Left top"
          },
          {
            "value": "2",
            "label": "Left center"
          },
          {
            "value": "3",
            "label": "Left bottom"
          },
          {
            "value": "4",
            "label": "Right top"
          },
          {
            "value": "5",
            "label": "Right center"
          },
          {
            "value": "6",
            "label": "Right bottom"
          },
          {
            "value": "7",
            "label": "Center top"
          },
          {
            "value": "8",
            "label": "Center center"
          },
          {
            "value": "9",
            "label": "Center bottom"
          }
        ],
        "label": "Image position",
        "default": "8"
      },
      {
        "type": "select",
        "id": "col_dk",
        "label": "Items per row",
        "default": "3",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_tb",
        "label": "Items per row (Tablet)",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_mb",
        "label": "Items per row (Mobile)",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ]
      },
      {
        "type": "select",
        "id": "space_h_item",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space horizontal items",
        "default": "30"
      },
      {
        "type": "select",
        "id": "space_v_item",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space vertical items",
        "default": "30"
      },
      {
        "type": "select",
        "id": "space_h_item_mb",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space horizontal items (Mobile)",
        "default": "10"
      },
      {
        "type": "select",
        "id": "space_v_item_mb",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space vertical items (Mobile)",
        "default": "10"
      },
      {
        "type": "header",
        "content": "--Box options--"
      },
      {
        "type": "select",
        "id": "layout_des",
        "options": [
          {
            "value": "1",
            "label": "Grid"
          },
          {
            "value": "2",
            "label": "Carousel"
          },
          {
            "value": "3",
            "label": "Masonry"
          }
        ],
        "label": "Layout design",
        "default": "2"
      },
      {
        "type": "header",
        "content": "+Options for carousel layout"
      },
      {
        "type": "checkbox",
        "id": "loop",
        "label": "Enable loop",
        "info": "At the end of cells, wrap-around to the other end for infinite scrolling",
        "default": true
      },
      {
        "type": "range",
        "id": "au_time",
        "min": 0,
        "max": 30,
        "step": 0.5,
        "label": "Autoplay speed in second.",
        "info": "Set is '0' to disable autoplay",
        "unit": "s",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "au_hover",
        "label": "Pause autoplay on hover",
        "info": "Auto-playing will pause when the user hovers over the carousel",
        "default": true
      },
      {
        "type": "paragraph",
        "content": ""
      },
      {
        "type": "paragraph",
        "content": "Prev next button"
      },
      {
        "type": "checkbox",
        "id": "nav_btn",
        "label": "Use prev next button",
        "info": "Creates and show previous & next buttons",
        "default": false
      },
      {
        "type": "select",
        "id": "btn_vi",
        "label": "Visible",
        "default": "hover",
        "options": [
          {
            "value": "always",
            "label": "Always"
          },
          {
            "value": "hover",
            "label": "Only hover"
          }
        ]
      },
      {
        "type": "select",
        "id": "btn_owl",
        "label": "Button style",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "outline",
            "label": "Outline"
          },
          {
            "value": "simple",
            "label": "Simple"
          }
        ]
      },
      {
        "type": "select",
        "id": "btn_shape",
        "label": "Button shape",
        "info": "Not working with button style 'Simple'",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "Default"
          },
          {
            "value": "round",
            "label": "Round"
          },
          {
            "value": "rotate",
            "label": "Rotate"
          }
        ]
      },
      {
          "type": "select",
          "id": "btn_cl",
          "label": "Button color",
          "default": "dark",
          "options": [
              {
                  "value": "light",
                  "label": "Light"
              },
              {
                  "value": "dark",
                  "label": "Dark"
              },
              {
                  "value": "primary",
                  "label": "Primary"
              },
              {
                  "value": "custom1",
                  "label": "Custom color 1"
              },
              {
                  "value": "custom2",
                  "label": "Custom color 2"
              }
          ]
      },
      {
        "type": "select",
        "id": "btn_size",
        "label": "Button size",
        "default": "small",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
      {
        "type":"checkbox",
        "id":"btn_hidden_mobile",
        "label":"Hidden buttons on mobile ",
        "default": true
      },
      {
        "type": "paragraph",
        "content": ""
      },
      {
        "type": "paragraph",
        "content": "Page dots"
      },
      {
        "type": "checkbox",
        "id": "nav_dot",
        "label": "Use page dots",
        "info": "Creates and show page dots",
        "default": false
      },
      {
        "type": "select",
        "id": "dot_owl",
        "label": "Dots style",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "outline",
            "label": "Outline"
          },
          {
            "value": "elessi",
            "label": "Elessi"
          }
        ]
      },
      {
        "type": "select",
        "id": "dots_cl",
        "label": "Dots color",
        "default": "dark",
        "options": [
          {
              "value": "light",
              "label": "Light (Best on dark background)"
          },
          {
              "value": "dark",
              "label": "Dark"
          },
          {
              "value": "primary",
              "label": "Primary"
          },
          {
              "value": "custom1",
              "label": "Custom color 1"
          },
          {
              "value": "custom2",
              "label": "Custom color 2"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "dots_round",
        "label": "Enable dots round",
        "default": true
      },
      {
        "type": "range",
        "id": "dots_space",
        "min": 2,
        "max": 20,
        "step": 1,
        "label": "Dot between horizontal",
        "unit": "px",
        "default": 10
      },
      {
        "type":"checkbox",
        "id":"dots_hidden_mobile",
        "label":"Hidden dots on mobile ",
        "default": false
      },
      {
        "type": "header",
        "content": "+Options for grid or masonry layout"
      },
      {
        "type": "select",
        "id": "use_pagination",
        "label": "Pagination",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "load-more",
            "label": "'Load more' button"
          },
          {
            "value": "view-all",
            "label": "'View all' button"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_bar_lm",
        "label": "Enable progress bar",
        "info": "Only active when you use 'Load more' or 'Infinit scrolling'",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "Page-loading speed is everything for good user experience. Multiple researches have shown that slow load times result in people leaving your site or delete your app which result in low conversion rates. And thats bad news for those who use an infinite-scrolling. The more users scroll down a page, more content has to load on the same page. As a result, the page performance will increasingly slow down."
      },
      {
        "type": "paragraph",
        "content": "Another problem is limited resources of the users device. On many infinite scrolling sites, especially those with many images, devices with limited resources (such as mobile devices or tablets with dated hardware) can start slowing down because of the sheer number of assets it has loaded."
      },
      {
        "type": "paragraph",
        "content": "Therefore, we recommend that you only use 'Load more', 'Infinite scrolling' for when your collection is less than or equal to 400 products"
      },
      {
        "type":"checkbox",
        "id":"btn_icon",
        "label":"Enable button icon",
        "default":false
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "options": [
            {
                "label": "Default",
                "value": "default"
            },
            {
                "label": "Outline",
                "value": "outline"
            },
            {
                "label": "Bordered bottom",
                "value": "bordered"
            },
            {
                "label": "Link",
                "value": "link"
            }
        ]
      },
      {
        "type": "select",
        "id": "btns_size",
        "label": "Button size",
        "default":"large",
        "options": [
            {
                "label": "Extra small",
                "value": "small"
            },
            {
                "label": "Small",
                "value": "extra-small"
            },
            {
                "label": "Medium",
                "value": "medium"
            },
            {
                "label": "Large",
                "value": "extra-medium"
            },
            {
                "label": "Extra large",
                "value": "large"
            },
            {
                "label": "Extra extra large",
                "value": "extra-large"
            }
        ]
      },
      {
        "type": "select",
        "id": "btns_cl",
        "label": "Button color",
        "default": "dark",
        "options": [
          {
              "value": "light",
              "label": "Light"
          },
          {
              "value": "dark",
              "label": "Dark"
          },
          {
              "value": "primary",
              "label": "Primary"
          },
          {
              "value": "custom1",
              "label": "Custom color 1"
          },
          {
              "value": "custom2",
              "label": "Custom color 2"
          }
        ]
      },
       {
          "type":"select",
          "id":"button_effect",
          "label":"Button hover effect",
          "default":"default",
          "info":"Only working button style default, outline",
          "options":[
              {
                  "label":"Default",
                  "value":"default"
              },
              {
                  "label":"Fade",
                  "value":"fade"
              },
              {
                  "label":"Rectangle out",
                  "value":"rectangle-out"
              },
              {
                  "label":"Sweep to right",
                  "value":"sweep-to-right"
              },
              {
                  "label":"Sweep to left",
                  "value":"sweep-to-left"
              },
              {
                  "label":"Sweep to bottom",
                  "value":"sweep-to-bottom"
              },
              {
                  "label":"Sweep to top",
                  "value":"sweep-to-top"
              },
              {
                  "label":"Shutter out horizontal",
                  "value":"shutter-out-horizontal"
              },
              {
                  "label":"Outline",
                  "value":"outline"
              },
              {
                  "label":"Shadow",
                  "value":"shadow"
              }
          ]
      },
      {
        "type": "select",
        "id": "btn_pos",
        "label": "Button position",
        "default": "t4s-text-center",
        "options": [
          {
            "value": "t4s-text-start",
            "label": "Left"
          },
          {
            "value": "t4s-text-center",
            "label": "Center"
          },
          {
            "value": "t4s-text-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "3. Design options"
      },
      {
        "type": "select","id": "layout","default": "t4s-container-wrap","label": "Layout",
        "options": [
            { "value": "t4s-se-container", "label": "Container"},
            { "value": "t4s-container-wrap", "label": "Wrapped container"},
            { "value": "t4s-container-fluid", "label": "Full width"}
        ]
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background"
      },
      {
        "type": "color_background",
        "id": "cl_bg_gradient",
        "label": "Background gradient"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Background image"
      },
      { 
          "type": "text",
          "id": "mg",
          "label": "Margin",
          "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
          "default": ",,50px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd",
          "label": "Padding",
          "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
          "placeholder": "50px,,50px,"
      },
      {
        "type": "header",
        "content": "+ Design Tablet Options"
      },
      {
        "type": "text",
        "id": "mg_tb",
        "label": "Margin",
        "placeholder": ",,50px,"
      },
      {
        "type": "text",
        "id": "pd_tb",
        "label": "Padding",
        "placeholder": ",,50px,"
      }, 
      {
        "type": "header",
        "content": "+ Design mobile options"
      },
      {
          "type": "text",
          "id": "mg_mb",
          "label": "Margin",
          "default": ",,30px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd_mb",
          "label": "Padding",
          "placeholder": ",,50px,"
      },
      {
        "type": "header",
        "content": "4. Custom css"
      },
      {
        "id": "use_cus_css",
        "type": "checkbox",
        "label": "Use custom css",
        "default":false,
        "info": "If you want custom style for this section."
      },
      { 
        "id": "code_cus_css",
        "type": "textarea",
        "label": "Code custom css",
        "info": "Use selector .SectionID to style css"
        
      }
    ],
    "presets": [
      {
        "name": "Blog post",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}