<!-- sections/collections-list.liquid -->
{% if template contains 'index' or template contains 'collection' or template contains 'product' %}
    
{% else %}
    <style>.t4s-section-inner,.t4s-section-inner.t4s-se-container .t4s-container-inner{padding-top:var(--pd-top);padding-inline-end:var(--pd-right);padding-bottom:var(--pd-bottom);padding-inline-start:var(--pd-left)}.t4s-collection-item .t4s-source-icon .t4s-coll-img,.t4s-custom-line{display:inline-block;vertical-align:top}.t4s-flicky-slider.t4s-slider-btn-cl-dark,.t4s-flicky-slider.t4s-slider-btn-cl-default{--slider-btn-color:var(--t4s-light-color);--slider-btn-background:var(--t4s-dark-color);--slider-btn-border:var(--t4s-dark-color);--slider-btn-color-hover:var(--t4s-light-color)}.t4s-section-inner{margin-top:var(--mg-top);margin-inline-end:var(--mg-right);margin-bottom:var(--mg-bottom);margin-inline-start:var(--mg-left)}.t4s-container>.t4s-container-inner,.t4s-section-inner:not(.t4s-se-container){background:var(--bg-gradient);background-color:var(--bg-color)}.t4s-container-inner.t4s-has-imgbg,.t4s-section-inner.t4s-has-imgbg{background-repeat:no-repeat;background-position:center;background-size:cover}.t4s-container-fluid{width:calc(100% - var(--mg-left,0) - var(--mg-right,0));width:-webkit-calc(100% - var(--mg-left,0) - var(--mg-right,0))}.t4s-section-inner.t4s-se-container{padding-top:0;padding-inline-end:0;padding-bottom:0;padding-inline-start:0}.t4s-custom-line{width:var(--width);border-width:var(--height);border-style:var(--line-style);border-color:var(--line-cl);border-top:none;border-right:none;border-left:none}@media (max-width:1024px){.t4s-container-fluid{width:calc(100% - var(--mgtb-left,0) - var(--mgtb-right,0));width:-webkit-calc(100% - var(--mgtb-left,0) - var(--mgtb-right,0))}.t4s-section-inner,.t4s-section-inner.t4s-se-container .t4s-container-inner{margin-top:var(--mgtb-top);margin-inline-end:var(--mgtb-right);margin-bottom:var(--mgtb-bottom);margin-inline-start:var(--mgtb-left);padding-top:var(--pdtb-top);padding-inline-end:var(--pdtb-right);padding-bottom:var(--pdtb-bottom);padding-inline-start:var(--pdtb-left)}}.t4s-collection-item{margin-bottom:var(--mgb);--color:var(--title-cl-second);--bg-color:var(--title-cl-pri);--color-hover:var(--title-cl-second-hover);--bg-color-hover:var(--title-cl-pri-hover)}.t4s-collection-item .t4s-eff-border-run:after,.t4s-collection-item .t4s-eff-border-run:before,.t4s-collection-item .t4s_ratio>img,.t4s-collection-item .t4s_ratio>svg,.t4s-collection-item:not(.t4s-coll-style-5):not(.t4s-coll-style-7):not(.t4s-coll-style-11):not(.t4s-coll-style-12):not(.t4s-coll-style-14) .t4s-cat-content{border-radius:var(--item-rd)}.t4s-collection-item .t4s_ratio{--aspect-ratioapt:4/3;border-radius:var(--item-rd);overflow:hidden}.t4s-collection-item .t4s-source-icon .t4s-coll-icon{min-width:86px;min-height:86px;display:inline-flex;justify-content:center;align-items:center;font-size:40px;color:var(--border-cl)}.t4s-collection-item .t4s-source-icon .t4s-obj-eff{transition:.5s}.t4s-collection-item .t4s-cat-subtitle span.t4s-text{margin:0 3px}.t4s-collection-item .t4s-cate-wrapper{position:absolute;z-index:3;left:50%;min-width:150px;height:44px;padding:0;text-align:center;-webkit-transform:translateX(-50%);transform:translate(-50%);display:flex;flex-direction:column;justify-content:center;align-items:center;bottom:var(--space-bottom)}.t4s-collection-border-true .t4s-collection-item .t4s-cate-wrapper{bottom:calc(var(--space-bottom) + 1px)}.t4s-coll-style-1 .t4s-cate-wrapper{box-shadow:1px 1px #0000001a}.t4s-collection-item .t4s-cat-subtitle,.t4s-collection-item .t4s-cat-title{min-height:24px;line-height:1;display:flex;justify-content:center;align-items:center;transition:.5s;font-size:14px;font-weight:600}.t4s-collection-item .t4s-cat-title{position:relative;z-index:2;color:var(--color);background-color:var(--bg-color)}.t4s-collection-item .t4s-cat-subtitle{color:var(--subtitle-cl);display:none}.t4s-coll-style-1 .t4s-cat-title,.t4s-coll-style-4 .t4s-cat-subtitle,.t4s-coll-style-4 .t4s-cat-title,.t4s-coll-style-6 .t4s-cat-title,.t4s-coll-style-9 .t4s-cat-title{width:100%;height:100%;padding:5px 20px;display:inline-flex;justify-content:center;align-items:center}.t4s-coll-style-2 .t4s-cate-wrapper,.t4s-coll-style-3 .t4s-cate-wrapper{position:absolute;text-align:center;top:50%;left:15px;right:15px;bottom:auto!important;transform:translateY(-50%);text-shadow:0 0 4px rgb(0,0,0,.4);-webkit-hyphens:auto;hyphens:auto;z-index:10;transition:.3s;box-shadow:none;min-height:1px;height:auto;display:block}.t4s-coll-style-2 .t4s-cat-title{width:auto;display:inline-flex;vertical-align:top;padding:0}.t4s-coll-style-3 .t4s-cat-title{transform:translateY(-15px);font-size:23px;display:flex}.t4s-coll-style-3 .t4s-cat-subtitle{opacity:0;visibility:hidden;transform:translateY(15px);position:absolute;z-index:1;display:inline-block;vertical-align:top;left:0;right:0;font-weight:400}.t4s-coll-style-4 .t4s-cat-subtitle{opacity:0;visibility:hidden;transform:translateY(0);position:absolute;z-index:3;left:0;right:0;top:0;bottom:0;height:100%;margin:auto;color:var(--subtitle-cl2);background-color:var(--subtitle-cl)}.t4s-coll-style-5 .t4s-cate-wrapper{position:static;bottom:0;left:0;right:0;display:block;box-shadow:none;transform:translate(0);padding:var(--space-bottom) 0 0;height:auto}.t4s-coll-style-5 .t4s-cat-title{font-size:18px;font-weight:500;font-family:var(--font-heading-family)}.t4s-coll-style-5 .t4s-cat-subtitle{display:flex;font-weight:400;font-family:var(--font-family-2)}.t4s-coll-style-7 .t4s-cate-wrapper{position:static;bottom:0;left:0;right:0;display:block;box-shadow:none;transform:translate(0)}.t4s-collection-border-true .t4s-coll-style-7 .t4s-cate-wrapper{margin-top:-1px;border:solid 1px var(--border-cl)}.t4s-coll-style-7 .t4s-cat-title{height:100%}.flickityt4s-button,.flickityt4s-page-dots,.flickityt4s-page-dots .dot.is-selected:first-child:last-child,.t4s-coll-style-8 .t4s-cate-wrapper,.t4s-collection-item:not(.t4s-coll-style-12) .t4s-cat-title .t4s-count,.t4s-dots-style-number .flickityt4s-page-dots:not(.t4s-dots-list){display:none}.t4s-coll-style-9 .t4s-cate-wrapper{width:calc(100% - 30px);left:15px;right:15px;transform:none}.t4s-coll-style-9 .t4s-cat-title{font-size:17px}.t4s-coll-style-10 span.t4s-count{margin-right:5px}.t4s-coll-style-10 .t4s-cate-wrapper{width:100%;left:0;right:0;transform:none;flex-direction:column;font-weight:400;box-shadow:0 0;padding:10px;background-color:var(--bg-color);height:auto;min-height:44px}.t4s-collection-border-true .t4s-coll-style-10 .t4s-cate-wrapper{width:calc(100% - 2px);left:1px;right:1px}.t4s-coll-style-10 .t4s-cat-title{font-size:18px;font-weight:500;color:var(--color);width:100%;background-color:transparent}.t4s-coll-style-10 .t4s-coll-img{padding-bottom:30px}.t4s-coll-style-10 .t4s-cat-subtitle{font-weight:400;width:100%;display:flex}.t4s-coll-style-11 .t4s-cate-wrapper,.t4s-coll-style-12 .t4s-cate-wrapper,.t4s-coll-style-14 .t4s-cate-wrapper{position:static;-webkit-transform:none;transform:none;min-width:1px;box-shadow:none;padding:0;min-height:1px;height:auto;font-weight:400;padding:var(--space-bottom) 0 0}.t4s-collection-border-true .t4s-coll-style-11 .t4s-img-wrap{border-width:1.5px}.t4s-coll-style-11 .t4s-cat-title,.t4s-coll-style-12 .t4s-cat-title{line-height:21px}.t4s-coll-style-13 .t4s-cate-wrapper{height:25px;min-width:90px}.t4s-coll-style-13 .t4s-cat-title{font-size:12px;line-height:18px;height:100%;width:100%;padding:0 20px}.t4s-collection-item.t4s-coll-style-14{margin-bottom:0}.t4s-collection-item.t4s-coll-style-14 .t4s-cat-title{font-weight:500;font-size:18px;margin-top:-5px;display:block;line-height:24px}.t4s-collection-item.t4s-coll-style-14 .t4s-cat-title .t4s-count{display:inline-block!important;background-color:transparent;color:var(--count-cl-pri);vertical-align:middle;position:static;font-weight:400;font-size:18px;padding:0}.t4s-coll-style-11,.t4s-coll-style-12,.t4s-coll-style-14,.t4s-coll-style-2,.t4s-coll-style-3,.t4s-coll-style-5{--color:var(--title-cl-pri);--bg-color:tranparent;--color-hover:var(--title-cl-pri-hover);--bg-color-hover:tranparent}a.t4s-loadpreview{margin-bottom:50px}.t4s-coll-style-15 .t4s-cate-wrapper{height:auto;min-width:1px}.t4s-coll-style-15 .t4s-cat-title{font-weight:500;font-size:14px;line-height:22px;min-height:1px;color:var(--title-cl-pri);background-color:transparent}.t4s-coll-style-15:hover{--border-cl:var(--title-cl-pri-hover)}.t4s-coll-style-15:hover .t4s-cat-content{background-color:var(--title-cl-pri-hover)}.t4s-coll-style-15 .t4s-cat-title:hover,.t4s-coll-style-15:hover .t4s-cat-title,.t4s-coll-style-15:hover .t4s-cat-title:hover{color:var(--title-cl-second-hover)}.t4s-coll-style-15:hover .t4s-coll-img{filter:brightness(2)}@media (max-width:1199px) and (min-width:1025px){.t4s-coll-layout-2.has-3-item .coll-item-1 .t4s_ratio,.t4s-coll-layout-3.has-3-item .coll-item-3 .t4s_ratio{--aspect-ratioapt:570/635!important}.t4s-coll-layout-4.has-3-item .coll-item-2 .t4s_ratio,.t4s-coll-layout-4.has-3-item .coll-item-3 .t4s_ratio,.t4s-coll-layout-4.has-4-item .coll-item-4 .t4s_ratio,.t4s-coll-layout-5.has-3-item .coll-item-1 .t4s_ratio,.t4s-coll-layout-5.has-3-item .coll-item-3 .t4s_ratio,.t4s-coll-layout-6.has-3-item .coll-item-1 .t4s_ratio,.t4s-coll-layout-6.has-3-item .coll-item-2 .t4s_ratio{--aspect-ratioapt:270/636!important}.t4s-coll-layout-3.has-4-item .coll-item-1 .t4s_ratio{--aspect-ratioapt:570/633!important}.t4s-coll-layout-5.has-4-item .coll-item-4 .t4s_ratio{--aspect-ratioapt:570/670!important}.t4s-coll-layout-6.has-4-item .coll-item-1 .t4s_ratio,.t4s-coll-layout-6.has-4-item .coll-item-4 .t4s_ratio{--aspect-ratioapt:400/640!important}.t4s-coll-layout-1.has-5-item .coll-item-4 .t4s_ratio,.t4s-coll-layout-1.has-5-item .coll-item-5 .t4s_ratio{--aspect-ratioapt:570/318!important}.t4s-coll-layout-2.has-5-item .coll-item-3 .t4s_ratio{--aspect-ratioapt:400/639!important}.t4s-coll-layout-5.has-5-item .coll-item-1 .t4s_ratio,.t4s-coll-layout-5.has-5-item .coll-item-5 .t4s_ratio{--aspect-ratioapt:400/677!important}.t4s-coll-layout-5.has-6-item .coll-item-1 .t4s_ratio{--aspect-ratioapt:400/679!important}.t4s-coll-layout-5.has-6-item .coll-item-2 .t4s_ratio,.t4s-coll-layout-5.has-6-item .coll-item-3 .t4s_ratio{--aspect-ratioapt:400/320!important}.t4s-coll-layout-1.has-7-item .coll-item-1 .t4s_ratio,.t4s-coll-layout-1.has-7-item .coll-item-2 .t4s_ratio,.t4s-coll-layout-1.has-7-item .coll-item-6 .t4s_ratio,.t4s-coll-layout-1.has-7-item .coll-item-7 .t4s_ratio{--aspect-ratioapt:400/319!important}.t4s-coll-layout-2.has-7-item .coll-item-6 .t4s_ratio{--aspect-ratioapt:400/298!important}}@media (max-width:1024px) and (min-width:768px){.t4s-collection-manual .t4s-collection-manual .t4s-collection-item .t4s_ratio{--aspect-ratioapt:var(--aspect-ratioapttb)!important}.t4s-collection-item .t4s-cate-wrapper{bottom:var(--space-bottom-tb)}.t4s-collection-border-true .t4s-collection-item .t4s-cate-wrapper{bottom:calc(var(--space-bottom-tb) + 1px)}}@media (max-width:991px){.t4s-coll-layout-2.has-3-item .coll-item-1 .t4s_ratio,.t4s-coll-layout-3.has-3-item .coll-item-3 .t4s_ratio,.t4s-coll-layout-3.has-4-item .coll-item-1 .t4s_ratio,.t4s-coll-layout-5.has-3-item .coll-item-2 .t4s_ratio,.t4s-coll-layout-6.has-3-item .coll-item-3 .t4s_ratio,.t4s-coll-layout-7.has-4-item .coll-item-4 .t4s_ratio{--aspect-ratioapt:570/400!important}.t4s-coll-layout-2.has-7-item .coll-item-5 .t4s_ratio,.t4s-coll-layout-2.has-7-item .coll-item-7 .t4s_ratio,.t4s-coll-layout-4.has-3-item .coll-item-1 .t4s_ratio,.t4s-coll-layout-5.has-3-item .coll-item-1 .t4s_ratio,.t4s-coll-layout-5.has-3-item .coll-item-3 .t4s_ratio,.t4s-coll-layout-6.has-3-item .coll-item-1 .t4s_ratio,.t4s-coll-layout-6.has-3-item .coll-item-2 .t4s_ratio{--aspect-ratioapt:570/300!important}.t4s-coll-layout-4.has-3-item .coll-item-2 .t4s_ratio,.t4s-coll-layout-4.has-3-item .coll-item-3 .t4s_ratio,.t4s-coll-layout-6.has-3-item .coll-item-1 .t4s_ratio,.t4s-coll-layout-6.has-3-item .coll-item-2 .t4s_ratio{--aspect-ratioapt:270/300!important}.t4s-coll-layout-4.has-4-item .coll-item-4 .t4s_ratio{--aspect-ratioapt:570/627!important}.t4s-coll-layout-5.has-4-item .coll-item-4 .t4s_ratio{--aspect-ratioapt:570/696!important}.t4s-coll-layout-6.has-4-item .coll-item-1 .t4s_ratio{--aspect-ratioapt:400/633!important}.t4s-coll-layout-2.has-5-item .coll-item-3 .t4s_ratio{--aspect-ratioapt:400/634!important}.t4s-coll-layout-4.has-5-item .coll-item-3 .t4s_ratio{--aspect-ratioapt:400/300!important}.t4s-coll-layout-5.has-5-item .coll-item-1 .t4s_ratio{--aspect-ratioapt:400/651!important}.t4s-coll-layout-5.has-6-item .coll-item-1 .t4s_ratio{--aspect-ratioapt:400/664!important}}@media (max-width:480px){.t4s-collection-item .t4s-cate-wrapper{max-width:90%;margin:auto;min-width:100px}.t4s-coll-style-11 .t4s-cate-wrapper,.t4s-coll-style-12 .t4s-cate-wrapper,.t4s-coll-style-5 .t4s-cate-wrapper,.t4s-coll-style-7 .t4s-cate-wrapper{padding:var(--space-bottom-mb) 0 0}}.t4s-collection-item .t4s-coll-img{padding:var(--item-pd)}.t4s-collection-border-true .t4s-collection-item .t4s-coll-img{padding:0}.t4s-collection-border-true .t4s-collection-item .t4s-img-wrap{overflow:hidden;position:relative;border-radius:var(--item-rd);padding:var(--item-pd)}.t4s-collection-border-true .t4s-collection-item .t4s-img-wrap:before{content:"";position:absolute;z-index:3;width:100%;height:100%;left:0;top:0;border:solid 1px var(--border-cl);border-radius:var(--item-rd)}.t4s-collection-border-true.t4s-gx-md-0 .t4s-collection-item{margin-inline-start:-1px}.t4s-collection-border-true.t4s-gy-md-0 .t4s-collection-item{margin-bottom:-1px}.t4s-collection-small .t4s-collection-item .t4s-coll-img{width:86px}.t4s-collection-medium .t4s-collection-item .t4s-coll-img{width:102px}.t4s-collection-large .t4s-collection-item .t4s-coll-img{width:150px}.t4s-collection-item .t4s-cat-title .t4s-count,.t4s-collection-item .t4s-coll-img .t4s-count{background-color:var(--count-cl-pri);color:var(--count-cl-second);height:20px;line-height:20px;display:inline-flex;align-items:center;justify-content:center;min-width:26px;width:auto;padding:0 5px;font-size:11px;border-radius:10px;position:absolute;z-index:4;left:auto;right:10%;top:10%}.t4s-collection-item .t4s-cat-title .t4s-count{right:auto;left:100%;top:-5px}.t4s-collection-item .t4s-source-icon .t4s-coll-img .t4s-count{right:-8px;top:12px}.t4s-list-collections[style*="--item-rd:0%"] .t4s-collection-item .t4s-coll-img .t4s-count{top:5px;right:5px}.t4s-collection-medium .t4s-collection-item .t4s-coll-img .t4s-count,.t4s-collection-small .t4s-collection-item .t4s-coll-img .t4s-count{right:-10px;top:12px}.t4s-collection-large .t4s-collection-item .t4s-coll-img .t4s-count{right:0;top:20px}.t4s-prs-footer{margin-top:40px}@media (max-width:320px){.t4s-collection-item .t4s-cat-subtitle,.t4s-collection-item .t4s-cat-title{font-size:12px;font-weight:500}}.t4s-eff{position:relative;z-index:3;display:block;vertical-align:top;overflow:hidden}.t4s-eff:after,.t4s-eff:before{content:"";z-index:1;pointer-events:none}.t4s-eff-border-run:after,.t4s-eff-border-run:before{position:absolute;content:"";opacity:0;width:0;height:0;transition:.8s}.t4s-eff-border-run:before{border-top:1px solid #fff;border-left:1px solid #fff;top:15px;left:15px}.t4s-eff-border-run:after{border-right:1px solid #fff;border-bottom:1px solid #fff;right:15px;bottom:15px}.t4s-eff-pervasive-circle:before{position:absolute;border-radius:50%;width:0;height:0;top:50%;left:50%;background-color:#ffffff4d;content:"";z-index:2}.t4s-eff-plus-zoom-overlay:after,.t4s-eff-plus-zoom-overlay:before{content:"";position:absolute;width:100%;height:100%;margin:auto;transition:.5s;z-index:2;background-color:#ffffff26;pointer-events:none;top:0;bottom:0;left:0;right:0;opacity:0;visibility:hidden}.t4s-eff-dark-overlay:before,.t4s-eff-light-overlay:before{opacity:0;transition:opacity .2s;z-index:2;top:0;left:0;right:0;content:"";position:absolute;pointer-events:none;bottom:0}.t4s-eff-dark-overlay:before{background-color:#000}.t4s-eff-light-overlay:before{background-color:#fff}.t4s-btn-effect-default:before,.t4s-btn:before{background-color:var(--btn-background);border-color:var(--btn-background)}.t4s-eff-img-zoom .t4s-obj-eff{transition:1s}.t4s-eff-img-rotate .t4s-obj-eff{transition:.6s ease-in-out}.t4s-eff-img-translateToBottom .t4s-obj-eff,.t4s-eff-img-translateToLeft .t4s-obj-eff,.t4s-eff-img-translateToRight .t4s-obj-eff,.t4s-eff-img-translateToTop .t4s-obj-eff{transition:.6s ease-in-out;transform:scale(1.15)}.t4s-eff-img-filter .t4s-obj-eff,.t4s-eff-img-filter-unset .t4s-obj-eff{transition:filter .3s,opacity .3s,-webkit-filter .3s}.t4s-eff-img-translateToTop .t4s-obj-eff{transform-origin:top}.t4s-eff-img-translateToRight .t4s-obj-eff{transform-origin:right}.t4s-eff-img-translateToLeft .t4s-obj-eff{transform-origin:left}.t4s-eff-img-translateToBottom .t4s-obj-eff{transform-origin:bottom}.t4s-eff-img-filter .t4s-obj-eff{opacity:.5;filter:grayscale(100%)}.flicker .t4s-obj-eff{animation:1s infinite flicker}.t4s-btn:before{content:"";position:absolute;z-index:-1;border-radius:inherit;opacity:0;visibility:hidden}.t4s-btn:not(.t4s-btn-effect-default):not(.t4s-btn-effect-overlay-run):before{transition:.3s ease-in-out}.t4s-btn-effect-default:before{top:0;left:0;right:0;bottom:0}.t4s-btn-effect-rectangle-out:before{top:50%;left:50%;width:0;height:0;border-radius:50%}.t4s-btn-effect-sweep-to-bottom:before,.t4s-btn-effect-sweep-to-left:before,.t4s-btn-effect-sweep-to-right:before,.t4s-btn-effect-sweep-to-top:before{top:0;left:0;right:0;bottom:0;z-index:-1;opacity:1;visibility:visible;transform:scaleX(0);transform-origin:0 0;transition-duration:.5s;transition-property:transform;transition-timing-function:ease-out}.t4s-btn-effect-sweep-to-bottom:before,.t4s-btn-effect-sweep-to-top:before{transform:scaleX(1) scaleY(0)}.t4s-btn-effect-sweep-to-left:before,.t4s-btn-effect-sweep-to-top:before{transform-origin:100% 100%}.t4s-btn-effect-shutter-out-horizontal{transform:perspective(1px) translateZ(0)}.t4s-btn-effect-shutter-out-horizontal:before{top:0;bottom:0;left:0;right:0;transform:scaleX(0);transform-origin:50%;transition-property:transform;opacity:1;visibility:visible}.t4s-btn-effect-outline{overflow:unset!important;transition:.4s ease-in-out}.t4s-btn-effect-outline:before{content:"";position:absolute;left:8px;top:8px;width:100%;height:100%;background-color:transparent;border-bottom:2px solid var(--btn-border);border-right:2px solid var(--btn-border);border-radius:inherit;transition:.3s ease-in-out;opacity:1;visibility:visible}.t4s-btn-effect-shadow{transition:.4s ease-in-out;box-shadow:8px 8px 10px gray}@keyframes ani_shine{to{left:-200%}}.t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-custom1,.t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-custom2,.t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-dark,.t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-light,.t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-primary{--btn-color-hover:var(--btn-color);--btn-background-hover:var(--btn-background)}.t4s-btn-style-default.t4s-btn-effect-overlay-run:after{content:"";position:absolute;pointer-events:none;top:0;left:150%;width:200%;height:100%;transform:skew(-20deg);background-image:linear-gradient(90deg,transparent,hsla(0,0%,100%,.25),transparent)}.t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-light:after{background-color:#0006}.t4s-bl-item:not(.t4s-animation-none){opacity:0}.is-selected .t4s-bl-item,.t4s_animated .t4s-bl-item{animation:var(--animation);animation-duration:var(--time-animation);animation-delay:var(--delay-animation);animation-fill-mode:forwards}@media (-moz-touch-enabled:0),(hover:hover){.t4s-collection-item .t4s-cat-title:hover{color:var(--color-hover);background-color:var(--bg-color-hover)}.t4s-coll-style-3:hover .t4s-cat-subtitle,.t4s-coll-style-3:hover .t4s-cat-title,.t4s-coll-style-3:hover .t4s-cate-wrapper>a{opacity:1;visibility:visible;transform:translateY(0)}.t4s-coll-style-4 .t4s-cate-wrapper:hover .t4s-cat-subtitle{opacity:1;visibility:visible}.t4s-coll-style-10.t4s-collection-item .t4s-cat-title:hover{color:var(--color);background-color:transparent}.t4s-btn-effect-outline:hover,.t4s-btn-effect-shadow:hover{transform:translate(4px) translateY(5px);background-color:var(--btn-background-hover)}.t4s-eff-border-run:hover:after,.t4s-eff-border-run:hover:before{opacity:1;width:calc(100% - 30px);height:calc(100% - 30px)}.t4s-eff-pervasive-circle:hover:before{top:0;left:0;right:0;bottom:0;width:100%;height:100%;opacity:0;transition:.6s}.t4s-eff-plus-zoom-overlay:not(:hover):before{width:0;opacity:1;visibility:visible}.t4s-eff-plus-zoom-overlay:not(:hover):after{height:0;opacity:1;visibility:visible}.t4s-eff-dark-overlay:hover:before,.t4s-eff-light-overlay:hover:before{opacity:.3}.t4s-eff-img-zoom:hover .t4s-obj-eff{transform:scale(1.1)}.t4s-eff-img-rotate:hover .t4s-obj-eff{transform:rotate(15deg) scale(1.4)}.t4s-eff-img-translateToTop:hover .t4s-obj-eff{transform:scale(1.15) translateY(-25px)}.t4s-eff-img-translateToRight:hover .t4s-obj-eff{transform:scale(1.15) translate(25px)}.t4s-eff-img-translateToLeft:hover .t4s-obj-eff{transform:scale(1.15) translate(-25px)}.t4s-eff-img-translateToBottom:hover .t4s-obj-eff{transform:scale(1.15) translateY(25px)}.t4s-eff-img-filter:hover .t4s-obj-eff{opacity:1;filter:grayscale(0)}.t4s-eff-img-filter-unset:hover .t4s-obj-eff{opacity:.5;filter:grayscale(100%)}.t4s-eff-img-bounceIn:hover .t4s-obj-eff{animation:1s 0 forwards bounceIn}.t4s-btn:hover:before{background-color:var(--btn-background-hover);border-color:var(--btn-background-hover);opacity:1;visibility:visible}.t4s-btn-effect-default:hover{opacity:.8!important}.t4s-btn-effect-default:hover:before{opacity:1;visibility:visible;background-color:var(--btn-background-hover);border-color:var(--btn-background-hover)}.t4s-btn-effect-fade:hover:before{top:0;left:0;right:0;bottom:0;opacity:1;visibility:visible}.t4s-btn-effect-rectangle-out:hover:before,.t4s-btn-style-outline.t4s-btn-effect-overlay-run:hover:before{top:0;left:0;right:0;bottom:0;width:100%;height:100%;border-radius:0;opacity:1;visibility:visible}.t4s-btn-effect-sweep-to-bottom:hover:before,.t4s-btn-effect-sweep-to-left:hover:before,.t4s-btn-effect-sweep-to-right:hover:before,.t4s-btn-effect-sweep-to-top:hover:before{transform:scale(1)}.t4s-btn-effect-shutter-out-horizontal:hover:before{transform:scaleX(1)}.t4s-btn-effect-outline:not(:hover):before{background-color:transparent}.t4s-btn-effect-outline:hover:before{left:0;transform:translate(0) translateY(-8px);border-color:var(--btn-background-hover);z-index:-1;opacity:0;transition:.2s}.t4s-btn-effect-shadow:hover{box-shadow:none}.t4s-btn-style-default.t4s-btn-effect-overlay-run:hover{background-color:var(--btn-background-hover);color:var(--btn-color-hover)}.t4s-btn-style-default.t4s-btn-effect-overlay-run:hover:after{animation:.75s cubic-bezier(.01,.56,1,1) ani_shine}}.t4s-flicky-slider.t4s-slider-btn-small{--btn-width-slider:40px;--btn-height-slider:40px;--icon-height-slider:16px}.t4s-flicky-slider{--btn-width-slider:50px;--btn-height-slider:50px;--icon-height-slider:20px;--slider-dot-width:11px;--slider-dot-height:11px;--slider-dot-background:#000;--slider-dot-border:#000}.t4s-flicky-slider.t4s-slider-btn-large{--btn-width-slider:60px;--btn-height-slider:60px;--icon-height-slider:24px}.t4s-flicky-slider .flickityt4s-button{width:var(--btn-width-slider);height:var(--btn-height-slider);text-align:center;padding:0;display:inline-flex;align-items:center;justify-content:center;transition:.5s;color:#000;margin:auto 0;min-width:1px;min-height:1px;-webkit-animation:1s t4s-ani-fadeIn;animation:1s t4s-ani-fadeIn;z-index:3;color:var(--slider-btn-color);background-color:var(--slider-btn-background);border-color:var(--slider-btn-border)}.flickityt4s-enabled .flickityt4s-prev-next-button[disabled],.flickityt4s-enabled:hover .flickityt4s-prev-next-button[disabled]{opacity:.3}.t4s-flicky-slider:not(:hover) .flickityt4s-button.previous{transform:translate(15px) translateY(-50%)}.t4s-flicky-slider:not(:hover) .flickityt4s-button.next{transform:translate(-15px) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-vi-always .flickityt4s-button{transform:translate(0) translateY(-50%)}.flickityt4s-prev-next-button .flickityt4s-button-icon{height:var(--icon-height-slider)!important;width:auto;height:18px;stroke:currentColor;fill:currentcolor}.t4s-dots-style-number .flickityt4s-page-dots,.t4s-flicky-slider.t4s-slider-btn-vi-hover .flickityt4s-button{opacity:0;visibility:hidden}.t4s-dots-style-number.flickityt4s-enabled .flickityt4s-page-dots,.t4s-flicky-slider.t4s-slider-btn-vi-always .flickityt4s-button,.t4s-flicky-slider.t4s-slider-btn-vi-hover:hover .flickityt4s-button{opacity:1;visibility:visible}.t4s-flicky-slider.t4s-dots-round-true .flickityt4s-page-dots .dot,.t4s-flicky-slider.t4s-slider-btn-round .flickityt4s-button{border-radius:50%}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button{transform-origin:50% 15px}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.previous{transform:rotate(45deg) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.next .flickityt4s-button-icon{transform:rotate(45deg)}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.next{transform:rotate(-45deg) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.previous .flickityt4s-button-icon{transform:rotate(-45deg)}.t4s-flicky-slider.t4s-slider-btn-rotate:not(:hover) .flickityt4s-button.previous{transform:rotate(45deg) translate(15px) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-rotate:not(:hover) .flickityt4s-button.next{transform:rotate(-45deg) translate(-15px) translateY(-50%)}.t4s-flicky-slider .flickityt4s-button:hover{color:var(--slider-btn-color-hover);background-color:var(--slider-btn-background-hover);border-color:var(--slider-btn-border-hover)}.t4s-flicky-slider.t4s-slider-btn-cl-light.t4s-slider-btn-style-default .flickityt4s-button{box-shadow:0 2px 10px #36363626}.t4s-flicky-slider.t4s-slider-btn-cl-default{--slider-btn-background-hover:var(--t4s-dark-color);--slider-btn-border-hover:var(--t4s-dark-color)}.t4s-flicky-slider.t4s-slider-btn-cl-default .flickityt4s-button:hover{opacity:.8!important}.t4s-flicky-slider.t4s-slider-btn-cl-dark{--slider-btn-background-hover:var(--accent-color);--slider-btn-border-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-cl-light,.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-light{--slider-btn-border:var(--t4s-light-color);--slider-btn-background-hover:var(--accent-color);--slider-btn-border-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-cl-light{--slider-btn-color:var(--t4s-dark-color);--slider-btn-background:var(--t4s-light-color);--slider-btn-color-hover:var(--t4s-light-color)}.t4s-flicky-slider.t4s-slider-btn-cl-primary{--slider-btn-color:var(--t4s-light-color);--slider-btn-background:var(--accent-color);--slider-btn-border:var(--accent-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-background-hover:var(--accent-color-hover);--slider-btn-border-hover:var(--accent-color-hover)}.t4s-flicky-slider.t4s-slider-btn-cl-custom1,.t4s-flicky-slider.t4s-slider-btn-cl-custom2{--slider-btn-color:var(--btn-color);--slider-btn-background:var(--btn-background);--slider-btn-border:var(--btn-background);--slider-btn-color-hover:var(--btn-color-hover);--slider-btn-background-hover:var(--btn-background-hover);--slider-btn-border-hover:var(--btn-background-hover)}.t4s-flicky-slider.t4s-slider-btn-style-outline{--slider-btn-color:var(--t4s-dark-color);--slider-btn-border:var(--t4s-dark-color);--slider-btn-background-hover:var(--t4s-dark-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-border-hover:var(--t4s-dark-color);--slider-btn-background:transparent}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-light{--slider-btn-color:var(--t4s-light-color);--slider-btn-color-hover:var(--t4s-light-color)}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-dark{--slider-btn-color:var(--t4s-dark-color);--slider-btn-border:var(--t4s-dark-color);--slider-btn-background-hover:var(--accent-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-border-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-primary{--slider-btn-color:var(--accent-color);--slider-btn-border:var(--accent-color);--slider-btn-background-hover:var(--accent-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-border-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-custom1,.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-custom2{--slider-btn-color:var(--btn-color);--slider-btn-border:var(--btn-color);--slider-btn-background-hover:var(--btn-background-hover);--slider-btn-color-hover:var(--btn-color-hover);--slider-btn-border-hover:var(--btn-background-hover)}.t4s-flicky-slider.t4s-slider-btn-style-simple{--slider-btn-color:var(--t4s-dark-color);--slider-btn-color-hover:var(--t4s-dark-color);--slider-btn-background:transparent;--slider-btn-border:transparent;--slider-btn-background-hover:transparent;--slider-btn-border-hover:transparent}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-light{--slider-btn-color:var(--t4s-light-color);--slider-btn-color-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-dark{--slider-btn-color:var(--t4s-dark-color);--slider-btn-color-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-primary{--slider-btn-color:var(--accent-color);--slider-btn-color-hover:var(--accent-color-hover)}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-custom1,.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-custom2{--slider-btn-color:var(--btn-color);--slider-btn-color-hover:var(--btn-color-hover)}.t4s-flicky-slider.t4s-dots-style-outline .flickityt4s-page-dots .dot,.t4s-flicky-slider.t4s-slider-btn-style-outline .flickityt4s-button{border-style:solid;border-width:2px}.t4s-slider-btn-pos-ontop.t4s-flicky-slider .flickityt4s-button{position:absolute;z-index:2;white-space:nowrap;--abc:calc(var(--heading-height)/2);--xyz:calc(var(--btn-height-slider)/2);top:auto;bottom:calc(100% + var(--tophead_mb));opacity:1;visibility:visible;margin:0}.t4s-slider-btn-pos-ontop.t4s-flicky-slider .flickityt4s-button.next{right:calc(var(--flickity-btn-pos)/2);transform:none}.t4s-slider-btn-pos-ontop.t4s-flicky-slider.t4s-slider-btn-style-simple .flickityt4s-button.next{right:calc(var(--flickity-btn-pos)/ 2 - 7px)}.t4s-slider-btn-pos-ontop.t4s-flicky-slider .flickityt4s-button.previous{right:calc(var(--btn-height-slider) + 20px + var(--flickity-btn-pos)/ 2);left:auto;transform:none}.t4s-slider-btn-pos-ontop.t4s-flicky-slider.t4s-slider-btn-style-simple .flickityt4s-button.previous{right:calc(var(--btn-height-slider) + 20px + var(--flickity-btn-pos)/ 2 - 7px)}.t4s-slider-btn-pos-ontop.t4s-flicky-slider:not(:hover) .flickityt4s-button.next,.t4s-slider-btn-pos-ontop.t4s-flicky-slider:not(:hover) .flickityt4s-button.previous{transform:none}.t4s-flicky-slider .flickityt4s-page-dots{display:block;-webkit-animation:1s t4s-ani-fadeIn;animation:1s t4s-ani-fadeIn}.t4s-dots-style-elessi.t4s-dots-round-true .flickityt4s-page-dots .dot{border-radius:5px}.t4s-flicky-slider.t4s-dots-style-outline .flickityt4s-page-dots .dot:not(.is-selected){--slider-dot-background:transparent!important}.t4s-flicky-slider.t4s-dots-style-default.t4s-dots-cl-default .dot.is-selected{--slider-dot-background:rgba(0,0,0,.9)}.t4s-flicky-slider.t4s-dots-style-outline{--slider-dot-width:13px;--slider-dot-height:13px;--slider-dot-background:#fff;--slider-dot-border:#fff}.t4s-flicky-slider.t4s-dots-style-elessi.t4s-dots-cl-default .dot.is-selected,.t4s-flicky-slider.t4s-dots-style-outline.t4s-dots-cl-default .dot.is-selected{--slider-dot-background:#000;--slider-dot-border:#000}.t4s-flicky-slider.t4s-dots-style-outline.t4s-dots-cl-default .dot:not(.is-selected){--slider-dot-background:#fff!important;--slider-dot-border:rgba(0,0,0,.2);opacity:1}.t4s-flicky-slider.t4s-dots-style-elessi{--slider-dot-width:13px;--slider-dot-height:13px;--slider-dot-background:#fff;--slider-dot-border:#000;--slider-dot-background-active:#000;--slider-dot-width:8px;--slider-dot-height:8px}.t4s-flicky-slider.t4s-dots-style-br-outline,.t4s-flicky-slider.t4s-dots-style-br-outline2{--slider-dot-background:var(--t4s-light-color);--slider-dot-background-active:var(--t4s-dark-color);--slider-dot-border:var(--t4s-dark-color)}.t4s-flicky-slider.t4s-dots-style-elessi .dot.is-selected{--slider-dot-width:30px}.t4s-flicky-slider.t4s-dots-style-elessi.t4s-dots-cl-default .dot:not(.is-selected){--slider-dot-background:#fff!important;--slider-dot-border:#fff;opacity:1}.t4s-flicky-slider.t4s-dots-style-br-outline{--slider-dot-width:8px;--slider-dot-height:8px}.t4s-flicky-slider.t4s-dots-style-br-outline .dot,.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot{position:relative;transition:box-shadow .3s;--slider-dot-width:17px;--slider-dot-height:17px;border-radius:50%;box-shadow:0 0 0 2px #fff0;-webkit-transition:box-shadow .3s;background-color:transparent!important}.t4s-flicky-slider.t4s-dots-style-br-outline .dot{--slider-dot-width:22px;--slider-dot-height:22px}.t4s-flicky-slider.t4s-dots-style-br-outline .dot.is-selected,.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot.is-selected{box-shadow:0 0 0 2px var(--slider-dot-background)}.t4s-flicky-slider.t4s-dots-style-br-outline .dot:before,.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot:before{content:"";border-radius:100%;background-color:var(--slider-dot-background);position:absolute;top:0;left:0;width:100%;height:100%;border:0}.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot.is-selected:before{background-color:transparent}.t4s-flicky-slider.t4s-dots-style-br-outline .dot.is-selected:before,.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot:before{transform:scale(.3);-webkit-transform:scale(.3)}.t4s-flicky-slider.t4s-dots-style-br-outline .dot:before{transform:scale(.4);-webkit-transform:scale(.4)}.t4s-flicky-slider.t4s-dots-cl-dark{--slider-dot-background:var(--t4s-dark-color);--slider-dot-border:var(--t4s-dark-color)}.t4s-flicky-slider.t4s-dots-cl-light{--slider-dot-background:var(--t4s-light-color);--slider-dot-border:var(--t4s-light-color)}.t4s-flicky-slider.t4s-dots-cl-primary{--slider-dot-background:var(--accent-color);--slider-dot-border:var(--accent-color)}.t4s-flicky-slider.t4s-dots-cl-custom1,.t4s-flicky-slider.t4s-dots-cl-custom2{--slider-dot-background:var(--dots-background);--slider-dot-border:var(--dots-background)}.t4s-flicky-slider .flickityt4s-page-dots .dot{display:inline-flex;justify-content:center;align-items:center;width:var(--slider-dot-width);height:var(--slider-dot-height);background-color:var(--slider-dot-background);border-color:var(--slider-dot-border);margin:0 calc(var(--space-dots)/2);cursor:pointer;opacity:.5;transition:.3s}.t4s-flicky-slider .flickityt4s-page-dots .dot.is-selected,.t4s-flicky-slider .flickityt4s-page-dots .dot:hover{opacity:1}.t4s-flicky-slider .flickityt4s-prev-next-button.previous{left:calc(var(--flickity-btn-pos)/2)}.t4s-flicky-slider .flickityt4s-prev-next-button.next{right:calc(var(--flickity-btn-pos)/2)}.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots{display:table;width:100%;max-width:calc(100% - var(--ts-gutter-x));margin-left:auto;margin-right:auto;margin-top:45px}.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot{display:table-cell;vertical-align:middle;width:auto;height:3px;background-color:#ededed;opacity:1}.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot.is-selected,.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot:hover{background-color:var(--slider-dot-background)}.t4s-flicky-slider.t4s-dots-round-true.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot{border-radius:1px}.t4s-dots-style-number.t4s-dots-cl-dark{--dots-cl:var(--t4s-light-color);--bg-dots-cl:var(--t4s-dark-color)}.t4s-dots-style-number.t4s-dots-cl-light{--dots-cl:var(--t4s-dark-color);--bg-dots-cl:var(--t4s-light-color)}.t4s-dots-style-number.t4s-dots-cl-primary{--dots-cl:var(--t4s-light-color);--bg-dots-cl:var(--accent-color)}.t4s-dots-style-number .t4s-dots-list{padding:5px 15px;display:inline-flex;align-items:center;justify-content:center;line-height:20px;font-size:14px;margin:0;color:var(--dots-cl);background-color:var(--bg-dots-cl);left:50%;right:auto;transform:translate(-50%);width:auto}.t4s-dots-style-number.t4s-dots-round-true .t4s-dots-list{border-radius:15px}.t4s-flicky-slider .flickityt4s-page-dots{padding-inline-start:calc(var(--ts-gutter-x)/2);padding-inline-end:calc(var(--ts-gutter-x)/2);margin-inline-start:calc(-1 * (var(--space-dots)/ 2));margin-inline-end:calc(-1 * (var(--space-dots)/ 2));margin-top:var(--dots-bottom-pos)}.t4s-flicky-slider.t4s-dots-bottom_left .flickityt4s-page-dots{text-align:left}.t4s-flicky-slider.t4s-dots-bottom_right .flickityt4s-page-dots{text-align:right}@media (max-width:767px){.t4s-container-fluid{width:calc(100% - var(--mgmb-left,0) - var(--mgmb-right,0));width:-webkit-calc(100% - var(--mgmb-left,0) - var(--mgmb-right,0))}.t4s-section-inner,.t4s-section-inner.t4s-se-container .t4s-container-inner{margin-top:var(--mgmb-top);margin-inline-end:var(--mgmb-right);margin-bottom:var(--mgmb-bottom);margin-inline-start:var(--mgmb-left);padding-top:var(--pdmb-top);padding-inline-end:var(--pdmb-right);padding-bottom:var(--pdmb-bottom);padding-inline-start:var(--pdmb-left)}.t4s-collection-item{margin-bottom:var(--mgb-mb)}.t4s-cate-wrapper{padding:5px 10px;min-height:30px}.t4s-coll-layout-4.has-4-item .coll-item-3 .t4s_ratio,.t4s-coll-layout-5.has-4-item .coll-item-4 .t4s_ratio,.t4s-coll-layout-6.has-4-item .coll-item-1 .t4s_ratio,.t4s-coll-layout-6.has-4-item .coll-item-4 .t4s_ratio{--aspect-ratioapt:570/400!important}.t4s-coll-layout-4.has-4-item .coll-item-4 .t4s_ratio{--aspect-ratioapt:570/300!important}.t4s-coll-layout-2.has-5-item .coll-item-3 .t4s_ratio,.t4s-coll-layout-5.has-5-item .coll-item-1 .t4s_ratio,.t4s-coll-layout-5.has-5-item .coll-item-5 .t4s_ratio{--aspect-ratioapt:400/250!important}.t4s-coll-layout-5.has-6-item .coll-item-1 .t4s_ratio{--aspect-ratioapt:400/300!important}.t4s-collection-item .t4s-cate-wrapper{bottom:var(--space-bottom-mb)}.t4s-collection-border-true .t4s-collection-item .t4s-cate-wrapper{bottom:calc(var(--space-bottom-mb) + 1px)}.t4s-collection-border-true.t4s-gx-0.t4s-gy-0{border-top:solid 1px var(--border-cl);border-left:solid 1px var(--border-cl)}.t4s-collection-border-true.t4s-gx-0.t4s-gy-0 .t4s-collection-item .t4s-img-wrap:before{box-shadow:inset -1px -1px var(--border-cl),-1px -1px var(--border-cl);border:none}.t4s-flicky-slider.t4s-slider-btn-small{--btn-width-slider:30px;--btn-height-slider:30px;--icon-height-slider:10px}.t4s-flicky-slider{--btn-width-slider:40px;--btn-height-slider:40px;--icon-height-slider:14px}.t4s-flicky-slider.t4s-slider-btn-large{--btn-width-slider:50px;--btn-height-slider:50px;--icon-height-slider:18px}.flickityt4s-page-dots{margin:5px 0 0}.t4s-flicky-slider.t4s-dots-hidden-mobile-true .flickityt4s-page-dots,.t4s-flicky-slider.t4s-slider-btn-hidden-mobile-true .flickityt4s-button{display:none}.t4s-flicky-slider:not(:hover) .flickityt4s-button.next,.t4s-flicky-slider:not(:hover) .flickityt4s-button.previous{transform:translate(0) translateY(-50%)}.flickityt4s-prev-next-button.previous{left:10px}.flickityt4s-prev-next-button.next{right:10px}.t4s-flicky-slider .flickityt4s-prev-next-button.previous{left:calc(var(--flickity-btn-pos-mb)/2)}.t4s-flicky-slider .flickityt4s-prev-next-button.next{right:calc(var(--flickity-btn-pos-mb)/2)}}.flickityt4s:not(.flickityt4s-enabled){flex-wrap:nowrap;overflow:hidden;width:auto}.flickityt4s-enabled{display:block;position:relative;-webkit-tap-highlight-color:transparent}.flickityt4s-enabled:focus{outline:0;box-shadow:none}.flickityt4s-viewport{overflow:hidden;position:relative;width:100%;height:100%}.flickityt4s-slider{position:absolute;width:100%;height:100%;will-change:transform}.flickityt4s-enabled.is-draggable{-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickityt4s-enabled.is-draggable .flickityt4s-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickityt4s-enabled.is-draggable .flickityt4s-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickityt4s-enabled.is-fade .flickityt4s-slider>*{pointer-events:none;z-index:0;opacity:0;transition:opacity .3s ease-in-out,visibility .3s ease-in-out}.flickityt4s-enabled.is-fade .flickityt4s-slider>.is-selected{pointer-events:auto;z-index:1;opacity:1}.t4s-enabled .flickityt4s-viewport{transition:height .3s}.flickityt4s-button{position:absolute;border:none}.flickityt4s-button:hover{cursor:pointer}.flickityt4s-button:active{opacity:.6}.flickityt4s-button:disabled{opacity:.3!important;cursor:auto}.flickityt4s_prev_disable.flickityt4s_next_disable .flickityt4s-button:disabled,.flickityt4s_prev_disable.flickityt4s_next_disable .flickityt4s-page-dots{display:none!important}.flickityt4s-button-icon{fill:currentColor}.flickityt4s-prev-next-button{top:var(--prev-next-top,50%);width:40px;height:40px;min-width:40px;min-height:40px;padding:0;transform:translateY(-50%)}.flickityt4s-prev-next-button.previous{left:15px}.flickityt4s-prev-next-button.next{right:15px}.flickityt4s-rtl .flickityt4s-prev-next-button.previous{left:auto;right:15px}.flickityt4s-rtl .flickityt4s-prev-next-button.next{right:auto;left:15px}.flickityt4s-page-dots{position:relative;width:100%;bottom:0;z-index:2;padding:0;margin:15px 0 0;list-style:none;text-align:center;line-height:1}.flickityt4s-rtl .flickityt4s-page-dots{direction:rtl}.flickityt4s:after{content:'flickityt4s';display:none}@media (min-width:768px){.carousel-disable-md:after{content:''}.carousel-disable-md.flickityt4s:not(.flickityt4s-enabled){flex-wrap:wrap}}@media (min-width:1025px){.carousel-disable-lg:after{content:''}.carousel-disable-lg.flickityt4s:not(.flickityt4s-enabled){flex-wrap:wrap}.t4s-carousel__nav-scroller:not(.is__position-bottom){position:absolute;top:0;left:0;right:0;bottom:0;overflow-x:visible;overflow-y:scroll;overscroll-behavior-y:contain}.t4s-carousel__nav{flex-wrap:wrap}}.flickityt4s-enabled,.flickityt4s-slider>.t4s-col-item{margin-top:0!important}.t4s-carousel__nav-scroller{width:100%;overflow-x:scroll;white-space:nowrap;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;scrollbar-width:none;scroll-behavior:smooth;-ms-overflow-style:-ms-autohiding-scrollbar}.t4s-carousel__nav-scroller img{opacity:0;transition:.3s ease-in-out}.t4s-carousel__nav-scroller img.lazyloadt4sed{opacity:1}.t4s-carousel__nav{flex-wrap:nowrap}.t4s-carousel__nav-scroller::-webkit-scrollbar{height:0;width:0}</style>
{% endif %}
<link rel="stylesheet" data-href="{{ 'section.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'collection.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'custom-effect.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'slider-settings.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'pre_flickityt4s.min.css' | asset_url }}">
{%- liquid
  assign image_fix = image_nt | image_tag
  assign sid = section.id
  assign se_stts = section.settings
  assign se_blocks = section.blocks
  assign stt_layout = se_stts.layout
  assign stt_image_bg = se_stts.image_bg
  if stt_layout == 't4s-se-container' 
    assign html_layout = '<div class="t4s-container">__</div></div>' | split: '__'
  elsif stt_layout == 't4s-container-wrap'
    assign html_layout = '<div class="t4s-container">__</div>' | split: '__'
  else
    assign html_layout = '__' | split: '__'
  endif
  assign image_ratio = se_stts.image_ratio
  if image_ratio == "ratioadapt"
    assign imgatt = ''
   else 
    assign imgatt = 'data-'
  endif
  assign source = se_stts.source
  assign b_effect = se_stts.b_effect
  assign img_effect = se_stts.img_effect
  assign open_link = se_stts.open_link
  assign subtitle = se_stts.collection_subtitle
  if se_stts.btn_owl == "outline"
    assign arrow_icon = 1
  else
    assign arrow_icon = 2
  endif

  assign t4s_se_class = 't4s_nt_se_' | append: sid
  if se_stts.use_cus_css and se_stts.code_cus_css != blank
    render 'se_cus_css', code_cus_css: se_stts.code_cus_css, t4s_se_class: t4s_se_class
  endif 

  assign collection_des = se_stts.collection_des
  assign title_cl_pri       = se_stts.title_cl | color_extract: 'lightness'
  assign title_cl_hover_pri       = se_stts.title_cl_hover | color_extract: 'lightness'
  assign subtitle_cl_pri       = se_stts.subtitle_cl | color_extract: 'lightness'
  assign count_cl_pri       = se_stts.count_cl | color_extract: 'lightness'

  if title_cl_pri < 85  
    assign title_cl_sec = "#fff"
  else 
    assign title_cl_sec = "#222"
  endif
  if title_cl_hover_pri < 85 
    assign title_cl_hover_sec = "#fff"
  else 
    assign title_cl_hover_sec = "#222"
  endif
  if subtitle_cl_pri < 85 
    assign subtitle_cl_sec = "#fff"
  else 
    assign subtitle_cl_sec = "#222"
  endif
  if count_cl_pri < 85 
    assign count_cl_sec = "#fff"
  else 
    assign count_cl_sec = "#222"
  endif
  
 -%} 
<div class="t4s-section-inner t4s_nt_se_{{ sid }} t4s_se_{{ sid }} {{ stt_layout }}{%- if stt_image_bg != blank and stt_layout != 't4s-se-container' -%} t4s-has-imgbg lazyloadt4s{%- endif -%}" {%- if stt_image_bg != blank and stt_layout != 't4s-se-container' -%} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2"{%- endif -%} {% render 'section_style', se_stts: se_stts %}>
    
    {{- html_layout[0] -}}
    {%- if stt_layout == 't4s-se-container' -%}<div class="t4s-container-inner{% if stt_image_bg != blank %} t4s-has-imgbg lazyloadt4s{% endif %}" {%- if stt_image_bg != blank -%} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2"{%- endif -%}>{%- endif -%}
    {%- render 'section_tophead', se_stts: se_stts -%}
    {%- if se_stts.layout_des == "1" -%}
      <div class="t4s-list-collections t4s-has-collection{{ collection_des }} t4s-collection-border-{{ se_stts.border }} t4s_{{ image_ratio }} t4s_position_{{ se_stts.image_position }} t4s_{{ se_stts.image_size }} t4s-row  t4s-justify-content-center t4s-row-cols-lg-{{ se_stts.col_dk }} t4s-row-cols-md-{{ se_stts.col_tb }} t4s-row-cols-{{ se_stts.col_mb }} t4s-gx-md-{{ se_stts.space_h_item }} t4s-gy-md-{{ se_stts.space_v_item }} t4s-gx-{{ se_stts.space_h_item_mb }} t4s-gy-{{ se_stts.space_v_item_mb }}" style="--title-cl-pri: {{ se_stts.title_cl }};--title-cl-pri-hover: {{ se_stts.title_cl_hover }};--title-cl-second: {{ title_cl_sec }};--title-cl-second-hover: {{ title_cl_hover_sec }};--subtitle-cl: {{ se_stts.subtitle_cl }};--subtitle-cl2: {{ subtitle_cl_sec }};--count-cl-pri: {{ se_stts.count_cl }};--count-cl-second: {{ count_cl_sec }};--border-cl: {{ se_stts.border_cl }};--item-rd: {{ se_stts.item_rd }}%;--item-pd: {{ se_stts.item_pd }}px;--space-bottom: {{ se_stts.space_bottom }}px;--space-bottom-tb: {{ se_stts.space_bottom_tb }}px;--space-bottom-mb: {{ se_stts.space_bottom_mb }}px;">
    {%- else -%}
      <div class="t4s-list-collections t4s-has-collection{{ collection_des }} t4s-collection-border-{{ se_stts.border }} t4s_{{ image_ratio }} t4s_position_{{ se_stts.image_position }} t4s_{{ se_stts.image_size }} t4s-flicky-slider t4s-gx-md-{{ se_stts.space_h_item }} t4s-gy-md-{{ se_stts.space_v_item }} t4s-gx-{{ se_stts.space_h_item_mb }} t4s-gy-{{ se_stts.space_v_item_mb }} {% if se_stts.nav_btn %} t4s-slider-btn-style-{{ se_stts.btn_owl }} t4s-slider-btn-pos-{{ se_stts.btn_pos }} t4s-slider-btn-{{ se_stts.btn_shape }} t4s-slider-btn-{{ se_stts.btn_size }} t4s-slider-btn-cl-{{ se_stts.btn_cl }} t4s-slider-btn-vi-{{ se_stts.btn_vi }} t4s-slider-btn-hidden-mobile-{{ se_stts.btn_hidden_mobile }} {% endif %} {% if se_stts.nav_dot == true %} t4s-dots-style-{{ se_stts.dot_owl }} t4s-dots-cl-{{ se_stts.dots_cl }} t4s-dots-round-{{ se_stts.dots_round }} t4s-dots-hidden-mobile-{{ se_stts.dots_hidden_mobile }} {%- endif -%} t4s-row t4s-row-cols-lg-{{ se_stts.col_dk }} t4s-row-cols-md-{{ se_stts.col_tb }} t4s-row-cols-{{ se_stts.col_mb }}  flickityt4s" data-flickityt4s-js='{"setPrevNextButtons":true, "arrowIcon":"{{ arrow_icon }}","imagesLoaded": 0,"adaptiveHeight": 0, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": {{ se_stts.loop }},"prevNextButtons": {{ se_stts.nav_btn }},"percentPosition": 1,"pageDots": {{ se_stts.nav_dot }}, "autoPlay" : {{ se_stts.au_time | times: 1000 }}, "pauseAutoPlayOnHover" : {{ se_stts.au_hover }} }' style="--title-cl-pri: {{ se_stts.title_cl }};--title-cl-pri-hover: {{ se_stts.title_cl_hover }}; --title-cl-second: {{ title_cl_sec }};--title-cl-second-hover: {{ title_cl_hover_sec }};--subtitle-cl: {{ se_stts.subtitle_cl }};--subtitle-cl2: {{ subtitle_cl_sec }};--count-cl-pri: {{ se_stts.count_cl }};--count-cl-second: {{ count_cl_sec }};--border-cl: {{ se_stts.border_cl }};--item-rd: {{ se_stts.item_rd }}%;--item-pd: {{ se_stts.item_pd }}px;--space-bottom: {{ se_stts.space_bottom }}px;--space-bottom-tb: {{ se_stts.space_bottom_tb }}px;--space-bottom-mb: {{ se_stts.space_bottom_mb }}px;--space-dots: {{ se_stts.dots_space }}px;--flickity-btn-pos: {{ se_stts.space_h_item }}px;--flickity-btn-pos-mb: {{ se_stts.space_h_item_mb }}px;--tophead_mb: {{ se_stts.tophead_mb }}px;">
    {%- endif -%}
      {%- if se_blocks.size > 0 -%}
          {%- for block in se_blocks -%}
            {%- assign bk_stts = block.settings -%}
            {%- capture current -%}{%- cycle 1, 2, 3, 4, 5, 6 -%}{%- endcapture -%}
            <div class="t4s-col-item t4s-collection-item t4s-coll-style-{{ collection_des }}" id="b_{{ block.id }}" data-select-flickity {{ block.shopify_attributes }}>
              {%- render 'collection_item',collection_des:collection_des,source:source,b_effect:b_effect,img_effect:img_effect, bk_stts: bk_stts,imgatt:imgatt,open_link:open_link,subtitle:subtitle,current:current -%}
            </div>
          {%- endfor -%}
      {%- endif -%}
    {{- html_layout[1] -}}
  </div>

{%- schema -%}
  {
    "name": "Collections list",
    "tag": "section",
    "class": "t4s-section t4s_bk_flickity t4s-section-all t4s_tp_cdt t4s-featured-collections",
    "settings": [
      {
          "type": "header",
          "content": "1. Heading options"
      },
      {
          "type": "select",
          "id": "design_heading",
          "label": "+ Design heading",
          "default": "1",
          "options": [
              {
                  "value": "1",
                  "label": "Design 01"
              },
              {
                  "value": "2",
                  "label": "Design 02"
              },
              {
                  "value": "3",
                  "label": "Design 03"
              },
              {
                  "value": "4",
                  "label": "Design 04"
              },
              {
                  "value": "5",
                  "label": "Design 05"
              },
              {
                  "value": "6",
                  "label": "Design 06 (width line-awesome)"
              },
              {
                  "value": "7",
                  "label": "Design 07"
              },
              {
                  "value": "8",
                  "label": "Design 08"
              },
              {
                  "value": "9",
                  "label": "Design 09"
              },
              {
                  "value": "10",
                  "label": "Design 10"
              },
              {
                  "value": "11",
                  "label": "Design 11"
              },
              {
                  "value": "12",
                  "label": "Design 12"
              },
              {
                  "value": "13",
                  "label": "Design 13"
              },
              {
                  "value": "14",
                  "label": "Design 14"
              },
              {
                  "value": "15",
                  "label": "Design 15"
              }
          ]
      },
      {
          "type": "select",
          "id": "heading_align",
          "label": "+ Heading align",
          "default": "t4s-text-center",
          "options": [
              {
                  "value": "t4s-text-start",
                  "label": "Default"
              },
              {
                  "value": "t4s-text-center",
                  "label": "Center"
              }
          ]
      },
      {
          "type": "text",
          "id": "top_heading",
          "label": "+ Heading",
          "default": "Collections list"
      },
      {
        "type": "text",
        "id": "icon_heading",
        "label": "Enter a icon name on heading",
        "info": "Only used for design 6 [LineAwesome](https://kalles.the4.co/font-lineawesome/)",
        "default": "las la-gem"
      },
      {
          "type": "textarea",
          "id": "top_subheading",
          "label": "+ Subheading"
      }, 
      {
        "type": "number",
        "id": "tophead_mb",
        "label": "+ Space bottom (px)",
        "info": "The vertical spacing between heading and content",
        "default": 30
      },
      {
        "type": "header",
        "content": "+ Heading button"
      },
      {
        "type": "text",
        "id": "head_btn_label",
        "label": "Button label",
        "default": "View All"
      },
      {
        "type": "url",
        "id": "head_btn_url",
        "label": "Button link"
      },
      {
        "type":"checkbox",
        "id":"head_btn_icon",
        "label":"Enable button icon",
        "default":false
      },
      {
        "type": "select",
        "id": "head_btn_style",
        "label": "Button style",
        "options": [
            {
                "label": "Default",
                "value": "default"
            },
            {
                "label": "Outline",
                "value": "outline"
            },
            {
                "label": "Bordered bottom",
                "value": "bordered"
            },
            {
                "label": "Link",
                "value": "link"
            }
        ]
      },
      {
        "type": "select",
        "id": "head_btn_size",
        "label": "Button size",
        "default":"medium",
        "options": [
            {
                "label": "Small",
                "value": "small"
            },
            {
                "label": "Medium",
                "value": "medium"
            },
            {
                "label": "Large",
                "value": "large"
            }
        ]
      },
      {
        "type": "select",
        "id": "head_btn_cl",
        "label": "Button color",
        "default": "dark",
        "options": [
          {
              "value": "light",
              "label": "Light"
          },
          {
              "value": "dark",
              "label": "Dark"
          },
          {
              "value": "primary",
              "label": "Primary"
          },
          {
              "value": "custom1",
              "label": "Custom color 1"
          },
          {
              "value": "custom2",
              "label": "Custom color 2"
          }
        ]
      },
      {
          "type":"select",
          "id":"head_btn_effect",
          "label":"Button hover effect",
          "default":"default",
          "info":"Only working button style default, outline",
          "options":[
              {
                  "label":"Default",
                  "value":"default"
              },
              {
                  "label":"Fade",
                  "value":"fade"
              },
              {
                  "label":"Rectangle out",
                  "value":"rectangle-out"
              },
              {
                  "label":"Sweep to right",
                  "value":"sweep-to-right"
              },
              {
                  "label":"Sweep to left",
                  "value":"sweep-to-left"
              },
              {
                  "label":"Sweep to bottom",
                  "value":"sweep-to-bottom"
              },
              {
                  "label":"Sweep to top",
                  "value":"sweep-to-top"
              },
              {
                  "label":"Shutter out horizontal",
                  "value":"shutter-out-horizontal"
              },
              {
                  "label":"Outline",
                  "value":"outline"
              },
              {
                  "label":"Shadow",
                  "value":"shadow"
              }
          ]
      },
      {
        "type": "checkbox",
        "id": "head_btn_hidden_mb",
        "label": "Hidden head button on Mobile",
        "default": false
      },
      {
        "type": "header",
        "content": "2. General options"
      },
      {
        "type": "select",
        "id": "collection_des",
        "label": "Collection item design",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Design 1"
          },
          {
            "value": "2",
            "label": "Design 2"
          },
          {
            "value": "3",
            "label": "Design 3"
          },
          {
            "value": "4",
            "label": "Design 4"
          },
          {
            "value": "5",
            "label": "Design 5"
          },
          {
            "value": "6",
            "label": "Design 6"
          },
          {
            "value": "7",
            "label": "Design 7"
          },
          {
            "value": "8",
            "label": "Design 8 (Only image)"
          },
          {
            "value": "9",
            "label": "Design 9"
          },
          {
            "value": "10",
            "label": "Design 10"
          },
          {
            "value": "11",
            "label": "Design 11"
          },
          {
            "value": "12",
            "label": "Design 12"
          },
          {
            "value": "13",
            "label": "Design 13"
          },
          {
            "value": "14",
            "label": "Design 14"
          },
          {
            "value": "15",
            "label": "Design 15"
          }
        ]
      },
      {
        "type": "color",
        "id": "title_cl",
        "label": "Title color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "title_cl_hover",
        "label": "Title/item hover color",
        "default": "#222222"
      },
      {
        "type": "color",
        "id": "subtitle_cl",
        "label": "Subtitle color",
        "default": "#878787"
      },
      {
        "type": "color",
        "id": "count_cl",
        "label": "Count color",
        "default": "#222222"
      },
      {
        "type": "color",
        "id": "border_cl",
        "label": "Border color",
        "default": "#e5e5e5"
      },
      {
        "type": "text",
        "id": "collection_subtitle",
        "label": "Collection subtitle",
        "default": "Products"
      },
      {
        "type": "select",
        "id": "open_link",
        "info": "Works when the item has a link",
        "options": [
          {
            "value": "_self",
            "label": "Current window"
          },
         {
            "value": "_blank",
            "label": "New window"
          }
        ],
        "label": "Open link in",
        "default": "_self"
      },
      {
        "type": "header",
        "content": "+ Options image collection"
      },
      {
        "type": "select",
        "id": "source",
        "options": [
          {
            "value": "image",
            "label": "Image"
          },
          {
            "value": "icon",
            "label": "Icon"
          }
        ],
        "label": "Source",
        "default": "image"
      },
      {
        "type": "range",
        "id": "space_bottom",
        "min": 0,
        "max": 60,
        "step": 1,
        "label": "Space bottom",
        "unit": "px",
        "default": 20,
        "info": "Space between image and info of collection"
      },
      {
        "type": "range",
        "id": "space_bottom_tb",
        "min": 0,
        "max": 60,
        "step": 1,
        "label": "Space bottom (Tablet)",
        "unit": "px",
        "default": 20
      },
      {
        "type": "range",
        "id": "space_bottom_mb",
        "min": 0,
        "max": 60,
        "step": 1,
        "label": "Space bottom (Mobile)",
        "unit": "px",
        "default": 10
      },
      {
        "type": "checkbox",
        "id": "border",
        "label": "Enable border",
        "default": false
      },
      {
        "type": "range",
        "id": "item_pd",
        "min": 0,
        "max": 50,
        "step": 1,
        "label": "Image padding",
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "item_rd",
        "min": 0,
        "max": 50,
        "step": 1,
        "label": "Image rounded",
        "unit": "%",
        "default": 0
      },
      {
        "type": "select",
        "id": "img_effect",
        "label": "Image hover effect",
            "info": "Waring: Hovering effect will resize your images",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "zoom",
            "label": "Zoom in"
          },
          {
            "value": "rotate",
            "label": "Rotate"
          },
          {
            "value": "translateToTop",
            "label": "Move to top "
          },
          {
            "value": "translateToRight",
            "label": "Move to right"
          },
          {
            "value": "translateToBottom",
            "label": "Move to bottom"
          },
          {
            "value": "translateToLeft",
            "label": "Move to left"
          }
        ]
      },
      {
        "type": "select",
        "id": "b_effect",
        "label": "Collection hover effect",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "border-run",
            "label": "Border run"
          },
          {
            "value": "pervasive-circle",
            "label": "Pervasive circle"
          },
          {
            "value": "plus-zoom-overlay",
            "label": "Plus zoom overlay"
          },
          {
            "value": "dark-overlay",
            "label": "Dark overlay"
          },
          {
            "value": "light-overlay",
            "label": "Light overlay"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image ratio",
        "default": "ratio1_1",
        "info": "Aspect ratio custom will settings in general panel",
        "options": [
          {
            "group": "Natural",
            "value": "ratioadapt",
            "label": "Adapt to image"
          },
          {
            "group": "Landscape",
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "group": "Landscape",
            "value": "ratio16_9",
            "label": "16:9"
          },
          {
            "group": "Landscape",
            "value": "ratio8_5",
            "label": "8:5"
          },
          {
            "group": "Landscape",
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "group": "Landscape",
            "value": "ratio4_3",
            "label": "4:3"
          },
          {
            "group": "Landscape",
            "value": "rationt",
            "label": "Ratio ASOS"
          },
          {
            "group": "Squared",
            "value": "ratio1_1",
            "label": "1:1"
          },
          {
            "group": "Portrait",
            "value": "ratio2_3",
            "label": "2:3"
          },
          {
            "group": "Portrait",
            "value": "ratio1_2",
            "label": "1:2"
          },
          {
            "group": "Custom",
            "value": "ratiocus1",
            "label": "Ratio custom 1"
          },
          {
            "group": "Custom",
            "value": "ratiocus2",
            "label": "Ratio custom 2"
          },
          {
            "group": "Custom",
            "value": "ratio_us3",
            "label": "Ratio custom 3"
          },
          {
            "group": "Custom",
            "value": "ratiocus4",
            "label": "Ratio custom 4"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "default": "cover",
        "info": "This settings apply only if the image ratio is not set to 'Adapt to image'",
        "options": [
          {
            "value": "cover",
            "label": "Full"
          },
          {
            "value": "contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position",
        "info": "The first value is the horizontal position and the second value is the vertical. These settings apply only if the image ratio is not set to 'Adapt to image', it also does not work when using 'Focal point' on the image.",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "1",
            "label": "Left top"
          },
          {
            "value": "2",
            "label": "Left center"
          },
          {
            "value": "3",
            "label": "Left bottom"
          },
          {
            "value": "4",
            "label": "Right top"
          },
          {
            "value": "5",
            "label": "Right center"
          },
          {
            "value": "6",
            "label": "Right bottom"
          },
          {
            "value": "7",
            "label": "Center top"
          },
          {
            "value": "8",
            "label": "Center center"
          },
          {
            "value": "9",
            "label": "Center bottom"
          }
        ],
        "label": "Image position",
        "default": "8"
      },
      {
        "type": "header",
        "content": "--Box options--"
      },
      {
        "type": "select",
        "id": "layout_des",
        "options": [
          {
            "value": "1",
            "label": "Grid"
          },
          {
            "value": "2",
            "label": "Carousel"
          }
        ],
        "label": "Layout design",
        "default": "1"
      },
      {
        "type": "select",
        "id": "col_dk",
        "label": "Items per row",
        "default": "4",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_tb",
        "label": "Items per row (Tablet)",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_mb",
        "label": "Items per row (Mobile)",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          }
        ]
      },
      {
        "type": "select",
        "id": "space_h_item",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "15", 
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space horizontal items",
        "default": "30"
      },
      {
        "type": "select",
        "id": "space_v_item",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "15", 
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space vertical items",
        "default": "30"
      },
      {
        "type": "select",
        "id": "space_h_item_mb",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "15", 
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space horizontal items (Mobile)",
        "default": "10"
      },
      {
        "type": "select",
        "id": "space_v_item_mb",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "15", 
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "25",
              "label": "25px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space vertical items (Mobile)",
        "default": "10"
      },
      {
        "type": "header",
        "content": "+Options for carousel layout"
      },
      {
        "type": "checkbox",
        "id": "loop",
        "label": "Enable loop",
        "info": "At the end of cells, wrap-around to the other end for infinite scrolling",
        "default": true
      },
      {
        "type": "range",
        "id": "au_time",
        "min": 0,
        "max": 30,
        "step": 0.5,
        "label": "Autoplay speed in second.",
        "info": "Set is '0' to disable autoplay",
        "unit": "s",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "au_hover",
        "label": "Pause autoplay on hover",
        "info": "Auto-playing will pause when the user hovers over the carousel",
        "default": true
      },
      {
        "type": "paragraph",
        "content": ""
      },
      {
        "type": "paragraph",
        "content": "Prev next button"
      },
      {
        "type": "checkbox",
        "id": "nav_btn",
        "label": "Use prev next button",
        "info": "Creates and show previous & next buttons",
        "default": false
      },
      {
        "type": "select",
        "id": "btn_pos",
        "label": "Buttons position",
        "default": "default",
        "info": "If you chose \"On top heading\", buttons will always visible",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "ontop",
            "label": "On top heading"
          }
        ]
      },
      {
        "type": "select",
        "id": "btn_vi",
        "label": "Visible",
        "default": "hover",
        "options": [
          {
            "value": "always",
            "label": "Always"
          },
          {
            "value": "hover",
            "label": "Only hover"
          }
        ]
      },
      {
        "type": "select",
        "id": "btn_owl",
        "label": "Button style",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "outline",
            "label": "Outline"
          },
          {
            "value": "simple",
            "label": "Simple"
          }
        ]
      },
      {
        "type": "select",
        "id": "btn_shape",
        "label": "Button shape",
        "info": "Not working with button style 'Simple'",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "Default"
          },
          {
            "value": "round",
            "label": "Round"
          },
          {
            "value": "rotate",
            "label": "Rotate"
          }
        ]
      },
      {
          "type": "select",
          "id": "btn_cl",
          "label": "Button color",
          "default": "dark",
          "options": [
              {
                  "value": "light",
                  "label": "Light"
              },
              {
                  "value": "dark",
                  "label": "Dark"
              },
              {
                  "value": "primary",
                  "label": "Primary"
              },
              {
                  "value": "custom1",
                  "label": "Custom color 1"
              },
              {
                  "value": "custom2",
                  "label": "Custom color 2"
              }
          ]
      },
      {
        "type": "select",
        "id": "btn_size",
        "label": "Buttons size",
        "default": "small",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
      {
        "type":"checkbox",
        "id":"btn_hidden_mobile",
        "label":"Hidden buttons on mobile ",
        "default": false
      },
      {
        "type": "paragraph",
        "content": ""
      },
      {
        "type": "paragraph",
        "content": "Page dots"
      },
      {
        "type": "checkbox",
        "id": "nav_dot",
        "label": "Use page dots",
        "info": "Creates and show page dots",
        "default": false
      },
      {
        "type": "select",
        "id": "dot_owl",
        "label": "Dots style",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "outline",
            "label": "Outline"
          },
          {
            "value": "elessi",
            "label": "Elessi"
          },
          {
              "value": "br-outline",
              "label": "Bordered outline"
          },
          {
              "value": "br-outline2",
              "label": "Bordered outline 2"
          }
        ]
      },
      {
        "type": "select",
        "id": "dots_cl",
        "label": "Dots color",
        "default": "dark",
        "options": [
          {
              "value": "light",
              "label": "Light (Best on dark background)"
          },
          {
              "value": "dark",
              "label": "Dark"
          },
          {
              "value": "primary",
              "label": "Primary"
          },
          {
              "value": "custom1",
              "label": "Custom color 1"
          },
          {
              "value": "custom2",
              "label": "Custom color 2"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "dots_round",
        "label": "Enable dots round",
        "default": true
      },
      {
        "type": "range",
        "id": "dots_space",
        "min": 2,
        "max": 20,
        "step": 1,
        "label": "Dot between horizontal",
        "unit": "px",
        "default": 10
      },
      {
        "type":"checkbox",
        "id":"dots_hidden_mobile",
        "label":"Hidden dots on mobile ",
        "default": false
      },
      {
        "type": "header",
        "content": "3. Design options"
      },
      {
        "type": "select","id": "layout","default": "t4s-container-wrap","label": "Layout",
        "options": [
            { "value": "t4s-se-container", "label": "Container"},
            { "value": "t4s-container-wrap", "label": "Wrapped container"},
            { "value": "t4s-container-fluid", "label": "Full width"}
        ]
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background"
      },
      {
        "type": "color_background",
        "id": "cl_bg_gradient",
        "label": "Background gradient"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Background image"
      },
      {
          "type": "text",
          "id": "mg",
          "label": "Margin",
          "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
          "default": ",,50px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd",
          "label": "Padding",
          "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
          "placeholder": "50px,,50px,"
      },
      {
        "type": "header",
        "content": "+ Design Tablet Options"
      },
      {
        "type": "text",
        "id": "mg_tb",
        "label": "Margin",
        "placeholder": ",,50px,"
      },
      {
        "type": "text",
        "id": "pd_tb",
        "label": "Padding",
        "placeholder": ",,50px,"
      }, 
      {
        "type": "header",
        "content": "+ Design mobile options"
      },
      {
          "type": "text",
          "id": "mg_mb",
          "label": "Margin",
          "default": ",,30px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd_mb",
          "label": "Padding",
          "placeholder": ",,50px,"
      },
      {
        "type": "header",
        "content": "4. Custom css"
      },
      {
        "id": "use_cus_css",
        "type": "checkbox",
        "label": "Use custom css",
        "default":false,
        "info": "If you want custom style for this section."
      },
      { 
        "id": "code_cus_css",
        "type": "textarea",
        "label": "Code custom css",
        "info": "Use selector .SectionID to style css"
        
      }
    ],
    "blocks": [
      {
        "type": "collection_item",
        "name": "Collection item",
        "settings": [
          {
              "id": "collection",
              "type": "collection",
              "label": "Collection"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Collection image"
          },
          {
            "type": "text",
            "id": "icon",
            "label": "Collection icon",
            "label": "Enter a name icon",
            "info": " [LineAwesome](https://kalles.the4.co/font-lineawesome/)",
            "default": "las la-gem"
          },
          {
            "type": "text",
            "id": "collection_title",
            "label": "Collection label",
            "info" : "Leave empty to use 'Collection label'.",
            "default": "Collection "
          },
          {
            "type": "url",
            "id": "collection_link",
            "label": "Link (optional)",
            "info" : "Leave empty to use 'collection url'."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collections list",
        "category": "Homepage",
        "blocks": [
          {"type": "collection_item"},
          {"type": "collection_item"},
          {"type": "collection_item"},
          {"type": "collection_item"}
        ]
      }
    ]
  }
{%- endschema -%}

{%- javascript -%}
{%- endjavascript -%}