<!-- sections/collections-list-simple.liquid -->
{% if template contains 'index' or template contains 'collection' or template contains 'product' %}
    
{% else %}
    <style>.t4s-section-inner,.t4s-section-inner.t4s-se-container .t4s-container-inner{padding-top:var(--pd-top);padding-inline-end:var(--pd-right);padding-bottom:var(--pd-bottom);padding-inline-start:var(--pd-left)}.t4s-flicky-slider.t4s-slider-btn-cl-dark,.t4s-flicky-slider.t4s-slider-btn-cl-default{--slider-btn-color:var(--t4s-light-color);--slider-btn-background:var(--t4s-dark-color);--slider-btn-border:var(--t4s-dark-color);--slider-btn-color-hover:var(--t4s-light-color)}.t4s-section-inner{margin-top:var(--mg-top);margin-inline-end:var(--mg-right);margin-bottom:var(--mg-bottom);margin-inline-start:var(--mg-left)}.t4s-container>.t4s-container-inner,.t4s-section-inner:not(.t4s-se-container){background:var(--bg-gradient);background-color:var(--bg-color)}.t4s-container-inner.t4s-has-imgbg,.t4s-section-inner.t4s-has-imgbg{background-repeat:no-repeat;background-position:center;background-size:cover}.t4s-container-fluid{width:calc(100% - var(--mg-left,0) - var(--mg-right,0));width:-webkit-calc(100% - var(--mg-left,0) - var(--mg-right,0))}.t4s-section-inner.t4s-se-container{padding-top:0;padding-inline-end:0;padding-bottom:0;padding-inline-start:0}.t4s-custom-line{width:var(--width);border-width:var(--height);border-style:var(--line-style);border-color:var(--line-cl);border-top:none;border-right:none;border-left:none;display:inline-block;vertical-align:top}@media (max-width:1024px){.t4s-container-fluid{width:calc(100% - var(--mgtb-left,0) - var(--mgtb-right,0));width:-webkit-calc(100% - var(--mgtb-left,0) - var(--mgtb-right,0))}.t4s-section-inner,.t4s-section-inner.t4s-se-container .t4s-container-inner{margin-top:var(--mgtb-top);margin-inline-end:var(--mgtb-right);margin-bottom:var(--mgtb-bottom);margin-inline-start:var(--mgtb-left);padding-top:var(--pdtb-top);padding-inline-end:var(--pdtb-right);padding-bottom:var(--pdtb-bottom);padding-inline-start:var(--pdtb-left)}}.t4s-flicky-slider.t4s-slider-btn-small{--btn-width-slider:40px;--btn-height-slider:40px;--icon-height-slider:16px}.t4s-flicky-slider{--btn-width-slider:50px;--btn-height-slider:50px;--icon-height-slider:20px;--slider-dot-width:11px;--slider-dot-height:11px;--slider-dot-background:#000;--slider-dot-border:#000}.t4s-flicky-slider.t4s-slider-btn-large{--btn-width-slider:60px;--btn-height-slider:60px;--icon-height-slider:24px}.t4s-flicky-slider .flickityt4s-button{width:var(--btn-width-slider);height:var(--btn-height-slider);text-align:center;padding:0;display:inline-flex;align-items:center;justify-content:center;transition:.5s;color:#000;margin:auto 0;min-width:1px;min-height:1px;-webkit-animation:1s t4s-ani-fadeIn;animation:1s t4s-ani-fadeIn;z-index:3;color:var(--slider-btn-color);background-color:var(--slider-btn-background);border-color:var(--slider-btn-border)}.flickityt4s-enabled .flickityt4s-prev-next-button[disabled],.flickityt4s-enabled:hover .flickityt4s-prev-next-button[disabled]{opacity:.3}.t4s-flicky-slider:not(:hover) .flickityt4s-button.previous{transform:translate(15px) translateY(-50%)}.t4s-flicky-slider:not(:hover) .flickityt4s-button.next{transform:translate(-15px) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-vi-always .flickityt4s-button{transform:translate(0) translateY(-50%)}.flickityt4s-prev-next-button .flickityt4s-button-icon{height:var(--icon-height-slider)!important}.t4s-dots-style-number .flickityt4s-page-dots,.t4s-flicky-slider.t4s-slider-btn-vi-hover .flickityt4s-button{opacity:0;visibility:hidden}.t4s-dots-style-number.flickityt4s-enabled .flickityt4s-page-dots,.t4s-flicky-slider.t4s-slider-btn-vi-always .flickityt4s-button,.t4s-flicky-slider.t4s-slider-btn-vi-hover:hover .flickityt4s-button{opacity:1;visibility:visible}.t4s-flicky-slider.t4s-dots-round-true .flickityt4s-page-dots .dot,.t4s-flicky-slider.t4s-slider-btn-round .flickityt4s-button{border-radius:50%}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button{transform-origin:50% 15px}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.previous{transform:rotate(45deg) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.next .flickityt4s-button-icon{transform:rotate(45deg)}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.next{transform:rotate(-45deg) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.previous .flickityt4s-button-icon{transform:rotate(-45deg)}.t4s-flicky-slider.t4s-slider-btn-rotate:not(:hover) .flickityt4s-button.previous{transform:rotate(45deg) translate(15px) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-rotate:not(:hover) .flickityt4s-button.next{transform:rotate(-45deg) translate(-15px) translateY(-50%)}.t4s-flicky-slider .flickityt4s-button:hover{color:var(--slider-btn-color-hover);background-color:var(--slider-btn-background-hover);border-color:var(--slider-btn-border-hover)}.t4s-flicky-slider.t4s-slider-btn-cl-light.t4s-slider-btn-style-default .flickityt4s-button{box-shadow:0 2px 10px #36363626}.t4s-flicky-slider.t4s-slider-btn-cl-default{--slider-btn-background-hover:var(--t4s-dark-color);--slider-btn-border-hover:var(--t4s-dark-color)}.t4s-flicky-slider.t4s-slider-btn-cl-default .flickityt4s-button:hover{opacity:.8!important}.t4s-flicky-slider.t4s-slider-btn-cl-dark{--slider-btn-background-hover:var(--accent-color);--slider-btn-border-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-cl-light,.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-light{--slider-btn-border:var(--t4s-light-color);--slider-btn-background-hover:var(--accent-color);--slider-btn-border-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-cl-light{--slider-btn-color:var(--t4s-dark-color);--slider-btn-background:var(--t4s-light-color);--slider-btn-color-hover:var(--t4s-light-color)}.t4s-flicky-slider.t4s-slider-btn-cl-primary{--slider-btn-color:var(--t4s-light-color);--slider-btn-background:var(--accent-color);--slider-btn-border:var(--accent-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-background-hover:var(--accent-color-hover);--slider-btn-border-hover:var(--accent-color-hover)}.t4s-flicky-slider.t4s-slider-btn-cl-custom1,.t4s-flicky-slider.t4s-slider-btn-cl-custom2{--slider-btn-color:var(--btn-color);--slider-btn-background:var(--btn-background);--slider-btn-border:var(--btn-background);--slider-btn-color-hover:var(--btn-color-hover);--slider-btn-background-hover:var(--btn-background-hover);--slider-btn-border-hover:var(--btn-background-hover)}.t4s-flicky-slider.t4s-slider-btn-style-outline{--slider-btn-color:var(--t4s-dark-color);--slider-btn-border:var(--t4s-dark-color);--slider-btn-background-hover:var(--t4s-dark-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-border-hover:var(--t4s-dark-color);--slider-btn-background:transparent}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-light{--slider-btn-color:var(--t4s-light-color);--slider-btn-color-hover:var(--t4s-light-color)}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-dark{--slider-btn-color:var(--t4s-dark-color);--slider-btn-border:var(--t4s-dark-color);--slider-btn-background-hover:var(--accent-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-border-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-primary{--slider-btn-color:var(--accent-color);--slider-btn-border:var(--accent-color);--slider-btn-background-hover:var(--accent-color);--slider-btn-color-hover:var(--t4s-light-color);--slider-btn-border-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-custom1,.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-custom2{--slider-btn-color:var(--btn-color);--slider-btn-border:var(--btn-color);--slider-btn-background-hover:var(--btn-background-hover);--slider-btn-color-hover:var(--btn-color-hover);--slider-btn-border-hover:var(--btn-background-hover)}.t4s-flicky-slider.t4s-slider-btn-style-simple{--slider-btn-color:var(--t4s-dark-color);--slider-btn-color-hover:var(--t4s-dark-color);--slider-btn-background:transparent;--slider-btn-border:transparent;--slider-btn-background-hover:transparent;--slider-btn-border-hover:transparent}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-light{--slider-btn-color:var(--t4s-light-color);--slider-btn-color-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-dark{--slider-btn-color:var(--t4s-dark-color);--slider-btn-color-hover:var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-primary{--slider-btn-color:var(--accent-color);--slider-btn-color-hover:var(--accent-color-hover)}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-custom1,.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-custom2{--slider-btn-color:var(--btn-color);--slider-btn-color-hover:var(--btn-color-hover)}.t4s-flicky-slider.t4s-dots-style-outline .flickityt4s-page-dots .dot,.t4s-flicky-slider.t4s-slider-btn-style-outline .flickityt4s-button{border-style:solid;border-width:2px}.t4s-slider-btn-pos-ontop.t4s-flicky-slider .flickityt4s-button{position:absolute;z-index:2;white-space:nowrap;--abc:calc(var(--heading-height)/2);--xyz:calc(var(--btn-height-slider)/2);top:auto;bottom:calc(100% + var(--tophead_mb));opacity:1;visibility:visible;margin:0}.t4s-slider-btn-pos-ontop.t4s-flicky-slider .flickityt4s-button.next{right:calc(var(--flickity-btn-pos)/2);transform:none}.t4s-slider-btn-pos-ontop.t4s-flicky-slider.t4s-slider-btn-style-simple .flickityt4s-button.next{right:calc(var(--flickity-btn-pos)/ 2 - 7px)}.t4s-slider-btn-pos-ontop.t4s-flicky-slider .flickityt4s-button.previous{right:calc(var(--btn-height-slider) + 20px + var(--flickity-btn-pos)/ 2);left:auto;transform:none}.t4s-slider-btn-pos-ontop.t4s-flicky-slider.t4s-slider-btn-style-simple .flickityt4s-button.previous{right:calc(var(--btn-height-slider) + 20px + var(--flickity-btn-pos)/ 2 - 7px)}.t4s-slider-btn-pos-ontop.t4s-flicky-slider:not(:hover) .flickityt4s-button.next,.t4s-slider-btn-pos-ontop.t4s-flicky-slider:not(:hover) .flickityt4s-button.previous{transform:none}.t4s-flicky-slider .flickityt4s-page-dots{display:block;-webkit-animation:1s t4s-ani-fadeIn;animation:1s t4s-ani-fadeIn}.flickityt4s-button,.flickityt4s-page-dots,.flickityt4s-page-dots .dot.is-selected:first-child:last-child,.rtl_false .t4s-collection-item-simple:last-child:after,.rtl_true .t4s-collection-item-simple:first-child:after,.t4s-dots-style-number .flickityt4s-page-dots:not(.t4s-dots-list){display:none}.t4s-dots-style-elessi.t4s-dots-round-true .flickityt4s-page-dots .dot{border-radius:5px}.t4s-flicky-slider.t4s-dots-style-outline .flickityt4s-page-dots .dot:not(.is-selected){--slider-dot-background:transparent!important}.t4s-flicky-slider.t4s-dots-style-default.t4s-dots-cl-default .dot.is-selected{--slider-dot-background:rgba(0,0,0,.9)}.t4s-flicky-slider.t4s-dots-style-outline{--slider-dot-width:13px;--slider-dot-height:13px;--slider-dot-background:#fff;--slider-dot-border:#fff}.t4s-flicky-slider.t4s-dots-style-elessi.t4s-dots-cl-default .dot.is-selected,.t4s-flicky-slider.t4s-dots-style-outline.t4s-dots-cl-default .dot.is-selected{--slider-dot-background:#000;--slider-dot-border:#000}.t4s-flicky-slider.t4s-dots-style-outline.t4s-dots-cl-default .dot:not(.is-selected){--slider-dot-background:#fff!important;--slider-dot-border:rgba(0,0,0,.2);opacity:1}.t4s-flicky-slider.t4s-dots-style-elessi{--slider-dot-width:13px;--slider-dot-height:13px;--slider-dot-background:#fff;--slider-dot-border:#000;--slider-dot-background-active:#000;--slider-dot-width:8px;--slider-dot-height:8px}.t4s-flicky-slider.t4s-dots-style-br-outline,.t4s-flicky-slider.t4s-dots-style-br-outline2{--slider-dot-background:var(--t4s-light-color);--slider-dot-background-active:var(--t4s-dark-color);--slider-dot-border:var(--t4s-dark-color)}.t4s-flicky-slider.t4s-dots-style-elessi .dot.is-selected{--slider-dot-width:30px}.t4s-flicky-slider.t4s-dots-style-elessi.t4s-dots-cl-default .dot:not(.is-selected){--slider-dot-background:#fff!important;--slider-dot-border:#fff;opacity:1}.t4s-flicky-slider.t4s-dots-style-br-outline{--slider-dot-width:8px;--slider-dot-height:8px}.t4s-flicky-slider.t4s-dots-style-br-outline .dot,.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot{position:relative;transition:box-shadow .3s;--slider-dot-width:17px;--slider-dot-height:17px;border-radius:50%;box-shadow:0 0 0 2px #fff0;-webkit-transition:box-shadow .3s;background-color:transparent!important}.t4s-flicky-slider.t4s-dots-style-br-outline .dot{--slider-dot-width:22px;--slider-dot-height:22px}.t4s-flicky-slider.t4s-dots-style-br-outline .dot.is-selected,.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot.is-selected{box-shadow:0 0 0 2px var(--slider-dot-background)}.t4s-flicky-slider.t4s-dots-style-br-outline .dot:before,.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot:before{content:"";border-radius:100%;background-color:var(--slider-dot-background);position:absolute;top:0;left:0;width:100%;height:100%;border:0}.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot.is-selected:before{background-color:transparent}.t4s-flicky-slider.t4s-dots-style-br-outline .dot.is-selected:before,.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot:before{transform:scale(.3);-webkit-transform:scale(.3)}.t4s-flicky-slider.t4s-dots-style-br-outline .dot:before{transform:scale(.4);-webkit-transform:scale(.4)}.t4s-flicky-slider.t4s-dots-cl-dark{--slider-dot-background:var(--t4s-dark-color);--slider-dot-border:var(--t4s-dark-color)}.t4s-flicky-slider.t4s-dots-cl-light{--slider-dot-background:var(--t4s-light-color);--slider-dot-border:var(--t4s-light-color)}.t4s-flicky-slider.t4s-dots-cl-primary{--slider-dot-background:var(--accent-color);--slider-dot-border:var(--accent-color)}.t4s-flicky-slider.t4s-dots-cl-custom1,.t4s-flicky-slider.t4s-dots-cl-custom2{--slider-dot-background:var(--dots-background);--slider-dot-border:var(--dots-background)}.t4s-flicky-slider .flickityt4s-page-dots .dot{display:inline-flex;justify-content:center;align-items:center;width:var(--slider-dot-width);height:var(--slider-dot-height);background-color:var(--slider-dot-background);border-color:var(--slider-dot-border);margin:0 calc(var(--space-dots)/2);cursor:pointer;opacity:.5;transition:.3s}.t4s-flicky-slider .flickityt4s-page-dots .dot.is-selected,.t4s-flicky-slider .flickityt4s-page-dots .dot:hover{opacity:1}.t4s-flicky-slider .flickityt4s-prev-next-button.previous{left:calc(var(--flickity-btn-pos)/2)}.t4s-flicky-slider .flickityt4s-prev-next-button.next{right:calc(var(--flickity-btn-pos)/2)}.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots{display:table;width:100%;max-width:calc(100% - var(--ts-gutter-x));margin-left:auto;margin-right:auto;margin-top:45px}.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot{display:table-cell;vertical-align:middle;width:auto;height:3px;background-color:#ededed;opacity:1}.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot.is-selected,.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot:hover{background-color:var(--slider-dot-background)}.t4s-flicky-slider.t4s-dots-round-true.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot{border-radius:1px}.t4s-dots-style-number.t4s-dots-cl-dark{--dots-cl:var(--t4s-light-color);--bg-dots-cl:var(--t4s-dark-color)}.t4s-dots-style-number.t4s-dots-cl-light{--dots-cl:var(--t4s-dark-color);--bg-dots-cl:var(--t4s-light-color)}.t4s-dots-style-number.t4s-dots-cl-primary{--dots-cl:var(--t4s-light-color);--bg-dots-cl:var(--accent-color)}.t4s-dots-style-number .t4s-dots-list{padding:5px 15px;display:inline-flex;align-items:center;justify-content:center;line-height:20px;font-size:14px;margin:0;color:var(--dots-cl);background-color:var(--bg-dots-cl);left:50%;right:auto;transform:translate(-50%);width:auto}.t4s-dots-style-number.t4s-dots-round-true .t4s-dots-list{border-radius:15px}.t4s-flicky-slider .flickityt4s-page-dots{padding-inline-start:calc(var(--ts-gutter-x)/2);padding-inline-end:calc(var(--ts-gutter-x)/2);margin-inline-start:calc(-1 * (var(--space-dots)/ 2));margin-inline-end:calc(-1 * (var(--space-dots)/ 2));margin-top:var(--dots-bottom-pos)}.t4s-flicky-slider.t4s-dots-bottom_left .flickityt4s-page-dots{text-align:left}.t4s-flicky-slider.t4s-dots-bottom_right .flickityt4s-page-dots{text-align:right}@media (max-width:767px){.t4s-container-fluid{width:calc(100% - var(--mgmb-left,0) - var(--mgmb-right,0));width:-webkit-calc(100% - var(--mgmb-left,0) - var(--mgmb-right,0))}.t4s-section-inner,.t4s-section-inner.t4s-se-container .t4s-container-inner{margin-top:var(--mgmb-top);margin-inline-end:var(--mgmb-right);margin-bottom:var(--mgmb-bottom);margin-inline-start:var(--mgmb-left);padding-top:var(--pdmb-top);padding-inline-end:var(--pdmb-right);padding-bottom:var(--pdmb-bottom);padding-inline-start:var(--pdmb-left)}.t4s-flicky-slider.t4s-slider-btn-small{--btn-width-slider:30px;--btn-height-slider:30px;--icon-height-slider:10px}.t4s-flicky-slider{--btn-width-slider:40px;--btn-height-slider:40px;--icon-height-slider:14px}.t4s-flicky-slider.t4s-slider-btn-large{--btn-width-slider:50px;--btn-height-slider:50px;--icon-height-slider:18px}.flickityt4s-page-dots{margin:5px 0 0}.t4s-flicky-slider.t4s-dots-hidden-mobile-true .flickityt4s-page-dots,.t4s-flicky-slider.t4s-slider-btn-hidden-mobile-true .flickityt4s-button{display:none}.t4s-flicky-slider:not(:hover) .flickityt4s-button.next,.t4s-flicky-slider:not(:hover) .flickityt4s-button.previous{transform:translate(0) translateY(-50%)}.flickityt4s-prev-next-button.previous{left:10px}.flickityt4s-prev-next-button.next{right:10px}.t4s-flicky-slider .flickityt4s-prev-next-button.previous{left:calc(var(--flickity-btn-pos-mb)/2)}.t4s-flicky-slider .flickityt4s-prev-next-button.next{right:calc(var(--flickity-btn-pos-mb)/2)}}.t4s-list-collections-simple{display:flex}.t4s-collection-item-simple a{color:var(--title-cl-pri);padding:5px calc(var(--space-item-dk)/2);font-size:16px;font-weight:500;display:inline-block;white-space:nowrap}.t4s-collection-item-simple a:hover{color:var(--title-cl-pri-hover)}.t4s-collection-item-simple:after{content:"";position:absolute;top:20%;bottom:20%;right:0;width:1px;background:rgba(255,255,255,.5)}.rtl_false .t4s-list-collections-simple .t4s-collection-item-simple:first-child a,.rtl_true .t4s-list-collections-simple .t4s-collection-item-simple:first-child a{padding-left:0}.rtl_false .t4s-list-collections-simple .t4s-collection-item-simple:last-child a,.rtl_true .t4s-list-collections-simple .t4s-collection-item-simple:last-child a{padding-right:0}.t4s-collections-list-simple .t4s-flicky-slider .flickityt4s-prev-next-button.previous{left:0}.t4s-collections-list-simple .t4s-flicky-slider .flickityt4s-prev-next-button.next{right:0}.t4s-collections-list-simple .flickityt4s-prev-next-button{transform:translateY(-50%)!important;width:35px;height:35px}@media screen and (max-width:1023px){.t4s-collection-item-simple a{padding:5px calc(var(--space-item-tb)/2)}}@media screen and (max-width:767px){.t4s-collection-item-simple a{padding:5px calc(var(--space-item-mb)/2)}}.flickityt4s:not(.flickityt4s-enabled){flex-wrap:nowrap;overflow:hidden;width:auto}.flickityt4s-enabled{display:block;position:relative;-webkit-tap-highlight-color:transparent}.flickityt4s-enabled:focus{outline:0;box-shadow:none}.flickityt4s-viewport{overflow:hidden;position:relative;width:100%;height:100%}.flickityt4s-slider{position:absolute;width:100%;height:100%;will-change:transform}.flickityt4s-enabled.is-draggable{-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickityt4s-enabled.is-draggable .flickityt4s-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickityt4s-enabled.is-draggable .flickityt4s-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickityt4s-enabled.is-fade .flickityt4s-slider>*{pointer-events:none;z-index:0;opacity:0;transition:opacity .3s ease-in-out,visibility .3s ease-in-out}.flickityt4s-enabled.is-fade .flickityt4s-slider>.is-selected{pointer-events:auto;z-index:1;opacity:1}.t4s-enabled .flickityt4s-viewport{transition:height .3s}.flickityt4s-button{position:absolute;border:none}.flickityt4s-button:hover{cursor:pointer}.flickityt4s-button:active{opacity:.6}.flickityt4s-button:disabled{opacity:.3!important;cursor:auto}.flickityt4s_prev_disable.flickityt4s_next_disable .flickityt4s-button:disabled,.flickityt4s_prev_disable.flickityt4s_next_disable .flickityt4s-page-dots{display:none!important}.flickityt4s-button-icon{fill:currentColor}.flickityt4s-prev-next-button{top:var(--prev-next-top,50%);width:40px;height:40px;min-width:40px;min-height:40px;padding:0;transform:translateY(-50%)}.flickityt4s-prev-next-button.previous{left:15px}.flickityt4s-prev-next-button.next{right:15px}.flickityt4s-rtl .flickityt4s-prev-next-button.previous{left:auto;right:15px}.flickityt4s-rtl .flickityt4s-prev-next-button.next{right:auto;left:15px}.flickityt4s-prev-next-button .flickityt4s-button-icon{width:auto;height:18px;stroke:currentColor;fill:currentcolor}.flickityt4s-page-dots{position:relative;width:100%;bottom:0;z-index:2;padding:0;margin:15px 0 0;list-style:none;text-align:center;line-height:1}.flickityt4s-rtl .flickityt4s-page-dots{direction:rtl}.flickityt4s:after{content:'flickityt4s';display:none}@media (min-width:768px){.carousel-disable-md:after{content:''}.carousel-disable-md.flickityt4s:not(.flickityt4s-enabled){flex-wrap:wrap}}@media (min-width:1025px){.carousel-disable-lg:after{content:''}.carousel-disable-lg.flickityt4s:not(.flickityt4s-enabled){flex-wrap:wrap}.t4s-carousel__nav-scroller:not(.is__position-bottom){position:absolute;top:0;left:0;right:0;bottom:0;overflow-x:visible;overflow-y:scroll;overscroll-behavior-y:contain}.t4s-carousel__nav{flex-wrap:wrap}}.flickityt4s-enabled,.flickityt4s-slider>.t4s-col-item{margin-top:0!important}.t4s-carousel__nav-scroller{width:100%;overflow-x:scroll;white-space:nowrap;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;scrollbar-width:none;scroll-behavior:smooth;-ms-overflow-style:-ms-autohiding-scrollbar}.t4s-carousel__nav-scroller img{opacity:0;transition:.3s ease-in-out}.t4s-carousel__nav-scroller img.lazyloadt4sed{opacity:1}.t4s-carousel__nav{flex-wrap:nowrap}.t4s-carousel__nav-scroller::-webkit-scrollbar{height:0;width:0}</style>
{% endif %}
<link rel="stylesheet" data-href="{{ 'section.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'slider-settings.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'collection-list-simple.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'pre_flickityt4s.min.css' | asset_url }}">
{%- liquid
    assign sid = section.id
    assign se_stts = section.settings
    assign se_blocks = section.blocks
    assign stt_layout = se_stts.layout
    assign stt_image_bg = se_stts.image_bg
    if stt_layout == 't4s-se-container' 
      assign html_layout = '<div class="t4s-container">__</div></div>' | split: '__'
    elsif stt_layout == 't4s-container-wrap'
      assign html_layout = '<div class="t4s-container">__</div>' | split: '__'
    else
      assign html_layout = '__' | split: '__'
    endif
 -%}
  <div class="t4s-section-inner t4s_nt_se_{{ sid }} t4s_se_{{ sid }} {{ stt_layout }}{%- if stt_image_bg != blank and stt_layout != 't4s-se-container' -%} t4s-has-imgbg lazyloadt4s{%- endif -%}" {%- if stt_image_bg != blank and stt_layout != 't4s-se-container' -%} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto" data-optimumx="2"{%- endif -%} {% render 'section_style', se_stts: se_stts %}>
    {{- html_layout[0] -}}
    {%- if stt_layout == 't4s-se-container' -%}<div class="t4s-container-inner{% if stt_image_bg != blank %} t4s-has-imgbg lazyloadt4s{% endif %}" {%- if stt_image_bg != blank -%} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2"{%- endif -%}>{%- endif -%}
    <div class="t4s-list-collections-simple t4s-row t4s-g-0 t4s-flicky-slider flickityt4s t4s-text-center t4s-slider-btn-style-simple t4s-slider-btn-none t4s-slider-btn-small t4s-slider-btn-vi-always" 
    data-flickityt4s-js='{"isSimple": true,"setPrevNextButtons":true,"imagesLoaded": 0,"adaptiveHeight": 0, "contain": 1, "groupCells": "100%","freeScroll": true, "dragThreshold" : 5, "cellAlign": "left","wrapAround": 0,"prevNextButtons": 1,"percentPosition": 1,"pageDots": 0, "autoPlay" : 0, "pauseAutoPlayOnHover" : 1 }' 
    style="--title-cl-pri: {{ se_stts.title_cl }};--title-cl-pri-hover: {{ se_stts.title_cl_hover }};--slider-btn-color: {{ se_stts.title_cl }};--item-pd: {{ se_stts.item_pd }}px;--space-bottom: {{ se_stts.space_bottom }}px;--space-bottom-mb: {{ se_stts.space_bottom_mb }}px; --space-item-dk:{{ se_stts.space_item_dk }}px; --space-item-tb:{{ se_stts.space_item_tb }}px; --space-item-mb:{{ se_stts.space_item_mb }}px;">
        {%- for block in se_blocks -%}
            {%- liquid
                assign bk_stts = block.settings
                assign collection = collections[bk_stts.collection]
                assign title = bk_stts.collection_title | default: collection.title
                assign collection_link = bk_stts.collection_link | default: collection.url
                assign open_link = bk_stts.open_link
               -%}
            <div class="t4s-collection-item-simple t4s-pr t4s-col-auto t4s-col-item">
                <a href="{{ collection_link }}" target="{{ se_stts.open_link }}">{{ title }}</a>
            </div>
        {%- endfor -%}
    {{- html_layout[1] -}}
</div>

{%- schema -%}
{
    "name": "Collections list simple",
    "tag": "section",
    "class": "t4s-section t4s_bk_flickity t4s-section-all t4s_tp_cdt t4s-collections-list-simple",
    "settings": [
        {
            "type": "header",
            "content": "1. General options"
        },
        {
            "type": "color",
            "id": "title_cl",
            "label": "Title color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "title_cl_hover",
            "label": "Title hover color",
            "default": "#222222"
        },
        {
            "type": "select",
            "id": "open_link",
            "info": "Works when the item has a link",
            "options": [
            {
                "value": "_self",
                "label": "Current window"
            },
            {
                "value": "_blank",
                "label": "New window"
            }
            ],
            "label": "Open link in",
            "default": "_self"
        },
        {
            "type":"range",
            "id":"space_item_dk",
            "label":"Space between items (Desktop)",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default":70
        },
        {
            "type":"range",
            "id":"space_item_tb",
            "label":"Space between items (Tablet)",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default":35
        },
        {
            "type":"range",
            "id":"space_item_mb",
            "label":"Space between items (Mobile)",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default":25
        },
        {
            "type": "header",
            "content": "2. Design options"
        },
        {
            "type": "select","id": "layout","default": "t4s-container-wrap","label": "Layout",
            "options": [
                { "value": "t4s-se-container", "label": "Container"},
                { "value": "t4s-container-wrap", "label": "Wrapped container"},
                { "value": "t4s-container-fluid", "label": "Full width"}
            ]
        },
        {
            "type": "color",
            "id": "cl_bg",
            "label": "Background",
            "default": "#A20401"
        },
        {
            "type": "color_background",
            "id": "cl_bg_gradient",
            "label": "Background gradient"
        },
        {
            "type": "image_picker",
            "id": "image_bg",
            "label": "Background image"
        },
        {
            "type": "text",
            "id": "mg",
            "label": "Margin",
            "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
            "default": ",,50px,",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd",
            "label": "Padding",
            "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
            "default": "10px,,10px,"
        },
        {
            "type": "header",
            "content": "+ Design Tablet Options"
        },
        {
            "type": "text",
            "id": "mg_tb",
            "label": "Margin",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd_tb",
            "label": "Padding",
            "placeholder": ",,50px,"
        }, 
        {
            "type": "header",
            "content": "+ Design mobile options"
        },
        {
            "type": "text",
            "id": "mg_mb",
            "label": "Margin",
            "default": ",,30px,",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd_mb",
            "label": "Padding",
            "default": "10px,,10px,"
        }
    ],
    "blocks": [
        {
            "type": "collection_item",
            "name": "Collection",
            "settings": [
                {
                    "id": "collection",
                    "type": "collection",
                    "label": "Collection"
                },{
                    "type": "text",
                    "id": "collection_title",
                    "label": "Collection label",
                    "info" : "Leave empty to use 'Collection label'.",
                    "default": "Collection "
                },{
                    "type": "url",
                    "id": "collection_link",
                    "label": "Link (optional)",
                    "info" : "Leave empty to use 'collection url'."
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collection list simple",
            "blocks": [
                {
                    "type": "collection_item"
                },
                {
                    "type": "collection_item"
                },
                {
                    "type": "collection_item"
                },
                {
                    "type": "collection_item"
                },
                {
                    "type": "collection_item"
                },
                {
                    "type": "collection_item"
                }
            ]
        }
    ]
}
{%- endschema -%}