{% if template contains "index" or template contains "collection" or template contains "product" %}
	
{% else %}
	<style>.t4s-section-inner{margin-top:var(--mg-top);margin-inline-end:var(--mg-right);margin-bottom:var(--mg-bottom);margin-inline-start:var(--mg-left);padding-top:var(--pd-top);padding-inline-end:var(--pd-right);padding-bottom:var(--pd-bottom);padding-inline-start:var(--pd-left)}.t4s-section-inner:not(.t4s-se-container),.t4s-container>.t4s-container-inner{background:var(--bg-gradient);background-color:var(--bg-color)}.t4s-container-inner.t4s-has-imgbg,.t4s-section-inner.t4s-has-imgbg{background-repeat:no-repeat;background-position:center;background-size:cover}.t4s-container-fluid{width:calc(100% - var(--mg-left,0) - var(--mg-right,0));width:-webkit-calc(100% - var(--mg-left,0) - var(--mg-right,0))}.t4s-section-inner.t4s-se-container{padding-top:0;padding-inline-end:0;padding-bottom:0;padding-inline-start:0}.t4s-section-inner.t4s-se-container .t4s-container-inner{padding-top:var(--pd-top);padding-inline-end:var(--pd-right);padding-bottom:var(--pd-bottom);padding-inline-start:var(--pd-left)}.t4s-custom-line{width:var(--width);border-width:var(--height);border-style:var(--line-style);border-color:var(--line-cl);border-top:none;border-right:none;border-left:none;display:inline-block;vertical-align:top}@media (max-width: 1024px){.t4s-container-fluid{width:calc(100% - var(--mgtb-left,0) - var(--mgtb-right,0));width:-webkit-calc(100% - var(--mgtb-left,0) - var(--mgtb-right,0))}.t4s-section-inner.t4s-se-container .t4s-container-inner,.t4s-section-inner{margin-top:var(--mgtb-top);margin-inline-end:var(--mgtb-right);margin-bottom:var(--mgtb-bottom);margin-inline-start:var(--mgtb-left);padding-top:var(--pdtb-top);padding-inline-end:var(--pdtb-right);padding-bottom:var(--pdtb-bottom);padding-inline-start:var(--pdtb-left)}}@media (max-width: 767px){.t4s-container-fluid{width:calc(100% - var(--mgmb-left,0) - var(--mgmb-right,0));width:-webkit-calc(100% - var(--mgmb-left,0) - var(--mgmb-right,0))}.t4s-section-inner.t4s-se-container .t4s-container-inner,.t4s-section-inner{margin-top:var(--mgmb-top);margin-inline-end:var(--mgmb-right);margin-bottom:var(--mgmb-bottom);margin-inline-start:var(--mgmb-left);padding-top:var(--pdmb-top);padding-inline-end:var(--pdmb-right);padding-bottom:var(--pdmb-bottom);padding-inline-start:var(--pdmb-left)}}.t4s-col-inner{padding:var(--pd);background-color:var(--bg-cl)}.t4s-has-imgbg{background-repeat:no-repeat;background-position:center;background-size:cover}.t4s-text-bl{font-size:var(--text-fs);font-weight:var(--text-fw);line-height:var(--text-lh);letter-spacing:var(--text-ls);font-style:var(--text-fonts);color:var(--text-cl);margin-bottom:var(--text-mgb)}.t4s-font-italic-true{font-style:italic!important}.t4s-text-shadow-true{text-shadow:0 0 4px rgba(0,0,0,.4)}.t4s-img-child:before,.t4s-img-child:after{pointer-events:none}.t4s-img-child,.custom-menu,.socials-block,.t4s-newsletter-parent{margin-bottom:var(--mgb)}.t4s-img-child img{width:100%;max-width:var(--width);display:inline-block;vertical-align:top}.t4s-space-html{height:var(--height);margin-bottom:var(--mgb);vertical-align:top}.t4s-space-html:before{content:"";display:inline-block;max-width:100%;background-color:var(--color);width:var(--width);height:var(--height);vertical-align:top}@media (min-width: 768px) and (max-width: 1024px){.t4s-space-html{height:var(--height-tl);margin-bottom:var(--mgb-tl)}.t4s-space-html:before{background-color:var(--color);width:var(--width-tl);height:var(--height-tl)}.t4s-hidden-tablet-true{display:none}.t4s-col-inner{padding:var(--pd-tb)}}@media (max-width: 767px){.t4s-col-inner{padding:var(--pd-mb)}.t4s-text-bl{font-size:var(--text-fs-mb);line-height:var(--text-lh-mb);letter-spacing:var(--text-ls-mb);margin-bottom:var(--text-mgb-mb)}.t4s-hidden-mobile-true,.t4s-br-mb-true br{display:none}.t4s-img-child,.custom-menu,.socials-block,.t4s-newsletter-parent{margin-bottom:var(--mgb-mb)}.t4s-space-html{height:var(--height-mb);margin-bottom:var(--mgb-mb)}.t4s-space-html:before{background-color:var(--color);width:var(--width-mb);height:var(--height-mb)}.t4s-img-child img{max-width:var(--width-mb)}}</style>
{% endif %}
<!-- sections/custom-html.liquid -->
<link data-href="{{ 'section.css' | asset_url }}" rel="stylesheet" >
<link data-href="{{ 'general-block.css' | asset_url }}" rel="stylesheet" >

{%- liquid
  assign sid = section.id
  assign se_stts = section.settings
  assign se_blocks = section.blocks
  assign stt_layout = se_stts.layout
  assign stt_image_bg = se_stts.image_bg
  if stt_layout == 't4s-se-container' 
    assign html_layout = '<div class="t4s-container">__</div></div>' | split: '__'
  elsif stt_layout == 't4s-container-wrap'
    assign html_layout = '<div class="t4s-container">__</div>' | split: '__'
  else
    assign html_layout = '__' | split: '__'
  endif

  assign t4s_se_class = 't4s_nt_se_' | append: sid
  if se_stts.use_cus_css and se_stts.code_cus_css != blank
    render 'se_cus_css', code_cus_css: se_stts.code_cus_css, t4s_se_class: t4s_se_class
  endif 
 -%} 
<div class="t4s-section-inner t4s_nt_se_{{ sid }} t4s_se_{{ sid }} {{ stt_layout }}{% if stt_image_bg != blank and stt_layout != 't4s-se-container' %} t4s-has-imgbg lazyloadt4s{% endif %}" {% if stt_image_bg != blank and stt_layout != 't4s-se-container' %} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2"{% endif %} {% render 'section_style', se_stts: se_stts -%} >
    {{- html_layout[0] -}}
    {%- if stt_layout == 't4s-se-container' -%}<div class="t4s-container-inner{% if stt_image_bg != blank %} t4s-has-imgbg lazyloadt4s{% endif %}" {% if stt_image_bg != blank %} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2"{% endif %}>{% endif -%}
    <div class="t4s-code__html t4s-rte">{{ se_stts.code }}</div>
    {{- html_layout[1] -}}
</div>
  
{%- schema -%}
  {
    "name": "Custom HTML",
    "tag": "section",
    "class": "t4s-section t4s-section-all t4s_tp_cdt t4s-custom-html",
    "settings": [
      {
        "type": "header",
        "content": "1. Content options"
      },
      {
        "type": "paragraph",
        "content": "This is an advanced section. Knowledge of web design languages such as HTML, CSS is required"
      },
      {
        "type": "html",
        "id": "code",
        "label": "Content",
        "default": "<div class=\"t4s-text-center\" style=\"padding: 15px 0;background-color: #000;color: #fff;\">This is an advanced section. Knowledge of web design languages such as HTML, CSS is required.</div>"
      },
      {
        "type": "header",
        "content": "2. Design options"
      },
      {
        "type": "select","id": "layout","default": "t4s-container-wrap","label": "Layout",
        "options": [
            { "value": "t4s-se-container", "label": "Container"},
            { "value": "t4s-container-wrap", "label": "Wrapped container"},
            { "value": "t4s-container-fluid", "label": "Full width"}
        ]
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background"
      },
      {
        "type": "color_background",
        "id": "cl_bg_gradient",
        "label": "Background gradient"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Background image"
      },
      {
          "type": "text",
          "id": "mg",
          "label": "Margin",
          "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
          "default": ",,50px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd",
          "label": "Padding",
          "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
          "placeholder": "50px,,50px,"
      },
      {
        "type": "header",
        "content": "+ Design Tablet Options"
      },
      {
        "type": "text",
        "id": "mg_tb",
        "label": "Margin",
        "placeholder": ",,50px,"
      },
      {
        "type": "text",
        "id": "pd_tb",
        "label": "Padding",
        "placeholder": ",,50px,"
      }, 
      {
        "type": "header",
        "content": "+ Design mobile options"
      },
      {
          "type": "text",
          "id": "mg_mb",
          "label": "Margin",
          "default": ",,30px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd_mb",
          "label": "Padding",
          "placeholder": ",,50px,"
      },
      {
        "type": "header",
        "content": "4. Custom css"
      },
      {
        "id": "use_cus_css",
        "type": "checkbox",
        "label": "Use custom css",
        "default":false,
        "info": "If you want custom style for this section."
      },
      { 
        "id": "code_cus_css",
        "type": "textarea",
        "label": "Code custom css",
        "info": "Use selector .SectionID to style css"
        
      }
    ],
  "presets": [
      {
        "name": "Custom HTML",
        "category": "Homepage"
      }
    ]
  }
{%- endschema -%}