<!-- sections/image-gallery.liquid -->
  {% if template contains 'index' or template contains 'collection' or template contains 'product' %}
      
  {% else %}
     <style>.t4s-section-inner {margin-top: var(--mg-top);margin-inline-end: var(--mg-right);margin-bottom: var(--mg-bottom);margin-inline-start: var(--mg-left);padding-top: var(--pd-top);padding-inline-end: var(--pd-right);padding-bottom: var(--pd-bottom);padding-inline-start: var(--pd-left) }.t4s-section-inner:not(.t4s-se-container), .t4s-container>.t4s-container-inner {background: var(--bg-gradient);background-color: var(--bg-color) }.t4s-container-inner.t4s-has-imgbg, .t4s-section-inner.t4s-has-imgbg {background-repeat: no-repeat;background-position: center;background-size: cover }.t4s-container-fluid {width: calc(100% - var(--mg-left, 0) - var(--mg-right, 0));width: -webkit-calc(100% - var(--mg-left, 0) - var(--mg-right, 0)) }.t4s-section-inner.t4s-se-container {padding-top: 0;padding-inline-end: 0;padding-bottom: 0;padding-inline-start: 0 }.t4s-section-inner.t4s-se-container .t4s-container-inner {padding-top: var(--pd-top);padding-inline-end: var(--pd-right);padding-bottom: var(--pd-bottom);padding-inline-start: var(--pd-left) }.t4s-custom-line {width: var(--width);border-width: var(--height);border-style: var(--line-style);border-color: var(--line-cl);border-top: none;border-right: none;border-left: none;display: inline-block;vertical-align: top }@media (max-width: 1024px) {.t4s-container-fluid {width: calc(100% - var(--mgtb-left, 0) - var(--mgtb-right, 0));width: -webkit-calc(100% - var(--mgtb-left, 0) - var(--mgtb-right, 0)) }.t4s-section-inner.t4s-se-container .t4s-container-inner, .t4s-section-inner {margin-top: var(--mgtb-top);margin-inline-end: var(--mgtb-right);margin-bottom: var(--mgtb-bottom);margin-inline-start: var(--mgtb-left);padding-top: var(--pdtb-top);padding-inline-end: var(--pdtb-right);padding-bottom: var(--pdtb-bottom);padding-inline-start: var(--pdtb-left) }}@media (max-width: 767px) {.t4s-container-fluid {width: calc(100% - var(--mgmb-left, 0) - var(--mgmb-right, 0));width: -webkit-calc(100% - var(--mgmb-left, 0) - var(--mgmb-right, 0)) }.t4s-section-inner.t4s-se-container .t4s-container-inner, .t4s-section-inner {margin-top: var(--mgmb-top);margin-inline-end: var(--mgmb-right);margin-bottom: var(--mgmb-bottom);margin-inline-start: var(--mgmb-left);padding-top: var(--pdmb-top);padding-inline-end: var(--pdmb-right);padding-bottom: var(--pdmb-bottom);padding-inline-start: var(--pdmb-left) }}.t4s-eff {position: relative;z-index: 3;display: block;vertical-align: top;overflow: hidden }.t4s-eff:before, .t4s-eff:after {content: "";z-index: 1;pointer-events: none }.t4s-eff-border-run:before, .t4s-eff-border-run:after {position: absolute;content: "";opacity: 0;width: 0;height: 0;transition: all .8s ease }.t4s-eff-border-run:before {border-top: 1px solid #fff;border-left: 1px solid #fff;top: 15px;left: 15px }.t4s-eff-border-run:after {border-right: 1px solid #fff;border-bottom: 1px solid #fff;right: 15px;bottom: 15px }.t4s-eff-pervasive-circle:before {position: absolute;border-radius: 50%;width: 0;height: 0;top: 50%;left: 50%;background-color: #ffffff4d;content: "";z-index: 2 }.t4s-eff-plus-zoom-overlay:before, .t4s-eff-plus-zoom-overlay:after {content: "";position: absolute;width: 100%;height: 100%;margin: auto;transition: all .5s ease;z-index: 2;background-color: #ffffff26;pointer-events: none }.t4s-eff-plus-zoom-overlay:before, .t4s-eff-plus-zoom-overlay:after {top: 0;bottom: 0;left: 0;right: 0;opacity: 0;visibility: hidden }.t4s-eff-dark-overlay:before {position: absolute;content: "";top: 0;bottom: 0;left: 0;right: 0;background-color: #000;opacity: 0;transition: opacity .2s ease;z-index: 2;pointer-events: none }.t4s-eff-light-overlay:before {position: absolute;content: "";top: 0;bottom: 0;left: 0;right: 0;background-color: #fff;opacity: 0;transition: opacity .2s ease;z-index: 2;pointer-events: none }.t4s-eff-img-zoom .t4s-obj-eff {transition: all 1s }.t4s-eff-img-rotate .t4s-obj-eff {transition: .6s ease-in-out }.t4s-eff-img-translateToTop .t4s-obj-eff, .t4s-eff-img-translateToRight .t4s-obj-eff, .t4s-eff-img-translateToLeft .t4s-obj-eff, .t4s-eff-img-translateToBottom .t4s-obj-eff {transition: .6s ease-in-out;transform: scale(1.15) }.t4s-eff-img-translateToTop .t4s-obj-eff {transform-origin: top }.t4s-eff-img-translateToRight .t4s-obj-eff {transform-origin: right }.t4s-eff-img-translateToLeft .t4s-obj-eff {transform-origin: left }.t4s-eff-img-translateToBottom .t4s-obj-eff {transform-origin: bottom }.t4s-eff-img-filter .t4s-obj-eff {opacity: .5;filter: grayscale(100%);transition: filter .3s, opacity .3s, -webkit-filter .3s }.t4s-eff-img-filter-unset .t4s-obj-eff {transition: filter .3s, opacity .3s, -webkit-filter .3s }.flicker .t4s-obj-eff {animation: 1s infinite flicker }.t4s-btn:before {content: "";position: absolute;z-index: -1;border-radius: inherit;opacity: 0;visibility: hidden }.t4s-btn:not(.t4s-btn-effect-default):not(.t4s-btn-effect-overlay-run):before {transition: .3s ease-in-out }.t4s-btn:before {background-color: var(--btn-background);border-color: var(--btn-background) }.t4s-btn-effect-default:before {top: 0;left: 0;right: 0;bottom: 0;background-color: var(--btn-background);border-color: var(--btn-background) }.t4s-btn-effect-rectangle-out:before {top: 50%;left: 50%;width: 0px;height: 0px;border-radius: 50% }.t4s-btn-effect-sweep-to-left:before, .t4s-btn-effect-sweep-to-right:before, .t4s-btn-effect-sweep-to-top:before, .t4s-btn-effect-sweep-to-bottom:before {top: 0;left: 0;right: 0;bottom: 0;z-index: -1;opacity: 1;visibility: visible;transform: scaleX(0);transform-origin: 0 0;transition-duration: .5s;transition-property: transform;transition-timing-function: ease-out }.t4s-btn-effect-sweep-to-bottom:before, .t4s-btn-effect-sweep-to-top:before {transform: scaleX(1) scaleY(0) }.t4s-btn-effect-sweep-to-left:before, .t4s-btn-effect-sweep-to-top:before {transform-origin: 100% 100% }.t4s-btn-effect-shutter-out-horizontal {transform: perspective(1px) translateZ(0) }.t4s-btn-effect-shutter-out-horizontal:before {top: 0;bottom: 0;left: 0;right: 0;transform: scaleX(0);transform-origin: 50%;transition-property: transform;opacity: 1;visibility: visible }.t4s-btn-effect-outline {overflow: unset !important;transition: all .4s ease-in-out }.t4s-btn-effect-outline:before {content: "";position: absolute;left: 8px;top: 8px;width: 100%;height: 100%;background-color: transparent;border-bottom: 2px solid var(--btn-border);border-right: 2px solid var(--btn-border);border-radius: inherit;transition: all .3s ease-in-out;opacity: 1;visibility: visible }.t4s-btn-effect-shadow {transition: all .4s ease-in-out;box-shadow: 8px 8px 10px gray }@keyframes ani_shine {to {left: -200% }}.t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-light, .t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-dark, .t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-primary, .t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-custom1, .t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-custom2 {--btn-color-hover: var(--btn-color);--btn-background-hover: var(--btn-background) }.t4s-btn-style-default.t4s-btn-effect-overlay-run:after {content: "";position: absolute;pointer-events: none;top: 0;left: 150%;width: 200%;height: 100%;transform: skew(-20deg);background-image: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, .25), transparent) }.t4s-btn-style-default.t4s-btn-effect-overlay-run.t4s-btn-color-light:after {background-color: #0006 }.t4s-bl-item:not(.t4s-animation-none) {opacity: 0 }.t4s_animated .t4s-bl-item, .is-selected .t4s-bl-item {animation: var(--animation);animation-duration: var(--time-animation);animation-delay: var(--delay-animation);animation-fill-mode: forwards }@media (-moz-touch-enabled: 0), (hover: hover) {.t4s-eff-border-run:hover:before, .t4s-eff-border-run:hover:after {opacity: 1;width: calc(100% - 30px);height: calc(100% - 30px) }.t4s-eff-pervasive-circle:hover:before {top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;opacity: 0;transition: .6s }.t4s-eff-plus-zoom-overlay:not(:hover):before {width: 0;opacity: 1;visibility: visible }.t4s-eff-plus-zoom-overlay:not(:hover):after {height: 0;opacity: 1;visibility: visible }.t4s-eff-dark-overlay:hover:before {opacity: .3 }.t4s-eff-light-overlay:hover:before {opacity: .3 }.t4s-eff-img-zoom:hover .t4s-obj-eff {transform: scale(1.1) }.t4s-eff-img-rotate:hover .t4s-obj-eff {transform: rotate(15deg) scale(1.4) }.t4s-eff-img-translateToTop:hover .t4s-obj-eff {transform: scale(1.15) translateY(-25px) }.t4s-eff-img-translateToRight:hover .t4s-obj-eff {transform: scale(1.15) translate(25px) }.t4s-eff-img-translateToLeft:hover .t4s-obj-eff {transform: scale(1.15) translate(-25px) }.t4s-eff-img-translateToBottom:hover .t4s-obj-eff {transform: scale(1.15) translateY(25px) }.t4s-eff-img-filter:hover .t4s-obj-eff {opacity: 1;filter: grayscale(0) }.t4s-eff-img-filter-unset:hover .t4s-obj-eff {opacity: .5;filter: grayscale(100%) }.t4s-eff-img-bounceIn:hover .t4s-obj-eff {animation: bounceIn forwards;animation-duration: 1s;animation-delay: 0 }.t4s-btn:hover:before {background-color: var(--btn-background-hover);border-color: var(--btn-background-hover);opacity: 1;visibility: visible }.t4s-btn-effect-default:hover {opacity: .8 !important }.t4s-btn-effect-default:hover:before {opacity: 1;visibility: visible;background-color: var(--btn-background-hover);border-color: var(--btn-background-hover) }.t4s-btn-effect-fade:hover:before {top: 0;left: 0;right: 0;bottom: 0;opacity: 1;visibility: visible }.t4s-btn-effect-rectangle-out:hover:before {top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;border-radius: 0;opacity: 1;visibility: visible }.t4s-btn-effect-sweep-to-left:hover:before, .t4s-btn-effect-sweep-to-right:hover:before, .t4s-btn-effect-sweep-to-top:hover:before, .t4s-btn-effect-sweep-to-bottom:hover:before {transform: scale(1) }.t4s-btn-effect-shutter-out-horizontal:hover:before {transform: scaleX(1) }.t4s-btn-effect-outline:not(:hover):before {background-color: transparent }.t4s-btn-effect-outline:hover:before {left: 0;transform: translate(0) translateY(-8px);border-color: var(--btn-background-hover);z-index: -1;opacity: 0;transition: .2s ease }.t4s-btn-effect-outline:hover {background-color: var(--btn-background-hover);transform: translate(4px) translateY(5px) }.t4s-btn-effect-shadow:hover {background-color: var(--btn-background-hover);transform: translate(4px) translateY(5px);box-shadow: none }.t4s-btn-style-default.t4s-btn-effect-overlay-run:hover {background-color: var(--btn-background-hover);color: var(--btn-color-hover) }.t4s-btn-style-default.t4s-btn-effect-overlay-run:hover:after {animation: .75s cubic-bezier(.01, .56, 1, 1) ani_shine }.t4s-btn-style-outline.t4s-btn-effect-overlay-run:hover:before {top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;border-radius: 0;opacity: 1;visibility: visible }}.t4s-flicky-slider.t4s-slider-btn-small {--btn-width-slider: 40px;--btn-height-slider: 40px;--icon-height-slider: 16px }.t4s-flicky-slider {--btn-width-slider: 50px;--btn-height-slider: 50px;--icon-height-slider: 20px }.t4s-flicky-slider.t4s-slider-btn-large {--btn-width-slider: 60px;--btn-height-slider: 60px;--icon-height-slider: 24px }.t4s-flicky-slider .flickityt4s-button {width: var(--btn-width-slider);height: var(--btn-height-slider);text-align: center;padding: 0;display: inline-flex;align-items: center;justify-content: center;transition: all .5s ease;color: #000;margin: auto 0;min-width: 1px;min-height: 1px;-webkit-animation: 1s t4s-ani-fadeIn;animation: 1s t4s-ani-fadeIn;z-index: 3 }.flickityt4s-enabled .flickityt4s-prev-next-button[disabled], .flickityt4s-enabled:hover .flickityt4s-prev-next-button[disabled] {opacity: .3 }.t4s-flicky-slider:not(:hover) .flickityt4s-button.previous {transform: translate(15px) translateY(-50%) }.t4s-flicky-slider:not(:hover) .flickityt4s-button.next {transform: translate(-15px) translateY(-50%) }.t4s-flicky-slider.t4s-slider-btn-vi-always .flickityt4s-button {transform: translate(0) translateY(-50%) }.flickityt4s-prev-next-button .flickityt4s-button-icon {height: var(--icon-height-slider) !important }.t4s-flicky-slider.t4s-slider-btn-vi-hover .flickityt4s-button {opacity: 0;visibility: hidden }.t4s-flicky-slider.t4s-slider-btn-vi-hover:hover .flickityt4s-button, .t4s-flicky-slider.t4s-slider-btn-vi-always .flickityt4s-button {opacity: 1;visibility: visible }.t4s-flicky-slider.t4s-slider-btn-round .flickityt4s-button {border-radius: 50% }.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button {transform-origin: 50% 15px }.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.previous {transform: rotate(45deg) translateY(-50%) }.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.next .flickityt4s-button-icon {transform: rotate(45deg) }.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.next {transform: rotate(-45deg) translateY(-50%) }.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.previous .flickityt4s-button-icon {transform: rotate(-45deg) }.t4s-flicky-slider.t4s-slider-btn-rotate:not(:hover) .flickityt4s-button.previous {transform: rotate(45deg) translate(15px) translateY(-50%) }.t4s-flicky-slider.t4s-slider-btn-rotate:not(:hover) .flickityt4s-button.next {transform: rotate(-45deg) translate(-15px) translateY(-50%) }.t4s-flicky-slider .flickityt4s-button {color: var(--slider-btn-color);background-color: var(--slider-btn-background);border-color: var(--slider-btn-border) }.t4s-flicky-slider .flickityt4s-button:hover {color: var(--slider-btn-color-hover);background-color: var(--slider-btn-background-hover);border-color: var(--slider-btn-border-hover) }.t4s-flicky-slider.t4s-slider-btn-cl-light.t4s-slider-btn-style-default .flickityt4s-button {box-shadow: 0 2px 10px #36363626 }.t4s-flicky-slider.t4s-slider-btn-cl-default {--slider-btn-color: var(--t4s-light-color);--slider-btn-background: var(--t4s-dark-color);--slider-btn-border: var(--t4s-dark-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-background-hover: var(--t4s-dark-color);--slider-btn-border-hover: var(--t4s-dark-color) }.t4s-flicky-slider.t4s-slider-btn-cl-default .flickityt4s-button:hover {opacity: .8 !important }.t4s-flicky-slider.t4s-slider-btn-cl-dark {--slider-btn-color: var(--t4s-light-color);--slider-btn-background: var(--t4s-dark-color);--slider-btn-border: var(--t4s-dark-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-background-hover: var(--accent-color);--slider-btn-border-hover: var(--accent-color) }.t4s-flicky-slider.t4s-slider-btn-cl-light {--slider-btn-color: var(--t4s-dark-color);--slider-btn-background: var(--t4s-light-color);--slider-btn-border: var(--t4s-light-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-background-hover: var(--accent-color);--slider-btn-border-hover: var(--accent-color) }.t4s-flicky-slider.t4s-slider-btn-cl-primary {--slider-btn-color: var(--t4s-light-color);--slider-btn-background: var(--accent-color);--slider-btn-border: var(--accent-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-background-hover: var(--accent-color-hover);--slider-btn-border-hover: var(--accent-color-hover) }.t4s-flicky-slider.t4s-slider-btn-cl-custom1, .t4s-flicky-slider.t4s-slider-btn-cl-custom2 {--slider-btn-color: var(--btn-color);--slider-btn-background: var(--btn-background);--slider-btn-border: var(--btn-background);--slider-btn-color-hover: var(--btn-color-hover);--slider-btn-background-hover: var(--btn-background-hover);--slider-btn-border-hover: var(--btn-background-hover) }.t4s-flicky-slider.t4s-slider-btn-style-outline {--slider-btn-color: var(--t4s-dark-color);--slider-btn-border: var(--t4s-dark-color);--slider-btn-background-hover: var(--t4s-dark-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-border-hover: var(--t4s-dark-color) }.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-light {--slider-btn-color: var(--t4s-light-color);--slider-btn-border: var(--t4s-light-color);--slider-btn-background-hover: var(--accent-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-border-hover: var(--accent-color) }.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-dark {--slider-btn-color: var(--t4s-dark-color);--slider-btn-border: var(--t4s-dark-color);--slider-btn-background-hover: var(--accent-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-border-hover: var(--accent-color) }.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-primary {--slider-btn-color: var(--accent-color);--slider-btn-border: var(--accent-color);--slider-btn-background-hover: var(--accent-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-border-hover: var(--accent-color) }.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-custom1, .t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-custom2 {--slider-btn-color: var(--btn-color);--slider-btn-border: var(--btn-color);--slider-btn-background-hover: var(--btn-background-hover);--slider-btn-color-hover: var(--btn-color-hover);--slider-btn-border-hover: var(--btn-background-hover) }.t4s-flicky-slider.t4s-slider-btn-style-simple {--slider-btn-color: var(--t4s-dark-color);--slider-btn-color-hover: var(--t4s-dark-color) }.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-light {--slider-btn-color: var(--t4s-light-color);--slider-btn-color-hover: var(--accent-color) }.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-dark {--slider-btn-color: var(--t4s-dark-color);--slider-btn-color-hover: var(--accent-color) }.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-primary {--slider-btn-color: var(--accent-color);--slider-btn-color-hover: var(--accent-color-hover) }.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-custom1, .t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-custom2 {--slider-btn-color: var(--btn-color);--slider-btn-color-hover: var(--btn-color-hover) }.t4s-flicky-slider.t4s-slider-btn-style-outline {--slider-btn-background: transparent }.t4s-flicky-slider.t4s-slider-btn-style-outline .flickityt4s-button {border-style: solid;border-width: 2px }.t4s-flicky-slider.t4s-slider-btn-style-simple {--slider-btn-background: transparent;--slider-btn-border: transparent;--slider-btn-background-hover: transparent;--slider-btn-border-hover: transparent }.t4s-slider-btn-pos-ontop.t4s-flicky-slider .flickityt4s-button {position: absolute;z-index: 2;white-space: nowrap;--abc: calc(var(--heading-height)/2);--xyz: calc(var(--btn-height-slider)/2);top: auto;bottom: calc(100% + var(--tophead_mb));opacity: 1;visibility: visible;margin: 0 }.t4s-slider-btn-pos-ontop.t4s-flicky-slider .flickityt4s-button.next {right: calc(var(--flickity-btn-pos)/2);transform: none }.t4s-slider-btn-pos-ontop.t4s-flicky-slider.t4s-slider-btn-style-simple .flickityt4s-button.next {right: calc(var(--flickity-btn-pos)/2 - 7px) }.t4s-slider-btn-pos-ontop.t4s-flicky-slider .flickityt4s-button.previous {right: calc(var(--btn-height-slider) + 20px + var(--flickity-btn-pos)/2);left: auto;transform: none }.t4s-slider-btn-pos-ontop.t4s-flicky-slider.t4s-slider-btn-style-simple .flickityt4s-button.previous {right: calc(var(--btn-height-slider) + 20px + var(--flickity-btn-pos)/2 - 7px) }.t4s-slider-btn-pos-ontop.t4s-flicky-slider:not(:hover) .flickityt4s-button.previous, .t4s-slider-btn-pos-ontop.t4s-flicky-slider:not(:hover) .flickityt4s-button.next {transform: none }.t4s-flicky-slider .flickityt4s-page-dots {display: block;-webkit-animation: 1s t4s-ani-fadeIn;animation: 1s t4s-ani-fadeIn }.flickityt4s-page-dots .dot.is-selected:first-child:last-child {display: none }.t4s-flicky-slider.t4s-dots-round-true .flickityt4s-page-dots .dot {border-radius: 50% }.t4s-dots-style-elessi.t4s-dots-round-true .flickityt4s-page-dots .dot {border-radius: 5px }.t4s-flicky-slider.t4s-dots-style-outline .flickityt4s-page-dots .dot:not(.is-selected) {--slider-dot-background: transparent !important }.t4s-flicky-slider.t4s-dots-style-outline .flickityt4s-page-dots .dot {border-style: solid;border-width: 2px }.t4s-flicky-slider {--slider-dot-width: 11px;--slider-dot-height: 11px;--slider-dot-background: #000;--slider-dot-border: #000 }.t4s-flicky-slider.t4s-dots-style-default.t4s-dots-cl-default .dot.is-selected {--slider-dot-background: rgba(0, 0, 0, .9) }.t4s-flicky-slider.t4s-dots-style-outline {--slider-dot-width: 13px;--slider-dot-height: 13px;--slider-dot-background: #fff;--slider-dot-border: #fff }.t4s-flicky-slider.t4s-dots-style-outline.t4s-dots-cl-default .dot.is-selected {--slider-dot-background: #000;--slider-dot-border: #000 }.t4s-flicky-slider.t4s-dots-style-outline.t4s-dots-cl-default .dot:not(.is-selected) {--slider-dot-background: #fff !important;--slider-dot-border: rgba(0, 0, 0, .2);opacity: 1 }.t4s-flicky-slider.t4s-dots-style-elessi {--slider-dot-width: 13px;--slider-dot-height: 13px;--slider-dot-background: #fff;--slider-dot-border: #000;--slider-dot-background-active: #000 }.t4s-flicky-slider.t4s-dots-style-elessi {--slider-dot-width: 8px;--slider-dot-height: 8px }.t4s-flicky-slider.t4s-dots-style-elessi .dot.is-selected {--slider-dot-width: 30px }.t4s-flicky-slider.t4s-dots-style-elessi.t4s-dots-cl-default .dot.is-selected {--slider-dot-background: #000;--slider-dot-border: #000 }.t4s-flicky-slider.t4s-dots-style-elessi.t4s-dots-cl-default .dot:not(.is-selected) {--slider-dot-background: #fff !important;--slider-dot-border: #fff;opacity: 1 }.t4s-flicky-slider.t4s-dots-style-br-outline {--slider-dot-width: 8px;--slider-dot-height: 8px;--slider-dot-background: var(--t4s-light-color);--slider-dot-border: var(--t4s-dark-color);--slider-dot-background-active: var(--t4s-dark-color) }.t4s-flicky-slider.t4s-dots-style-br-outline, .t4s-flicky-slider.t4s-dots-style-br-outline2 {--slider-dot-background: var(--t4s-light-color);--slider-dot-border: var(--t4s-dark-color);--slider-dot-background-active: var(--t4s-dark-color) }.t4s-flicky-slider.t4s-dots-style-br-outline .dot, .t4s-flicky-slider.t4s-dots-style-br-outline2 .dot {position: relative;transition: all .3s linear;--slider-dot-width: 17px;--slider-dot-height: 17px;border-radius: 50%;box-shadow: 0 0 0 2px #fff0;-webkit-transition: box-shadow .3s ease;transition: box-shadow .3s ease;background-color: transparent !important }.t4s-flicky-slider.t4s-dots-style-br-outline .dot {--slider-dot-width: 22px;--slider-dot-height: 22px }.t4s-flicky-slider.t4s-dots-style-br-outline .dot.is-selected, .t4s-flicky-slider.t4s-dots-style-br-outline2 .dot.is-selected {box-shadow: 0 0 0 2px var(--slider-dot-background) }.t4s-flicky-slider.t4s-dots-style-br-outline .dot:before, .t4s-flicky-slider.t4s-dots-style-br-outline2 .dot:before {content: "";border-radius: 100%;background-color: var(--slider-dot-background);position: absolute;top: 0;left: 0;width: 100%;height: 100%;border: 0 }.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot.is-selected:before {background-color: transparent }.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot:before, .t4s-flicky-slider.t4s-dots-style-br-outline .dot.is-selected:before {transform: scale(.3);-webkit-transform: scale(.3) }.t4s-flicky-slider.t4s-dots-style-br-outline .dot:before {transform: scale(.4);-webkit-transform: scale(.4) }.t4s-flicky-slider.t4s-dots-cl-dark {--slider-dot-background: var(--t4s-dark-color);--slider-dot-border: var(--t4s-dark-color) }.t4s-flicky-slider.t4s-dots-cl-light {--slider-dot-background: var(--t4s-light-color);--slider-dot-border: var(--t4s-light-color) }.t4s-flicky-slider.t4s-dots-cl-primary {--slider-dot-background: var(--accent-color);--slider-dot-border: var(--accent-color) }.t4s-flicky-slider.t4s-dots-cl-custom1, .t4s-flicky-slider.t4s-dots-cl-custom2 {--slider-dot-background: var(--dots-background);--slider-dot-border: var(--dots-background) }.t4s-flicky-slider .flickityt4s-page-dots .dot {display: inline-flex;justify-content: center;align-items: center;width: var(--slider-dot-width);height: var(--slider-dot-height);background-color: var(--slider-dot-background);border-color: var(--slider-dot-border);margin: 0 calc(var(--space-dots)/2);cursor: pointer;opacity: .5;transition: all .3s }.t4s-flicky-slider .flickityt4s-page-dots .dot:hover, .t4s-flicky-slider .flickityt4s-page-dots .dot.is-selected {opacity: 1 }.t4s-flicky-slider .flickityt4s-prev-next-button.previous {left: calc(var(--flickity-btn-pos)/2) }.t4s-flicky-slider .flickityt4s-prev-next-button.next {right: calc(var(--flickity-btn-pos)/2) }.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots {display: table;width: 100%;max-width: calc(100% - var(--ts-gutter-x));margin-left: auto;margin-right: auto;margin-top: 45px }.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot {display: table-cell;vertical-align: middle;width: auto;height: 3px;background-color: #ededed;opacity: 1 }.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot:hover, .t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot.is-selected {background-color: var(--slider-dot-background) }.t4s-flicky-slider.t4s-dots-round-true.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot {border-radius: 1px }.t4s-dots-style-number .flickityt4s-page-dots {opacity: 0;visibility: hidden }.t4s-dots-style-number.flickityt4s-enabled .flickityt4s-page-dots {opacity: 1;visibility: visible }.t4s-dots-style-number .flickityt4s-page-dots:not(.t4s-dots-list) {display: none }.t4s-dots-style-number.t4s-dots-cl-dark {--dots-cl: var(--t4s-light-color);--bg-dots-cl: var(--t4s-dark-color) }.t4s-dots-style-number.t4s-dots-cl-light {--dots-cl: var(--t4s-dark-color);--bg-dots-cl: var(--t4s-light-color) }.t4s-dots-style-number.t4s-dots-cl-primary {--dots-cl: var(--t4s-light-color);--bg-dots-cl: var(--accent-color) }.t4s-dots-style-number .t4s-dots-list {padding: 5px 15px;display: inline-flex;align-items: center;justify-content: center;line-height: 20px;font-size: 14px;margin: 0;color: var(--dots-cl);background-color: var(--bg-dots-cl);left: 50%;right: auto;transform: translate(-50%);width: auto }.t4s-dots-style-number.t4s-dots-round-true .t4s-dots-list {border-radius: 15px }.t4s-flicky-slider .flickityt4s-page-dots {padding-inline-start: calc(var(--ts-gutter-x)/2);padding-inline-end: calc(var(--ts-gutter-x)/2);margin-inline-start: calc(-1 * (var(--space-dots)/2));margin-inline-end: calc(-1 * (var(--space-dots)/2));margin-top: var(--dots-bottom-pos) }.t4s-flicky-slider.t4s-dots-bottom_left .flickityt4s-page-dots {text-align: left }.t4s-flicky-slider.t4s-dots-bottom_right .flickityt4s-page-dots {text-align: right }@media (max-width: 767px) {.t4s-flicky-slider.t4s-slider-btn-small {--btn-width-slider: 30px;--btn-height-slider: 30px;--icon-height-slider: 10px }.t4s-flicky-slider {--btn-width-slider: 40px;--btn-height-slider: 40px;--icon-height-slider: 14px }.t4s-flicky-slider.t4s-slider-btn-large {--btn-width-slider: 50px;--btn-height-slider: 50px;--icon-height-slider: 18px }.flickityt4s-page-dots {margin: 5px 0 0 }.t4s-flicky-slider.t4s-slider-btn-hidden-mobile-true .flickityt4s-button, .t4s-flicky-slider.t4s-dots-hidden-mobile-true .flickityt4s-page-dots {display: none }.t4s-flicky-slider:not(:hover) .flickityt4s-button.previous, .t4s-flicky-slider:not(:hover) .flickityt4s-button.next {transform: translate(0) translateY(-50%) }.flickityt4s-prev-next-button.previous {left: 10px }.flickityt4s-prev-next-button.next {right: 10px }.t4s-flicky-slider .flickityt4s-prev-next-button.previous {left: calc(var(--flickity-btn-pos-mb)/2) }.t4s-flicky-slider .flickityt4s-prev-next-button.next {right: calc(var(--flickity-btn-pos-mb)/2) }}.flickityt4s:not(.flickityt4s-enabled) {flex-wrap: nowrap;overflow: hidden;width: auto }.flickityt4s-enabled {display: block;position: relative;-webkit-tap-highlight-color: transparent }.flickityt4s-enabled:focus {outline: 0;box-shadow: none }.flickityt4s-viewport {overflow: hidden;position: relative;width: 100%;height: 100% }.flickityt4s-slider {position: absolute;width: 100%;height: 100%;will-change: transform }.flickityt4s-enabled.is-draggable {-webkit-tap-highlight-color: transparent;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none }.flickityt4s-enabled.is-draggable .flickityt4s-viewport {cursor: move;cursor: -webkit-grab;cursor: grab }.flickityt4s-enabled.is-draggable .flickityt4s-viewport.is-pointer-down {cursor: -webkit-grabbing;cursor: grabbing }.flickityt4s-button, .flickityt4s-page-dots {display: none }.flickityt4s-enabled.is-fade .flickityt4s-slider>* {pointer-events: none;z-index: 0;opacity: 0;transition: opacity .3s ease-in-out, visibility .3s ease-in-out }.flickityt4s-enabled.is-fade .flickityt4s-slider>.is-selected {pointer-events: auto;z-index: 1;opacity: 1 }.t4s-enabled .flickityt4s-viewport {transition: height .3s }.flickityt4s-button {position: absolute;border: none }.flickityt4s-button:hover {cursor: pointer }.flickityt4s-button:active {opacity: .6 }.flickityt4s-button:disabled {opacity: .3 !important;cursor: auto }.flickityt4s_prev_disable.flickityt4s_next_disable .flickityt4s-button:disabled, .flickityt4s_prev_disable.flickityt4s_next_disable .flickityt4s-page-dots {display: none !important }.flickityt4s-button-icon {fill: currentColor }.flickityt4s-prev-next-button {top: var(--prev-next-top, 50%);width: 40px;height: 40px;min-width: 40px;min-height: 40px;padding: 0;transform: translateY(-50%) }.flickityt4s-prev-next-button.previous {left: 15px }.flickityt4s-prev-next-button.next {right: 15px }.flickityt4s-rtl .flickityt4s-prev-next-button.previous {left: auto;right: 15px }.flickityt4s-rtl .flickityt4s-prev-next-button.next {right: auto;left: 15px }.flickityt4s-prev-next-button .flickityt4s-button-icon {width: auto;height: 18px;stroke: currentColor;fill: currentcolor }.flickityt4s-page-dots {position: relative;width: 100%;bottom: 0;z-index: 2;padding: 0;margin: 15px 0 0;list-style: none;text-align: center;line-height: 1 }.flickityt4s-rtl .flickityt4s-page-dots {direction: rtl }.flickityt4s:after {content: 'flickityt4s';display: none }@media (min-width:768px) {.carousel-disable-md:after {content: '' }.carousel-disable-md.flickityt4s:not(.flickityt4s-enabled) {flex-wrap: wrap }}@media (min-width:1025px) {.carousel-disable-lg:after {content: '' }.carousel-disable-lg.flickityt4s:not(.flickityt4s-enabled) {flex-wrap: wrap }.t4s-carousel__nav-scroller:not(.is__position-bottom) {position: absolute;top: 0;left: 0;right: 0;bottom: 0;overflow-x: visible;overflow-y: scroll;overscroll-behavior-y: contain;}.t4s-carousel__nav {flex-wrap: wrap }}.flickityt4s-enabled, .flickityt4s-slider>.t4s-col-item {margin-top: 0 !important }.t4s-carousel__nav-scroller {width: 100%;overflow-x: scroll;white-space: nowrap;-webkit-overflow-scrolling: touch;-webkit-tap-highlight-color: transparent;tap-highlight-color: transparent;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;scrollbar-width: none;scroll-behavior: smooth;-ms-overflow-style: -ms-autohiding-scrollbar }.t4s-carousel__nav-scroller img {opacity: 0;transition: .3s ease-in-out }.t4s-carousel__nav-scroller img.lazyloadt4sed {opacity: 1 }.t4s-carousel__nav {flex-wrap: nowrap }.t4s-carousel__nav-scroller::-webkit-scrollbar {height: 0;width: 0 }</style>
  {% endif %}
<link rel="stylesheet" data-href="{{ 'section.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'custom-effect.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'slider-settings.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'pre_flickityt4s.min.css' | asset_url }}">
{%- liquid
  assign image_fix = image_nt | image_tag
  assign sid = section.id
  assign se_stts = section.settings
  assign se_blocks = section.blocks
  assign stt_layout = se_stts.layout
  assign stt_image_bg = se_stts.image_bg
  if stt_layout == 't4s-se-container' 
    assign html_layout = '<div class="t4s-container">__</div></div>' | split: '__'
  elsif stt_layout == 't4s-container-wrap'
    assign html_layout = '<div class="t4s-container">__</div>' | split: '__'
  else
    assign html_layout = '__' | split: '__'
  endif
  assign image_ratio = se_stts.image_ratio
  assign b_effect = se_stts.b_effect
  assign img_effect = se_stts.img_effect
  assign open_link = se_stts.open_link
  assign click_image = se_stts.click_image
  if click_image == "data-t4s-gallery"
    assign click_class = "t4s-cursor-pointer"
  endif 
  if se_stts.btn_owl == "outline"
    assign arrow_icon = 1
  else
    assign arrow_icon = 2
  endif
  assign ARRhtml1 = 'a,,' | split: ','
  assign ARRhtml2 = 'div,data-,data-' | split: ','

  assign t4s_se_class = 't4s_nt_se_' | append: sid
  if se_stts.use_cus_css and se_stts.code_cus_css != blank
    render 'se_cus_css', code_cus_css: se_stts.code_cus_css, t4s_se_class: t4s_se_class
  endif 
 -%} 
<div class="t4s-section-inner t4s_nt_se_{{ sid }} t4s_se_{{ sid }} {{ stt_layout }}{% if stt_image_bg != blank and stt_layout != 't4s-se-container' %} t4s-has-imgbg lazyloadt4s{% endif %}"  {% if stt_image_bg != blank and stt_layout != 't4s-se-container' %}  data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2" {% endif %} {% render 'section_style', se_stts: se_stts %}>
    {{- html_layout[0] -}}
    {%- if stt_layout == 't4s-se-container' -%}<div class="t4s-container-inner {% if stt_image_bg != blank %} t4s-has-imgbg lazyloadt4s {% endif %} "  {% if stt_image_bg != blank %}  data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2" {% endif %} > {%- endif -%}
    {%- render 'section_tophead', se_stts: se_stts -%}
     {%- if se_stts.layout_des == "1" -%} 
      <div {{ click_image }} data-t4s-thumb-{{ se_stts.nav_thumbs }} class="t4s_{{ image_ratio }} t4s_position_{{ se_stts.image_position }} t4s_{{ se_stts.image_size }} t4s-row  t4s-justify-content-center t4s-row-cols-lg-{{ se_stts.col_dk }} t4s-row-cols-md-{{ se_stts.col_tb }} t4s-row-cols-{{ se_stts.col_mb }} t4s-gx-md-{{ se_stts.space_item }} t4s-gy-md-{{ se_stts.space_item }} t4s-gx-{{ se_stts.space_item_mb }} t4s-gy-{{ se_stts.space_item_mb }}" style="--item-rd:{{ se_stts.item_rd }}%;">
     {%- elsif se_stts.layout_des == "2" -%} 
      <div {{ click_image }} data-t4s-thumb-{{ se_stts.nav_thumbs }} class="t4s-flicky-slider t4s_{{ image_ratio }} t4s_position_{{ se_stts.image_position }} t4s_{{ se_stts.image_size }} {% if se_stts.nav_btn %}  t4s-slider-btn-style-{{ se_stts.btn_owl }} t4s-slider-btn-{{ se_stts.btn_shape }} t4s-slider-btn-{{ se_stts.btn_size }} t4s-slider-btn-cl-{{ se_stts.btn_cl }} t4s-slider-btn-vi-{{ se_stts.btn_vi }} t4s-slider-btn-hidden-mobile-{{ se_stts.btn_hidden_mobile }} {% endif %} {% if se_stts.nav_dot == true %} t4s-dots-style-{{ se_stts.dot_owl }} t4s-dots-cl-{{ se_stts.dots_cl }} t4s-dots-round-{{ se_stts.dots_round }} {%- endif -%} t4s-row t4s-row-cols-lg-{{ se_stts.col_dk }} t4s-row-cols-md-{{ se_stts.col_tb }} t4s-row-cols-{{ se_stts.col_mb }} t4s-gx-md-{{ se_stts.space_item }} t4s-gy-md-{{ se_stts.space_item }} t4s-gx-{{ se_stts.space_item_mb }} t4s-gy-{{ se_stts.space_item_mb }} flickityt4s" data-flickityt4s-js='{"setPrevNextButtons": {{ se_stts.nav_dot }}, "draggable": "smart","checkVisibility":true,"arrowIcon":"{{ arrow_icon }}","imagesLoaded": 0,"adaptiveHeight": 1, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": {{ se_stts.loop }},"prevNextButtons": {{ se_stts.nav_btn }},"percentPosition": 1,"pageDots": {{ se_stts.nav_dot }}, "autoPlay" : {{ se_stts.au_time | times: 1000 }}, "pauseAutoPlayOnHover" : {{ se_stts.au_hover }} }' style="--space-dots: {{ se_stts.dots_space }}px;--flickity-btn-pos: {{ se_stts.space_item }}px;--flickity-btn-pos-mb: {{ se_stts.space_item }}px;--item-rd:{{ se_stts.item_rd }}%;">
      {%- else -%} 
      <div {{ click_image }} data-t4s-thumb-{{ se_stts.nav_thumbs }} class="isotopet4s t4s_{{ image_ratio }} t4s_position_{{ se_stts.image_position }} t4s_{{ se_stts.image_size }} t4s-row t4s-row-cols-lg-{{ se_stts.col_dk }} t4s-row-cols-md-{{ se_stts.col_tb }} t4s-row-cols-{{ se_stts.col_mb }} t4s-gx-md-{{ se_stts.space_item }} t4s-gy-md-{{ se_stts.space_item }} t4s-gx-{{ se_stts.space_item_mb }} t4s-gy-{{ se_stts.space_item_mb }}" data-isotopet4s-js='{ "itemSelector": ".t4s-gallery-item", "layoutMode": "packery" }' style="--item-rd:{{ se_stts.item_rd }}%;">
     {%- endif -%} 
      {%- if se_blocks.size > 0 -%}
          {%- for block in se_blocks -%}
            {%- liquid
              assign bk_stts = block.settings
              assign image = bk_stts.image
              if bk_stts.link == blank
                assign ARRhtml = ARRhtml2
              else
                assign ARRhtml = ARRhtml1
              endif
           -%}
            <div {{ click_image }}--item class="t4s-col-item t4s-gallery-item {{ click_class }}" id="b_{{ block.id }}" data-select-flickity {{ block.shopify_attributes }}>
              <{{ ARRhtml[0] }} {{ ARRhtml[1] }}href="{{ bk_stts.link }}" {{ ARRhtml[2] }}target="{{ open_link }}" class="t4s-eff t4s-eff-{{ b_effect }} t4s-eff-img-{{ img_effect }}" {{ click_image }}--open>
                <div data-cacl-slide class="t4s_ratio t4s-img-wrap" style="--aspect-ratioapt: {{ image.aspect_ratio | default: 2 }}">
                  {%- if image != blank -%}
                    <img {% if image.presentation.focal_point != '50.0% 50.0%' %} style="object-position: {{ image.presentation.focal_point }}"{% endif %} class="lazyloadt4s t4s-lz--fadeIn t4s-obj-eff" data-pswp-src="{{ image | image_url }}" data-pswp-w="{{ image.width }}" data-pswp-h="{{ image.height }}" data-src="{{ image | image_url: width: 1 }}" data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}">
                     <span class="lazyloadt4s-loader is-bg-img" style="background: url({{ image | image_url: width: 1 }});"></span>
                  {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 't4s-placeholder-svg t4s-obj-eff' }} 
                  {%- endif -%} 
                </div>
              </{{ ARRhtml[0] }}>
            </div>
          {%- endfor -%}
      {%- endif -%}
    </div>
    {{- html_layout[1] -}} 
  </div>
<style type="text/css">
  .gallery_popup_thumbnail .gallery-item {
    cursor: pointer;
  }
  .t4s-gallery-item .t4s-img-wrap {
    border-radius: var(--item-rd);
    overflow: hidden;
  }
  .t4s-gallery-item .t4s-eff-border-run::before,
  .t4s-gallery-item .t4s-eff-border-run::after {
    border-radius: var(--item-rd);
  }
</style>
{%- schema -%}
  {
    "name": "Image gallery",
    "tag": "section",
    "class": "t4s-section t4s_bk_flickity t4s-section-all t4s_tp_cdt t4s_tp_istope t4s-gallery",
    "settings": [
      {
          "type": "header",
          "content": "1. Heading options"
      },
      {
          "type": "select",
          "id": "design_heading",
          "label": "+ Design heading",
          "default": "1",
          "options": [
              {
                  "value": "1",
                  "label": "Design 01"
              },
              {
                  "value": "2",
                  "label": "Design 02"
              },
              {
                  "value": "3",
                  "label": "Design 03"
              },
              {
                  "value": "4",
                  "label": "Design 04"
              },
              {
                  "value": "5",
                  "label": "Design 05"
              },
              {
                  "value": "6",
                  "label": "Design 06 (width line-awesome)"
              },
              {
                  "value": "7",
                  "label": "Design 07"
              },
              {
                  "value": "8",
                  "label": "Design 08"
              },
              {
                  "value": "9",
                  "label": "Design 09"
              },
              {
                  "value": "10",
                  "label": "Design 10"
              },
              {
                  "value": "11",
                  "label": "Design 11"
              },
              {
                  "value": "12",
                  "label": "Design 12"
              },
              {
                  "value": "13",
                  "label": "Design 13"
              },
              {
                  "value": "14",
                  "label": "Design 14"
              }
          ]
      },
      {
          "type": "select",
          "id": "heading_align",
          "label": "+ Heading align",
          "default": "t4s-text-center",
          "options": [
              {
                  "value": "t4s-text-start",
                  "label": "Left"
              },
              {
                  "value": "t4s-text-center",
                  "label": "Center"
              },
              {
                  "value": "t4s-text-end",
                  "label": "Right"
              }
          ]
      },
      {
          "type": "text",
          "id": "top_heading",
          "label": "+ Heading",
          "default": "Gallery"
      },
      {
        "type": "text",
        "id": "icon_heading",
        "label": "Enter a icon name on heading",
        "info": "Only used for design 6 [LineAwesome](https://kalles.the4.co/font-lineawesome/)",
        "default": "las la-gem"
      },
      {
          "type": "textarea",
          "id": "top_subheading",
          "label": "+ Subheading"
      }, 
      {
        "type": "number",
        "id": "tophead_mb",
        "label": "+ Space bottom (px)",
        "info": "The vertical spacing between heading and content",
        "default": 30
      },
      {
        "type": "header",
        "content": "2. General options"
      },
      {
        "type": "select",
        "id": "layout_des",
        "options": [
          {
            "value": "1",
            "label": "Grid"
          },
          {
            "value": "2",
            "label": "Carousel"
          },
          {
            "value": "3",
            "label": "Packery"
          }
        ],
        "label": "Layout design",
        "default": "1"
      },
      {
        "type": "select",
        "id": "click_image",
        "label": "Click action",
        "default": "data-t4s-gallery",
        "info": "Select style when you click to image",
        "options": [
          {
            "value": "data-goto",
            "label": "Go to link"
          },
          {
            "value": "data-t4s-gallery",
            "label": "Photoswise popup"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "nav_thumbs",
        "label": "Enable Navigation Thumbnail",
        "info": "Works when use Photoswise Popup",
        "default": true
      },
      {
        "type": "select",
        "id": "open_link",
        "info": "Works when the item has a link",
        "options": [
          {
            "value": "_self",
            "label": "Current window"
          },
         {
            "value": "_blank",
            "label": "New window"
          }
        ],
        "label": "Open link in",
        "default": "_blank"
      },
      {
        "type": "range",
        "id": "item_rd",
        "min": 0,
        "max": 50,
        "step": 1,
        "label": "Item image rounded",
        "unit": "%",
        "default": 0
      },
      {
        "type": "select",
        "id": "img_effect",
        "label": "Image hover effect",
            "info": "Waring: Hovering effect will resize your images",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "zoom",
            "label": "Zoom in"
          },
          {
            "value": "rotate",
            "label": "Rotate"
          },
          {
            "value": "translateToTop",
            "label": "Move to top "
          },
          {
            "value": "translateToRight",
            "label": "Move to right"
          },
          {
            "value": "translateToBottom",
            "label": "Move to bottom"
          },
          {
            "value": "translateToLeft",
            "label": "Move to left"
          },
          {
            "value": "filter",
            "label": "Filter"
          },
          {
            "value": "bounceIn",
            "label": "BounceIn"
          }
        ]
      },
      {
        "type": "select",
        "id": "b_effect",
        "label": "Item effect when hover",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "border-run",
            "label": "Border run"
          },
          {
            "value": "pervasive-circle",
            "label": "Pervasive circle"
          },
          {
            "value": "plus-zoom-overlay",
            "label": "Plus zoom overlay"
          },
          {
            "value": "dark-overlay",
            "label": "Dark overlay"
          },
          {
            "value": "light-overlay",
            "label": "Light overlay"
          }
        ]
      },
      {
        "type": "header",
        "content": "+ Options image"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image ratio",
        "default": "ratioadapt",
        "info": "Aspect ratio custom will settings in general panel",
        "options": [
          {
            "group": "Natural",
            "value": "ratioadapt",
            "label": "Adapt to image"
          },
          {
            "group": "Landscape",
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "group": "Landscape",
            "value": "ratio16_9",
            "label": "16:9"
          },
          {
            "group": "Landscape",
            "value": "ratio8_5",
            "label": "8:5"
          },
          {
            "group": "Landscape",
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "group": "Landscape",
            "value": "ratio4_3",
            "label": "4:3"
          },
          {
            "group": "Landscape",
            "value": "rationt",
            "label": "Ratio ASOS"
          },
          {
            "group": "Squared",
            "value": "ratio1_1",
            "label": "1:1"
          },
          {
            "group": "Portrait",
            "value": "ratio2_3",
            "label": "2:3"
          },
          {
            "group": "Portrait",
            "value": "ratio1_2",
            "label": "1:2"
          },
          {
            "group": "Custom",
            "value": "ratiocus1",
            "label": "Ratio custom 1"
          },
          {
            "group": "Custom",
            "value": "ratiocus2",
            "label": "Ratio custom 2"
          },
          {
            "group": "Custom",
            "value": "ratio_us3",
            "label": "Ratio custom 3"
          },
          {
            "group": "Custom",
            "value": "ratiocus4",
            "label": "Ratio custom 4"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "default": "cover",
        "info": "This settings apply only if the image ratio is not set to 'Adapt to image'.",
        "options": [
          {
            "value": "cover",
            "label": "Full"
          },
          {
            "value": "contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position",
        "info": "The first value is the horizontal position and the second value is the vertical. These settings apply only if the image ratio is not set to 'Adapt to image', it also does not work when using 'Focal point' on the image.",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "1",
            "label": "Left top"
          },
          {
            "value": "2",
            "label": "Left center"
          },
          {
            "value": "3",
            "label": "Left bottom"
          },
          {
            "value": "4",
            "label": "Right top"
          },
          {
            "value": "5",
            "label": "Right center"
          },
          {
            "value": "6",
            "label": "Right bottom"
          },
          {
            "value": "7",
            "label": "Center top"
          },
          {
            "value": "8",
            "label": "Center center"
          },
          {
            "value": "9",
            "label": "Center bottom"
          }
        ],
        "label": "Image position",
        "default": "8"
      },
      {
        "type": "select",
        "id": "col_dk",
        "label": "Items per row",
        "default": "4",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_tb",
        "label": "Items per row (Tablet)",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_mb",
        "label": "Items per row (Mobile)",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ]
      },
      {
        "type": "select",
        "id": "space_item",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "15", 
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space between items",
        "default": "30"
      },
      {
        "type": "select",
        "id": "space_item_mb",
        "options": [
          {
              "value": "0", 
              "label": "0"
          },
          {
              "value": "2", 
              "label": "2px"
          },
          {
              "value": "4", 
              "label": "4px"
          },
          {
              "value": "6", 
              "label": "6px"
          },
          {
              "value": "8", 
              "label": "8px"
          },
          {
              "value": "10", 
              "label": "10px"
          },
          {
              "value": "15", 
              "label": "15px"
          },
          {
              "value": "20",
              "label": "20px"
          },
          {
              "value": "30",
              "label": "30px"
          }
        ],
        "label": "Space between items (Mobile)",
        "default": "10"
      },
      {
        "type": "header",
        "content": "+Options for carousel layout"
      },
      {
        "type": "checkbox",
        "id": "loop",
        "label": "Enable loop",
        "info": "At the end of cells, wrap-around to the other end for infinite scrolling",
        "default": true
      },
      {
        "type": "range",
        "id": "au_time",
        "min": 0,
        "max": 30,
        "step": 0.5,
        "label": "Autoplay speed in second.",
        "info": "Set is '0' to disable autoplay",
        "unit": "s",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "au_hover",
        "label": "Pause autoplay on hover",
        "info": "Auto-playing will pause when the user hovers over the carousel",
        "default": true
      },
      {
        "type": "paragraph",
        "content": ""
      },
      {
        "type": "paragraph",
        "content": "Prev next button"
      },
      {
        "type": "checkbox",
        "id": "nav_btn",
        "label": "Use prev next button",
        "info": "Creates and show previous & next buttons",
        "default": true
      },
      {
        "type": "select",
        "id": "btn_vi",
        "label": "Visible",
        "default": "hover",
        "options": [
          {
            "value": "always",
            "label": "Always"
          },
          {
            "value": "hover",
            "label": "Only hover"
          }
        ]
      },
      {
        "type": "select",
        "id": "btn_owl",
        "label": "Button style",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "outline",
            "label": "Outline"
          },
          {
            "value": "simple",
            "label": "Simple"
          }
        ]
      },
      {
        "type": "select",
        "id": "btn_shape",
        "label": "Button shape",
        "info": "Not working with button style 'Simple'",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "Default"
          },
          {
            "value": "round",
            "label": "Round"
          },
          {
            "value": "rotate",
            "label": "Rotate"
          }
        ]
      },
      {
          "type": "select",
          "id": "btn_cl",
          "label": "Button color",
          "default": "dark",
          "options": [
              {
                  "value": "default",
                  "label": "Default"
              },
              {
                  "value": "light",
                  "label": "Light"
              },
              {
                  "value": "dark",
                  "label": "Dark"
              },
              {
                  "value": "primary",
                  "label": "Primary"
              },
              {
                  "value": "custom1",
                  "label": "Custom color 1"
              },
              {
                  "value": "custom2",
                  "label": "Custom color 2"
              }
          ]
      },
      {
        "type": "select",
        "id": "btn_size",
        "label": "Button size",
        "default": "small",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
      {
        "type":"checkbox",
        "id":"btn_hidden_mobile",
        "label":"Hidden buttons on mobile ",
        "default":false
      },
      {
        "type": "paragraph",
        "content": ""
      },
      {
        "type": "paragraph",
        "content": "Page dots"
      },
      {
        "type": "checkbox",
        "id": "nav_dot",
        "label": "Use page dots",
        "info": "Creates and show page dots",
        "default": true
      },
      {
        "type": "select",
        "id": "dot_owl",
        "label": "Dots style",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "outline",
            "label": "Outline"
          },
          {
            "value": "elessi",
            "label": "Elessi"
          }
        ]
      },
      {
        "type": "select",
        "id": "dots_cl",
        "label": "Dots color",
        "default": "dark",
        "options": [
          {
            "value": "light",
            "label": "Light (Best on dark background)"
          },
          {
            "value": "dark",
            "label": "Dark"
          },
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "1",
            "label": "Color scheme 1"
          },
          {
            "value": "2",
            "label": "Color scheme 2"
          },
          {
            "value": "3",
            "label": "Color scheme 3"
          },
          {
            "value": "4",
            "label": "Color scheme 4"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "dots_round",
        "label": "Enable dots round",
        "default": false
      },
      {
        "type": "range",
        "id": "dots_space",
        "min": 2,
        "max": 20,
        "step": 1,
        "label": "Dot between horizontal",
        "unit": "px",
        "default": 10
      },
      {
        "type": "header",
        "content": "3. Design options"
      },
      {
        "type": "select","id": "layout","default": "t4s-container-wrap","label": "Layout",
        "options": [
            { "value": "t4s-se-container", "label": "Container"},
            { "value": "t4s-container-wrap", "label": "Wrapped container"},
            { "value": "t4s-container-fluid", "label": "Full width"}
        ]
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background"
      },
      {
        "type": "color_background",
        "id": "cl_bg_gradient",
        "label": "Background gradient"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Background image"
      },
      {
          "type": "text",
          "id": "mg",
          "label": "Margin",
          "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
          "default": ",,50px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd",
          "label": "Padding",
          "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
          "placeholder": "50px,,50px,"
      },
      {
        "type": "header",
        "content": "+ Design Tablet Options"
      },
      {
        "type": "text",
        "id": "mg_tb",
        "label": "Margin",
        "placeholder": ",,50px,"
      },
      {
        "type": "text",
        "id": "pd_tb",
        "label": "Padding",
        "placeholder": ",,50px,"
      }, 
      {
        "type": "header",
        "content": "+ Design mobile options"
      },
      {
          "type": "text",
          "id": "mg_mb",
          "label": "Margin",
          "default": ",,30px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd_mb",
          "label": "Padding",
          "placeholder": ",,50px,"
      },
      {
        "type": "header",
        "content": "4. Custom css"
      },
      {
        "id": "use_cus_css",
        "type": "checkbox",
        "label": "Use custom css",
        "default":false,
        "info": "If you want custom style for this section."
      },
      { 
        "id": "code_cus_css",
        "type": "textarea",
        "label": "Code custom css",
        "info": "Use selector .SectionID to style css"
        
      }
    ],
    "blocks": [
      {
        "type": "image_item",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image gallery",
        "category": "Homepage",
        "blocks": [
          {"type": "image_item"},
          {"type": "image_item"},
          {"type": "image_item"},
          {"type": "image_item"}
        ]
      }
    ]
  }
{% endschema %} 