  {% if template contains 'index' or template contains 'collection' or template contains 'product' %}
      
  {% else %}
     <style>.pin__slider ol.flickityt4s-page-dots {bottom: 15px;position: absolute }.t4s-nav-link-icon {width: 12px;height: 12px;display: block;ms-flex: 0 0 auto;flex: 0 0 auto }.only_icon_true .t4s-nav-link-icon {width: 50px;height: 39px;margin-right: -20px;border-left: 1px solid rgba(129, 129, 129, .2) }.t4s-nav-link-icon:before, .t4s-nav-link-icon:after {position: absolute;content: "";top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%) rotate(-90deg);transform: translate(-50%, -50%) rotate(-90deg);background-color: currentColor;transition: opacity .35s ease-in-out, -webkit-transform .35s ease-in-out;transition: transform .35s ease-in-out, opacity .35s ease-in-out;transition: transform .35s ease-in-out, opacity .35s ease-in-out, -webkit-transform .35s ease-in-out }.t4s-nav-link-icon:after {width: 1px;height: 12px }.t4s-nav-link-icon:before {width: 12px;height: 1px;opacity: 1 }.pin_ic_2 .t4s-nav-link-icon {background-color: var(--cl-pin);border-radius: 50% }.pin_ic_2 .t4s-nav-link-icon:before, .pin_ic_2 .t4s-nav-link-icon:after {display: none }.t4s-lookbook-pin {width: 40px;height: 40px;border-radius: 50px;position: absolute;top: var(--ps-top);transform: translate(calc(-1*var(--ps-left)), calc(-1*var(--ps-top)));left: var(--ps-left);opacity: 1;pointer-events: auto;z-index: 2;cursor: pointer }.t4s-lookbook-pin .t4s-pin-tt {color: var(--cl-pin);background-color: var(--bg-pin);display: block;width: 100%;height: 100% }.t4s-lookbook-pin:hover {opacity: .8;color: var(--cl-pin) }.pin__size--small {width: 24px;height: 24px;font-size: 10px }.pin__size--medium {width: 32px;height: 32px;font-size: 12px }.pin__size--exmedium {width: 40px;height: 40px;font-size: 13px }.pin__size--large {width: 48px;height: 48px;font-size: 15px }.pin__size--large .nav_link_icon:before {width: 20px }.pin__size--large .nav_link_icon:after {height: 20px }.pin__size--dex_large {width: 60px;height: 60px;font-size: 15px }.pin__size--dex_large .t4s-nav-link-icon:before {width: 21px;height: 6px }.pin__size--dex_large .t4s-nav-link-icon:after {height: 21px;width: 6px }.t4s-lookbook-pin .t4s-zoompin {position: absolute;top: -8px;right: -8px;bottom: -8px;left: -8px;display: block;-webkit-animation: zoompin 2s ease infinite;animation: zoompin 2s ease infinite;border-radius: 50%;-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-perspective: 800px;perspective: 800px;background-color: #ffffff80;pointer-events: none }.t4s-lookbook-pin .t4s-pin-tt {cursor: pointer;position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 1;border-radius: 50%;display: -ms-flexbox;display: flex;-ms-flex-align: center;align-items: center;-ms-flex-pack: center;justify-content: center;pointer-events: none }.t4s-pin__popup .t4s-pr-style6 .t4s-product-info__inner {margin-bottom: 0 }@-webkit-keyframes zoompin {0% {opacity: 0;-webkit-transform: scale(.2);transform: scale(.2) }50% {opacity: .8 }to {opacity: 0;-webkit-transform: scale(1);transform: scale(1) }}@keyframes zoompin {0% {opacity: 0;-webkit-transform: scale(.2);transform: scale(.2) }50% {opacity: .8 }to {opacity: 0;-webkit-transform: scale(1);transform: scale(1) }}.pin__popup h3.t4s-product-title {font-size: 14px }.t4s-lb-txt-wrapper .t4s-lb__content {padding: 0 }.t4s-lb-txt-wrapper .t4s-lb-title {color: var(--heading-color);font-weight: 500;padding: 10px 15px;margin: 0;font-size: 16px }.t4s-lb-content {padding: 15px;border-top: 2px solid #f2f2f2 }.t4s-lb-content p {margin-bottom: 0 }.pr_border_style_2 .t4s-lb-pr-wrapper .t4s-product .t4s-product-inner, .pr_border_style_3 .t4s-lb-pr-wrapper .t4s-product {box-shadow: none }.t4s-lookbook-pin .t4s-pin-tt:after {top: 50%;left: 50%;margin-top: -9px;margin-left: -9px;position: absolute;opacity: 0;-webkit-transition: opacity .2s;transition: opacity .2s;content: "";display: inline-block;width: 18px;height: 18px;border: 1px solid rgba(255, 255, 255, .3);border-left-color: #fff;border-radius: 50%;vertical-align: middle }.t4s-lookbook-pin.is--loading .t4s-pin-tt:after {opacity: 1 !important;-webkit-animation: .45s linear infinite spin;animation: .45s linear infinite spin }.t4s-lookbook-pin.is--loading .t4s-pin-tt>* {opacity: 0 }@media (max-width:1024px) {.pin__size--dex_large {width: 48px;height: 48px }.pin__size--dex_large .t4s-nav-link-icon:before {width: 16px;height: 4px }.pin__size--dex_large .t4s-nav-link-icon:after {height: 16px;width: 4px }}@media (max-width:767px) {.pin__size--dex_large {width: 32px;height: 32px }.pin__size--dex_large .t4s-nav-link-icon:before {width: 12px;height: 2px }.pin__size--dex_large .t4s-nav-link-icon:after {height: 12px;width: 2px }}.t4s-section-inner {margin-top: var(--mg-top);margin-inline-end: var(--mg-right);margin-bottom: var(--mg-bottom);margin-inline-start: var(--mg-left);padding-top: var(--pd-top);padding-inline-end: var(--pd-right);padding-bottom: var(--pd-bottom);padding-inline-start: var(--pd-left) }.t4s-section-inner:not(.t4s-se-container), .t4s-container>.t4s-container-inner {background: var(--bg-gradient);background-color: var(--bg-color) }.t4s-container-inner.t4s-has-imgbg, .t4s-section-inner.t4s-has-imgbg {background-repeat: no-repeat;background-position: center;background-size: cover }.t4s-container-fluid {width: calc(100% - var(--mg-left, 0) - var(--mg-right, 0));width: -webkit-calc(100% - var(--mg-left, 0) - var(--mg-right, 0)) }.t4s-section-inner.t4s-se-container {padding-top: 0;padding-inline-end: 0;padding-bottom: 0;padding-inline-start: 0 }.t4s-section-inner.t4s-se-container .t4s-container-inner {padding-top: var(--pd-top);padding-inline-end: var(--pd-right);padding-bottom: var(--pd-bottom);padding-inline-start: var(--pd-left) }.t4s-custom-line {width: var(--width);border-width: var(--height);border-style: var(--line-style);border-color: var(--line-cl);border-top: none;border-right: none;border-left: none;display: inline-block;vertical-align: top }@media (max-width: 1024px) {.t4s-container-fluid {width: calc(100% - var(--mgtb-left, 0) - var(--mgtb-right, 0));width: -webkit-calc(100% - var(--mgtb-left, 0) - var(--mgtb-right, 0)) }.t4s-section-inner.t4s-se-container .t4s-container-inner, .t4s-section-inner {margin-top: var(--mgtb-top);margin-inline-end: var(--mgtb-right);margin-bottom: var(--mgtb-bottom);margin-inline-start: var(--mgtb-left);padding-top: var(--pdtb-top);padding-inline-end: var(--pdtb-right);padding-bottom: var(--pdtb-bottom);padding-inline-start: var(--pdtb-left) }}@media (max-width: 767px) {.t4s-container-fluid {width: calc(100% - var(--mgmb-left, 0) - var(--mgmb-right, 0));width: -webkit-calc(100% - var(--mgmb-left, 0) - var(--mgmb-right, 0)) }.t4s-section-inner.t4s-se-container .t4s-container-inner, .t4s-section-inner {margin-top: var(--mgmb-top);margin-inline-end: var(--mgmb-right);margin-bottom: var(--mgmb-bottom);margin-inline-start: var(--mgmb-left);padding-top: var(--pdmb-top);padding-inline-end: var(--pdmb-right);padding-bottom: var(--pdmb-bottom);padding-inline-start: var(--pdmb-left) }}.pr_btn_style_2 .t4s-pr-style5 .t4s-product-btns a:not(:last-child) {margin-bottom: 5px }.pr_border_style_3 .t4s-product div.t4s-product-info {padding: 10px 0 0 }.pr_border_style_3 .t4s-product {padding-top: calc(var(--ts-gutter-x) * .5);padding-bottom: calc(var(--ts-gutter-x) * .5) }.pr_border_style_3 div.t4s-product .t4s-product-wrapper {position: relative }.t4s-product-info__inner>a.t4s-pr-addtocart {border-radius: var(--pr-btn-radius-size) }.pr_border_style_2 .t4s-product .t4s-product-inner {border: solid 1px var(--border-color) }.pr_border_style_3 .t4s_box_pr_grid .t4s-product {box-shadow: 0 0 0 1px var(--border-color) }.pr_border_style_3 .t4s_box_pr_slider .flickityt4s-viewport:before {position: absolute;content: "";width: 100%;height: 100%;border: 1px solid var(--border-color);z-index: 1;pointer-events: none;display: block !important;background-color: transparent }.pr_border_style_3 .t4s_box_pr_slider .t4s-product:before {content: "";position: absolute;z-index: 1;right: 0;top: 0;width: 100%;height: 1000px;box-shadow: inset -1px -1px var(--border-color), -1px -1px var(--border-color);pointer-events: none }.pr_border_style_3 .t4s_box_pr_grid:not(.t4s-flicky-slider) .t4s-product {box-shadow: inset -1px -1px var(--border-color), -1px -1px var(--border-color) }.shadow_round_img_true .t4s-product .t4s-product-inner {border-radius: 5px;-webkit-box-shadow: 0 0 12px rgb(0 0 0 / 12%);box-shadow: 0 0 12px #0000001f;overflow: hidden }.badge_shape_1 .t4s-product-badge>span {height: 60px;border-radius: 30px }.badge_shape_1 .is--listview .t4s-product .t4s-product-badge>span {height: 50px;min-width: 50px }.badge_shape_3 .t4s-product-badge>span {border-radius: 4px;height: 22px;font-size: 12px;padding: 0 6px;min-width: 38px }.t4s-badge-sale {color: var(--sale-badge-color);background-color: var(--sale-badge-background) }.t4s-badge-new {color: var(--new-badge-color);background-color: var(--new-badge-background) }.t4s-badge-hot {color: var(--hot-badge-color);background-color: var(--hot-badge-background) }.t4s-badge-soldout {color: var(--soldout-badge-color);background-color: var(--soldout-badge-background) }.t4s-badge-preorder {color: var(--preorder-badge-color);background-color: var(--preorder-badge-background) }.t4s-badge-custom {color: var(--custom-badge-color);background-color: var(--custom-badge-background) }.swatch_color_style_2 .t4s-pr-color__item, .swatch_color_style_2 .t4s-pr-color__item .t4s-pr-color__value {border-radius: 50% }.t4s-product {--wishlist-cl: var(--pr-wishlist-color2);--wishlist-bg-cl: var(--pr-wishlist-color);--wishlist-hover-cl: var(--pr-wishlist-color2-hover);--wishlist-active-cl: var(--pr-wishlist-color2-active);--wishlist-active-bg-cl: var(--pr-wishlist-color-active);--wishlist-hover-bg-cl: var(--pr-wishlist-color-hover);--compare-cl: var(--pr-compare-color2);--compare-bg-cl: var(--pr-compare-color);--compare-hover-cl: var(--pr-compare-color2-hover);--compare-hover-bg-cl: var(--pr-compare-color-hover);--quickview-cl: var(--pr-quickview-color2);--quickview-bg-cl: var(--pr-quickview-color);--quickview-hover-cl: var(--pr-quickview-color2-hover);--quickview-hover-bg-cl: var(--pr-quickview-color-hover);--atc-cl: var(--pr-addtocart-color2);--atc-bg-cl: var(--pr-addtocart-color);--atc-hover-cl: var(--pr-addtocart-color2-hover);--atc-hover-bg-cl: var(--pr-addtocart-color-hover);--content-cl: var(--content-color) }.t4s-product a.t4s-pr-wishlist, .css_for_wis_app_true .t4s-product .t4s-pr-wishlist {color: var(--wishlist-cl);background-color: var(--wishlist-bg-cl) }.t4s-product a.t4s-pr-wishlist:hover, .css_for_wis_app_true .t4s-product .t4s-pr-wishlist:hover {color: var(--wishlist-hover-cl);background-color: var(--wishlist-hover-bg-cl) }.css_for_wis_app_true .t4s-product .t4s-pr-wishlist i {color: var(--wishlist-cl) }.css_for_wis_app_true .t4s-product .t4s-pr-wishlist:hover i {color: var(--wishlist-hover-cl) }.t4s-product a.t4s-pr-wishlist.is--added, .css_for_wis_app_true .t4s-product .t4s-pr-wishlist.is--added {transform: translate(0);opacity: 1;visibility: visible;color: var(--wishlist-active-cl);background-color: var(--wishlist-active-bg-cl) }.t4s-product .t4s-pr-compare {color: var(--compare-cl);background-color: var(--compare-bg-cl) }.t4s-product .t4s-pr-compare:hover {color: var(--compare-hover-cl);background-color: var(--compare-hover-bg-cl) }.t4s-product .t4s-pr-quickview {color: var(--quickview-cl);background-color: var(--quickview-bg-cl) }.t4s-product .t4s-pr-quickview:hover {color: var(--quickview-hover-cl);background-color: var(--quickview-hover-bg-cl) }.t4s-product .t4s-pr-addtocart {color: var(--atc-cl);background-color: var(--atc-bg-cl) }.t4s-product .t4s-pr-addtocart:hover {color: var(--atc-hover-cl);background-color: var(--atc-hover-bg-cl) }@-webkit-keyframes beat_heart {0%, to {-webkit-transform: scale(1);transform: scale(1) }50% {-webkit-transform: scale(1.1);transform: scale(1.1) }}@keyframes beat_heart {0%, to {-webkit-transform: scale(1);transform: scale(1) }50% {-webkit-transform: scale(1.1);transform: scale(1.1) }}.t4s-product:not(.t4s-pr-style1):not(.t4s-pr-packery) .t4s-product-btns .t4s-pr-item-btn:hover .t4s-svg-pr-icon, .t4s-product .t4s-product-btns2 .t4s-pr-item-btn:hover .t4s-svg-pr-icon {-webkit-animation: .6s ease-in-out infinite beat_heart;animation: .6s ease-in-out infinite beat_heart }.t4s-pr-style1 {--wishlist-cl: var(--pr-wishlist-color);--wishlist-bg-cl: tranparent !important;--wishlist-hover-cl: var(--pr-wishlist-color-hover);--wishlist-hover-bg-cl: tranparent !important;--wishlist-active-cl: var(--pr-wishlist-color-active);--wishlist-active-bg-cl: tranparent !important;--compare-cl: var(--pr-compare-color);--compare-bg-cl: tranparent !important;--compare-hover-cl: var(--pr-compare-color-hover);--compare-hover-bg-cl: tranparent !important }.t4s-product .t4s-product-inner {overflow: hidden;position: relative }.t4s-product .t4s-product-inner:before {content: "";position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: var(--pr-background-overlay);z-index: 1;transition: .5s;opacity: 0 }.t4s-product:not(.t4s-colors-selected):hover .t4s-product-inner:before, .t4s-product.t4s-colors-selected .t4s-product-inner:hover:before {opacity: 1 }.t4s-product .t4s-product-info {padding-top: var(--product-space-img-txt) }.t4s-product .t4s-product-info .t4s-product-info__inner>* {margin-bottom: var(--product-space-elements) }.t4s-product-vendor a {color: var(--product-vendors-color);font-size: 14px }.t4s-product-vendor a:hover {color: var(--product-vendors-color-hover) }.t4s-product:not(:hover) .t4s-product-countdown.t4s-countdown-enabled {opacity: 1;visibility: visible;transform: translateY(0) }.t4s-product .t4s-product-countdown {border-radius: var(--btn-radius);width: calc(100% - 20px);font-size: 14px;line-height: 20px;bottom: 10px;left: 10px;right: 10px;padding: 10px;color: var(--pr-countdown-color);background-color: var(--pr-countdown-bg-color);display: block;text-align: center;align-items: center;justify-content: center;transition: .4s ease-out 0s;transform: translateY(40px);margin: auto }.t4s-product .t4s-product-countdown.expired_cdt4 {display: none;opacity: 0;visibility: hidden }.t4s-product .t4s-product-countdown .t4s-pr-countdown-title {margin-right: 5px }.t4s-product .t4s-product-countdown>* {display: inline-block;vertical-align: top }.t4s-product .t4s-product-title {font-size: var(--product-title-size);font-weight: var(--product-title-weight);color: var(--product-title-color);font-family: var(--product-title-family);text-transform: var(--product-title-style);letter-spacing: var(--product-title-spacing);line-height: var(--product-title-line-height);display: block }.t4s-product .t4s-product-title a {color: inherit }.t4s-product .t4s-product-title a:hover {color: var(--product-title-color-hover) }.t4s-product .t4s-product-rating {min-height: 24px }.t4s-product .t4s-product-price {font-size: var(--product-price-size);color: var(--product-price-color);font-weight: var(--product-price-weight) }.t4s-product .t4s-product-price del {color: var(--product-price-color-second) }.t4s-product .t4s-product-price ins {color: var(--product-price-sale-color);text-decoration: none;margin-left: 6px;display: inline-block }.t4s-product .t4s-price-from {color: var(--product-price-color) }.t4s-product .t4s-price__sale {color: var(--product-price-sale-color) }.t4s-prs-footer.t4s-has-btn-none, .t4s-flicky-slider+.t4s-prs-footer.t4s-has-btn-load-more {display: none }.t4s-prs-footer {margin-top: 40px }.t4s-prs-footer .info {font-size: 16px;color: #878787;line-height: 24px }.t4s-product .t4s-product-badge {position: absolute;z-index: 3;top: 15px;right: 15px;display: flex;justify-content: center;flex-direction: column;align-items: flex-end;pointer-events: none }.t4s-product-badge>span {display: inline-flex;justify-content: center;align-items: center;min-width: 60px;min-height: 24px;font-size: 14px;color: #fff;margin-bottom: 5px;word-break: break-word;padding: 0 5px;line-height: 1;text-align: center }.t4s-product-badge>span:last-child {margin-bottom: 0 }.t4s-product .t4s-product-btns {position: absolute;z-index: 3;transition: .5s ease 0s;opacity: 0;visibility: hidden;text-align: center;pointer-events: none;display: inline-flex;justify-content: center;align-items: center;left: 0;right: 0 }.t4s-product:not(.t4s-colors-selected):hover .t4s-product-btns, .t4s-product.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns {opacity: 1;visibility: visible }.t4s-pr-style1 .t4s-product-btns {top: 50%;margin: auto;flex-direction: column;transform: translateY(-100%) }.t4s-pr-style1:not(.t4s-colors-selected):hover .t4s-product-btns, .t4s-pr-style1.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns {transform: translateY(-50%) }.t4s-product-atc-qty {z-index: 3;bottom: 0;background-color: var(--atc-bg-cl);color: var(--atc-cl);left: 0;transition: .5s;right: 0;display: flex;overflow: hidden;position: relative;pointer-events: auto;max-width: 100% }.t4s-product-atc-qty .t4s-quantity-wrapper {display: flex;align-items: center;height: 40px;max-width: 80px;width: 100%;background-color: #00000014 }.t4s-product-atc-qty .t4s-quantity-wrapper+a, .t4s-product-atc-qty>a {width: calc(100% - 80px) }.t4s-product-atc-qty .t4s-quantity-selector {min-width: 25px;height: 100%;display: flex;text-align: center;padding: 0;justify-content: center;align-items: center;transition: .25s;color: var(--atc-cl);background-color: transparent }.t4s-product-atc-qty .t4s-quantity-selector svg.icon {width: 8px }.t4s-product-atc-qty input.t4s-quantity-input {border: none;text-align: center;background-color: transparent;color: inherit;padding: 0;height: 100%;appearance: none;-webkit-appearance: none;border-left: 1px solid rgba(255, 255, 255, .15);border-right: 1px solid rgba(255, 255, 255, .15);display: flex;justify-content: center;width: 30px }.t4s-product-atc-qty input::-webkit-inner-spin-button {appearance: none;-webkit-appearance: none }.t4s-product-atc-qty .t4s-quantity-selector:hover, .t4s-product-atc-qty input.t4s-quantity-input:hover {background-color: #0000001f }.css_for_wis_app_true .t4s-product .t4s-pr-item-btn .ssw-faveiticon {position: static;display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;font-size: 18px }.css_for_wis_app_true .t4s-product .t4s-pr-item-btn .ssw-faveiticon i {top: 2px;left: 1px;position: relative }.css_for_wis_app_true .t4s-product:not(.t4s-pr-style1) .t4s-pr-item-btn span.faves-count {right: 1px;position: absolute;top: 1px;left: auto;border: none;border-radius: 50%;min-width: 18px;height: 18px;font-size: 10px;text-align: center;transform: none }.css_for_wis_app_true .t4s-product:not(.t4s-pr-style1) .t4s-pr-item-btn span.faves-count:before, .css_for_wis_app_true .t4s-product:not(.t4s-pr-style1) .t4s-pr-item-btn span.faves-count:after {display: none !important }.css_for_wis_app_true .t4s-product .t4s-pr-item-btn span.faves-count {position: absolute;top: 50%;transform: translateY(-50%);left: 100%;margin-left: 5px }.t4s-pr-item-btn .ssw-faveiticon i:before {margin: 0 }.t4s-product .t4s-product-btns a {height: 40px;min-width: 40px;font-size: 14px;text-align: center;position: relative;overflow: hidden;pointer-events: auto;display: inline-flex;align-items: center;justify-content: center;line-height: 40px }.t4s-product .t4s-product-info__btns {display: none }.t4s-product .t4s-rte {color: var(--content-cl);display: none }@keyframes spin {0% {transform: rotate(0) }to {transform: rotate(360deg) }}.t4s-product:not(.t4s-pr-style2):not(.t4s-pr-style4) .t4s-product-btns a span.t4s-text-pr {overflow: hidden;text-overflow: ellipsis;white-space: nowrap }.t4s-product .t4s-product-atc-qty, .t4s-product .t4s-product-btns .t4s-pr-item-btn, .t4s-product .t4s-product-btns2 .t4s-pr-item-btn {border-radius: var(--pr-btn-radius-size);pointer-events: auto }.t4s-product .t4s-product-atc-qty .t4s-pr-addtocart {border-top-left-radius: 0;border-bottom-left-radius: 0;min-width: 1px }.t4s-quantity-wrapper+a.t4s-pr-addtocart .t4s-text-pr {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: inline-block;width: auto;line-height: 40px }.t4s-pr-style1 .t4s-product-btns>* {margin: 5px 0 }.t4s-pr-style1 .t4s-product-btns a {min-width: 136px;padding: 0 15px }.t4s-pr-style1 .t4s-product-btns .t4s-product-atc-qty a {margin: 0 }.t4s-product .t4s-product-btns a>span, .t4s-product .t4s-product-btns2 a>span {display: flex;align-items: center;justify-content: center }.t4s-product .t4s-product-sizes {color: var(--size-list-color);width: 100%;transition: .4s;line-height: 24px;pointer-events: none }.t4s-product-inner .t4s-product-sizes {transform: translateY(-100%);opacity: 0;visibility: hidden;text-shadow: -1px -1px 1px rgb(255 255 255 / 10%), 1px 1px 1px rgb(0 0 0 / 15%);margin-bottom: 5px;padding: 0 10px }.t4s-pr-style1 .t4s-product-inner .t4s-product-sizes {position: absolute;bottom: 0;text-align: center;left: 0;right: 0;z-index: 2 }.t4s-product:not(.t4s-colors-selected):hover .t4s-product-sizes, .t4s-product.t4s-colors-selected .t4s-product-inner:hover .t4s-product-sizes {transform: translateY(0);opacity: 1;visibility: visible }.t4s-pr-style5 .t4s-product-btns a, .t4s-pr-style6 .t4s-product-btns a {text-align: center;display: inline-flex;justify-content: center;align-items: center;position: relative }.t4s-pr-style1 .t4s-product-btns a>span, .t4s-pr-style5 .t4s-product-btns a>span, .t4s-pr-style6 .t4s-product-btns a>span {width: 100%;height: 100%;-webkit-transition: opacity .15s, -webkit-transform .25s;transition: opacity .15s, transform .25s, -webkit-transform .25s }.t4s-pr-style1 .t4s-product-btns a .t4s-svg-pr-icon, .t4s-pr-style5 .t4s-product-btns a .t4s-svg-pr-icon, .t4s-pr-style6 .t4s-product-btns a .t4s-svg-pr-icon {position: absolute;top: 0;left: 0;transform: translateY(100%) }.t4s-pr-style1 .t4s-product-btns a:hover .t4s-svg-pr-icon, .t4s-pr-style5 .t4s-product-btns a:hover .t4s-svg-pr-icon, .t4s-pr-style6 .t4s-product-btns a:hover .t4s-svg-pr-icon {transform: translateY(0) }.t4s-pr-style1 .t4s-product-btns a:hover .t4s-text-pr, .t4s-pr-style5 .t4s-product-btns a:hover .t4s-text-pr, .t4s-pr-style6 .t4s-product-btns a:hover .t4s-text-pr {transform: translateY(-100%) }.t4s-pr-style1 .t4s-product-btns .t4s-svg-pr-icon svg, .t4s-pr-style5 .t4s-product-btns .t4s-svg-pr-icon svg, .t4s-pr-style6 .t4s-product-btns .t4s-svg-pr-icon svg {width: 20px;height: 20px;fill: currentColor }.t4s-svg-pr-icon svg {width: 18px;height: 18px;fill: currentColor }.t4s-product .t4s-product-btns2 {position: absolute;z-index: 3 }.t4s-pr-style1 .t4s-product-btns2 {top: 12px;left: 12px;display: flex;flex-direction: column;justify-content: center;align-items: center }.t4s-pr-style1 .t4s-product-btns2 a {opacity: 0;visibility: hidden;transition: .5s ease 0s }.t4s-pr-style1:not(.t4s-colors-selected):hover .t4s-product-btns2 a, .t4s-pr-style1.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns2 a {opacity: 1;visibility: visible }.t4s-pr-style1 .t4s-product-btns2 .t4s-pr-item-btn {width: 22px;height: 22px;text-align: center;margin-bottom: 5px;position: relative;transform: translate(-5px);transition: .3s;display: inline-flex;align-items: center;justify-content: center }.t4s-pr-style1 .t4s-product-btns2 .t4s-pr-item-btn:nth-child(2) {transform: translate(-20px);transition: .4s }.t4s-pr-style1 .t4s-product-btns2 .t4s-pr-item-btn:nth-child(3) {transform: translate(-30px);transition: .45s }.t4s-pr-style1 .t4s-product-btns2 .t4s-pr-item-btn:last-child {margin-bottom: 0 }.t4s-pr-style1:not(.t4s-colors-selected):hover .t4s-product-btns2 .t4s-pr-item-btn, .t4s-pr-style1.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns2 .t4s-pr-item-btn {transform: translate(0) }.t4s-product .t4s-product-btns2 .t4s-pr-item-btn .t4s-text-pr {display: none }.t4s-product-colors {min-height: 28px;margin: 0 -4px }.t4s-pr-color__item {padding: 1px;margin: 4px;border: 1px solid var(--border-color);cursor: pointer;display: inline-flex;vertical-align: top }.t4s-pr-color__item:hover, .t4s-pr-color__item.is-swatch--selected {background-color: var(--border-primary-color);border-color: var(--border-primary-color) }.t4s-pr-color__item.is--colors-more:hover {background-color: transparent;border-color: var(--border-color) }.t4s-pr-color__item .t4s-pr-color__name {font-size: 0;display: none }.t4s-pr-color__item .t4s-pr-color__value {display: block;width: var(--swatch-color-size);height: var(--swatch-color-size);text-align: center;background-position: center center !important;background-repeat: no-repeat !important;background-size: cover !important }.t4s-pr-style2 .t4s-product-inner .t4s-product-sizes, .t4s-pr-style3 .t4s-product-inner .t4s-product-sizes {bottom: 59px }.t4s-pr-style2:not(:hover) .t4s-product-inner .t4s-product-sizes, .t4s-pr-style3:not(:hover) .t4s-product-inner .t4s-product-sizes {transform: translateY(100%) }.t4s-pr-style2 .t4s-product-btns {flex-direction: column;bottom: 19px }.t4s-pr-style2 .t4s-product-btns .t4s-pr-group-btns {display: flex;align-items: center;justify-content: center;width: 100%;padding: 0;flex-direction: row }.t4s-pr-style2 .t4s-product-btns .t4s-pr-item-btn {min-width: 1px;min-height: 1px;width: 40px;height: 40px;margin: 0 5px;position: relative }.t4s-pr-style2 .t4s-product-btns a>span {width: 100%;height: 100% }.t4s-pr-style2 .t4s-product-btns a .t4s-text-pr {display: none }.t4s-pr-style2 .t4s-product-btns>.t4s-pr-item-btn:nth-child(1), .t4s-pr-style2 .t4s-product-btns>.t4s-pr-item-btn:nth-child(4) {transform: translateY(30px);transition: .45s }.t4s-pr-style2 .t4s-product-btns>.t4s-pr-item-btn:nth-child(2) {transform: translateY(5px);transition: .3s }.t4s-pr-style2 .t4s-product-btns>.t4s-pr-item-btn:nth-child(3) {transform: translateY(15px);transition: .4s }.t4s-pr-style2:not(.t4s-colors-selected):hover .t4s-product-btns>.t4s-pr-item-btn, .t4s-pr-style2.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns>.t4s-pr-item-btn {transform: translateY(0) }.t4s-pr-style3 .t4s-product-badge {right: auto;left: 15px;align-items: flex-start }.t4s-pr-style3 .t4s-product-btns {flex-direction: column;bottom: 19px;transform: translateY(100%);transition: .4s }.t4s-pr-style3:not(.t4s-colors-selected):hover .t4s-product-btns, .t4s-pr-style3.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns {transform: translateY(0) }.t4s-pr-style3 .t4s-product-btns a {width: auto;min-width: 150px;padding: 0 15px }.t4s-pr-style3 .t4s-product-btns a>span {margin: 0 4px }.t4s-pr-style3 .t4s-product-btns2 {right: 15px;top: 15px;display: flex;flex-direction: column;justify-content: center;align-items: center;transition: .5s ease 0s }.t4s-pr-style3 .t4s-product-btns2 a {opacity: 0;visibility: hidden;transition: .5s ease 0s }.t4s-pr-style3 .t4s-product-btns2>.t4s-pr-item-btn {width: 40px;height: 40px;display: flex;align-items: center;justify-content: center;margin-bottom: 5px;position: relative;transform: translate(5px);transition: .3s }.t4s-pr-style3 .t4s-product-btns2>.t4s-pr-item-btn:nth-child(2) {transform: translate(20px);transition: .4s }.t4s-pr-style3 .t4s-product-btns2>.t4s-pr-item-btn:nth-child(3) {transform: translate(30px);transition: .45s }.t4s-pr-style3:not(.t4s-colors-selected):hover .t4s-product-btns2>.t4s-pr-item-btn, .t4s-pr-style3.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns2>.t4s-pr-item-btn {transform: translate(0);opacity: 1;visibility: visible }.t4s-pr-style3 .t4s-product-btns2 a>span {width: 100%;height: 100%;display: flex;align-items: center;justify-content: center }.t4s-pr-style4 .t4s-product-inner .t4s-product-sizes, .t4s-pr-style5 .t4s-product-inner .t4s-product-sizes {bottom: 40px }.t4s-pr-style6 .t4s-product-inner .t4s-product-sizes {bottom: 19px }.t4s-pr-style4 .t4s-product-btns {flex-direction: column;justify-content: center;bottom: 0;opacity: 0;visibility: hidden;width: 100%;transform: translateY(100%) }.t4s-product.t4s-pr-style4 .t4s-product-btns .t4s-pr-group-btns a {flex: 0 0 auto }.t4s-product.t4s-pr-style4 .t4s-product-btns a.t4s-pr-addtocart {flex: 1 0 0% }.t4s-pr-style4:not(.t4s-colors-selected):hover .t4s-product-btns, .t4s-pr-style4.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns {opacity: 1;visibility: visible;transform: translateY(0) }.t4s-pr-style4 .t4s-pr-group-btns {display: flex;justify-content: center;width: 100%;border-radius: var(--pr-btn-radius-size);overflow: hidden }.t4s-pr-style4 .t4s-product-btns .t4s-pr-group-btns .t4s-pr-item-btn {flex: 0 0 auto;vertical-align: middle;width: 40px;transform: translateY(10px);transition: .3s }.t4s-pr-style4 .t4s-product-btns a.t4s-pr-addtocart {flex: 1 0 0% }.t4s-pr-style4 .t4s-product-btns .t4s-pr-group-btns>.t4s-pr-item-btn:nth-child(2) {transform: translateY(15px);transition: .4s }.t4s-pr-style4 .t4s-product-btns .t4s-pr-group-btns>.t4s-pr-item-btn:nth-child(3) {transform: translateY(25px);transition: .45s }.t4s-pr-style4 .t4s-product-btns .t4s-pr-group-btns>.t4s-pr-item-btn:nth-child(4) {transform: translateY(35px);transition: .5s }.t4s-pr-style4:not(.t4s-colors-selected):hover .t4s-product-btns .t4s-pr-group-btns>.t4s-pr-item-btn, .t4s-pr-style4.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns .t4s-pr-group-btns>.t4s-pr-item-btn {transform: translateY(0) }.t4s-pr-style4 .t4s-product-btns a .t4s-text-pr, .t4s-pr-style4 .t4s-product-btns .t4s-pr-addtocart .t4s-svg-pr-icon {display: none }.t4s-pr-style4 .t4s-product-btns a.t4s-pr-addtocart {width: 100%;max-width: 100%;display: grid;padding: 0 20px }.t4s-pr-style4 .t4s-product-btns .t4s-pr-addtocart .t4s-text-pr {font-size: 14px;text-transform: uppercase;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis }.t4s-pr-style5 .t4s-product-badge {left: 15px;right: auto;align-items: start }.t4s-pr-style5 .t4s-product-btns {flex-direction: column;bottom: 0;opacity: 0;visibility: hidden;width: 100%;transform: translateY(100%) }.t4s-pr-style5 .t4s-product-btns a {padding: 0 15px;width: 100%;border-radius: 0 !important }.t4s-pr-style5 .t4s-product-btns a .t4s-text-pr {text-transform: uppercase !important;font-size: 12px;font-weight: 600;letter-spacing: 1px }.t4s-pr-style5 .t4s-product-atc-qty {width: 100%;border-radius: 0 }.t4s-pr-style5 .t4s-product-btns2 {border-radius: var(--pr-btn-radius-size);right: 15px;top: 15px;display: flex;flex-direction: column;justify-content: center;align-items: center;opacity: 0;visibility: hidden;transition: .5s ease 0s;overflow: hidden }.t4s-pr-style5 .t4s-product-btns2>.t4s-pr-item-btn {width: 40px;height: 40px;display: flex;align-items: center;justify-content: center;border-radius: 0;margin-bottom: 0;position: relative;transition: .3s }.t4s-pr-style5:not(.t4s-colors-selected):hover .t4s-product-btns, .t4s-pr-style5.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns, .t4s-pr-style5:not(.t4s-colors-selected):hover .t4s-product-btns2, .t4s-pr-style5.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns2 {opacity: 1;visibility: visible;transform: translateY(0) }.t4s-pr-style6 .t4s-product-badge {left: 15px;right: auto;align-items: start }.t4s-pr-style6 .t4s-product-btns {position: static;opacity: 1;visibility: visible;margin-top: 5px;max-width: 100% }.t4s-pr-style6 .t4s-product-btns a {padding: 0 25px;min-width: 136px }.t4s-pr-style6 .t4s-product-btns a .t4s-text-pr {text-transform: uppercase !important;font-size: 12px;font-weight: 600;letter-spacing: 1px }.t4s-pr-style6 .t4s-product-btns2 {right: 15px;top: 15px;display: flex;flex-direction: column;justify-content: center;align-items: center;transition: .5s ease 0s }.t4s-pr-style6 .t4s-product-btns2>.t4s-pr-item-btn {width: 40px;height: 40px;display: flex;align-items: center;justify-content: center;margin-bottom: 5px;position: relative;transform: translate(5px);transition: .3s;opacity: 0;visibility: hidden }.t4s-pr-style6 .t4s-product-btns2>.t4s-pr-item-btn:nth-child(2) {transform: translate(20px);transition: .4s }.t4s-pr-style6 .t4s-product-btns2>.t4s-pr-item-btn:nth-child(3) {transform: translate(30px);transition: .45s }.t4s-pr-style6:not(.t4s-colors-selected):hover .t4s-product-btns2>.t4s-pr-item-btn, .t4s-pr-style6.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns2>.t4s-pr-item-btn {transform: translate(0);opacity: 1;visibility: visible }.t4s-pr-style6:not(.t4s-colors-selected):hover .t4s-product-btns2, .t4s-pr-style6.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns2 {opacity: 1;visibility: visible;transform: translateY(0) }.t4s-pr-style6 .t4s-product-info__inner {margin-bottom: 10px }.t4s-pr-style6 .t4s-product-inner .t4s-product-sizes {position: absolute;transition: .5s;transform: translateY(100%);text-align: center;left: 0;right: 0;bottom: 0;padding: 5px }.t4s-pr-style6 .t4s-product-colors {margin-bottom: 8px }.t4s-pr-style6 .t4s-product-info__inner>a.t4s-pr-addtocart {font-size: 15px }.t4s-product.t4s-pr-grid.t4s-pr-style6 {padding-top: 0;padding-bottom: 0 }.t4s-pr-style7 .t4s-product-wrapper {border-radius: var(--pr-btn-radius-size);border: solid 1px var(--border-color) }.t4s-pr-style7:hover .t4s-product-wrapper {border-color: var(--accent-color) }.t4s-pr-style7 .t4s-product-info {padding-inline-start: 16px;padding-inline-end: 16px;padding-bottom: 16px }.pr_border_style_3 .t4s-pr-style7 .t4s-product-wrapper {border: none }.pr_border_style_3 .t4s-pr-style7:hover {--border-color: var(--accent-color) }.t4s-pr-style7 {--wishlist-cl: var(--pr-wishlist-color);--wishlist-hover-cl: var(--pr-wishlist-color-hover);--wishlist-active-cl: var(--pr-wishlist-color-active);--compare-cl: var(--pr-compare-color);--compare-hover-cl: var(--pr-compare-color-hover);--quickview-cl: var(--pr-quickview-color);--quickview-hover-cl: var(--pr-quickview-color-hover);--atc-cl: var(--pr-addtocart-color);--atc-hover-cl: var(--pr-addtocart-color2-hover);--atc-hover-bg-cl: var(--pr-addtocart-color-hover) }.t4s-pr-style7 .t4s-product-info__inner {margin-bottom: 0 }.t4s-pr-style7 .t4s-product-btns2>.t4s-pr-item-btn {width: auto;height: auto;background-color: transparent !important;margin-bottom: 12px }.t4s-pr-style7 .t4s-product-vendor a {font-size: 12px }.t4s-pr-style7 .t4s-product-info__inner .t4s-product-btns {margin-top: 32px;display: flex;width: 100% }.t4s-pr-style7 .t4s-product-btns a {min-width: 1px;width: 100%;border: solid 1px var(--border-color);color: var(--atc-cl);background-color: transparent;padding: 0 16px;text-transform: capitalize;height: 48px;line-height: 48px;justify-content: space-between;flex-direction: row-reverse }.t4s-pr-style7 .t4s-product-btns a>.t4s-text-pr, .t4s-pr-style7 .t4s-product-btns a>.t4s-svg-pr-icon {width: auto;position: static;transform: none !important;opacity: 1;visibility: visible;text-transform: capitalize !important }.t4s-pr-style7 .t4s-product-btns a>.t4s-text-pr {font-weight: 500;font-size: 14px;line-height: 46px }.t4s-pr-style7 .t4s-product-btns a:hover {color: var(--atc-hover-cl);background-color: var(--atc-hover-bg-cl);border-color: var(--atc-hover-bg-cl) }.pr_border_style_3 .t4s-product.t4s-pr-grid.t4s-pr-style6 {padding-top: calc(var(--ts-gutter-x) * .5);padding-bottom: calc(var(--ts-gutter-x) * .5) }.faves-count:after, .faves-count:before {content: "";border: 5px solid;display: inline-block !important;width: 0;height: 0;border-color: transparent #aaa transparent transparent;transform: translate(-10px, 3px);-webkit-transform: translate3d(-10px, 4px, 0);font-size: inherit;vertical-align: text-top;margin-right: -.6em;z-index: 1000;left: 0;position: absolute }.t4s-product.t4s-pr-packery .t4s-product-info {position: absolute;z-index: 2;bottom: 0;left: 0;right: 0;padding: 10px 15px !important;opacity: 0;visibility: hidden;transition: .5s ease 0s }.t4s-product.t4s-pr-packery:hover .t4s-product-info {opacity: 1;visibility: visible }.t4s-group-products-item .t4s-heading {position: relative;padding-bottom: 20px;margin-top: 0;font-size: 18px;font-weight: 600;margin-bottom: 10px }.t4s-group-products-item .t4s-heading:after {content: "";width: 60px;height: 2px;background: #222;left: 0;bottom: 15px;position: absolute }.t4s-product.t4s-pr-group .t4s-product-img {max-width: 95px;padding-right: 0 }.pr_border_style_3 .t4s-product.t4s-pr-group {padding-top: 0;padding-bottom: 0 }.pr_border_style_3 .t4s_box_pr_grid:not(.t4s-flicky-slider) .t4s-product.t4s-pr-group, .pr_border_style_3 .t4s_box_pr_grid:not(.t4s-flicky-slider) .t4s-product.is--listview {box-shadow: none }.pr_border_style_3 .t4s-product.t4s-pr-group .t4s-product-info, .t4s-product.t4s-pr-group .t4s-product-info {padding-left: 10px;padding-top: 0 }.t4s-product.t4s-pr-group .t4s-widget__pr-title, .t4s-widget__pr-title {font-size: 14px;font-weight: 500;line-height: 1.25 }.t4s-widget__pr-title, .t4s-product.t4s-pr-group .t4s-widget__pr-title {color: var(--secondary-color) }.t4s-widget__pr-title a, .t4s-product.t4s-pr-group .t4s-widget__pr-title a {color: inherit }.t4s-widget__pr-title:hover, .t4s-widget__pr-title a:hover, .t4s-product.t4s-pr-group .t4s-widget__pr-title a:hover {color: var(--accent-color) }.t4s-widget__pr-price, .t4s-product.t4s-pr-group .t4s-widget__pr-price {font-size: 14px;font-weight: 400;color: var(--secondary-price-color);display: inline-block }.t4s-widget__pr-price ins, .t4s-pr-group.t4s-pr-group .t4s-widget__pr-price ins {color: var(--primary-price-color);margin-left: 5px;display: inline-block }.t4s-product.t4s-pr-deal1 .t4s-product-info {padding-top: 0;padding-bottom: var(--product-space-img-txt) }.t4s-product.t4s-pr-style5 .t4s-product-btns .t4s-pr-addtocart:hover .t4s-svg-pr-icon, .t4s-product.t4s-pr-style6 .t4s-product-btns .t4s-pr-addtocart:hover .t4s-svg-pr-icon {-webkit-animation: none !important;animation: none !important }.t4s-product-sizes--sold-out {text-decoration: line-through;opacity: .6 }.t4s-product-sizes .t4s-truncate>span:not(:last-child):after {content: ",";display: inline-block }.rtl_false .t4s-product-sizes .t4s-truncate>span:not(:last-child) {margin-right: 4px }.rtl_true .t4s-product-sizes .t4s-truncate>span:not(:last-child) {margin-left: 4px }.t4s-pr-color--sold-out .t4s-pr-color__value {position: relative;--color-sold-out: #222 }.t4s-pr-color--sold-out .t4s-pr-color__value:after {content: "";width: 90%;height: 1px;background: var(--color-sold-out);display: block;position: absolute;z-index: 22;top: 50%;left: 50%;transform: translate(-50%, -50%) rotate(135deg) }.t4s-pr-color__value.bg_color_white {border: 0 }.t4s-pr-color--sold-out .bg_color_black, .t4s-pr-color--sold-out .bg_color_grey, .t4s-pr-color--sold-out .bg_color_navy {--color-sold-out: #ddd }@media (min-width: 1025px) {.pr_border_style_3 .t4s-gx-md-0 .t4s-product {padding: 15px }}@media (max-width: 1024px) {.t4s-product .t4s-product-badge {top: 10px;right: 10px }.t4s-product-badge>span {min-width: 40px;font-size: 12px;margin-bottom: 2px }.badge_shape_1 .t4s-product-badge>span {height: 40px }.badge_shape_1 .is--listview .t4s-product .t4s-product-badge>span {min-width: 40px;height: 40px }.t4s-product .t4s-product-btns, .t4s-product .t4s-product-btns2, .t4s-product:not(.t4s-colors-selected):hover .t4s-product-sizes, .t4s-product.t4s-colors-selected .t4s-product-inner:hover .t4s-product-sizes, .t4s-pr-style1:not(.t4s-colors-selected):hover .t4s-product-btns, .t4s-pr-style1.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns, .t4s-pr-style1:not(.t4s-colors-selected):hover .t4s-product-btns2, .t4s-pr-style1.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns2 {opacity: 1;visibility: visible;transform: translate(0) translateY(0) }.t4s-product-atc-qty .t4s-quantity-wrapper {height: 36px }.t4s-quantity-wrapper+a.t4s-pr-addtocart .t4s-text-pr {line-height: 36px }.t4s-product .t4s-product-btns a, .t4s-product:not(.t4s-pr-style1) .t4s-product-btns .t4s-pr-item-btn, .t4s-product:not(.t4s-pr-style1) .t4s-product-btns2 .t4s-pr-item-btn {width: 36px;height: 36px;line-height: 36px;padding: 0;min-width: auto;min-height: auto;transform: translate(0) !important }.t4s-product .t4s-product-btns .t4s-pr-item-btn, .t4s-product .t4s-product-btns2 .t4s-pr-item-btn {opacity: 1;visibility: visible }.t4s-pr-style1 .t4s-product-inner .t4s-product-sizes, .t4s-pr-style1:not(.t4s-colors-selected):hover .t4s-product-inner .t4s-product-sizes, .t4s-pr-style1.t4s-colors-selected .t4s-product-inner:hover .t4s-product-sizes {bottom: 0;transform: translate(0) }.t4s-pr-style1 .t4s-product-btns, .t4s-pr-style1:not(.t4s-colors-selected):hover .t4s-product-btns, .t4s-pr-style1.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns {left: auto;right: 10px;bottom: 10px;top: auto;align-items: flex-end;background: linear-gradient(to bottom, var(--pr-quickview-color), var(--pr-addtocart-color));transform: translate(0);box-shadow: 1px 1px 1px #0000001a;border-radius: var(--pr-btn-radius-size) }.is--listview .t4s-product .t4s-product-btns {background: transparent !important;box-shadow: none !important;border-radius: 0 !important }.t4s-pr-item-has-qty .t4s-pr-style1 .t4s-product-btns, .t4s-pr-item-has-qty .t4s-pr-style1:not(.t4s-colors-selected):hover .t4s-product-btns, .t4s-pr-item-has-qty .t4s-pr-style1.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns {background: transparent;box-shadow: none }.t4s-product .t4s-product-countdown {max-width: calc(100% - 50px);bottom: 5px;left: 5px;right: 5px;padding: 5px }.t4s-product .t4s-product-countdown {font-size: 10px;line-height: 1.2 }.t4s-product .t4s-product-inner .t4s-product-sizes {font-size: 12px }.t4s-product:hover .t4s-product-countdown.t4s-countdown-enabled {opacity: 1;visibility: visible;transform: translateY(0) }.t4s-pr-style1 .t4s-product-countdown {bottom: 25px }.t4s-pr-style1 .t4s-product-inner .t4s-product-sizes {max-width: calc(100% - 50px);right: 5px;left: 5px;opacity: 1;visibility: visible }.t4s-pr-style1 .t4s-product-btns>* {margin: 2px 0 0 }.t4s-pr-style1 .t4s-product-btns a {min-width: auto;margin: 0 }.t4s-pr-style1 .t4s-product-btns a .t4s-svg-pr-icon {transform: translate(0) }.t4s-pr-style1 .t4s-product-btns a .t4s-text-pr {display: none }.t4s-pr-style1 .t4s-product-btns2 {top: 10px;left: 10px }.t4s-pr-style1 .t4s-product-btns2, .t4s-pr-style1:not(.t4s-colors-selected):hover .t4s-product-btns2, .t4s-pr-style1.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns2 {opacity: 1;visibility: visible;transform: translate(0) translateY(0);left: 10px;top: 10px }.t4s-pr-style1 .t4s-product-btns2 .t4s-pr-item-btn, .t4s-pr-style1 .t4s-product-btns2 .t4s-pr-item-btn:nth-child(2), .t4s-pr-style1 .t4s-product-btns2 .t4s-pr-item-btn:nth-child(3), .t4s-pr-style1:not(.t4s-colors-selected):hover .t4s-product-btns2 .t4s-pr-item-btn, .t4s-pr-style1.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns2 .t4s-pr-item-btn {transform: translate(0) }.t4s-pr-style1 .t4s-product-btns .t4s-svg-pr-icon svg, .t4s-pr-style5 .t4s-product-btns .t4s-svg-pr-icon svg, .t4s-pr-style6 .t4s-product-btns .t4s-svg-pr-icon svg {width: 16px;height: 16px }.t4s-pr-style2 .t4s-product-countdown, .t4s-pr-style4 .t4s-product-countdown {max-width: 100%;bottom: 70px }.t4s-pr-style5 .t4s-product-countdown {bottom: 70px }.t4s-pr-style6 .t4s-product-countdown {bottom: 25px }.t4s-pr-style2 .t4s-product-btns {bottom: 10px }.t4s-pr-style2 .t4s-product-btns .t4s-pr-item-btn {margin: 0 1px }.t4s-pr-style3 .t4s-product-badge {right: auto;left: 10px }.t4s-pr-style3 .t4s-product-btns {bottom: 10px;left: auto;right: 10px;align-items: flex-end }.t4s-pr-style3 .t4s-product-btns .t4s-product-sizes, .t4s-pr-style3 .t4s-product-btns a .t4s-text-pr {display: none }.t4s-pr-style3 .t4s-product-btns2 {top: auto;bottom: 46px;right: 10px }.t4s-pr-style3 .t4s-product-btns2 a {opacity: 1;visibility: visible }.t4s-pr-style3 .t4s-product-btns2 .t4s-pr-item-btn {margin-bottom: 2px }.t4s-pr-style4 .t4s-product-btns .t4s-pr-group-btns a, .t4s-pr-style4 .t4s-product-btns a.t4s-pr-addtocart {width: 36px }.t4s-pr-style4 .t4s-product-btns .t4s-pr-addtocart .t4s-svg-pr-icon {display: flex }.t4s-pr-style4 .t4s-product-btns .t4s-pr-addtocart .t4s-text-pr {display: none }.t4s-product .t4s-product-atc-qty .t4s-pr-addtocart .t4s-svg-pr-icon {transform: translateY(0);opacity: 1;visibility: visible }.t4s-pr-style5 .t4s-product-btns .t4s-product-atc-qty .t4s-pr-addtocart .t4s-text-pr, .t4s-pr-style6 .t4s-product-btns .t4s-product-atc-qty .t4s-pr-addtocart .t4s-text-pr {display: none }.t4s-pr-style5 .t4s-product-badge {left: 10px }.t4s-pr-style5 .t4s-product-btns a {width: 100% !important }.t4s-pr-style5 .t4s-product-btns2 {right: 10px;top: 10px }.t4s-pr-style6 .t4s-product-badge {left: 10px }.t4s-pr-style6 .t4s-product-btns2 {right: 10px;top: 10px }.t4s-pr-style6 .t4s-product-btns>a {width: auto !important;padding: 0 15px !important }.t4s-pr-style6 .t4s-product-btns2>a {margin-bottom: 2px }.t4s-pr-style5 .t4s-product-badge, .t4s-pr-style6 .t4s-product-badge {left: 10px;top: 10px }.pr_border_style_3 .t4s-gx-md-0 .t4s-product {padding: 10px }.t4s-product.t4s-pr-style7 .t4s-product-btns2 .t4s-pr-item-btn {margin-bottom: 7px;width: auto;height: auto;line-height: 1 }.t4s-pr-style7 .t4s-product-info {padding-inline-start: 10px;padding-inline-end: 10px;padding-bottom: 10px }}@media (min-width: 1025px) {.t4s-product:not(.t4s-pr-style5):not(.t4s-pr-style6) .t4s-product-btns>a {max-width: 90% }.t4s-pr-style3 .t4s-product-atc-qty {max-width: 90% }.t4s-product:not(.t4s-pr-style2):not(.t4s-pr-style4) .t4s-product-btns a span.t4s-text-pr {display: inline-block }}@media (max-width: 767px) {.t4s-pr-style1 .t4s-product-btns2, .t4s-pr-style1:not(.t4s-colors-selected):hover .t4s-product-btns2, .t4s-pr-style1.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns2 {left: 5px;top: 5px }.t4s-product .t4s-product-badge {top: 5px;right: 5px }.t4s-pr-style3 .t4s-product-badge {right: auto;left: 5px }.t4s-product-badge>span {min-width: 36px;font-size: 10px }.badge_shape_1 .t4s-product-badge>span {height: 36px }.badge_shape_1 .is--listview .t4s-product .t4s-product-badge>span {min-width: 36px;height: 36px }.t4s-pr-style1 .t4s-product-btns, .t4s-pr-style1:not(.t4s-colors-selected):hover .t4s-product-btns, .t4s-pr-style1.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns {right: 5px;bottom: 5px }.t4s-pr-style2 .t4s-product-btns {bottom: 5px }.t4s-pr-style3 .t4s-product-btns {right: 5px;bottom: 5px }.t4s-pr-style3 .t4s-product-btns2 {right: 5px;bottom: 41px }.t4s-pr-style5 .t4s-product-badge {top: 5px;left: 5px;right: auto }.t4s-pr-style5 .t4s-product-btns2 {right: 5px;top: 5px;left: auto }.t4s-pr-style6 .t4s-product-badge {left: 5px;top: 5px;right: auto }.t4s-pr-style6 .t4s-product-btns2 {right: 5px;left: auto;top: 5px }.pr_border_style_3 div.t4s-gx-0 .t4s-product {padding: 7.5px }.t4s-product.t4s-pr-packery .t4s-product-info {position: static;padding: var(--product-space-img-txt) 0 0;background-color: var(--t4s-light-color);opacity: 1;visibility: visible }.t4s-product.t4s-pr-packery .t4s-product-title a, .t4s-product.t4s-pr-packery .t4s-product-price {color: var(--t4s-dark-color) }.t4s-pr-color__item .t4s-pr-color__value {width: var(--swatch-color-size-mb);height: var(--swatch-color-size-mb) }.t4s-pr-style6 .t4s-product-btns>a {width: 100% !important;padding: 0 10px !important }.t4s-pr-style7 .t4s-product-btns2 {right: 10px;top: 10px }}@media (max-width: 360px) {.t4s-product .t4s-product-btns a, .t4s-product:not(.t4s-pr-style1) .t4s-product-btns2 .t4s-pr-item-btn {width: 32px;height: 32px }.t4s-product-atc-qty .t4s-quantity-wrapper {height: 32px }.t4s-svg-pr-icon svg {width: 16px;height: 16px }.t4s-pr-style5 .t4s-product-btns a {width: 100% }.t4s-pr-style6 .t4s-product-btns>a {width: auto }.t4s-pr-style5 .t4s-product-btns a .t4s-text-pr, .t4s-pr-style6 .t4s-product-btns a .t4s-text-pr {font-size: 10px }}.t4s-lb-arrow, .t4s-drop-arrow {display: none }.t4s-lb__header, .t4s-dropdown__header {display: flex;justify-content: space-between;align-items: center;min-height: 50px;padding: 0 0 0 20px;border-bottom: 1px solid var(--border-color);color: var(--heading-color) }.t4s-lb__header {border-bottom: none;position: absolute;top: 0;width: 100%;left: 0 }.t4s-lb__title {opacity: 0 }.rtl_true .t4s-lb__header, .rtl_true .t4s-dropdown__header {padding: 0 20px 0 0 }.t4s-lb__header span, .t4s-dropdown__header span {font-weight: 500;text-transform: uppercase }.t4s-lb__header button, .t4s-dropdown__header button {padding: 0;background-color: transparent;color: var(--t4s-dark-color);width: 50px;height: 50px;display: flex;justify-content: center;align-items: center }.t4s-lb__content {padding: 20px }.t4s-dropdown__content {padding: 15px 0 }.t4s-lb__wrapper, .t4s-dropdown__wrapper {background-color: var(--t4s-light-color);position: absolute;bottom: 0;left: 0;max-height: 80vh;position: fixed;width: 100%;padding: 0;box-shadow: 0 0 20px rgb(0 0 0 / 20%);opacity: 0;visibility: hidden;pointer-events: none;z-index: 468;will-change: transform, opacity, visibility;overflow: visible;-webkit-overflow-scrolling: touch;box-shadow: 0 0 20px rgb(0 0 0 / 20%);transform: translateY(100%);transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) }.t4s-lb__wrapper.is--opened, .t4s-dropdown__wrapper.is--opened {opacity: 1;visibility: visible;pointer-events: auto;transform: translateY(0);top: auto;display: block }.t4s-lb__wrapper .t4s-product-inner {max-width: 150px;margin: 0 auto }[data-pin-popup]>* {pointer-events: none }@media (max-width: 767px) {.t4s-dropdown__wrapper:not(.is-style-mb--false)[style] {top: auto !important;transform: translateY(100%) !important }.t4s-dropdown__wrapper:not(.is-style-mb--false)[style].is--opened {top: auto !important;transform: translateY(0) !important }}@media (min-width: 768px) {.t4s-lb-arrow, .t4s-drop-arrow {display: block;background-color: var(--t4s-light-color);position: absolute;width: 16px;height: 16px;transform: rotate(45deg) }.t4s-lb__header, .t4s-dropdown__header {display: none }.t4s-lb__wrapper, .t4s-dropdown__wrapper {display: none;width: 300px;max-height: 385px;position: absolute;bottom: auto;left: auto;opacity: 0;transform: none;overflow: auto;transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out }.t4s-lb__wrapper {overflow: visible }.t4s-lb__wrapper {max-height: none }.t4s-close-overlay.is--visible.is--pindop {opacity: 0;pointer-events: none }.t4s-lb__wrapper .t4s-product-inner {max-width: none;margin: 0 }}.t4s-icon-select-arrow {width: 10px;height: 10px;position: absolute;top: calc(50% - 5px);right: 12px;transition: transform .2s ease-in-out;transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out }[data-dropdown-open].is--clicked .t4s-icon-select-arrow {-webkit-transform: rotateZ(180deg);transform: rotateZ(180deg) }.t4s-dropdown__sortby .t4s-dropdown__content button {padding: 10px 15px;display: block;background-color: transparent;color: var(--text-color);width: 100%;text-align: inherit;transition: all 0.3s ease-in-out }.t4s-dropdown__sortby .t4s-dropdown__content button:hover, .t4s-dropdown__sortby .t4s-dropdown__content button.is--selected {background: rgba(var(--accent-color-rgb), .08);color: var(--accent-color) }.t4s-dropdown__sortby button[data-dropdown-open] {border: 1px solid var(--border-color);border-radius: 40px;padding: 7px 15px;min-width: 190px;background-color: transparent;color: var(--text-color);text-align: inherit;position: relative;z-index: 8;font-size: 14px;min-height: 40px }.rtl_true .t4s-icon-select-arrow {right: auto;left: 12px }@media (min-width: 768px) {.t4s-dropdown__sortby .t4s-dropdown__wrapper {width: 250px }#t4s__sortby {overflow: visible }}@media (max-width: 767px) {.t4s-dropdown__sortby button[data-dropdown-open] {min-width: auto;min-height: auto;border: 0 }.t4s-icon-select-arrow, .t4s-dropdown__sortby .t4s-icon-select-arrow {right: 0 }.rtl_true .t4s-icon-select-arrow, .rtl_true .t4s-dropdown__sortby.t4s-icon-select-arrow {left: 0;right: auto }.t4s-dropdown__content {overflow: auto;-webkit-overflow-scrolling: touch;max-height: calc(80vh - 51px) }.t4s-modal__content .t4s-dropdown__content {max-height: 50vh }.t4s-dropdown__wrapper.is-style-mb--false {display: none;width: 300px;max-height: 60vh;position: absolute;bottom: auto;box-shadow: 0 0 20px rgb(0 0 0 / 20%);z-index: 468;will-change: transform, opacity, visibility;overflow: auto;transition: opacity .2s ease-in-out, visibility .2s ease-in-out }.t4s-dropdown__wrapper.is-style-mb--false.is--opened {opacity: 1;visibility: visible;pointer-events: auto;transform: translateY(0);top: auto;display: block }}</style>
  {% endif %}
<link rel="stylesheet" data-href="{{ 'lookbook.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'section.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'collection-products.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'base_drop.min.css' | asset_url }}">
{%- liquid
  assign image_fix = image_nt | image_tag
  assign sid = section.id
  assign se_stts = section.settings 
  assign image = se_stts.image
  assign IsIMG = false
  if image != blank
  assign IsIMG = true
  endif 
  assign stt_layout = se_stts.layout
  if stt_layout == 't4s-se-container' 
    assign html_layout = '<div class="t4s-container">__</div></div>' | split: '__'
  elsif stt_layout == 't4s-container-wrap'
    assign html_layout = '<div class="t4s-container">__</div>' | split: '__'
  else
    assign html_layout = '__' | split: '__'
  endif
  assign routes_local = routes.cart_url | split: 'cart' | first 
  assign root_url = routes.root_url 
  if root_url != '/'
    assign root_url = root_url | append: '/'
  endif -%}

<div class="t4s-section-inner t4s_nt_se_{{ sid }} t4s_se_{{ sid }} {{ stt_layout }}" {% render 'section_style', se_stts: se_stts %}>
    {{- html_layout[0] -}}
    {%- if stt_layout == 't4s-se-container' -%}<div class="t4s-container-inner">{%- endif -%}
    {%- render 'section_tophead', se_stts: se_stts -%} 

    <div class="t4s-pr t4s-lookbook-wrapper">
      <div class="t4s-lookbook-img t4s-pr t4s-oh t4s_position_8 t4s_cover t4s_ratioadapt">
      {%- if IsIMG -%}{%- assign ratio = image.aspect_ratio -%}
        <div class="t4s-lookbook-img-wrap t4s_ratio" style="--aspect-ratioapt: {{ ratio | default: 1.7777 }}">
          <img {% if image.presentation.focal_point != '50.0% 50.0%' %}style="object-position: {{ image.presentation.focal_point }}"{% endif %} class="lazyloadt4s t4s-lz--fadeIn t4s-obj-eff t4s-img-as-bg pin__image" data-src="{{ image | image_url: width: 1 }}" data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}">
          <span class="lazyloadt4s-loader is-bg-img" style="background: url({{ image | image_url: width: 1 }});"></span>  
        </div>
      {%- else -%}
        {%- capture current -%}{% cycle 1, 2 %}{%- endcapture -%}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 't4s-placeholder-svg t4s-svg-bg1' }}  
      {%- endif -%}
      </div>
      {%- if section.blocks.size > 0 -%}  
        {%- for block in section.blocks -%}{%- assign bk_stts = block.settings -%}
          {%- case block.type -%}
            {%- when 'pr' -%}{%- if bk_stts.product == blank -%}{%- continue -%}{%- endif -%}
              <span data-bid="t4s_{{ se_id }}{{ block.id }}" data-pin-popup data-position="{{ bk_stts.pos_popup }}" data-is-pr data-href="{{ root_url }}products/{{ bk_stts.product }}" data-sid="render-pr_lb{{ se_stts.pr_pin_des }}" class="t4s-lookbook-pin is-type__pr pin__size--{{ bk_stts.pos_size }} pin_ic_{{ bk_stts.type }} pin__type_{{ block.id }}" {{ block.shopify_attributes }} {% render 'pin_position', bk_stts: bk_stts %}>
                <span class="t4s-zoompin"></span>
                <span class="t4s-pin-tt">
                  {%- if bk_stts.type != '3' -%}<i class="t4s-nav-link-icon"></i>
                  {%- else -%}<span class="t4s-truncate">{{ bk_stts.shorttxt }}</span>
                  {%- endif -%}
                </span>
              </span>
            {%- when 'txt' -%}
              <span data-bid="t4s_{{ se_id }}{{ block.id }}" data-pin-popup data-position="{{ bk_stts.pos_popup }}" class="t4s-lookbook-pin is-type__text pin__size--{{ bk_stts.pos_size }} pin_ic_{{ bk_stts.type }} pin__type_{{ block.id }}" {{ block.shopify_attributes }} {% render 'pin_position', bk_stts: bk_stts %}>
                <span class="t4s-zoompin"></span>
                <span class="t4s-pin-tt">
                  {%- if bk_stts.type != '3' -%}<i class="t4s-nav-link-icon"></i>
                  {%- else -%}<span class="t4s-truncate">{{ bk_stts.shorttxt }}</span>
                  {%- endif -%}
                </span>
              </span>
              <template id="temt4s_{{ se_id }}{{ block.id }}">
                <div data-pin-wrapper id="" class="t4s-lb__wrapper t4s-lb-txt-wrapper">
                   <div class="t4s-lb-arrow"></div>
                   <div class="t4s-lb__header">
                     <span class="t4s-lb__title">{{ 'sections.lookbook.title.text' | t }}</span>
                     <button data-pin-close aria-label="{{ 'general.aria.close' | t }}"><svg role="presentation" class="t4s-iconsvg-close" viewBox="0 0 16 14"><path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path></svg></button>
                   </div>
                   <div class="t4s-lb__content">
                      <div class="t4s-lb-title">{{ bk_stts.heading }}</div>
                      <div class="t4s-lb-content t4s-rte">{{ bk_stts.text }}</div>
                   </div>
                </div>
              </template>
            {%- when 'url' -%}
              <a href="{{ bk_stts.url }}" target="{{ bk_stts.open_link }}" class="t4s-lookbook-pin is-type__ink pin__size--{{ bk_stts.pos_size }} pin_ic_{{ bk_stts.type }} pin__type_{{ block.id }}" {% render 'pin_position', bk_stts: bk_stts %} >
                <span class="t4s-zoompin"></span>
                 <span class="t4s-pin-tt">
                  {%- if bk_stts.type != '3' -%}<i class="t4s-nav-link-icon"></i>
                  {%- else -%}<span class="t4s-truncate">{{ bk_stts.shorttxt }}</span>
                  {%- endif -%}
                </span>
              </a>
          {%- endcase -%}
      {%- endfor -%}
      {%- endif -%}  
    </div> 
    {{- html_layout[1] -}}
  </div>
{%- schema -%}
  {
    "name": "Lookbook Single",
    "class": "t4s-section t4s-section-all t4s_tp_lb",
    "max_blocks": 40,
    "settings": [
        {
                "type": "header",
                "content": "1. Heading options"
            },
            {
                "type": "select",
                "id": "design_heading",
                "label": "+ Design heading",
                "default": "1",
                "options": [
                    {
                        "value": "1",
                        "label": "Design 01"
                    },
                    {
                        "value": "2",
                        "label": "Design 02"
                    },
                    {
                        "value": "3",
                        "label": "Design 03"
                    },
                    {
                        "value": "4",
                        "label": "Design 04"
                    },
                    {
                        "value": "5",
                        "label": "Design 05"
                    },
                    {
                        "value": "6",
                        "label": "Design 06 (width line-awesome)"
                    },
                    {
                        "value": "7",
                        "label": "Design 07"
                    },
                    {
                        "value": "8",
                        "label": "Design 08"
                    },
                    {
                        "value": "9",
                        "label": "Design 09"
                    },
                    {
                        "value": "10",
                        "label": "Design 10"
                    },
                    {
                        "value": "11",
                        "label": "Design 11"
                    },
                    {
                        "value": "12",
                        "label": "Design 12"
                    },
                    {
                        "value": "13",
                        "label": "Design 13"
                    },
                    {
                        "value": "14",
                        "label": "Design 14"
                    }
                ]
            },
            {
                "type": "select",
                "id": "heading_align",
                "label": "+ Heading align",
                "default": "t4s-text-center",
                "options": [
                    {
                        "value": "t4s-text-start",
                        "label": "Left"
                    },
                    {
                        "value": "t4s-text-center",
                        "label": "Center"
                    },
                    {
                        "value": "t4s-text-end",
                        "label": "Right"
                    }
                ]
            },
            {
                "type": "text",
                "id": "top_heading",
                "label": "+ Heading"
            },
            {
                "type": "text",
                "id": "icon_heading",
                "label": "Enter a name icon [LineAwesome](https://kalles.the4.co/font-lineawesome/)",
                "info": "Only used for design 6",
                "default": "las la-gem"
            },
            {
                "type": "textarea",
                "id": "top_subheading",
                "label": "+ Subheading"
            },
            {
                "type": "number",
                "id": "tophead_mb",
                "label": "+ Space bottom (px)",
                "info": "The vertical spacing between heading and content.",
                "default": 30
            },
      {
        "type": "header","content": "2. Image Lookbook"
      },
      {
        "type": "select","id": "img_size","label": "Image size",
        "options": [
          { "value": "1", "label": "Full Screen"},
          { "value": "2", "label": "Auto"}
        ]
      },
     {
      "type":"image_picker","id":"image","label":"Choose Image"
      },
      {
        "type": "header","content": "3. Pin product design"
      },
      {
        "type": "select",
        "id": "pr_pin_des",
        "options": [
            {
                "value": "1",
                "label": "Pin product design 1"
            },
            {
                "value": "2",
                "label": "Pin product design 2"
            },
            {
                "value": "3",
                "label": "Pin product design 3"
            },
            {
                "value": "4",
                "label": "Pin product design 4"
            },
            {
                "value": "5",
                "label": "Pin product design 5"
            },
            {
                "value": "6",
                "label": "Pin product design 6"
            }
        ],
        "label": "Select design",
          "default": "1"
      },
      {
        "type": "header","content": "4. Design Settings"
      },
     
      {
        "type": "select",
        "id": "layout",
        "default": "t4s-se-container",
        "label": "Section Layout",
        "options": [
            { "value": "t4s-se-container", "label": "Container"},
            { "value": "t4s-container-wrap", "label": "Wrapped Container"},
            { "value": "t4s-container-fluid", "label": "Full width"}
        ]
      },
      {
          "type": "color",
          "id": "cl_bg",
          "label": "Background"
      },
      {
          "type": "color_background",
          "id": "cl_bg_gradient",
          "label": "Background gradient"
      },
      {
          "type": "text",
          "id": "mg",
          "label": "Margin",
          "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
          "default": ",,50px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd",
          "label": "Padding",
          "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
          "placeholder": "50px,,50px,"
      },
      {
          "type": "header",
          "content": "+ Design Tablet Options"
        },
        {
          "type": "text",
          "id": "mg_tb",
          "label": "Margin",
          "placeholder": ",,50px,"
        },
        {
          "type": "text",
          "id": "pd_tb",
          "label": "Padding",
          "placeholder": ",,50px,"
        },
      {
          "type": "header",
          "content": "+ Design mobile options"
      },
      {
          "type": "text",
          "id": "mg_mb",
          "label": "Margin",
          "default": ",,30px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd_mb",
          "label": "Padding",
          "placeholder": ",,50px,"
      }
    ],
    "blocks": [
      {
        "type": "pr",
        "name": "Product",
        "settings": [
          {
            "type": "header","content": "+ Pin options"
          },
          {
            "type":"range","id":"pos_t","min":0,"max":100,"step":1,"unit":"%","label":"Position Top","default":50
          },
          {
            "type":"range","id":"pos_l","min":0,"max":100,"step":1,"unit":"%","label":"Position Left","default":50
          },
          {
           "type": "select","id": "pos_popup","label": "Position","default": "top",
           "options": [
              { "value": "top-start", "label": "Top start"},
              { "value": "top", "label": "Top"},
              { "value": "top-end", "label": "Top end"},
              { "value": "bottom-start", "label": "Bottom start"},
              { "value": "bottom", "label": "Bottom"},
              { "value": "bottom-end", "label": "Bottom end"},
              { "value": "left-start", "label": "Left start"},
              { "value": "left", "label": "Left"},
              { "value": "left-end", "label": "Left end"},
              { "value": "right-start", "label": "Right start"},
              { "value": "right", "label": "Right"},
              { "value": "right-end", "label": "Right end"}
           ]
          },
          {
             "type": "select","id": "type","label": "Title type",
             "options": [
                { "value": "1", "label": "icon 1"},
                { "value": "2", "label": "icon 2"},
                { "value": "3", "label": "Short Text"}
             ]
          },
         {
          "type":"text","id":"shorttxt","label":"Short Text","default":"$59"
          },
          {
           "type": "select","id": "pos_size","label": "Pin size","default": "medium",
           "options": [
              { "value": "small", "label": "Small"},
              { "value": "medium", "label": "Medium"},
              { "value": "exmedium", "label": "Large"},
              { "value": "large", "label": "Extra large"},
              { "value": "dex_large", "label": "Double extra large"}
           ]
          },
          {
           "type": "color","id": "bg_cl","label": "Background color","default": "#65affa"
          },
          {
            "type": "color","id": "cl_text","label": "Icon/Text color","default": "#fff" 
          },
          
          {
             "type": "product","id": "product","label": "Choose product"
          }
        ]
      },
      {
        "type": "txt",
        "name": "Text",
        "settings": [
          {
            "type": "header","content": "+ Pin options"
          },
          {
            "type":"range","id":"pos_t","min":0,"max":100,"step":1,"unit":"%","label":"Position Top","default":50
          },
          {
            "type":"range","id":"pos_l","min":0,"max":100,"step":1,"unit":"%","label":"Position Left","default":50
          },
          {
           "type": "select","id": "pos_popup","label": "Position","default": "top",
           "options": [
              { "value": "top-start", "label": "Top start"},
              { "value": "top", "label": "Top"},
              { "value": "top-end", "label": "Top end"},
              { "value": "bottom-start", "label": "Bottom start"},
              { "value": "bottom", "label": "Bottom"},
              { "value": "bottom-end", "label": "Bottom end"},
              { "value": "left-start", "label": "Left start"},
              { "value": "left", "label": "Left"},
              { "value": "left-end", "label": "Left end"},
              { "value": "right-start", "label": "Right start"},
              { "value": "right", "label": "Right"},
              { "value": "right-end", "label": "Right end"}
           ]
          },
          {
             "type": "select","id": "type","label": "Title type",
             "options": [
                { "value": "1", "label": "icon 1"},
                { "value": "2", "label": "icon 2"},
                { "value": "3", "label": "Short Text"}
             ]
          },
         {
          "type":"text","id":"shorttxt","label":"Short Text","default":"$59"
          },
          {
           "type": "select","id": "pos_size","label": "Pin size","default": "medium",
           "options": [
              { "value": "small", "label": "Small"},
              { "value": "medium", "label": "Medium"},
              { "value": "exmedium", "label": "Large"},
              { "value": "large", "label": "Extra large"},
              { "value": "dex_large", "label": "Double extra large"}
           ]
          },
          {
           "type": "color","id": "bg_cl","label": "Background color","default": "#56cfe1"
          },
          {
            "type": "color","id": "cl_text","label": "Icon/Text color","default": "#fff" 
          },
          
         {
          "type":"text","id":"heading","label":"Heading","default":"01 - Water Resistance"
          },
         {
          "type":"richtext","id":"text","label":"Content","default":"<p>With groundbreaking water resistant capabilities, The Mission has the highest waterproof rating of any smartwatch on the market.</p>"
          }
         ]
      },
      {
        "type": "url",
        "name": "Link",
        "settings": [
          {
            "type": "header","content": "+ Pin options"
          },
          {
            "type":"range","id":"pos_t","min":0,"max":100,"step":1,"unit":"%","label":"Position Top","default":50
          },
          {
            "type":"range","id":"pos_l","min":0,"max":100,"step":1,"unit":"%","label":"Position Left","default":50
          },
          {
             "type": "select","id": "type","label": "Title type",
             "options": [
                { "value": "1", "label": "icon 1"},
                { "value": "2", "label": "icon 2"},
                { "value": "3", "label": "Short Text"}
             ]
          },
         {
          "type":"text","id":"shorttxt","label":"Short Text","default":"$59"
          },
          {
           "type": "select","id": "pos_size","label": "Pin size","default": "medium",
           "options": [
              { "value": "small", "label": "Small"},
              { "value": "medium", "label": "Medium"},
              { "value": "exmedium", "label": "Large"},
              { "value": "large", "label": "Extra large"},
              { "value": "dex_large", "label": "Double extra large"}
           ]
          },
          {
           "type": "color","id": "bg_cl","label": "Background color","default": "#334fb4"
          },
          {
            "type": "color","id": "cl_text","label": "Icon/Text color","default": "#fff" 
          },
          {
            "type": "header","content": "+ Popup options"
          },
         {
          "type":"url","id":"url","label":"Link"
          },
          {
            "type": "select",
            "id": "open_link",
            "options": [
              {
                "value": "_self",
                "label": "Current window"
              },
             {
                "value": "_blank",
                "label": "New window"
              }
            ],
            "label": "Open link in",
            "default": "_blank"
          }
         ]
      }
    ],
    "presets": [
      {
        "name": "Lookbook Single",
        "category": "VIII. Lookbook"
      }
    ]
  }
{% endschema %}