{%- liquid 
    assign se_stts = section.settings
    if se_stts.btn_owl == "outline"
        assign arrow_icon = 1
    else
        assign arrow_icon = 2
    endif
    assign se_blocks = section.blocks
    assign isShowHTMl = false
    if template.suffix == 'config' and request.design_mode
        assign isShowHTMl = true
    endif 
 -%}
{%- if isShowHTMl -%}
    {% if template contains 'index' or template contains 'collection' or template contains 'product' %}
        
    {% else %}
        <style>.flickityt4s:not(.flickityt4s-enabled){flex-wrap:nowrap;overflow:hidden;width:auto}.flickityt4s-enabled{display:block;position:relative;-webkit-tap-highlight-color:transparent}.flickityt4s-enabled:focus{outline:0;box-shadow:none}.flickityt4s-viewport{overflow:hidden;position:relative;width:100%;height:100%}.flickityt4s-slider{position:absolute;width:100%;height:100%;will-change:transform}.flickityt4s-enabled.is-draggable{-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickityt4s-enabled.is-draggable .flickityt4s-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickityt4s-enabled.is-draggable .flickityt4s-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickityt4s-button,.flickityt4s-page-dots{display:none}.flickityt4s-enabled.is-fade .flickityt4s-slider>*{pointer-events:none;z-index:0;opacity:0;transition:opacity .3s ease-in-out,visibility .3s ease-in-out}.flickityt4s-enabled.is-fade .flickityt4s-slider>.is-selected{pointer-events:auto;z-index:1;opacity:1}.t4s-enabled .flickityt4s-viewport{transition:height .3s}.flickityt4s-button{position:absolute;border:none}.flickityt4s-button:hover{cursor:pointer}.flickityt4s-button:active{opacity:.6}.flickityt4s-button:disabled{opacity:.3!important;cursor:auto}.flickityt4s_prev_disable.flickityt4s_next_disable .flickityt4s-button:disabled,.flickityt4s_prev_disable.flickityt4s_next_disable .flickityt4s-page-dots{display:none!important}.flickityt4s-button-icon{fill:currentColor}.flickityt4s-prev-next-button{top:var(--prev-next-top,50%);width:40px;height:40px;min-width:40px;min-height:40px;padding:0;transform:translateY(-50%)}.flickityt4s-prev-next-button.previous{left:15px}.flickityt4s-prev-next-button.next{right:15px}.flickityt4s-rtl .flickityt4s-prev-next-button.previous{left:auto;right:15px}.flickityt4s-rtl .flickityt4s-prev-next-button.next{right:auto;left:15px}.flickityt4s-prev-next-button .flickityt4s-button-icon{width:auto;height:18px;stroke:currentColor;fill:currentcolor}.flickityt4s-page-dots{position:relative;width:100%;bottom:0;z-index:2;padding:0;margin:15px 0 0;list-style:none;text-align:center;line-height:1}.flickityt4s-rtl .flickityt4s-page-dots{direction:rtl}.flickityt4s:after{content:'flickityt4s';display:none}@media (min-width:768px){.carousel-disable-md:after{content:''}.carousel-disable-md.flickityt4s:not(.flickityt4s-enabled){flex-wrap:wrap }}@media (min-width:1025px){.carousel-disable-lg:after{content:''}.carousel-disable-lg.flickityt4s:not(.flickityt4s-enabled){flex-wrap:wrap}.t4s-carousel__nav-scroller:not(.is__position-bottom){position:absolute;top:0;left:0;right:0;bottom:0;overflow-x:visible;overflow-y:scroll;overscroll-behavior-y: contain;}.t4s-carousel__nav{flex-wrap:wrap }}.flickityt4s-enabled,.flickityt4s-slider>.t4s-col-item{margin-top:0!important}.t4s-carousel__nav-scroller{width:100%;overflow-x:scroll;white-space:nowrap; -webkit-overflow-scrolling: touch;-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;scrollbar-width:none;scroll-behavior:smooth;-ms-overflow-style:-ms-autohiding-scrollbar}.t4s-carousel__nav-scroller img{opacity:0;transition:.3s ease-in-out}.t4s-carousel__nav-scroller img.lazyloadt4sed{opacity:1}.t4s-carousel__nav{flex-wrap:nowrap}.t4s-carousel__nav-scroller::-webkit-scrollbar{height:0;width:0}.t4s-flicky-slider.t4s-slider-btn-small{--btn-width-slider: 40px;--btn-height-slider: 40px;--icon-height-slider: 16px}.t4s-flicky-slider{--btn-width-slider: 50px;--btn-height-slider: 50px;--icon-height-slider: 20px}.t4s-flicky-slider.t4s-slider-btn-large{--btn-width-slider: 60px;--btn-height-slider: 60px;--icon-height-slider: 24px}.t4s-flicky-slider .flickityt4s-button{width:var(--btn-width-slider);height:var(--btn-height-slider);text-align:center;padding:0;display:inline-flex;align-items:center;justify-content:center;transition:all .5s ease;color:#000;margin:auto 0;min-width:1px;min-height:1px;-webkit-animation:1s t4s-ani-fadeIn;animation:1s t4s-ani-fadeIn;z-index:3}.flickityt4s-enabled .flickityt4s-prev-next-button[disabled],.flickityt4s-enabled:hover .flickityt4s-prev-next-button[disabled]{opacity:.3}.t4s-flicky-slider:not(:hover) .flickityt4s-button.previous{transform:translate(15px) translateY(-50%)}.t4s-flicky-slider:not(:hover) .flickityt4s-button.next{transform:translate(-15px) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-vi-always .flickityt4s-button{transform:translate(0) translateY(-50%)}.flickityt4s-prev-next-button .flickityt4s-button-icon{height:var(--icon-height-slider)!important}.t4s-flicky-slider.t4s-slider-btn-vi-hover .flickityt4s-button{opacity:0;visibility:hidden}.t4s-flicky-slider.t4s-slider-btn-vi-hover:hover .flickityt4s-button,.t4s-flicky-slider.t4s-slider-btn-vi-always .flickityt4s-button{opacity:1;visibility:visible}.t4s-flicky-slider.t4s-slider-btn-round .flickityt4s-button{border-radius:50%}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button{transform-origin:50% 15px}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.previous{transform:rotate(45deg) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.next .flickityt4s-button-icon{transform:rotate(45deg)}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.next{transform:rotate(-45deg) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-rotate .flickityt4s-button.previous .flickityt4s-button-icon{transform:rotate(-45deg)}.t4s-flicky-slider.t4s-slider-btn-rotate:not(:hover) .flickityt4s-button.previous{transform:rotate(45deg) translate(15px) translateY(-50%)}.t4s-flicky-slider.t4s-slider-btn-rotate:not(:hover) .flickityt4s-button.next{transform:rotate(-45deg) translate(-15px) translateY(-50%)}.t4s-flicky-slider .flickityt4s-button{color:var(--slider-btn-color);background-color:var(--slider-btn-background);border-color:var(--slider-btn-border)}.t4s-flicky-slider .flickityt4s-button:hover{color:var(--slider-btn-color-hover);background-color:var(--slider-btn-background-hover);border-color:var(--slider-btn-border-hover)}.t4s-flicky-slider.t4s-slider-btn-cl-light.t4s-slider-btn-style-default .flickityt4s-button{box-shadow:0 2px 10px #36363626}.t4s-flicky-slider.t4s-slider-btn-cl-default{--slider-btn-color: var(--t4s-light-color);--slider-btn-background: var(--t4s-dark-color);--slider-btn-border: var(--t4s-dark-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-background-hover: var(--t4s-dark-color);--slider-btn-border-hover: var(--t4s-dark-color)}.t4s-flicky-slider.t4s-slider-btn-cl-default .flickityt4s-button:hover{opacity:.8!important}.t4s-flicky-slider.t4s-slider-btn-cl-dark{--slider-btn-color: var(--t4s-light-color);--slider-btn-background: var(--t4s-dark-color);--slider-btn-border: var(--t4s-dark-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-background-hover: var(--accent-color);--slider-btn-border-hover: var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-cl-light{--slider-btn-color: var(--t4s-dark-color);--slider-btn-background: var(--t4s-light-color);--slider-btn-border: var(--t4s-light-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-background-hover: var(--accent-color);--slider-btn-border-hover: var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-cl-primary{--slider-btn-color: var(--t4s-light-color);--slider-btn-background: var(--accent-color);--slider-btn-border: var(--accent-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-background-hover: var(--accent-color-hover);--slider-btn-border-hover: var(--accent-color-hover)}.t4s-flicky-slider.t4s-slider-btn-cl-custom1,.t4s-flicky-slider.t4s-slider-btn-cl-custom2{--slider-btn-color: var(--btn-color);--slider-btn-background: var(--btn-background);--slider-btn-border: var(--btn-background);--slider-btn-color-hover: var(--btn-color-hover);--slider-btn-background-hover: var(--btn-background-hover);--slider-btn-border-hover: var(--btn-background-hover)}.t4s-flicky-slider.t4s-slider-btn-style-outline{--slider-btn-color: var(--t4s-dark-color);--slider-btn-border: var(--t4s-dark-color);--slider-btn-background-hover: var(--t4s-dark-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-border-hover: var(--t4s-dark-color)}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-light{--slider-btn-color: var(--t4s-light-color);--slider-btn-border: var(--t4s-light-color);--slider-btn-background-hover: var(--accent-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-border-hover: var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-dark{--slider-btn-color: var(--t4s-dark-color);--slider-btn-border: var(--t4s-dark-color);--slider-btn-background-hover: var(--accent-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-border-hover: var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-primary{--slider-btn-color: var(--accent-color);--slider-btn-border: var(--accent-color);--slider-btn-background-hover: var(--accent-color);--slider-btn-color-hover: var(--t4s-light-color);--slider-btn-border-hover: var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-custom1,.t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-custom2{--slider-btn-color: var(--btn-color);--slider-btn-border: var(--btn-color);--slider-btn-background-hover: var(--btn-background-hover);--slider-btn-color-hover: var(--btn-color-hover);--slider-btn-border-hover: var(--btn-background-hover)}.t4s-flicky-slider.t4s-slider-btn-style-simple{--slider-btn-color: var(--t4s-dark-color);--slider-btn-color-hover: var(--t4s-dark-color)}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-light{--slider-btn-color: var(--t4s-light-color);--slider-btn-color-hover: var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-dark{--slider-btn-color: var(--t4s-dark-color);--slider-btn-color-hover: var(--accent-color)}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-primary{--slider-btn-color: var(--accent-color);--slider-btn-color-hover: var(--accent-color-hover)}.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-custom1,.t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-custom2{--slider-btn-color: var(--btn-color);--slider-btn-color-hover: var(--btn-color-hover)}.t4s-flicky-slider.t4s-slider-btn-style-outline{--slider-btn-background: transparent}.t4s-flicky-slider.t4s-slider-btn-style-outline .flickityt4s-button{border-style:solid;border-width:2px}.t4s-flicky-slider.t4s-slider-btn-style-simple{--slider-btn-background: transparent;--slider-btn-border: transparent;--slider-btn-background-hover: transparent;--slider-btn-border-hover: transparent}.t4s-slider-btn-pos-ontop.t4s-flicky-slider .flickityt4s-button{position:absolute;z-index:2;white-space:nowrap;--abc: calc(var(--heading-height)/2);--xyz: calc(var(--btn-height-slider)/2);top:auto;bottom:calc(100% + var(--tophead_mb));opacity:1;visibility:visible;margin:0}.t4s-slider-btn-pos-ontop.t4s-flicky-slider .flickityt4s-button.next{right:calc(var(--flickity-btn-pos)/2);transform:none}.t4s-slider-btn-pos-ontop.t4s-flicky-slider.t4s-slider-btn-style-simple .flickityt4s-button.next{right:calc(var(--flickity-btn-pos)/2 - 7px)}.t4s-slider-btn-pos-ontop.t4s-flicky-slider .flickityt4s-button.previous{right:calc(var(--btn-height-slider) + 20px + var(--flickity-btn-pos)/2);left:auto;transform:none}.t4s-slider-btn-pos-ontop.t4s-flicky-slider.t4s-slider-btn-style-simple .flickityt4s-button.previous{right:calc(var(--btn-height-slider) + 20px + var(--flickity-btn-pos)/2 - 7px)}.t4s-slider-btn-pos-ontop.t4s-flicky-slider:not(:hover) .flickityt4s-button.previous,.t4s-slider-btn-pos-ontop.t4s-flicky-slider:not(:hover) .flickityt4s-button.next{transform:none}.t4s-flicky-slider .flickityt4s-page-dots{display:block;-webkit-animation:1s t4s-ani-fadeIn;animation:1s t4s-ani-fadeIn}.flickityt4s-page-dots .dot.is-selected:first-child:last-child{display:none}.t4s-flicky-slider.t4s-dots-round-true .flickityt4s-page-dots .dot{border-radius:50%}.t4s-dots-style-elessi.t4s-dots-round-true .flickityt4s-page-dots .dot{border-radius:5px}.t4s-flicky-slider.t4s-dots-style-outline .flickityt4s-page-dots .dot:not(.is-selected){--slider-dot-background: transparent !important}.t4s-flicky-slider.t4s-dots-style-outline .flickityt4s-page-dots .dot{border-style:solid;border-width:2px}.t4s-flicky-slider{--slider-dot-width: 11px;--slider-dot-height: 11px;--slider-dot-background: #000;--slider-dot-border: #000}.t4s-flicky-slider.t4s-dots-style-default.t4s-dots-cl-default .dot.is-selected{--slider-dot-background: rgba(0,0,0,.9)}.t4s-flicky-slider.t4s-dots-style-outline{--slider-dot-width: 13px;--slider-dot-height: 13px;--slider-dot-background: #fff;--slider-dot-border: #fff}.t4s-flicky-slider.t4s-dots-style-outline.t4s-dots-cl-default .dot.is-selected{--slider-dot-background: #000;--slider-dot-border: #000}.t4s-flicky-slider.t4s-dots-style-outline.t4s-dots-cl-default .dot:not(.is-selected){--slider-dot-background: #fff !important;--slider-dot-border: rgba(0,0,0,.2);opacity:1}.t4s-flicky-slider.t4s-dots-style-elessi{--slider-dot-width: 13px;--slider-dot-height: 13px;--slider-dot-background: #fff;--slider-dot-border: #000;--slider-dot-background-active:#000}.t4s-flicky-slider.t4s-dots-style-elessi{--slider-dot-width: 8px;--slider-dot-height: 8px}.t4s-flicky-slider.t4s-dots-style-elessi .dot.is-selected{--slider-dot-width: 30px}.t4s-flicky-slider.t4s-dots-style-elessi.t4s-dots-cl-default .dot.is-selected{--slider-dot-background: #000;--slider-dot-border: #000}.t4s-flicky-slider.t4s-dots-style-elessi.t4s-dots-cl-default .dot:not(.is-selected){--slider-dot-background: #fff !important;--slider-dot-border: #fff;opacity:1}.t4s-flicky-slider.t4s-dots-style-br-outline{--slider-dot-width: 8px;--slider-dot-height: 8px;--slider-dot-background: var(--t4s-light-color);--slider-dot-border: var(--t4s-dark-color);--slider-dot-background-active:var(--t4s-dark-color)}.t4s-flicky-slider.t4s-dots-style-br-outline,.t4s-flicky-slider.t4s-dots-style-br-outline2{--slider-dot-background: var(--t4s-light-color);--slider-dot-border: var(--t4s-dark-color);--slider-dot-background-active:var(--t4s-dark-color)}.t4s-flicky-slider.t4s-dots-style-br-outline .dot,.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot{position:relative;transition:all .3s linear;--slider-dot-width: 17px;--slider-dot-height: 17px;border-radius:50%;box-shadow:0 0 0 2px #fff0;-webkit-transition:box-shadow .3s ease;transition:box-shadow .3s ease;background-color:transparent!important}.t4s-flicky-slider.t4s-dots-style-br-outline .dot{--slider-dot-width: 22px;--slider-dot-height: 22px}.t4s-flicky-slider.t4s-dots-style-br-outline .dot.is-selected,.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot.is-selected{box-shadow:0 0 0 2px var(--slider-dot-background)}.t4s-flicky-slider.t4s-dots-style-br-outline .dot:before,.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot:before{content:"";border-radius:100%;background-color:var(--slider-dot-background);position:absolute;top:0;left:0;width:100%;height:100%;border:0}.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot.is-selected:before{background-color:transparent}.t4s-flicky-slider.t4s-dots-style-br-outline2 .dot:before,.t4s-flicky-slider.t4s-dots-style-br-outline .dot.is-selected:before{transform:scale(.3);-webkit-transform:scale(.3)}.t4s-flicky-slider.t4s-dots-style-br-outline .dot:before{transform:scale(.4);-webkit-transform:scale(.4)}.t4s-flicky-slider.t4s-dots-cl-dark{--slider-dot-background: var(--t4s-dark-color);--slider-dot-border: var(--t4s-dark-color)}.t4s-flicky-slider.t4s-dots-cl-light{--slider-dot-background: var(--t4s-light-color);--slider-dot-border: var(--t4s-light-color)}.t4s-flicky-slider.t4s-dots-cl-primary{--slider-dot-background: var(--accent-color);--slider-dot-border: var(--accent-color)}.t4s-flicky-slider.t4s-dots-cl-custom1,.t4s-flicky-slider.t4s-dots-cl-custom2{--slider-dot-background: var(--dots-background);--slider-dot-border: var(--dots-background)}.t4s-flicky-slider .flickityt4s-page-dots .dot{display:inline-flex;justify-content:center;align-items:center;width:var(--slider-dot-width);height:var(--slider-dot-height);background-color:var(--slider-dot-background);border-color:var(--slider-dot-border);margin:0 calc(var(--space-dots)/2);cursor:pointer;opacity:.5;transition:all .3s}.t4s-flicky-slider .flickityt4s-page-dots .dot:hover,.t4s-flicky-slider .flickityt4s-page-dots .dot.is-selected{opacity:1}.t4s-flicky-slider .flickityt4s-prev-next-button.previous{left:calc(var(--flickity-btn-pos)/2)}.t4s-flicky-slider .flickityt4s-prev-next-button.next{right:calc(var(--flickity-btn-pos)/2)}.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots{display:table;width:100%;max-width:calc(100% - var(--ts-gutter-x));margin-left:auto;margin-right:auto;margin-top:45px}.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot{display:table-cell;vertical-align:middle;width:auto;height:3px;background-color:#ededed;opacity:1}.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot:hover,.t4s-flicky-slider.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot.is-selected{background-color:var(--slider-dot-background)}.t4s-flicky-slider.t4s-dots-round-true.t4s-dots-style-fullwidth .flickityt4s-page-dots .dot{border-radius:1px}.t4s-dots-style-number .flickityt4s-page-dots{opacity:0;visibility:hidden}.t4s-dots-style-number.flickityt4s-enabled .flickityt4s-page-dots{opacity:1;visibility:visible}.t4s-dots-style-number .flickityt4s-page-dots:not(.t4s-dots-list){display:none}.t4s-dots-style-number.t4s-dots-cl-dark{--dots-cl: var(--t4s-light-color);--bg-dots-cl: var(--t4s-dark-color)}.t4s-dots-style-number.t4s-dots-cl-light{--dots-cl: var(--t4s-dark-color);--bg-dots-cl: var(--t4s-light-color)}.t4s-dots-style-number.t4s-dots-cl-primary{--dots-cl: var(--t4s-light-color);--bg-dots-cl: var(--accent-color)}.t4s-dots-style-number .t4s-dots-list{padding:5px 15px;display:inline-flex;align-items:center;justify-content:center;line-height:20px;font-size:14px;margin:0;color:var(--dots-cl);background-color:var(--bg-dots-cl);left:50%;right:auto;transform:translate(-50%);width:auto}.t4s-dots-style-number.t4s-dots-round-true .t4s-dots-list{border-radius:15px}.t4s-flicky-slider .flickityt4s-page-dots{padding-inline-start:calc(var(--ts-gutter-x)/2);padding-inline-end:calc(var(--ts-gutter-x)/2);margin-inline-start:calc(-1 * (var(--space-dots)/2));margin-inline-end:calc(-1 * (var(--space-dots)/2));margin-top:var(--dots-bottom-pos)}.t4s-flicky-slider.t4s-dots-bottom_left .flickityt4s-page-dots{text-align:left}.t4s-flicky-slider.t4s-dots-bottom_right .flickityt4s-page-dots{text-align:right}@media (max-width: 767px){.t4s-flicky-slider.t4s-slider-btn-small{--btn-width-slider: 30px;--btn-height-slider: 30px;--icon-height-slider: 10px}.t4s-flicky-slider{--btn-width-slider: 40px;--btn-height-slider: 40px;--icon-height-slider: 14px}.t4s-flicky-slider.t4s-slider-btn-large{--btn-width-slider: 50px;--btn-height-slider: 50px;--icon-height-slider: 18px}.flickityt4s-page-dots{margin:5px 0 0}.t4s-flicky-slider.t4s-slider-btn-hidden-mobile-true .flickityt4s-button,.t4s-flicky-slider.t4s-dots-hidden-mobile-true .flickityt4s-page-dots{display:none}.t4s-flicky-slider:not(:hover) .flickityt4s-button.previous,.t4s-flicky-slider:not(:hover) .flickityt4s-button.next{transform:translate(0) translateY(-50%)}.flickityt4s-prev-next-button.previous{left:10px}.flickityt4s-prev-next-button.next{right:10px}.t4s-flicky-slider .flickityt4s-prev-next-button.previous{left:calc(var(--flickity-btn-pos-mb)/2)}.t4s-flicky-slider .flickityt4s-prev-next-button.next{right:calc(var(--flickity-btn-pos-mb)/2)}}</style>
    {% endif %}
    <link rel="stylesheet" data-href="{{ 'pre_flickityt4s.min.css' | asset_url }}">
    <link rel="stylesheet" data-href="{{ 'slider-settings.css' | asset_url }}">
    <div class="t4s-container" style="margin-top:100px;margin-bottom: 100px;">
        <h3 class="t4s-text-center" style="margin-bottom: 30px;">Slider button, dot config</h3>
        {%- for block in se_blocks -%}
            {%- assign index = forloop.index -%}
            <div class="t4s-flicky-slider t4s_ratio16_9 t4s_position_8 t4s_cover flickityt4s t4s-row t4s-row-cols-lg-3 t4s-row-cols-md-2 t4s-row-cols-1 t4s-gx-30 t4s-gy-30 t4s-slider-btn-style-{{ se_stts.btn_owl }} t4s-slider-btn-{{ se_stts.btn_shape }} t4s-slider-btn-{{ se_stts.btn_size }} t4s-slider-btn-cl-custom{{ index }} t4s-slider-btn-vi-{{ se_stts.btn_vi }} t4s-dots-style-{{ se_stts.dot_owl }} t4s-dots-cl-custom{{ index }} t4s-dots-round-{{ se_stts.dots_round }}" data-flickityt4s-js='{"setPrevNextButtons":true,"arrowIcon":"{{ arrow_icon }}","imagesLoaded": 0,"adaptiveHeight": 0, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": 1,"pageDots": true, "autoPlay" : 5000, "pauseAutoPlayOnHover" : true }'  style="--space-dots: {{ se_stts.dots_space }}px;--flickity-btn-pos: 30px;--flickity-btn-pos-mb: 30px;margin-bottom: 50px;">
                {% for i in (1..5) %}
                    <div class="t4s-col-item">
                        <div class="t4s_ratio" data-cacl-slide>
                            {{ 'image' | placeholder_svg_tag: 't4s-placeholder-svg t4s-obj-eff' }}
                        </div>
                    </div>
                {%- endfor -%}
            </div>
        {%- endfor -%} 
    </div>
{%- endif -%}
{%- for block in se_blocks -%}
    {%- liquid 
        assign bk_stts = block.settings 
        assign index = forloop.index 
        assign btn_color_primary = bk_stts.btn_color_primary
        assign btn_color_second = bk_stts.btn_color_second
        assign btn_color_primary_hover =  bk_stts.btn_color_primary_hover
        assign btn_color_second_hover =  bk_stts.btn_color_second_hover
   -%}
    {%- style -%}
        .t4s-flicky-slider.t4s-slider-btn-cl-custom{{ index }}{
            --btn-color           : {{ btn_color_second }};
            --btn-background      : {{ btn_color_primary }};
            --btn-border          : {{ btn_color_primary }};
            --btn-color-hover     : {{ btn_color_second_hover }};
            --btn-background-hover: {{ btn_color_primary_hover }};
            --btn-border-hover    :{{ btn_color_primary_hover }}; 
        }
        .t4s-flicky-slider.t4s-slider-btn-style-outline.t4s-slider-btn-cl-custom{{ index }}{
            --btn-color           : {{ btn_color_primary }};
            --btn-border          : {{ btn_color_primary }};
            --btn-color-hover     : {{ btn_color_second_hover }};
            --btn-background-hover : {{ btn_color_primary_hover }};
        }
        .t4s-flicky-slider.t4s-slider-btn-style-simple.t4s-slider-btn-cl-custom{{ index }}{
            --btn-color           : {{ btn_color_primary }};
            --btn-border          : {{ btn_color_primary }};
            --btn-color-hover     : {{ btn_color_primary_hover }};
            --btn-border-hover    : {{ btn_color_primary_hover }};
        }
        .t4s-flicky-slider.t4s-dots-cl-custom{{ index }}{
            --dots-background      : {{ btn_color_primary }};
            --dots-background2      : {{ btn_color_second }};
        }
        .t4s-dots-style-number.t4s-dots-cl-custom{{ index }} {
            --dots-cl: {{ btn_color_second }};
            --bg-dots-cl: {{ btn_color_primary }};
        }
    {%- endstyle -%}
{%- endfor -%}
{%- schema -%}
{
    "name": "Carousel Color Config",
    "tag": "div",
    "class": "t4s-section t4s-section-config t4s_tp_flickity t4s-section-admn-fixed",
    "settings": [
        {
            "type": "paragraph",
            "content": "Setting section only show here to preview (Not setting for all button or dots of site)."
        },
        {
            "type": "header",
            "content": "+ Prev next button"
        },
        {
            "type": "select",
            "id": "btn_vi",
            "label": "Visible",
            "default": "hover",
            "options": [
                {
                    "value": "always",
                    "label": "Always"
                },
                {
                    "value": "hover",
                    "label": "Only hover"
                }
            ]
        },
        {
            "type": "select",
            "id": "btn_owl",
            "label": "Button style",
            "default": "default",
            "options": [
                {
                    "value": "default",
                    "label": "Default"
                },
                {
                    "value": "outline",
                    "label": "Outline"
                },
                {
                    "value": "simple",
                    "label": "Simple"
                }
            ]
        },
        {
            "type": "select",
            "id": "btn_shape",
            "label": "Button shape",
            "info": "Not working with button style 'Simple'",
            "default": "none",
            "options": [
                {
                    "value": "none",
                    "label": "Default"
                },
                {
                    "value": "round",
                    "label": "Round"
                },
                {
                    "value": "rotate",
                    "label": "Rotate"
                }
            ]
        },
        {
            "type": "select",
            "id": "btn_size",
            "label": "Buttons size",
            "default": "small",
            "options": [
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "large",
                    "label": "Large"
                }
            ]
        },
        {
            "type": "header",
            "content": "+ Dots"
        },
        {
            "type": "select",
            "id": "dot_owl",
            "label": "Dots style",
            "default": "default",
            "options": [
                {
                    "value": "default",
                    "label": "Default"
                },
                {
                    "value": "outline",
                    "label": "Outline"
                },
                {
                    "value": "elessi",
                    "label": "Elessi"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "dots_round",
            "label": "Enable dots round",
            "default": true
        },
        {
            "type": "range",
            "id": "dots_space",
            "min": 2,
            "max": 20,
            "step": 1,
            "label": "Dot between horizontal",
            "unit": "px",
            "default": 10
        }
    ],
    "blocks":[
        {
            "type": "custom1",
            "name": "Custom color 1",
            "limit": 1,
            "settings":[
                {
                    "type":"color",
                    "id":"btn_color_primary",
                    "label":"Primary color",
                    "default":"#ffb100"
                },
                {
                    "type":"color",
                    "id":"btn_color_second",
                    "label":"Secondary color",
                    "default":"#fff",
                    "info":"Only working button style default"
                },
                {
                    "type":"color",
                    "id":"btn_color_primary_hover",
                    "label":"Primary color hover",
                    "default":"#ff4e00"
                },
                {
                    "type":"color",
                    "id":"btn_color_second_hover",
                    "label":"Secondary color hover",
                    "default":"#fff",
                    "info":"Only working button style default, outline"
                }
            ]
        },
        {
            "type": "custom2",
            "name": "Custom color 2",
            "limit": 1,
            "settings":[
                {
                    "type":"color",
                    "id":"btn_color_primary",
                    "label":"Primary color",
                    "default":"#109533"
                },
                {
                    "type":"color",
                    "id":"btn_color_second",
                    "label":"Secondary color",
                    "default":"#fff",
                    "info":"Only working button style default"
                },
                {
                    "type":"color",
                    "id":"btn_color_primary_hover",
                    "label":"Primary color hover",
                    "default":"#ff4e00"
                },
                {
                    "type":"color",
                    "id":"btn_color_second_hover",
                    "label":"Secondary color hover",
                    "default":"#fff",
                    "info":"Only working button style default, outline"
                }
            ]
        }

    ]
}
{% endschema %}