<!DOCTYPE html>



<html>
<head>

<style type="text/css">
h1 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: bold;
text-align:center;
text-decoration:none;
line-height:17px;
} 
</style>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style id="scr_pg_css" type="text/css">

ul { list-style: none; margin: 0; padding: 0; text-decoration: none; }
span { margin: 0; padding: 0; text-decoration: none; }
ol { list-style: none; margin: 0; padding: 0; text-decoration: none; }
li { list-style: none; margin: 0; padding: 0; text-decoration: none; }
label { margin: 0; padding: 0; text-decoration: none; }
img { max-width: 100%; }
html>body .pro_next_prod_main_container { float: right; left: 498px; position: absolute; width: 100%; }
html { margin: 0; padding: 0; scroll-behavior: smooth; text-decoration: none; }
h6 { margin: 0; padding: 0; text-decoration: none; }
h5 { margin: 0; padding: 0; text-decoration: none; }
h4 { margin: 0; padding: 0; text-decoration: none; }
h3 { margin: 0; padding: 0; text-decoration: none; }
h2 { margin: 0; padding: 0; text-decoration: none; }
h1 { margin: 0; padding: 0; text-decoration: none; }
body.bg-overlay { overflow: hidden; }
body { color: #333; font-family: Arial, Helvetica, sans-serif; font-size: 16px; margin: 0; padding: 0; text-decoration: none; }
a { color: #333; margin: 0; padding: 0; text-decoration: none; }
[dir='rtl'] .slick-slide { float: right; }
.zoomin_product span img { max-height: 500px !important; }
.zoomin_product span { top: 100px !important; }
.view_all_pro a:hover { color: #81b2ef; text-decoration: none; }
.view_all_pro a { color: #000; text-decoration: underline; }
.view_all_pro { color: #000; font-weight: bold; margin: 10px 0px 10px 0px; padding: 0px; text-align: right; }
.title { color: #000; font-weight: bold; padding: 10px 0px 10px 0px; }
.terms-footer-section .terms-section-area { align-items: center; display: flex; justify-content: space-between; width: 100%; }
.terms-footer-section .terms-section a:hover { color: #81b2ef !important; }
.terms-footer-section .terms-section .terms-condition a { text-decoration: underline; }
.terms-footer-section .terms-section .terms-condition { display: block; margin: 0 0 5px 0; width: 100%; }
.terms-footer-section .terms-section .designed-developed-section a { text-decoration: underline; }
.terms-footer-section .terms-section .designed-developed-section { display: block; width: 100%; }
.terms-footer-section .terms-section { color: #333; float: left; font-size: 12px; width: 70%; }
.terms-footer-section .logo-section a { display: inline-block; width: 100%; }
.terms-footer-section .logo-section { float: right; width: auto; }
.terms-footer-section { display: block; margin: 0; padding: 20px 0; width: 100%; }
.template-container { margin: 0 auto; max-width: 1500px; padding: 0 1.25rem; }
.slick-vertical .slick-slide { border: 1px solid transparent; display: block; height: auto; }
.slick-track:before { content: ''; display: table; }
.slick-track:after { clear: both; content: ''; display: table; }
.slick-track { display: block; left: 0; margin-left: auto; margin-right: auto; position: relative; top: 0; }
.slick-slider .slick-track { -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.slick-slider .slick-list { -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.slick-slider { -khtml-user-select: none; -moz-user-select: none; -ms-touch-action: pan-y; -ms-user-select: none; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; box-sizing: border-box; display: block; position: relative; touch-action: pan-y; user-select: none; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-slide img { display: block; }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }
.slick-loading .slick-track { visibility: hidden; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: hand; }
.slick-list { display: block; margin: 0; overflow: hidden; padding: 0; position: relative; }
.slick-initialized .slick-slide { display: block; }
.slick-arrow.slick-hidden { display: none; }
.send_inq_btn { margin: 0px; padding: 0px 0px 0px 0px; text-align: left; }
.recently-viewed-section .recently-viewed-area .prods:hover .btn-section { bottom: 0; transition: all ease 0.5s; }
.recently-viewed-section .recently-viewed-area .prods:hover { border: 1px solid #81b2ef; }
.recently-viewed-section .recently-viewed-area .prods .img-section a img { display: inline-block; max-width: 100%; width: auto; }
.recently-viewed-section .recently-viewed-area .prods .img-section a { display: block; text-align: center; width: 100%; }
.recently-viewed-section .recently-viewed-area .prods .img-section { display: block; width: 100%; }
.recently-viewed-section .recently-viewed-area .prods .content-section label a:hover { color: #81b2ef; }
.recently-viewed-section .recently-viewed-area .prods .content-section label a { display: block; width: 100%; }
.recently-viewed-section .recently-viewed-area .prods .content-section label { color: #333; display: block; font-weight: bold; margin: 0 0 5px 0; text-transform: capitalize; width: 100%; }
.recently-viewed-section .recently-viewed-area .prods .content-section .prod-price { color: #cf2929; display: block; font-size: 0.825rem; margin: 0 0 0px 0; width: 100%; }
.recently-viewed-section .recently-viewed-area .prods .content-section .prod-moq { color: #888; display: block; width: 100%; }
.recently-viewed-section .recently-viewed-area .prods .content-section { display: block; font-size: 0.875rem; padding: 20px; width: 100%; }
.recently-viewed-section .recently-viewed-area .prods .btn-section a:hover { border-bottom: 2px solid #81b2ef; color: #81b2ef; }
.recently-viewed-section .recently-viewed-area .prods .btn-section a { border-bottom: 2px solid #333; color: #333; display: inline-block; font-weight: bold; text-transform: uppercase; }
.recently-viewed-section .recently-viewed-area .prods .btn-section { background: #fff; bottom: -65px; font-size: 0.825rem; left: 0; padding: 18px 20px; position: absolute; transition: all ease 0.5s; width: 100%; }
.recently-viewed-section .recently-viewed-area .prods { border: 1px solid #ebebeb; border-radius: 3px; margin: 0 13px 20px; overflow: hidden; position: relative; width: 18%; }
.recently-viewed-section .recently-viewed-area { display: flex; flex-wrap: wrap; width: 100%; }
.recently-viewed-section .heading-section h3 { display: block; font-size: 22px; font-weight: bold; margin: 0 0 15px 0; width: 100%; }
.recently-viewed-section .heading-section { display: block; width: 100%; }
.recently-viewed-section { display: block; margin: 0; padding: 0 0 40px; width: 100%; }
.product_big_img_container { padding: 5px; text-align: center; width: 500px; }
.prod_row_con { float: none; margin: 0px; overflow: hidden; padding: 0px; }
.prod_num { padding: 6px 0px 6px 0px; text-align: center; }
.prod_mainhead { float: left; margin: 0px; overflow: hidden; padding: 0px 0px 10px 0px; width: 100%; }
.prod_main_con { background-color: #fff; color: #000; float: none; margin: 0px; padding: 0px 10px; }
.prod_img_cont:hover { background-color: #81b2ef; color: #fff; float: left; margin: 0px; padding: 4px; width: 22%; }
.prod_img_cont { -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; background-color: #ececec; border-top-left-radius: 10px; border-top-right-radius: 10px; color: #000000; display: block; float: left; margin: 0px; padding: 4px; width: 22%; }
.prod_img { background-color: #ececec; margin: 0px; padding: 0px; text-align: center; }
.prod_description { color: #3c434a; font-weight: bold; margin: 0px; padding: 6px 0px 6px 0px; text-align: justify; }
.prod_descr_matter { color: #000000; font-weight: bold; margin: 0px; padding: 0px 0px 15px 0px; text-align: justify; }
.prod_descr_cont { float: right; margin: 0px 0px 0px 0px; padding: 0px; width: 74%; }
.prod_cont { -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.23); -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.23); background-color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.23); float: right; margin: 0px 0px 20px 0px; overflow: hidden; padding: 10px 6px 10px 6px; width: 98%; }
.prod_cat_name a:hover { color: #000; font-weight: bold; text-decoration: none; }
.prod_cat_name a { color: #81b2ef; font-weight: bold; text-decoration: none; }
.prod_cat_name { background-color: #fff; border-bottom: 1px solid #81b2ef; color: #81b2ef; font-size: 18px; font-weight: bold; margin: 0px; padding: 6px 0px 6px 6px; text-align: left; }
.prod_cat_descr { color: #161614 !important; margin: 0px; padding: 6px 10px 6px 0px; text-align: justify; }
.pro_title { color: #ae1905; font-weight: bold; margin: 0px 0px 0px 0px; padding: 0px 0px 10px 0px; text-align: left; }
.pro_next_prod_main_container { float: right; margin-right: -490%; width: 100%; }
.pro_link_cont_alt ul { float: left; line-height: 18px; list-style-type: none; margin: 0px 0px 0px 0px; padding: 6px 0px 6px 0px; text-align: left; width: 235px; }
.pro_link_cont_alt li a:hover { color: #81b2ef; margin: 0px; padding: 0px 0px 0px 0px; text-decoration: underline; }
.pro_link_cont_alt li a { color: #000000; margin: 0px; padding: 0px 0px 0px 0px; text-decoration: none; }
.pro_link_cont_alt li { color: #000000; font-weight: bold; list-style-image: url(https://tiimg.tistatic.com/catalogs/template108581/cate-icon.png); list-style-type: none; margin: 0px 0px 0px 17px; padding: 0px; text-align: left; }
.pro_link_cont_alt { border-bottom: 1px dotted #dadada; float: none; margin: 0px; overflow: hidden; padding: 0px; width: 100%; }
.pro_link_cont ul { float: left; line-height: 18px; list-style-type: none; margin: 0px 0px 0px 0px; padding: 6px 0px 6px 0px; text-align: left; width: 235px; }
.pro_link_cont li a:hover { color: #81b2ef; margin: 0px; padding: 0px 0px 0px 0px; text-decoration: underline; }
.pro_link_cont li a { color: #000000; margin: 0px; padding: 0px 0px 0px 0px; text-decoration: none; }
.pro_link_cont li { color: #000000; font-weight: bold; list-style-image: url(https://tiimg.tistatic.com/catalogs/template108581/cate-icon.png); list-style-type: none; margin: 0px 0px 0px 17px; padding: 0px; text-align: left; }
.pro_link_cont { border-bottom: 1px dotted #dadada; float: none; margin: 0px 0px 0px 0px; overflow: hidden; padding: 0px 0px 0px 0px; width: 100%; }
.pro_link a:hover { color: #025885; text-decoration: none; }
.pro_link a { color: #025885; text-decoration: underline; }
.pro_link { color: #025885; margin: 0px; padding: 4px 0px 4px 0px; text-align: left; }
.pro_inquiry_btn a:hover { -moz-border-radius: 5px; -webkit-border-radius: 5px; background: url(https://tiimg.tistatic.com/catalogs/template108581/enquiry_bg_hover.jpg) top left repeat-x; border-radius: 5px; color: #FFFFFF; font: bold 14px Arial, Helvetica, sans-serif; margin: 0px; padding: 8px 15px 8px 15px; text-align: center; text-decoration: none; }
.pro_inquiry_btn a { -moz-border-radius: 3px; -webkit-border-radius: 3px; background: url(https://tiimg.tistatic.com/catalogs/template108581/enquiry_bg.jpg) top left repeat-x; border-radius: 3px; color: #FFFFFF; display: block; float: right; font: bold 14px Arial, Helvetica, sans-serif; margin: 0px; padding: 8px 15px 8px 15px; text-align: center; text-decoration: none; }
.pro_inquiry_btn { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #FFF; font-weight: bold; margin: 0px auto; overflow: hidden; padding: 0px; text-align: center; text-decoration: none; width: 118px; }
.pro_description_container { border-bottom: 0px solid #81b2ef; border-top: 1px solid #81b2ef; color: #000; margin: 0px; padding: 6px; text-align: justify; }
.pro_code_con { border-bottom: 0px solid #81b2ef; color: #000; float: left; height: 100%; margin: 10px 0px 0px 0px; overflow: hidden; padding: 6px 0px 6px 0px; text-align: center; width: 100%; }
.previous_container { padding: 5px; text-align: center; vertical-align: middle; }
.previous a:hover { background: #000; color: #fff; display: block; padding: 10px; text-decoration: none; }
.previous a { background: #81b2ef; color: #fff; display: block; padding: 10px; text-decoration: none; }
.previous { border: 0px solid #e28300; color: #fff; float: right; line-height: 22px; margin: 0px 0px 0px 0px; padding: 0px; text-align: center; }
.other_product_cel_num_3_container { float: left; height: 185px; margin: 0px; padding: 6px 0px 6px 0px; text-align: center; width: 32%; }
.other_product_cel_num_2_container { border-right: 1px solid #81b2ef; float: left; height: 185px; margin: 0px; padding: 6px 0px 6px 0px; text-align: center; width: 32%; }
.other_product_cel_num_1_container { border-right: 1px solid #81b2ef; float: left; height: 185px; margin: 0px; padding: 6px 0px 6px 0px; text-align: center; width: 32%; }
.other_prod_mainhead { background-color: #ffffff; color: #000000; padding: 5px 0px 5px 0px; text-align: center; }
.other_prod_main_con { background-color: #fff; border: 1px solid none; float: right; height: 100%; margin: 0px; overflow: hidden; padding: 0px 0px 0px 0px; position: relative; width: 74%; }
.other_prod_img { -moz-box-shadow: 3px 3px 4px rgba(0, 2, 0, 0.36); -webkit-box-shadow: 3px 3px 4px rgba(0, 2, 0, 0.36); border: 0px solid #81b2ef; box-shadow: 3px 3px 4px rgba(0, 2, 0, 0.36); height: 110px; margin: 0px; width: 120px; }
.other_prod_cont { background-color: #fff; float: left; margin: 10px 0px 10px 10px; overflow: hidden; padding: 0px 0px 6px 0px; width: 97%; }
.other_pro_prod_main_con { background-color: #fff; border: 1px solid #81b2ef; height: 100%; margin: 0px; overflow: hidden; padding: 0px; text-align: center; }
.other_pro_head3 a { color: #000000; text-decoration: none; }
.other_pro_head3 { padding: 5px 0px 5px 0px; text-align: center; }
.other_pro_head2 a { color: #000000; text-decoration: none; }
.other_pro_head2 { padding: 5px 0px 5px 0px; text-align: center; }
.other_pro_head1 a { color: #000000; text-decoration: none; }
.other_pro_head1 { color: #000000; padding: 5px 0px 5px 0px; text-align: center; }
.other_pro_con { float: none; font-weight: bold; margin: 0px 0px 10px 0px; padding: 0px; text-align: center; }
.next_container { margin: 0px; overflow: hidden; padding: 5px; }
.next_and_big_img_container { float: right; margin-left: 2px; margin-right: -57%; position: relative; width: 55%; }
.next a:hover { background: #000; color: #fff; padding: 10px; text-decoration: none; }
.next a { background: #81b2ef; color: #fff; display: block; padding: 10px; text-decoration: none; }
.next { border: 0px solid #e28300; color: #fff; float: left; line-height: 22px; margin: 25px 0px 0px 0px; padding: 0px; text-align: center; }
.new-arrival-section .pro-list-area .prod-area .slick-track .slick-slide { margin: 0 20px; }
.new-arrival-section .pro-list-area .prod-area .slick-arrow.slick-prev:before { background: transparent; border: 2px solid #434343; border-bottom: none; border-right: none; content: ; display: inline-block; height: 6px; margin: 0 0 0 2px; transform: rotate(-45deg); width: 6px; }
.new-arrival-section .pro-list-area .prod-area .slick-arrow.slick-prev { margin: 0 45px 0 0; }
.new-arrival-section .pro-list-area .prod-area .slick-arrow.slick-next:before { background: transparent; border: 2px solid #434343; border-left: none; border-top: none; content: ; display: inline-block; height: 6px; margin: 0 0 0 -2px; transform: rotate(-45deg); width: 6px; }
.new-arrival-section .pro-list-area .prod-area .slick-arrow { background: none; border: 1px solid #e4e4e4; border-radius: 50%; cursor: pointer; font-size: 0; height: 30px; outline: none; position: absolute; right: 0; top: -40px; width: 30px; }
.new-arrival-section .pro-list-area .prod-area .prod:hover .btn-section { bottom: 0; transition: all ease 0.5s; }
.new-arrival-section .pro-list-area .prod-area .prod:hover { border: 1px solid #81b2ef; }
.new-arrival-section .pro-list-area .prod-area .prod .img-section img { display: inline-block; max-width: 100%; width: auto; }
.new-arrival-section .pro-list-area .prod-area .prod .img-section a { display: block; text-align: center; width: 100%; }
.new-arrival-section .pro-list-area .prod-area .prod .img-section { display: block; width: 100%; }
.new-arrival-section .pro-list-area .prod-area .prod .content-section label a:hover { color: #81b2ef; }
.new-arrival-section .pro-list-area .prod-area .prod .content-section label a { display: block; width: 100%; }
.new-arrival-section .pro-list-area .prod-area .prod .content-section label { color: #333; display: block; font-weight: bold; margin: 0 0 5px 0; text-transform: capitalize; width: 100%; }
.new-arrival-section .pro-list-area .prod-area .prod .content-section .prod-price { color: #cf2929; display: block; font-size: 0.825rem; margin: 0 0 0px 0; width: 100%; }
.new-arrival-section .pro-list-area .prod-area .prod .content-section .prod-moq { color: #888; display: block; width: 100%; }
.new-arrival-section .pro-list-area .prod-area .prod .content-section { display: block; font-size: 0.875rem; padding: 20px; width: 100%; }
.new-arrival-section .pro-list-area .prod-area .prod .btn-section a:hover { border-bottom: 2px solid #81b2ef; color: #81b2ef; }
.new-arrival-section .pro-list-area .prod-area .prod .btn-section a { border-bottom: 2px solid #333; color: #333; display: inline-block; font-weight: bold; text-transform: uppercase; }
.new-arrival-section .pro-list-area .prod-area .prod .btn-section { background: #fff; bottom: -65px; font-size: 0.825rem; left: 0; padding: 18px 20px; position: absolute; transition: all ease 0.5s; width: 100%; }
.new-arrival-section .pro-list-area .prod-area .prod { border: 1px solid #ebebeb; border-radius: 3px; margin: 0 13px 20px; overflow: hidden; position: relative; width: 18%; }
.new-arrival-section .pro-list-area .prod-area { display: flex; flex-wrap: wrap; width: 100%; }
.new-arrival-section .pro-list-area .heading { display: block; font-size: 22px; font-weight: bold; margin: 0 0 15px 0; width: 100%; }
.new-arrival-section .pro-list-area { display: block; margin: 0 0 40px 0; width: 100%; }
.new-arrival-section { display: block; padding: 40px 0 0 0; width: 100%; }
.mpp-section-main .mpp-section .prod .img-section a img { display: inline-block; width: auto; }
.mpp-section-main .mpp-section .prod .img-section a { align-items: center; display: flex; justify-content: center; width: 100%; }
.mpp-section-main .mpp-section .prod .img-section { align-items: center; background: #efefef; display: flex; height: 150px; max-width: 150px; order: 2; overflow: hidden; width: 48%; }
.mpp-section-main .mpp-section .prod .content-section label a:hover { color: #81b2ef; }
.mpp-section-main .mpp-section .prod .content-section label a { color: #666; }
.mpp-section-main .mpp-section .prod .content-section label { display: block; font-size: 1.1rem; font-weight: bold; text-transform: capitalize; width: 100%; }
.mpp-section-main .mpp-section .prod .content-section .prod-price { color: #cf2929; display: block; font-size: 0.825rem; font-weight: bold; margin: 7px 0; }
.mpp-section-main .mpp-section .prod .content-section .prod-moq { color: #888; display: none; font-size: 0.8rem; font-weight: bold; margin: 3px 0 0 0; width: 100%; }
.mpp-section-main .mpp-section .prod .content-section .btn-section a:hover { color: #81b2ef; }
.mpp-section-main .mpp-section .prod .content-section .btn-section a { color: #434343; }
.mpp-section-main .mpp-section .prod .content-section .btn-section { display: block; font-size: 0.925rem; font-weight: bold; margin: 5px 0 0 0; width: 100%; }
.mpp-section-main .mpp-section .prod .content-section { order: 1; width: 50%; }
.mpp-section-main .mpp-section .prod { align-items: center; background: #f8f8f8; border-radius: 5px; display: flex; flex-wrap: wrap; justify-content: space-between; margin: 0 0 25px 0; overflow: hidden; padding: 15px; width: 32%; }
.mpp-section-main .mpp-section { align-items: center; display: flex; flex-wrap: wrap; justify-content: space-between; }
.mpp-section-main .heading { display: block; font-size: 22px; font-weight: bold; margin: 0 0 15px 0; width: 100%; }
.mpp-section-main { display: block; padding: 40px 0; width: 100%; }
.more a:hover { -moz-border-radius: 5px; -webkit-border-radius: 5px; background: url(https://tiimg.tistatic.com/catalogs/template108581/enquiry_bg_hover.jpg) top left repeat-x; border-radius: 5px; color: #FFFFFF; font: bold 14px Arial, Helvetica, sans-serif; margin: 0px; padding: 8px 15px 8px 15px; text-align: center; text-decoration: none; }
.more a { -moz-border-radius: 3px; -webkit-border-radius: 3px; background: url(https://tiimg.tistatic.com/catalogs/template108581/enquiry_bg.jpg) top left repeat-x; border-radius: 3px; color: #FFFFFF; display: block; float: right; font: bold 14px Arial, Helvetica, sans-serif; margin: 0px; padding: 8px 15px 8px 15px; text-align: center; text-decoration: none; }
.more { color: #030100; float: right; line-height: 22px; margin: 10px 5px 0px 0px; padding: 0px; text-align: center; }
.main_pro_head3 { color: #000; padding: 5px 0px 5px 0px; text-align: center; }
.main_pro_head2 { color: #000; padding: 5px 0px 5px 0px; text-align: center; }
.main_pro_head1 { color: #000; padding: 5px 0px 5px 0px; text-align: center; width: 100%; }
.main_next_big_img_and_previous_container_cell3 { -moz-box-shadow: 1px 1px 20px 1px rgba(1, 1, 1, 0.1); -webkit-box-shadow: 1px 1px 20px 1px rgba(1, 1, 1, 0.1); background-color: #fff; background-repeat: no-repeat; border: 1px solid #eae9e9; box-shadow: 1px 1px 20px 1px rgba(1, 1, 1, 0.1); float: left; margin-bottom: 20px; width: 99%; }
.main_next_big_img_and_previous_container_cell2 { background-repeat: no-repeat; border-right: 1px solid none; float: left; width: 50%; }
.main_next_big_img_and_previous_container_cell1 { background-repeat: no-repeat; border-right: 1px solid none; float: left; width: 48%; }
.main_con { background-color: none; border: 0px solid #CCC; margin: 0px auto; padding: 0px 0px 0px 0px; }
.lang_translator .dropdown dt a:after { background: transparent; border: 2px solid #666; border-left: none; border-top: none; content: ; height: 5px; position: absolute; right: -15px; top: 3px; transform: rotate(45deg); width: 5px; }
.lang_translator .dropdown dt a { color: #333; display: inline-block; font-size: 0.8rem; font-weight: bold; position: relative; width: auto; }
.lang_translator .dropdown dd ul li:last-child { border: none; }
.lang_translator .dropdown dd ul li a:hover { color: #81b2ef; transition: all ease 0.5s; }
.lang_translator .dropdown dd ul li a img { display: inline-block; height: 12px; margin: 0 7px 0 0; vertical-align: middle; width: 18px; }
.lang_translator .dropdown dd ul li a { display: inline-block; font-size: 0.75rem; padding: 11px 6px; transition: all ease 0.5s; vertical-align: middle; width: 100%; }
.lang_translator .dropdown dd ul li { border-bottom: 1px solid #dadada; display: block; padding: 0px 0; width: 100%; }
.lang_translator .dropdown dd ul { background: #fff; border-radius: 7px; box-shadow: 2px 2px 7px #000; display: none; left: 0; list-style: none; margin: 10px 0 0 0; overflow: hidden; padding: 0 7px; position: absolute; top: 100%; width: 170px; z-index: 10; }
.lang_translator .dropdown dd { display: block; margin: 0; width: 100%; }
.lang_translator .dropdown { display: block; margin: 0; width: 100%; }
.lang_translator { display: block; position: relative; width: 100%; }
.hot-prod-section .static-img-area:hover img { transform: scale(1.03); transition: all ease 0.3s; }
.hot-prod-section .static-img-area img { display: inline-block; max-width: 100%; transition: all ease 0.3s; width: auto; }
.hot-prod-section .static-img-area { align-items: center; background: none; display: flex; justify-content: center; overflow: hidden; width: 48%; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods .prod:hover { border: 1px solid #81b2ef; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods .prod .img-section a img { display: inline-block; width: auto; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods .prod .img-section a { align-items: center; background: #f5f5f5; display: flex; height: 100%; width: 100%; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods .prod .img-section { display: block; height: 105px; max-height: 105px; max-width: 105px; width: 48%; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods .prod .content label a:hover { color: #81b2ef; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods .prod .content label a { color: #434343; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods .prod .content label { display: block; font-size: 0.875rem; font-weight: bold; text-transform: capitalize; width: 100%; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods .prod .content .prod-price { color: #cf2929; display: block; font-size: 0.8rem; font-weight: bold; margin: 2px 0 0 0; width: 100%; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods .prod .content .prod-moq { color: #888; display: block; font-size: 0.8rem; font-weight: bold; margin: 3px 0 0 0; width: 100%; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods .prod .content .btn-section a:hover { border-bottom: 2px solid #81b2ef; color: #81b2ef; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods .prod .content .btn-section a { border-bottom: 2px solid #888; color: #888; display: inline-block; font-weight: bold; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods .prod .content .btn-section { display: none; font-size: 0.825rem; margin: 8px 0 0 0; text-transform: uppercase; width: 100%; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods .prod .content { margin: 0 0 0 15px; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods .prod { align-items: center; background: #fff; border: 1px solid #ebebeb; border-radius: 5px; display: flex; margin: 0 0 25px; padding: 20px; width: 48%; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods { display: flex; flex-wrap: wrap; justify-content: space-between; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .heading { display: block; font-size: 20px; font-weight: bold; margin: 0 0 15px 0; width: 100%; }
.hot-prod-section .hot-prod-section-area .hot-prod-area { width: 50%; }
.hot-prod-section .hot-prod-section-area { align-items: center; display: flex; flex-wrap: wrap; justify-content: space-between; width: 100%; }
.hot-prod-section { background: #f3f3f3; display: block; padding: 40px 0; width: 100%; }
.header.fixed-header .menu-section { background: rgba(37, 50, 55, 0.9); padding: 5px 0; }
.header.fixed-header { left: 0; margin: -33px 0 0 0; position: fixed; top: 0; width: 100%; z-index: 10; }
.header .top-bar-section .top-bar .top-inquiry-section .send-inquiry-btn a:hover { background: #476182; color: #fff; }
.header .top-bar-section .top-bar .top-inquiry-section .send-inquiry-btn a:before { content: url(https://tiimg.tistatic.com/catalogs/template108581/inquiry-icon.png); display: inline-block; filter: brightness(0) invert(1); margin: 1px 5px 0 0; vertical-align: middle; }
.header .top-bar-section .top-bar .top-inquiry-section .send-inquiry-btn a { color: #fff; display: inline-block; font-weight: bold; padding: 5px 10px; text-transform: uppercase; }
.header .top-bar-section .top-bar .top-inquiry-section .send-inquiry-btn { background: #81b2ef; display: inline-block; vertical-align: middle; }
.header .top-bar-section .top-bar .top-inquiry-section .call-section span:hover { color: #81b2ef; }
.header .top-bar-section .top-bar .top-inquiry-section .call-section span:empty { display: none; }
.header .top-bar-section .top-bar .top-inquiry-section .call-section span:before { content: url(https://tiimg.tistatic.com/catalogs/template108581/call-icon.png); display: inline-block; margin: 1px 5px 0 0; vertical-align: middle; }
.header .top-bar-section .top-bar .top-inquiry-section .call-section span { border-right: 1px solid #666; display: inline-block; margin: 0 13px 0 0; padding: 0 13px 0 0; vertical-align: middle; }
.header .top-bar-section .top-bar .top-inquiry-section .call-section { display: inline-block; vertical-align: middle; }
.header .top-bar-section .top-bar .top-inquiry-section { display: inline-block; font-size: 0.8rem; width: auto; }
.header .top-bar-section .top-bar { align-items: center; display: flex; justify-content: space-between; }
.header .top-bar-section .select-language { display: block; width: auto; }
.header .top-bar-section { background: #fff; display: block; padding: 0; width: 100%; }
.header .menu-section .menu-section-area .search-area .search-icon img { display: block; }
.header .menu-section .menu-section-area .search-area .search-icon { cursor: pointer; display: block; position: absolute; right: 0px; top: 0; width: 18px; z-index: -1; }
.header .menu-section .menu-section-area .search-area .search-form form .search_main_input { border: none; border-radius: 30px 0 0 30px; color: #666; display: inline-block; font-size: 0.8rem; height: 34px; margin: 0 0 0 4px; outline: none; padding: 0 0 0 13px; vertical-align: middle; width: 250px; }
.header .menu-section .menu-section-area .search-area .search-form form { background: #81b2ef; border-radius: 50px; display: block; overflow: hidden; padding: 3px 0; width: 300px; }
.header .menu-section .menu-section-area .search-area .search-form .search-popup-icon { display: inline-block; margin: 0 0 0 14px; vertical-align: middle; width: auto; }
.header .menu-section .menu-section-area .search-area { display: block; position: relative; }
.header .menu-section .menu-section-area .menu-links ul li:hover>ul { display: block; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu>a:after { background: transparent; border: 2px solid #fff; border-left: none; border-top: none; content: ; height: 5px; position: absolute; right: -19px; top: 6px; transform: rotate(45deg); transition: all ease 0.5s; width: 5px; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu:hover>ul { display: block; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu:hover>a:after { top: 9px; transform: rotate(-135deg); transition: all ease 0.5s; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu:hover ul li a { border-bottom: none; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu:hover a { border-bottom: 2px solid #fff; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu ul li:hover ul { display: block; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu ul li ul { left: 98%; top: 0; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu ul li a:hover { color: #81b2ef; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu ul li a { border-bottom: none; color: #333; padding: 10px 4px; text-transform: capitalize; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu ul li { border-bottom: 1px solid #f1f1f1; display: block; float: none; font-size: 0.8rem; font-weight: bold; padding: 0; width: 100%; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu ul { background: #fff; box-shadow: 2px 2px 5px #000; display: none; left: 23px; position: absolute; top: 105%; width: 200px; z-index: 999; }
.header .menu-section .menu-section-area .menu-links ul li a:hover { border-bottom: 2px solid #fff; }
.header .menu-section .menu-section-area .menu-links ul li a { border-bottom: 2px solid transparent; color: #fff; display: block; padding: 0 0 4px; position: relative; width: 100%; }
.header .menu-section .menu-section-area .menu-links ul li { float: left; font-size: 0.9rem; font-weight: bold; padding: 0 25px; position: relative; }
.header .menu-section .menu-section-area .menu-links ul { display: block; width: 100%; }
.header .menu-section .menu-section-area .menu-links .menu-btn span { background: #fff; display: block; height: 3px; width: 100%; }
.header .menu-section .menu-section-area .menu-links .menu-btn { display: none; flex-flow: column; flex-wrap: wrap; height: 21px; justify-content: space-between; width: 28px; }
.header .menu-section .menu-section-area .menu-links .crossIcon { display: none; }
.header .menu-section .menu-section-area .menu-links { display: block; width: 100%; }
.header .menu-section .menu-section-area .logo a img { width: auto; }
.header .menu-section .menu-section-area .logo a { align-items: center; display: flex; width: 100%; }
.header .menu-section .menu-section-area .logo { display: inline-block; margin: 0 30px 0 0; max-width: 400px; width: auto; }
.header .menu-section .menu-section-area { align-items: center; display: flex; justify-content: space-between; }
.header .menu-section { background: #1f334c; color: #fff; display: block; margin: 0; padding: 10px 0; width: 100%; }
.header { display: block; width: 100%; }
.footer .footer-area .social-icons table { display: block; }
.footer .footer-area .social-icons { display: block; margin: 15px 0 0 0; text-align: left; width: 100%; }
.footer .footer-area .showcase-area-main .showcase-area ul li:empty { display: none; }
.footer .footer-area .showcase-area-main .showcase-area ul li img { display: inline-block; width: 100%; }
.footer .footer-area .showcase-area-main .showcase-area ul li a { display: inline-block; width: 100%; }
.footer .footer-area .showcase-area-main .showcase-area ul li { display: inline-block; margin: 0 5px; width: 15%; }
.footer .footer-area .showcase-area-main .showcase-area ul { display: block; text-align: center; width: 100%; }
.footer .footer-area .showcase-area-main .showcase-area { display: block; margin: 0 0 15px 0; width: 100%; }
.footer .footer-area .showcase-area-main .footer-links span a:hover { background: #81b2ef; color: #fff; transition-duration: 0.5s; }
.footer .footer-area .showcase-area-main .footer-links span a { border: 2px solid #81b2ef; border-radius: 6px; color: #81b2ef; display: inline-block; font-size: 0.925rem; margin: 0 5px; padding: 7px 10px; text-transform: uppercase; transition-duration: 0.5s; }
.footer .footer-area .showcase-area-main .footer-links span { display: inline-block; font-weight: bold; }
.footer .footer-area .showcase-area-main .footer-links { display: block; margin: 30px 0 0 0; text-align: center; width: 100%; }
.footer .footer-area .showcase-area-main { padding: 40px 0; width: 35%; }
.footer .footer-area .footer-links-area ul li a:hover { color: #81b2ef; }
.footer .footer-area .footer-links-area ul li { list-style: inside; margin: 0 0 15px 0; }
.footer .footer-area .footer-links-area ul { display: block; width: 100%; }
.footer .footer-area .footer-links-area h4:after { background: #81b2ef; bottom: -1px; content: ; height: 2px; left: 0; position: absolute; width: 50px; }
.footer .footer-area .footer-links-area h4 { border-bottom: 1px solid #e0e0e0; color: #666; display: block; font-size: 20px; margin: 0 0 15px 0; padding: 0 0 10px 0; position: relative; text-align: left; width: 100%; }
.footer .footer-area .footer-links-area { width: 23%; }
.footer .footer-area { display: flex; flex-wrap: wrap; justify-content: space-between; }
.footer .address-area h4:after { background: #81b2ef; bottom: -1px; content: ; height: 2px; left: 0; position: absolute; width: 50px; }
.footer .address-area h4 { border-bottom: 1px solid #e0e0e0; color: #666; display: block; font-size: 20px; margin: 0 0 15px 0; padding: 0 0 10px 0; position: relative; text-align: left; width: 100%; }
.footer .address-area .key-personnel ul li:nth-child(4) { display: none; }
.footer .address-area .key-personnel ul li:nth-child(3) { display: none; }
.footer .address-area .key-personnel ul li { display: block; font-size: 0.9rem; margin: 0 0 5px 0; width: 100%; }
.footer .address-area .key-personnel ul { display: block; width: 100%; }
.footer .address-area .key-personnel { display: block; margin: 0; padding: 0; width: 100%; }
.footer .address-area .footer-company-name { display: block; font-size: 1.1rem; font-weight: bold; margin: 0 0 15px 0; width: 100%; }
.footer .address-area .company-address ul li { color: #333; display: block; font-size: 0.9rem; margin: 0 0 5px 0; width: 100%; }
.footer .address-area .company-address ul { display: block; width: 100%; }
.footer .address-area .company-address { border-bottom: 1px solid #e0e0e0; display: block; margin: 0 0 15px 0; padding: 0 0 10px 0; width: 100%; }
.footer .address-area { display: inline-block; width: 33%; }
.footer { background: #f8f8f8; display: block; padding: 40px 0; width: 100%; }
.enquiry_btn a:hover { -moz-border-radius: 5px; -webkit-border-radius: 5px; background: url(https://tiimg.tistatic.com/catalogs/template108581/enquiry_bg_hover.jpg) top left repeat-x; border-radius: 5px; color: #FFFFFF; font: bold 14px Arial, Helvetica, sans-serif; margin: 0px; padding: 8px 15px 8px 15px; text-align: center; text-decoration: none; }
.enquiry_btn a { -moz-border-radius: 3px; -webkit-border-radius: 3px; background: url(https://tiimg.tistatic.com/catalogs/template108581/enquiry_bg.jpg) top left repeat-x; border-radius: 3px; color: #FFFFFF; display: block; font: bold 14px Arial, Helvetica, sans-serif; margin: 0px; padding: 8px 15px 8px 15px; text-align: center; text-decoration: none; }
.enquiry_btn { color: #FFFFFF; float: left; font-weight: bold; margin: 0px; text-align: center; }
.enlarge { color: #FF0000; font-weight: bold; text-align: center; }
.custom-prod-list-section .pro-list-area .prod-area .slick-track .slick-slide { margin: 0 20px; }
.custom-prod-list-section .pro-list-area .prod-area .slick-arrow.slick-prev:before { background: transparent; border: 2px solid #434343; border-bottom: none; border-right: none; content: ; display: inline-block; height: 6px; margin: 0 0 0 2px; transform: rotate(-45deg); width: 6px; }
.custom-prod-list-section .pro-list-area .prod-area .slick-arrow.slick-prev { margin: 0 45px 0 0; }
.custom-prod-list-section .pro-list-area .prod-area .slick-arrow.slick-next:before { background: transparent; border: 2px solid #434343; border-left: none; border-top: none; content: ; display: inline-block; height: 6px; margin: 0 0 0 -2px; transform: rotate(-45deg); width: 6px; }
.custom-prod-list-section .pro-list-area .prod-area .slick-arrow { background: none; border: 1px solid #e4e4e4; border-radius: 50%; cursor: pointer; font-size: 0; height: 30px; outline: none; position: absolute; right: 0; top: -40px; width: 30px; }
.custom-prod-list-section .pro-list-area .prod-area .prod:hover .btn-section { bottom: 0; transition: all ease 0.5s; }
.custom-prod-list-section .pro-list-area .prod-area .prod:hover { border: 1px solid #81b2ef; }
.custom-prod-list-section .pro-list-area .prod-area .prod .img-section img { display: inline-block; max-width: 100%; width: auto; }
.custom-prod-list-section .pro-list-area .prod-area .prod .img-section a { display: block; text-align: center; width: 100%; }
.custom-prod-list-section .pro-list-area .prod-area .prod .img-section { display: block; width: 100%; }
.custom-prod-list-section .pro-list-area .prod-area .prod .content-section label a:hover { color: #81b2ef; }
.custom-prod-list-section .pro-list-area .prod-area .prod .content-section label a { display: block; width: 100%; }
.custom-prod-list-section .pro-list-area .prod-area .prod .content-section label { color: #333; display: block; font-weight: bold; margin: 0 0 5px 0; text-transform: capitalize; width: 100%; }
.custom-prod-list-section .pro-list-area .prod-area .prod .content-section .prod-price { color: #cf2929; display: block; font-size: 0.825rem; margin: 0 0 0px 0; width: 100%; }
.custom-prod-list-section .pro-list-area .prod-area .prod .content-section .prod-moq { color: #888; display: block; width: 100%; }
.custom-prod-list-section .pro-list-area .prod-area .prod .content-section { display: block; font-size: 0.875rem; padding: 20px; width: 100%; }
.custom-prod-list-section .pro-list-area .prod-area .prod .btn-section a:hover { border-bottom: 2px solid #81b2ef; color: #81b2ef; }
.custom-prod-list-section .pro-list-area .prod-area .prod .btn-section a { border-bottom: 2px solid #333; color: #333; display: inline-block; font-weight: bold; text-transform: uppercase; }
.custom-prod-list-section .pro-list-area .prod-area .prod .btn-section { background: #fff; bottom: -65px; font-size: 0.825rem; left: 0; padding: 18px 20px; position: absolute; transition: all ease 0.5s; width: 100%; }
.custom-prod-list-section .pro-list-area .prod-area .prod { border: 1px solid #ebebeb; border-radius: 3px; margin: 0; overflow: hidden; position: relative; }
.custom-prod-list-section .pro-list-area .prod-area { display: block; width: 100%; }
.custom-prod-list-section .pro-list-area .heading { display: block; font-size: 22px; font-weight: bold; margin: 0 0 15px 0; width: 100%; }
.custom-prod-list-section .pro-list-area { display: block; margin: 0 0 40px 0; width: 100%; }
.custom-prod-list-section { display: block; width: 100%; }
.company-info-section .content ul li { font-size: 0.9rem; list-style: disc; margin: 0 0 5px 25px; }
.company-info-section .content ul { display: block; margin: 10px 0 35px 0; width: 100%; }
.company-info-section .content span { color: #434343; display: block; font-size: 0.9rem; margin: 0 0 5px 0; text-align: left; width: 100%; }
.company-info-section .content p { display: block; font-size: 0.9rem; line-height: 24px; margin: 0 0 25px 0; text-align: justify; width: 100%; }
.company-info-section .content label { display: block; font-weight: bold; margin: 0 0 10px 0; width: 100%; }
.company-info-section .content h3 { display: block; font-size: 22px; text-align: center; width: 100%; }
.company-info-section .content .company-vision { background: #f8f8f8; display: block; font-size: 20px; font-style: italic; font-weight: bold; margin: 0 0 30px 0; padding: 20px 0; text-align: center; width: 100%; }
.company-info-section .content .btn-section a:hover { background: transparent; border-color: #81b2ef; color: #81b2ef; transition: all ease 0.5s; }
.company-info-section .content .btn-section a { background: #81b2ef; border: 2px solid transparent; border-radius: 5px; color: #fff; display: inline-block; font-size: 0.95rem; padding: 10px 20px; text-transform: uppercase; transition: all ease 0.5s; }
.company-info-section .content .btn-section { display: block; font-size: 1rem; text-align: center; width: 100%; }
.company-info-section .content { display: block; width: 100%; }
.company-info-section { display: block; margin: 0 0 40px 0; width: 100%; }
.color1 { color: #000; }
.col3img { border: 0px; margin: 0px; padding: 0px; }
.clearfix::before { clear: both; content: ''; display: table; }
.clearfix::after { clear: both; content: ''; display: table; }
.category-section .category-area .right-section span:hover a img { transform: scale(1.03); transition: all ease 0.3s; }
.category-section .category-area .right-section span:first-child { margin: 0 0 40px 0; }
.category-section .category-area .right-section span a img { display: inline-block; transition: all ease 0.3s; }
.category-section .category-area .right-section span a { display: block; text-align: center; width: 100%; }
.category-section .category-area .right-section span { align-items: center; background: #f7f7f7; cursor: pointer; display: flex; height: 230px; justify-content: center; overflow: hidden; width: 100%; }
.category-section .category-area .right-section { align-items: center; display: flex; flex-wrap: wrap; width: 50%; }
.category-section .category-area .left-section span:hover a img { transform: scale(1.03); transition: all ease 0.3s; }
.category-section .category-area .left-section span a img { display: block; transition: all ease 0.3s; width: 100%; }
.category-section .category-area .left-section span a { display: block; width: 100%; }
.category-section .category-area .left-section span { align-items: center; background: #f7f7f7; cursor: pointer; display: flex; height: 500px; overflow: hidden; width: 100%; }
.category-section .category-area .left-section { width: 48%; }
.category-section .category-area { align-items: center; display: flex; flex-wrap: wrap; justify-content: space-between; }
.category-section { display: none; padding: 40px 0; width: 100%; }
.cate_row_con { float: none; height: 100%; margin: 0px 0px 0px 0px; overflow: hidden; padding: 4px 10px 0px 10px; }
.cate_prod_img_cont { float: left; margin: 0px; padding: 0px; }
.cate_prod_descr_cont { float: right; margin: 0px 0px 0px 10px; padding: 0px; width: 83%; }
.cate_prod_cont { background-color: transparent; border-bottom: 1px solid #ffffff; float: left; height: 100%; margin: 0px 0px 20px 0px; overflow: hidden; padding: 10px 6px 10px 6px; width: 98%; }
.cate_num { color: #000; padding: 6px 0px 6px 0px; text-align: center; }
.cate_main_con { background-color: #ffffff; border: 0px solid #CCC; margin: 0px auto; padding: 10px; width: 98%; }
.cate_img:hover { -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.21); -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.21); background-color: #FFF; box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.21); margin: 0px; padding: 4px; text-align: center; }
.cate_img { margin: 0px; padding: 4px; text-align: center; }
.cat_name_head a:hover { color: #000; font-size: 18px; font-weight: bold; text-decoration: none; }
.cat_name_head a { color: #81b2ef; font-size: 18px; font-weight: bold; text-decoration: none; }
.cat_name_head { background-color: transparent; border-bottom: 1px solid #81b2ef; color: #81b2ef; font-size: 18px; font-weight: bold; margin: 0px 0px 10px 0px; padding: 6px 0px 6px 0px; text-align: left; }
.banner-area .home-page-banner ul li.banner3 { background: url(https://cpimg.tistatic.com/49381/8/template_photo_33.jpg); }
.banner-area .home-page-banner ul li.banner2 { background: url(https://cpimg.tistatic.com/49381/8/template_photo_32.jpg); }
.banner-area .home-page-banner ul li.banner1 { background: url(https://cpimg.tistatic.com/49381/8/template_photo_31.jpg); }
.banner-area .home-page-banner ul li.banner { background-repeat: no-repeat; background-size: 100%; height: 517px; }
.banner-area .home-page-banner ul li img { width: 100%; }
.banner-area .home-page-banner ul li { display: block; width: 100%; }
.banner-area .home-page-banner ul { display: block; width: 100%; }
.banner-area .home-page-banner .slick-prev:before { background: none; border: 3px solid #333; border-bottom: none; border-right: none; content: ; display: inline-block; height: 7px; margin: 0 0 0 3px; transform: rotate(-45deg); width: 7px; }
.banner-area .home-page-banner .slick-prev { background: rgba(255, 255, 255, 0.5); border: none; border-radius: 50%; cursor: pointer; font-size: 0; height: 40px; left: 10px; position: absolute; top: 40%; width: 40px; z-index: 9; }
.banner-area .home-page-banner .slick-next:before { background: none; border: 3px solid #333; border-left: none; border-top: none; content: ; display: inline-block; height: 7px; margin: 0 0 0 -3px; transform: rotate(-45deg); width: 7px; }
.banner-area .home-page-banner .slick-next { background: rgba(255, 255, 255, 0.5); border: none; border-radius: 50%; cursor: pointer; font-size: 0; height: 40px; position: absolute; right: 10px; top: 40%; width: 40px; z-index: 9; }
.banner-area .home-page-banner .slick-dots li.slick-active button { background: #81b2ef; border: 3px solid #569c80; }
.banner-area .home-page-banner .slick-dots li button { background: none; border: 3px solid #fff; border-radius: 50%; cursor: pointer; font-size: 0; height: 16px; padding: 0; width: 16px; }
.banner-area .home-page-banner .slick-dots li { display: inline-block; margin: 0 5px; width: auto; }
.banner-area .home-page-banner .slick-dots { bottom: 25px; display: inline-block; left: 0; position: absolute; text-align: center; width: 100%; }
.banner-area .home-page-banner { display: block; width: 100%; }
.banner-area { display: block; width: 100%; }
.back_link a:hover { color: #81b2ef; text-decoration: underline; }
.back_link a { color: #000 !important; text-decoration: none; }
.back_link { color: #000; margin: 0px; padding: 5px; text-align: center; }
.backToTop:hover:before { border-color: #fff; transition-duration: 0.5s; }
.backToTop:hover { background: #81b2ef; transition-duration: 0.5s; }
.backToTop:before { background: none; border: 3px solid #81b2ef; border-bottom: none; border-left: none; content: ; display: inline-block; height: 10px; left: 18px; position: absolute; top: 20px; transform: rotate(-45deg); width: 10px; }
.backToTop { background: #fff; border: 1px solid #81b2ef; border-radius: 50%; bottom: 120px; display: none; font-size: 0; height: 50px; position: fixed; right: 15px; width: 50px; z-index: 99999; }
.alt_send_inq_btn { margin: 0px; padding: 0px 0px 0px 0px; text-align: left; }
.alt_prod_num { padding: 6px 0px 6px 0px; text-align: center; }
.alt_prod_img_cont:hover { background-color: #81b2ef; color: #fff; float: left; margin: 0px; padding: 4px; width: 22%; }
.alt_prod_img_cont { -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; background-color: #ececec; border-top-left-radius: 10px; border-top-right-radius: 10px; color: #000000; display: block; float: left; margin: 0px; padding: 4px; width: 22%; }
.alt_prod_img { margin: 0px; padding: 0px; text-align: center; }
.alt_prod_description { color: #3c434a; font-weight: bold; margin: 0px; padding: 6px 0px 6px 0px; text-align: justify; }
.alt_prod_descr_cont { float: right; margin: 0px 0px 0px 0px; padding: 0px; width: 74%; }
.alt_prod_cont { -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.23); -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.23); background-color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.23); float: right; margin: 0px 0px 20px 0px; overflow: hidden; padding: 10px 6px 10px 6px; width: 98%; }
.alt_prod_cat_name a:hover { color: #000; font-size: 18px; font-weight: bold; text-decoration: none; }
.alt_prod_cat_name a { color: #81b2ef; font-size: 18px; font-weight: bold; text-decoration: none; }
.alt_prod_cat_name { background-color: #fff; border-bottom: 1px solid #81b2ef; color: #81b2ef; font-size: 18px; font-weight: bold; margin: 0px; padding: 6px 0px 6px 6px; text-align: left; }
.alt_prod_cat_descr { color: #161614 !important; margin: 0px; padding: 6px 10px 6px 0px; text-align: justify; }
.alt_pro_link_cont_alt ul { float: left; line-height: 18px; list-style-type: none; margin: 0px 0px 0px 0px; padding: 6px 0px 6px 0px; text-align: left; width: 235px; }
.alt_pro_link_cont_alt li a:hover { color: #81b2ef; margin: 0px; padding: 0px 0px 0px 0px; text-decoration: underline; }
.alt_pro_link_cont_alt li a { color: #000000; margin: 0px; padding: 0px 0px 0px 0px; text-decoration: none; }
.alt_pro_link_cont_alt li { color: #000000; font-weight: bold; list-style-image: url(https://tiimg.tistatic.com/catalogs/template108581/cate-icon.png); list-style-type: none; margin: 0px 0px 0px 17px; padding: 0px; text-align: left; }
.alt_pro_link_cont_alt { border-bottom: 1px dotted #dadada; float: none; margin: 0px 20px 0px 0px; overflow: hidden; padding: 0px; width: 100%; }
.alt_pro_link_cont ul { float: left; line-height: 18px; list-style-type: none; margin: 0px 0px 0px 0px; padding: 6px 0px 6px 0px; text-align: left; width: 235px; }
.alt_pro_link_cont li a:hover { color: #81b2ef; margin: 0px; padding: 0px 0px 0px 0px; text-decoration: underline; }
.alt_pro_link_cont li a { color: #000000; margin: 0px; padding: 0px 0px 0px 0px; text-decoration: none; }
.alt_pro_link_cont li { color: #000000; font-weight: bold; list-style-image: url(https://tiimg.tistatic.com/catalogs/template108581/cate-icon.png); list-style-type: none; margin: 0px 0px 0px 17px; padding: 0px; text-align: left; }
.alt_pro_link_cont { border-bottom: 1px dotted #dadada; float: none; margin: 0px 0px 0px 0px; overflow: hidden; padding: 0px 0px 0px 0px; width: 100%; }
.alt_pro_link a:hover { color: #025885; text-decoration: none; }
.alt_pro_link a { color: #025885; text-decoration: underline; }
.alt_pro_link { color: #025885; margin: 0px; padding: 4px 0px 4px 0px; text-align: left; }
.alt_other_prod_main_con { background-color: #fff; border: 1px solid none; float: right; height: 100%; margin: 0px; overflow: hidden; padding: 0px 0px 0px 0px; position: relative; width: 74%; }
.alt_other_prod_cont { background-color: #fff; float: right; margin: 10px 0px 10px 0px; overflow: hidden; padding: 0px 0px 6px 0px; width: 97%; }
.alt_enquiry_btn a:hover { -moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: #552c08; border-radius: 5px; color: #FFFFFF; margin: 0px; padding: 4px 12px 4px 12px; text-align: center; text-decoration: none; }
.alt_enquiry_btn a { -moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: #d34507; border-radius: 5px; color: #FFFFFF; display: block; margin: 0px; padding: 4px 12px 4px 12px; text-align: center; text-decoration: none; }
.alt_enquiry_btn { color: #FFFFFF; float: left; font-weight: bold; margin: 0px; text-align: center; }
.alt_enlarge { color: #FF0000; font-weight: bold; text-align: center; }
.alt_cate_prod_img_cont { float: left; margin: 0px; padding: 0px; }
.alt_cate_prod_descr_cont { color: #FFFFFF; float: right; margin: 0px 0px 0px 10px; padding: 0px; width: 83%; }
.alt_cate_prod_cont { background-color: transparent; border-bottom: 1px solid #ffffff; float: right; height: 100%; margin: 0px 0px 20px 0px; overflow: hidden; padding: 10px 6px 10px 6px; width: 98%; }
.alt_cate_num { color: #000; padding: 6px 0px 6px 0px; text-align: center; }
.alt_cate_img:hover { -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.21); -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.21); background-color: #FFF; box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.21); margin: 0px; padding: 4px; text-align: center; }
.alt_cate_img { margin: 0px; padding: 4px; text-align: center; }
.alt_cat_name_head a:hover { color: #000; font-size: 18px; font-weight: bold; text-decoration: none; }
.alt_cat_name_head a { color: #81b2ef; font-size: 18px; font-weight: bold; text-decoration: none; }
.alt_cat_name_head { background-color: transparent; border-bottom: 1px solid #81b2ef; color: #81b2ef; font-size: 18px; font-weight: bold; margin: 0px 0px 10px 0px; padding: 6px 0px 6px 0px; text-align: left; }
* html .prod_num { color: #000; padding: 6px 0px 6px 0px; text-align: center; }
* html .prod_descr_cont { float: right; margin: 0px 0px 0px 0px; padding: 0px; width: 74%; }
* html .prod_cat_descr { color: #161614; margin: 0px; padding: 6px 0px 6px 0px; text-align: justify; }
* html .pro_next_prod_main_container { float: right; left: 498px; position: absolute; width: 90%; }
* html .previous { background-color: #fb9100; border: 1px solid #e28300; color: #fff; float: none; left: 180px; margin: 0px; overflow: hidden; padding: 6px; position: absolute; top: 5px; }
* html .other_prod_main_con { background-color: #fff; float: right; height: auto; margin: 0px; overflow: hidden; padding: 0px 0px 0px 0px; width: 74%; }
* html .next_and_big_img_container { float: right; margin-left: 160px; margin-right: -950%; position: relative; width: 90%; }
* html .main_next_big_img_and_previous_container_cell3 { background-repeat: no-repeat; border: 5px solid #eae9e9; float: none; overflow: hidden; width: 98%; }
* html .main_next_big_img_and_previous_container_cell2 { border-right: 0px solid #CCC; float: left; width: 10%; }
* html .main_next_big_img_and_previous_container_cell1 { border-right: 0px solid #CCC; float: left; margin-left: 100px; width: 90%; }
* html .alt_other_prod_main_con { background-color: #fff; float: right; height: auto; margin: 0px 0px 0px 6px; overflow: hidden; padding: 0px 0px 0px 0px; width: 7474%; }
* html .alt_other_prod_cont { background-color: #fff; float: right; margin: 10px 5px 10px 0px; overflow: hidden; padding: 6px 6px 6px 6px; width: 97%; }
* { box-sizing: border-box; }</style>




<style id="res_css" type="text/css">

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap'); body{line-height:22px} .pro_link_cont li a, .pro_link_cont_alt li a, .alt_pro_link_cont li a, .alt_pro_link_cont_alt li a {font-weight:normal} .footer .footer-area .showcase-area-main .footer-links span a i {font-style: normal;} .heading {font-size: 20px; font-weight:bold; color:#000; margin:0px; padding:10px 0; text-align:center; text-decoration:none;} .footer {overflow:hidden;} .prod_descr_matter {font-weight:normal; } .header .menu-section .menu-section-area .logo a{ color: #fff; }
.header .menu-section .menu-section-area .logo a span {margin: 0 0 0 10px;} .inner_text_area{padding:20px; box-sizing:border-box;} .banner-area img{width:100%;} /* Responsive CSS starts here */ .footer .address-area .key-personnel ul li:nth-child(4),.footer .address-area .key-personnel ul li:nth-child(3){display: block;} .inner_text_area ul {list-style: disc; margin: 0 0 0 20px;} .inner_text_area li {list-style: disc;} .company-info-section .content ul{margin: 0;} .company-info-section .content p{line-height:28px;} .company-info-section .content ul li{font-size:1rem; line-height:28px;} @media screen and (max-width: 1280px) { .header .menu-section .menu-section-area .search-area .search-icon { position: relative; z-index: 0; }
.header .menu-section .menu-section-area .search-area .search-form { position: fixed; top: 0; left: 0; width: 100%; height: 100vh; display: none; justify-content: center; align-items: center; z-index: 99; }
.header .menu-section .menu-section-area .search-area .search-form .search-overlay { background: rgba(0, 0, 0, 0.5); position: fixed; top: 0; left: 0; width: 100%; height: 100vh; overflow: hidden; }
.header .menu-section .menu-section-area .search-area .search-form form { z-index: 99; width: 650px; max-width: 95%; }
.header .menu-section .menu-section-area .search-area .search-form form .search_main_input { width: 600px; height: 45px; max-width: calc(100% - 60px); }
} @media screen and (max-width: 1024px) { .new-arrival-section .pro-list-area .prod-area .prod { width: 19%; margin: 0 4px 20px; }
} @media screen and (max-width: 768px) { .header .menu-section .menu-section-area .menu-links ul li.sub-menu ul li ul { display: block; width: 100%; left: 15px; }
.banner-area .home-page-banner ul li.banner { background-size: cover; height: 310px; }
.header .menu-section .menu-section-area .search-area .search-form { position: relative; display: block; }
.header .menu-section .menu-section-area .search-area .search-icon { display: none; }
.header .menu-section .menu-section-area .search-area .search-form { height: auto; display: inline-block; width: 60%; text-align: left; z-index: 5; }
.header .menu-section .menu-section-area .search-area .search-form .search-overlay { display: none; }
.new-arrival-section .pro-list-area .prod-area .prod { margin: 0 12px 20px; width: 30%; }
.template-container { padding: 0 0.938rem; }
.header { padding: 0; }
.header.fixed-header .menu-section { padding: 5px 0; }
.header .menu-section .menu-section-area .logo { order: 2; margin: 0 0 0 15px; width: 100%; }
.header .menu-section .menu-section-area .logo a { width: 70px; }
.header .menu-section .menu-section-area .menu-links { order: 1; width: auto; }
.header .menu-section .menu-section-area .search-area { order: 3; width: auto; text-align: right; }
.header .menu-section .menu-section-area .menu-links .menu-btn { display: flex; }
.header .menu-section .menu-section-area .menu-links ul { width: 100%; position: fixed; top: 0; left: -110%; background: #fff; height: 100%; z-index: 99; box-shadow: 4px 0px 10px #000; overflow: auto; transition: all ease 0.5s; }
.header .menu-section .menu-section-area .menu-links ul.show { left: 0px; transition: all ease 0.5s; }
.header .menu-section .menu-section-area .menu-links ul li { float: none; display: block; width: 100%; border-bottom: 1px solid #ececec; position: relative; padding: 0; }
.header .menu-section .menu-section-area .menu-links ul li a { padding: 15px 25px; border: none; color: #333; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu>a:after { border: 2px solid #333; height: 8px; width: 8px; right: 15px; top: 40%; border-top: none; border-left: none; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu:hover>a:after { top: 40%; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu ul { position: relative; width: 100%; left: 0; top: 0; box-shadow: none; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu ul li { border-bottom: 1px solid #ececec; }
.header .menu-section .menu-section-area .menu-links ul li.sub-menu ul li a { padding: 15px 4px 14px 40px; }
.header .menu-section .menu-section-area .menu-links .backdrop { position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.7); z-index: 99; display: none; }
.category-section .category-area .left-section span { height: auto; }
.category-section .category-area .right-section span:first-child { margin: 0 0 20px; }
.category-section .category-area .right-section span { height: auto; }
.custom-prod-list-section .pro-list-area .prod-area .slick-track .slick-slide { margin: 0 10px; }
.hot-prod-section .static-img-area { width: 100%; margin: 20px 0 50px; }
.hot-prod-section .hot-prod-section-area .hot-prod-area { width: 100%; }
.mpp-section-main .mpp-section .prod { width: 48%; }
.footer .address-area { width: 45%; }
.footer .footer-area .footer-links-area { width: 49%; }
.footer .footer-area .showcase-area-main { width: 100%; margin: 30px 0 0 0; }
.footer .footer-area .footer-links-area ul li { text-align: left; }
.footer .footer-area .showcase-area-main .showcase-area ul li { display: inline-block; width: auto; margin: 0 20px 15px; }
.header .menu-section .menu-section-area .menu-links .crossIcon { position: absolute; top: 4px; right: 4px; width: 20px; height: 20px; z-index: 9999; }
.header .menu-section .menu-section-area .menu-links .crossIcon:before { content: ""; width: 18px; height: 2px; position: absolute; top: 10px; left: 0; background: #000; transform: rotate(45deg); }
.header .menu-section .menu-section-area .menu-links .crossIcon:after { content: ""; position: absolute; top: 10px; right: 2px; width: 18px; height: 2px; background: #000; transform: rotate(-45deg); }
.recently-viewed-section .recently-viewed-area .prods { padding: 10px 5px; }
.recently-viewed-section .recently-viewed-area .prods .content-section label { font-size: 0.825rem; }
.recently-viewed-section .recently-viewed-area .prods .content-section .prod-price span { font-size: 0.8rem; }
.recently-viewed-section .recently-viewed-area .prods .content-section .prod-moq span { font-size: 0.75rem; }
.recently-viewed-section .recently-viewed-area .prods .btn-section { margin: 5px 0 0 0; }
.recently-viewed-section .recently-viewed-area .prods .btn-section a { font-size: 0.8rem; }
} /* Responsive to 640px */ @media screen and (max-width: 640px) { .banner-area .home-page-banner ul li.banner { background-size: cover; height: 180px; background-position-x: -30px; }
.new-arrival-section .pro-list-area .prod-area .prod { width: 29%; }
.template-container { padding: 0 0.625rem; }
.header .menu-section .menu-section-area .search-area .search-form form { width: 560px; }
.header .menu-section .menu-section-area .logo a { width: 45px; }
.header .menu-section .menu-section-area .menu-links .menu-btn { height: 14px; width: 18px; }
.header .menu-section .menu-section-area .menu-links .menu-btn span { height: 2px; }
.banner-area .home-page-banner .slick-dots li button { height: 6px; width: 6px; }
.recently-viewed-section .recently-viewed-area .prods { width: 50%; }
} /* Responsive to 480px */ @media screen and (max-width: 480px) { .product_photo .photo_wrapper img{width:70% !important; height:auto !important} .product_photo .photo_wrapper{width:auto !important; height:auto !important} .product_photo{width:250px !important;} .product_photo .small_photo{width:auto !important;} .header .menu-section .menu-section-area { flex-wrap: wrap; }
.header .menu-section .menu-section-area .logo { width: calc(100% - 35px); }
.header .menu-section .menu-section-area .logo a { width: 55px; }
.header .menu-section .menu-section-area .search-area { width: 100%; text-align: center; margin: 10px 0 0 0; }
.header .menu-section .menu-section-area .search-area .search-form { width: 100%; }
.header .menu-section .menu-section-area .search-area .search-form form { max-width: 100%; }
.new-arrival-section .pro-list-area .prod-area .prod { width: 48%; margin: 0 3px 20px; }
.new-arrival-section .pro-list-area .prod-area .prod .content-section { padding: 10px 5px; }
.hot-prod-section { padding: 40px 0; }
.category-section { padding: 15px 0; }
.company-info-section .content .company-vision { font-size: 16px; margin: 0 0 0px 0; padding: 15px 0; }
.company-info-section { margin: 0 0 15px 0; }
.custom-prod-list-section .pro-list-area { margin: 0 0 20px 0; }
.hot-prod-section .hot-prod-section-area .hot-prod-area .hot-prods .prod { width: 100%; margin: 0 0 15px 0; }
.hot-prod-section { padding: 20px 0; }
.new-arrival-section { padding: 20px 0 0 0; }
.mpp-section-main .mpp-section .prod { width: 100%; margin: 0 0 15px 0; }
.company-info-section .company-info.hide { height: 250px; overflow: hidden; margin: 0 0 20px 0; position: relative; z-index: 0; }
.company-info-section .company-info.hide:after { content: ""; background: linear-gradient(transparent 34%, #fff 90%); position: absolute; left: 0; bottom: 6px; width: 100%; height: 25px; z-index: 1; }
.recently-viewed-section .recently-viewed-area .prods { width: 50%; }
.footer .address-area { width: 100%; }
.footer .address-area .company-address-info { display: none; }
.footer .footer-area .footer-links-area { width: 100%; margin: 10px 0; }
.footer .footer-area .footer-links-area ul { display: none; }
.footer .footer-area .showcase-area-main { width: 100%; }
.footer .footer-area .showcase-area-main .showcase-area ul li { display: inline-block; width: auto; margin: 0 15px 15px; vertical-align: middle; }
.category-section .category-area .left-section { width: 100%; margin: 0 0 20px 0; }
.category-section .category-area .right-section { width: 100%; }
.footer .address-area h4 { font-size: 17px; }
.footer .address-area h4:before { content: ""; position: absolute; top: 6px; right: 5px; background: none; border: 2px solid #666; width: 8px; height: 8px; border-top: none; border-left: none; transform: rotate(45deg); }
.footer .footer-area .footer-links-area h4 { font-size: 17px; }
.footer .footer-area .footer-links-area h4:before { content: ""; position: absolute; top: 6px; right: 5px; background: none; border: 2px solid #666; width: 8px; height: 8px; border-top: none; border-left: none; transform: rotate(45deg); }
.footer .footer-area .footer-links-area ul li { text-align: left; font-size: 0.825rem; }
.footer .footer-area .showcase-area-main { margin: 0; }
.new-arrival-section .pro-list-area { margin: 0 0 20px; }
.company-info-section .content h3 { margin: 0 0 10px 0; }
.company-info-section .company-info.hide:after { bottom: 0px; }
.recently-viewed-section .recently-viewed-area .prods { width: 100%; }
.terms-footer-section { padding: 10px 0; }
.terms-footer-section .terms-section-area { flex-wrap: wrap; text-align: center; }
.terms-footer-section .terms-section { width: 100%; order: 2; font-size: 11px; }
.terms-footer-section .logo-section { width: 100%; order: 1; text-align: center; margin: 0 0 5px; }
.terms-footer-section .logo-section a { width: auto; }
} @media screen and (max-width: 360px) { .new-arrival-section .pro-list-area .prod-area .prod { width: 100%; margin: 0 0 15px; }
.new-arrival-section .pro-list-area .prod-area .prod .content-section { padding: 10px 5px; }
} /* Responsive CSS Ends here */</style>


<link rel="stylesheet" href="{{ 'sitemap.css' | asset_url }}" type="text/css"><div class="sitemap-section">
    <div class="heading-section">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li>
                        <a href="https://www.indyvogue.com/">Home</a>
                    </li>
                    <li><a href="https://www.indyvogue.com/pages/about-us">Company Profile</a></li>
                </ul>
            </div>
            <h3>Site Map</h3>
        </div>
    </div>
    <div class="sitemap-area-main">
        <div class="container">
            <div class="sitemap-area">
                <ul>
                    <li>
                      <a href="https://www.indyvogue.com/">Home Page</a>
                    </li>
                    <li>
                        <a href="https://www.indyvogue.com/pages/about-us">Company Profile</a>
                    </li>
                    <li>
                        <a href="https://www.indyvogue.com/collections">Our Collections</a>
                    </li>

                  <li><a href="https://www.indyvogue.com/collections/buy-silk-mark-certified-saree">Our Products</a>
                         <ul>
                          <li>
            {% for c in collections %}
                  {%- if c.products_count >0 && c.title != "Moumita Ready" -%}
                    {% unless c.title contains "HomePage" && c.title contains "New Saree" && c.title contains "Baisakhi Collection 2019"%}
                      {% unless c.title contains "New Saree"%}
                        {% unless c.title contains "Baisakhi Collection 2019"%}
                            {% unless c.title contains "Blouse - Front"%}
                                {% unless c.title contains "Shopify Facebook Feed Saree"%}
                            <br>
                            <a href="{{ c.url }}">{{ c.title }}</a> 
                       <ul>
                         {% paginate collections['buy-silk-mark-certified-saree'].products by 1000 %}
                        {% for product in collections[{{c.handle}}].products %}
                            <li>
                          <a href="{{ product.url }}">{{ product.title }}</a>
                            </li>
                        {% endfor %} 
                         {% endpaginate %}
                     </ul>
                      {%- endunless -%}
                      {%- endunless -%}
                      {%- endunless -%}
                        {%- endunless -%}
                          {%- endunless -%}
                  {%- endif -%}
                  {% endfor %}
                   <li>
                        <a href="https://www.indyvogue.com/pages/contact-us">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div></html>
			
